<div
  *ngIf="(groupedStatus$ | async)?.length"
  class="mt-4 p-4 bg-[#F8F8F8] rounded-lg">
  <nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
    <nz-collapse-panel
      *ngFor="let item of groupedStatus$ | async"
      [nzActive]="item.active"
      [nzExtra]="
        shouldShowProductCount(item.errorType)
          ? getProductCount(item.status) + ' sp lỗi'
          : undefined
      "
      [nzHeader]="header"
      ngClass="bg-white border-b-0 mb-4 last:mb-0">
      <ng-container
        *ngIf="item.errorType === ProductFeedErrors.ValidateUnauthorized">
        {{ ProductFeedErrorTypes[item.errorType]?.message }}
      </ng-container>
      <ng-container
        *ngIf="item.errorType === ProductFeedErrors.ValidateDuplicateColumn">
        {{ ProductFeedErrorTypes[item.errorType]?.message }}
      </ng-container>
      <ng-container
        *ngIf="item.errorType === ProductFeedErrors.ValidateMissingAttribute">
        {{ item.status?.[0]?.errorMessage }}
      </ng-container>
      <ng-container
        *ngIf="
          item.errorType === ProductFeedErrors.ValidateCouldNotParse ||
          item.errorType === ProductFeedErrors.ValidateCouldNotParseRequired ||
          item.errorType === ProductFeedErrors.ValidateValueCouldNotSupport ||
          item.errorType === ProductFeedErrors.ValidateDuplicatedProduct
        ">
        <span>Các mặt hàng bị ảnh hưởng bởi vấn đề này</span>
        <table
          class="mt-3 min-w-full divide-y divide-gray-200 rounded-lg border-solid border border-gray-200">
          <thead
            class="bg-main-clear text-[12px] font-medium text-[#001F4C] text-left">
          <tr>
            <th class="py-2 px-4 w-[100px]">ID Mục</th>
            <th class="py-2 px-4 w-[100px]">Ô</th>
            <th class="py-2 px-4">Giá trị bị lỗi</th>
            <th class="py-2 px-4">Ghi chú lỗi</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let errorItem of item.status">
            <td class="py-2 px-4">
              <div class="max-w-[200px] truncate">
                {{ errorItem?.productIdValue }}
              </div>
            </td>
            <td class="py-2 px-4">
              <div>
                {{ errorItem?.sheetPosition }}
              </div>
            </td>
            <td class="py-2 px-4 whitespace-pre-line max-w-[200px] truncate">
              <div>
                {{ errorItem?.attributeValue }}
              </div>
            </td>
            <td class="py-2 px-4 whitespace-pre-line">
              <div>
                {{ errorItem?.errorMessage }}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #header>
        <div class="flex items-center">
          <svg-icon
            [name]="
              ProductFeedErrorTypes[item.errorType]?.isCritical
                ? 'error'
                : 'warning'
            "
            [size]="24"
            className="mr-2"></svg-icon>
          {{ ProductFeedErrorTypes[item.errorType]?.title }}
        </div>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</div>
