﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.BackUpViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script>
        window.parent.postMessage({
            message: 'novanet-init-backup',
            zoneId: @Model.ZoneId,
            code: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))',
        }, '*');
    </script>
    <title>Novanet</title>
</head>
<body></body>
</html>