<div id="popup-banner-card">
  <img
    alt=""
    class="mt-[-12px] absolute"
    src="/assets/images/mobile-advertising/header-phone.svg"/>
  <img
    *ngIf="extendBannerFileType === 'zip'"
    [src]="extendBannerDefault"
    alt=""
    class="mt-[9px] max-w-[375px] max-h-[810px]"/>
  <img
    *ngIf="extendBannerFileType === 'image'"
    [src]="extendBannerImage"
    alt=""
    class="mt-[9px] max-w-[375px] max-h-[810px]"/>
  <iframe
    *ngIf="extendBannerFileType === 'html'"
    [src]="extendBannerImage"
    class="mt-[9px] w-[375px] h-[810px] pointer-events-none"></iframe>
  <div id="gradient-background"></div>
  <div class="button-close-popup-branding">
    <div class="close-popup-branding"></div>
  </div>

  <div class="popup-branding-information">
    <div class="popup-branding-overview">
      <img [src]="logoImage" alt="" class="popup-branding-logo"/>
      <div class="popup-branding-title">{{ logoName }}</div>
    </div>
    <div class="popup-branding-content">{{ description }}</div>
  </div>
  <a *ngIf="isCTA" class="cta-popup-banner-button">
    <span>{{ descriptionCTA }}</span>
  </a>
</div>
