#popup-banner-card {
  max-width: 375px;
  max-height: 810px;
}

#popup-banner-branding img {
  width: 100%;
  height: 100%;
}

#gradient-background {
  pointer-events: none;
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.78));
}

.button-close-popup-branding {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 53px;
  width: 24px;
  height: 24px;
  z-index: 2000000001;
  background: #00000066;
  border-radius: 50%;
}

.close-popup-branding {
  width: 27px;
  height: 8px;
  opacity: 1;
}

.close-popup-branding:hover {
  opacity: 1;
}
.close-popup-branding:before,
.close-popup-branding:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #ffffff;
}
.close-popup-branding:before {
  transform: rotate(45deg);
}
.close-popup-branding:after {
  transform: rotate(-45deg);
}

.popup-branding-information {
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.popup-branding-overview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popup-branding-logo {
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
  border-radius: 50%;
  min-width: 32px;
}

.popup-branding-title {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.popup-branding-content {
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

.cta-popup-banner-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 12px;
  height: 27px;
  background: #00000066;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-decoration: none;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 140px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-top: 4px;
}

#gradient-background {
  pointer-events: none;
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.78));
}
