::ng-deep {
  .modal-popup-update {
    .ant-modal-content {
      border-radius: 4px;
    }

    .ant-modal-body {
      padding: 8px 0px 9px 0px;
    }
  }
}
::ng-deep .checkbox-option {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0061c1 !important;
    border-color: #0061c1 !important;
  }
}
