<svg-icon
  (click)="setEditCategory()"
  className="cursor-pointer"
  name="edit-pencil"
  size="20"></svg-icon>
<nz-modal
  (nzOnCancel)="handleCancelConfirmChangeActive()"
  [(nzVisible)]="isConfirmActiveChangeModalVisible"
  [nzCloseIcon]="null"
  [nzContent]="modalPopup"
  [nzFooter]="null"
  [nzTitle]="null"
  [nzWidth]="400"
  nzClassName="modal-popup-update">
  <ng-template #modalPopup>
    <nz-checkbox-wrapper
      class="mb-[8px] overflow-auto h-[250px] w-full checkbox-option"
      (nzOnChange)="onChangeOption($event)">
      <div nz-row>
        <div
          *ngFor="let option of nzOptions"
          nz-col
          class="h-[40px] pl-[12px] hover:bg-[#F2F7FC] items-center flex">
          <label
            nz-checkbox
            nzValue="{{ option[valueKey] }}"
            [ngModel]="isOptionChecked(option[valueKey])"
            class="ml-2 w-full">
            {{ option[label] }}
          </label>
        </div>
      </div>
    </nz-checkbox-wrapper>
    <div
      class="h-[50px] w-full flex justify-end pt-[8px] border-t-[1px] border-[#F2F2F2] pr-[8px]">
      <button
        (click)="handleCancelConfirmChangeActive()"
        class="text-[#828282] mr-[32px]">
        Hủy
      </button>
      <button
        (click)="clickConfirmChangeActive()"
        class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
        Áp dụng
      </button>
    </div>
  </ng-template>
</nz-modal>
