body,
html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-width: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-size: 375px 600px !important;
}

#container {
    display: block;
    height: 100%;
    text-decoration: unset;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inread-ecommerce {
    width: 100%;
    position: absolute;
    bottom: 13%;
    right: 0;
    left: 0;
}

.wrapbox {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
}

.auto {
    line-break: auto;
}

.inread-ecommerce-slide {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    padding: 4px;
    max-width: 160px;
    height: 207px;
    border-radius: 4px;
    margin: 8px;
    text-decoration: unset;
}

.inread-ecommerce-wrapper {
    display: block;
    margin: auto;
    max-width: 368px;
}

.inread-ecommerce-slide img {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 160px;
}

.trapezoid-up {
    border-bottom: 21px solid #fff;
    border-left: 15px solid transparent;
    transform: rotate(180deg);
    height: 21px;
    width: 55px;
    top: 0;
}

.trapezoid-down {
    border-bottom: 22px solid #ff2828;
    border-left: 15px solid transparent;
    height: 21px;
    width: 60px;
    bottom: 0;
    right: 0;
}

.free-delivery-text {
    top: 4px;
    left: 6px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #ff2828;
}

.sale-text {
    bottom: -16px;
    left: 1px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}

.description {
    padding: 6px;
}

.detail-price {
    line-height: 21px;
}

.price {
    font-weight: 700;
    font-size: 10px;
    color: red;
    padding-right: 4px;
}

.promotion {
    font-size: 8px;
    text-decoration-line: line-through;
    color: #828282;
}

.title {
    line-height: 12px;
    font-weight: 600;
    font-size: 11px;
    max-width: 171px;
    color: #4f4f4f;
}
