@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.BannerCardViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/mobile-banner-card/styles/mobile-banner-card.css"/>
    <style>
        .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .mobile-banner-card {
            height: 100%;
            align-items: center;
        }
        .mobile-banner-card-wrapper {
            margin-right: 4px;
            width: unset;
            z-index: 2;
        }
        .mobile-banner-card-slide {
            box-sizing: border-box;
            height: 164px;
            width: 118px;
            position: relative;
            max-width: unset;
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .description {
            padding: 4px 2px;
        }
        .detail-price {
            position: absolute;
            bottom: 3px;
        }
        .sale-text {
            bottom: -14px;
        }
        .mobile-banner-card-slide img {
            object-fit: contain;
        }
        
        .logo-icon {
            cursor: pointer;
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
        }
        @@media only screen and (max-width : 320px) {
            .title {
                font-size: 10px;
            }
        }
        @@media only screen and (max-width : 280px) {
            .title {
                font-size: 8px;
            }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body style="background: url('@(Model.BackgroundImageUrl)') 0% 0% / auto 100vh no-repeat">
<div class="mobile-banner-card mymobile-banner-card" id="container">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    <div class="mobile-banner-card-wrapper">
        @foreach (var product in Model.Products)
        {
            <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="mobile-banner-card-slide wrapbox auto">
                <div class="relative">
                    <img alt="" src="@product.ImageLink"/>
                    @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                    {
                        <div class="absolute trapezoid-down">
                            <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                        </div>
                    }
                    @if (Model.ShowFreeDelivery)
                    {
                        <div class="absolute trapezoid-up"></div>
                        <span class="absolute free-delivery-text">FREESHIP</span>
                    }
                </div>
                <div class="description">
                    @if (Model.ProductName)
                    {
                        <div class="title">
                            @product.Name
                        </div>
                    }
                    <div class="detail-price">
                        @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                        {
                            <span class="price">@(product.DiscountedPrice)đ</span>
                            <span class="promotion">@(product.Price)đ</span>
                        }
                        else
                        {
                            <span class="price">@(product.Price)đ</span>
                        }
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="mobile-banner-card-pagination"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            const containerHeight = document.getElementById('container').offsetHeight;
            const containerWidth = document.getElementById('container').offsetWidth;
        
            for (let i = 0; i < 2; i++) {
                const productElement = document.getElementsByClassName('mobile-banner-card-slide')[i];
                const productHeight = containerWidth / 375 * 160;
                productElement.style.height = productHeight + 'px';
                productElement.style.width = (containerWidth / 375 * 122) + 'px';
                productElement.getElementsByTagName('img')[0].style.height = (containerWidth / 375 * 110) + 'px';
            }
        }, 100);

        Array.from(document.getElementsByTagName('img')).forEach((element) => {
            element.addEventListener('error', () => {
                window.parent.postMessage({
                    message: 'novanet-init-backup',
                    zoneId: @Model.ZoneId,
                    code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
                }, '*');
            });
        });
    });
</script>
</body>
</html>