<router-outlet></router-outlet>
<novanet-loading-overlay></novanet-loading-overlay>
<novanet-global-notification></novanet-global-notification>
<novanet-global-upload-notification></novanet-global-upload-notification>
<svg-icons></svg-icons>