<div class="flex items-center my-auto">
  <div class="mr-3">
    <p class="text-sm font-medium text-[#001F4C]">{{ user.fullname }}</p>
    <p class="text-xs text-[#828282]">{{ user.email }}</p>
  </div>
  <div (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
    <img
      (mouseup)="toggleDropdown(!dropdownDisplayed)"
      [src]="avatar"
      alt="novanet"
      class="inline-block h-9 w-9" />
    <novanet-user-bar-dropdown
      [dropdownDisplayed]="dropdownDisplayed"></novanet-user-bar-dropdown>
  </div>
</div>
