﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.PostInReadViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/post-in-read/styles/post-in-read.css"/>
    <style>
      body {
        background-color: white;
      }
      .outside-area {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
      }
      .post-in-read-wrapper {
        max-width: unset;
        text-align: center;
        position: relative;
        z-index: 2;
        display: flex;
        padding: 0 6px;
        flex-wrap: wrap;
      }
      .post-in-read-slide {
        text-align: initial;
        box-sizing: border-box;
        height: 216px;
        width: calc(50% - 12px);
        position: relative; 
        max-width: unset;
        margin: 6px;
      }
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        padding-right: 10px;
        overflow: hidden;
      }
      .brand-detail {
        margin-top: 16px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .description {
        padding: 4px 0;
        position: absolute;
        bottom: 0;
      }
      .sale-text {
        bottom: -18px;
      }
      .post-in-read-slide img {
        object-fit: contain;
        height: 160px;
      }
      
      .logo-icon {
          cursor: pointer;
          position: absolute;
          width: 20px;
          right: 0;
          top: 0;
          z-index: 1;
          padding: 8px;
      }
      
      @@media only screen and (max-width : 376px) {
       .brand-detail {
         margin-top: 0;
         margin-bottom: 5px;
       }
      }
      
      @@media only screen and (max-width : 320px) {
       .title {
           font-size: 10px;
       }
              
       #brand-name {
           font-size: 10px;
       }
       
       #see-more {
           font-size: 10px;
       }
       
       .detail-price {
           line-height: 11px;
       }
      }
      @@media only screen and (max-width : 280px) {
         .title {
             font-size: 8px;
         }
                  
         #brand-description {
             font-size: 10px;
         }
       
        #see-more {
            font-size: 10px;
        }
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div class="post-in-read mypost-in-read" style="overflow: hidden;">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    <div class="brand-detail">
        <div class="avatar">
            <img id="brand-avatar" src="@(Model.AvatarUrl + $"&v={DateTimeOffset.Now.ToHexCode()}")" alt=""/> <span id="brand-name">@Model.AvatarName</span>
        </div>
        <div id="brand-description">@Model.PostContent</div>
        <div>
            <a id="see-more" href="@Model.RedirectLink" target="_blank">Xem thêm</a>
        </div>
    </div>
    <div class="post-in-read-wrapper">
        @foreach (var product in Model.Products)
        {
            <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="post-in-read-slide wrapbox auto">
                <div class="relative">
                    <img alt="" src="@product.ImageLink"/>
                    @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                    {
                        <div class="absolute trapezoid-down">
                            <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                        </div>
                    }
                    @if (Model.ShowFreeDelivery)
                    {
                        <div class="absolute trapezoid-up"></div>
                        <span class="absolute free-delivery-text">FREESHIP</span>
                    }
                </div>
                <div class="description">
                    @if (Model.ProductName)
                    {
                        <div class="title">
                            @product.Name
                        </div>
                    }
                    <div class="detail-price">
                        @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                        {
                            <span class="price">@(product.DiscountedPrice)đ</span>
                            <span class="promotion">@(product.Price)đ</span>
                        }
                        else
                        {
                            <span class="price">@(product.Price)đ</span>
                        }
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="post-in-read-pagination"></div>
</div>
<script>
    const containerHeight = document.getElementsByClassName('post-in-read')[0].offsetHeight;
    const containerWidth = document.getElementsByClassName('post-in-read')[0].offsetWidth;
    const productsHeight = containerHeight * 19/25;
    
    document.getElementsByClassName('post-in-read-wrapper')[0].style.height = productsHeight + "px";
    for (let i = 0; i < 4; i++) {
        const productElement = document.getElementsByClassName('post-in-read-slide')[i];
        const productHeight = productsHeight * 38 / 81;
        productElement.style.height = productHeight + 'px';
        if (containerWidth < 392) {
            productElement.getElementsByTagName('img')[0].style.height = (productHeight * 20/27) + 'px';        
        } else {
            productElement.getElementsByTagName('img')[0].style.height = '160px';
        }
    }
    
    Array.from(document.getElementsByTagName('img')).forEach((element) => {
        element.addEventListener('error', () => {
            window.parent.postMessage({
                message: 'novanet-init-backup',
                zoneId: @Model.ZoneId,
                code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
            }, '*');
        });
    });
</script>
</body>
</html>