::ng-deep {
  .ant-input-number-input-wrap {
    height: 100% !important;

    .ant-input-number-input {
      height: 100% !important;
    }
  }

  .custom-input-number {
    .ant-input-number-handler-wrap {
      display: none;
    }
  }

  @for $i from 1 through 10 {
    .number-input-unit-#{$i} {
      .ant-input-number-input {
        padding-right: #{1.5 * $i + 0.5}ch !important;
      }
    }
  }
}
