<div>
  <div
    [class.custom-input-number]="!arrow"
    [ngClass]="containerClass"
    class="relative">
    <nz-input-number
      #numberInput
      (keydown)="onKeyDown($event)"
      (nzBlur)="onBlur()"
      (nzFocus)="onFocus()"
      [(ngModel)]="value"
      [attr.required]="required"
      [disabled]="disabled"
      [ngClass]="containerClass"
      [nzFormatter]="formatter"
      [nzMax]="max"
      [nzMin]="min"
      [nzParser]="parser"
      [nzPlaceHolder]="placeholder"
      class="{{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} {{ unit ? 'number-input-unit-' + unit.length : '' }} font-medium appearance-none block w-full border rounded-md shadow-sm sm:text-sm">
    </nz-input-number>
    <div
      *ngIf="unit"
      class="absolute flex items-center top-0 bottom-0 right-[10px]">
      <span class="text-[#bdbdbd]">{{ unit }}</span>
    </div>
    <div *ngIf="hasError" class="text-red-600 error-message absolute px-[8px] bottom-[-24px] text-[12px]">
      <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
        <ng-container *ngFor="let errMessage of errorMessages">
          <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
            errMessage.message
            }}</span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
