<div class="px-4 pb-4 flex flex-row justify-between items-center gap-4">
  <div class="flex flex-row">
    <a
      [queryParams]="{ websiteId: selectedWebsiteId }"
      class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
      routerLink="/website-price/add-website-price">
      Tạo bảng giá
    </a>
    <div class="relative rounded-md shadow-sm w-[400px]">
      <novanet-dropdown
        (getNextBatch)="loadMoreWebsites()"
        (ngModelChange)="onSelectWebsite($event)"
        (search)="onSearch($event)"
        [(ngModel)]="selectedWebsiteId"
        [allowClear]="true"
        [containerClass]="'h-[40px] w-full'"
        [options]="websites$ | websiteOptions: 'Admin' | async"
        [serverSearch]="true"
        [showSearch]="true"
        label="label"
        placeholder="Website - Publisher"
        valueKey="value"></novanet-dropdown>
    </div>
  </div>
</div>
<div
  *ngIf="
    !(websitePrices$ | async)?.length &&
    (loading$ | async) === false &&
    !selectedWebsiteId
  "
  class="flex flex-col items-center">
  <img alt="" class="mt-14" src="/assets/images/no-data-background.svg" />
  <div class="my-8 text-center max-w-[275px]">
    Bạn cần chọn 1 Website để hiển thị thông tin báo giá
  </div>
</div>
<div
  *ngIf="(websitePrices$ | async)?.length || !!selectedWebsiteId"
  style="height: calc(100vh - 264px)">
  <novanet-data-table
    (sortByField)="searchWebsitePrices($event)"
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="websitePrices$ | async"
    [settings]="settings"
    cellClass="h-[1px]"
    ngClass="website-price-table"
    nzNoResult="Chưa có bảng giá nào vui lòng thêm mới!">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div
          *ngSwitchCase="websitePriceListEnum.WEBSITE"
          class="flex flex-col gap-[8px] h-full">
          <div class="flex justify-between items-start group">
            <div class="mr-[8px]">
              <div>
                <a
                  [href]="data.url"
                  class="text-main font-medium underline"
                  target="_blank"
                  >{{ data.domain }}</a
                >
              </div>
              <div class="min-h-[22px]">{{ data.publisherEmail }}</div>
            </div>
            <div class="flex flex-row items-center gap-[8px] mt-[8px] ml-[4px]">
              <svg-icon
                *ngIf="
                  data.prices[0]?.status === websitePriceStatusEnum.NotStarted
                "
                [queryParams]="{
                  websitePriceId: data.prices[0]?.websitePriceId
                }"
                [routerLink]="['/website-price/edit-website-price']"
                className="cursor-pointer hidden group-hover:block"
                name="edit-pencil"
                size="20"></svg-icon>
              <div *ngIf="data.prices.length > 1">
                <svg-icon
                  (click)="toggleExpandedWebsite(data.websiteId)"
                  [name]="
                    expandedWebsiteIds[data.websiteId]
                      ? 'chevron-up'
                      : 'chevron-down'
                  "
                  class="cursor-pointer"></svg-icon>
              </div>
            </div>
          </div>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <div
              *ngFor="let price of data.prices | displayTemplatePrice"
              class="flex justify-between items-center group">
              <div class="flex flex-row">
                <svg-icon
                  [size]="16"
                  fill="transparent"
                  name="dot-outline"
                  ngClass="pt-[4px] pr-[8px]"
                  stroke="rgba(79, 79, 79, 1)"></svg-icon>
                <div>
                  <div>Ngày bắt đầu</div>
                  <div>
                    {{ price.startDate | toDateString: 'DD/MM/YYYY HH:mm' }}
                  </div>
                </div>
              </div>
              <svg-icon
                *ngIf="price.status === websitePriceStatusEnum.NotStarted"
                [queryParams]="{ websitePriceId: price.websitePriceId }"
                [routerLink]="['/website-price/edit-website-price']"
                className="cursor-pointer hidden group-hover:block"
                name="edit-pencil"
                size="20"></svg-icon>
            </div>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.STATUS"
          class="flex flex-col gap-[8px] h-full">
          <div class="h-[44px] flex-1">
            <novanet-status-block
              [statusConfigs]="websitePriceStatusConfigs"
              [value]="data.prices[0]?.status">
            </novanet-status-block>
          </div>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <div
              *ngFor="let price of data.prices | displayTemplatePrice"
              class="flex justify-between items-start h-[44px]">
              <novanet-status-block
                [statusConfigs]="websitePriceStatusConfigs"
                [value]="price.status">
              </novanet-status-block>
            </div>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.CAMPAIGN_TYPE"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            *ngFor="
              let campaignType of data.prices[0].campaignTypes | sortList: 'asc'
            "
            >{{ campaignTypeLabels[campaignType] }}
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.PRICE_TYPE"
          class="flex flex-col gap-[8px] h-full">
          <div
            class="flex {{
              sorts.includes('-PriceType') ? 'flex-col-reverse' : 'flex-col'
            }} flex-1">
            <div class="text-[rgba(33,150,83,1)] font-medium">Giá bán</div>
            <div class="text-[rgba(235,87,87,1)] font-medium">Giá mua</div>
          </div>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <div
              *ngFor="let price of data.prices | displayTemplatePrice"
              class="flex {{
                sorts.includes('-PriceType') ? 'flex-col-reverse' : 'flex-col'
              }}">
              <div class="text-[rgba(33,150,83,1)] font-medium">Giá bán</div>
              <div class="text-[rgba(235,87,87,1)] font-medium">Giá mua</div>
            </div>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.NOTIFICATION_BANNER"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.NotificationBanner,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.NotificationBanner
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.CATFISH_COLLAB_BRANDING"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.CatFishCollabBranding,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.CatFishCollabBranding
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.POPUP_BANNER_BRANDING"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.PopupBannerBranding,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.PopupBannerBranding
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.CATFISH_ECOM"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.CatfishEcom,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.CatfishEcom
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.MOBILE_BANNER"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.MobileBannerCard,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.MobileBannerCard
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.INTERACTIVE_BANNER"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.InteractiveBanner,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.InteractiveBanner
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.FLYING_CARPET"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.FlyingCarpet,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.FlyingCarpet
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.IN_READ_ECOMMERCE"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.InReadEcommerce,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.InReadEcommerce
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.POST_IN_READ"
          class="flex flex-col gap-[8px] h-full">
          <ng-container
            [ngTemplateOutletContext]="{
              price: data.prices[0],
              priceTemplate: eTemplateType.PostInRead,
              isFirst: true
            }"
            [ngTemplateOutlet]="priceTemplate"></ng-container>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <ng-container
              *ngFor="let price of data.prices | displayTemplatePrice"
              [ngTemplateOutletContext]="{
                price: price,
                priceTemplate: eTemplateType.PostInRead
              }"
              [ngTemplateOutlet]="priceTemplate"></ng-container>
          </ng-container>
        </div>
        <div
          *ngSwitchCase="websitePriceListEnum.END_DATE"
          class="flex flex-col gap-[8px] h-full">
          <div>
            <div>
              {{ data.prices[0]?.endDate | toDateString: 'DD/MM/YYYY' }}
            </div>
            <div>{{ data.prices[0]?.endDate | toDateString: 'HH:mm' }}</div>
          </div>
          <ng-container *ngIf="expandedWebsiteIds[data.websiteId]">
            <div *ngFor="let price of data.prices | displayTemplatePrice">
              <div>{{ price.endDate | toDateString: 'DD/MM/YYYY' }}</div>
              <div>{{ price.endDate | toDateString: 'HH:mm' }}</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template
  #priceTemplate
  let-isFirst="isFirst"
  let-price="price"
  let-priceTemplate="priceTemplate">
  <div
    class="flex {{
      sorts.includes('-PriceType') ? 'flex-col-reverse' : 'flex-col'
    }} {{ isFirst ? 'flex-1' : '' }}">
    <div>
      <span class="pr-[12px] font-semibold">{{
        ePriceType[price?.templatePrices[priceTemplate]?.sellPriceType] ?? '-'
      }}</span>
      <span>{{
        price?.templatePrices[priceTemplate]?.sellPrice | toCurrency
      }}</span>
    </div>
    <div>
      <span class="pr-[12px] font-semibold">{{
        ePriceType[price?.templatePrices[priceTemplate]?.buyPriceType] ?? '-'
      }}</span>
      <span>{{
        price?.templatePrices[priceTemplate]?.buyPrice | toCurrency
      }}</span>
    </div>
  </div>
</ng-template>
