<form [formGroup]="createForm">
  <div class="text-[16px] font-medium mb-3">
    {{ formType === 'add' ? 'Tạo' : 'Chỉnh sửa' }} nhóm quảng cáo
  </div>
  <div
    (containerScroll)="isScrolled$.next()"
    class="flex flex-col overflow-y-auto"
    novanetScrollListener
    style="height: calc(100vh - 148px)">
    <novanet-adset-add-name
      (clearForm)="clearForm()"
      [currentAdset]="currentAdset"
      [formFieldErrors]="createFormFieldErrors"
      [formFields]="createFormFields"
      [formType]="formType"
      [scrollUpdate]="isScrolled$"></novanet-adset-add-name>

    <novanet-adset-add-product-group
      *ngIf="!!campaign && campaign.campaignType === campaignType.Ecommerce"
      [currentAdset]="currentAdset"
      [formFieldErrors]="createFormFieldErrors"
      [formFields]="createFormFields"
      [formType]="formType"
      [productFeedId]="
        campaign?.ecommerceProductFeedId
      "></novanet-adset-add-product-group>

    <novanet-adset-add-object-target
      [formFieldErrors]="createFormFieldErrors"
      [formFields]="createFormFields"></novanet-adset-add-object-target>

    <novanet-adset-add-ad-target
      [formFieldErrors]="createFormFieldErrors"
      [formFields]="createFormFields"></novanet-adset-add-ad-target>

    <novanet-adset-add-remarketing
      [currentAdset]="currentAdset"
      [formFieldErrors]="createFormFieldErrors"
      [formFields]="createFormFields"
      [formType]="formType"></novanet-adset-add-remarketing>

    <ng-container *ngIf="!campaign?.ecommerceScheduled">
      <div class="bg-white rounded-lg w-full mt-4">
        <div
          class="font-medium text-[#001F4C] border-b border-solid border-[#E0E0E0] p-4">
          Lịch biểu
        </div>
        <div class="p-4">
          <div class="flex items-center mb-1">
            <input
              [formControlName]="createFormFields.scheduledAllTime.name"
              [value]="true"
              class="focus:ring-main h-4 w-4 text-main border-gray-300"
              id="schedulerTypeAll"
              type="radio" />
            <label class="ml-3 block" for="schedulerTypeAll">
              Chọn toàn thời gian
            </label>
          </div>
          <div class="flex items-center">
            <input
              [formControlName]="createFormFields.scheduledAllTime.name"
              [value]="false"
              class="focus:ring-main h-4 w-4 text-main border-gray-300"
              id="schedulerTypeCustom"
              type="radio" />
            <label class="ml-3 block" for="schedulerTypeCustom">
              Cài đặt lịch biểu
            </label>
          </div>
          <div *ngIf="!createForm.get('scheduledAllTime').value" class="mt-4">
            <novanet-campaign-scheduler [(schedulingItems)]="schedulingItems">
            </novanet-campaign-scheduler>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="my-4">
      <button
        (click)="onClickSubmit()"
        class="w-[250px] justify-center whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
        type="button">
        {{ formType === 'add' ? 'Tạo nhóm quảng cáo' : 'Hoàn tất' }}
      </button>
    </div>
  </div>
</form>

<nz-modal
  (nzOnCancel)="handleCancelSubmit()"
  [(nzVisible)]="isConfirmSubmitVisible"
  [nzCloseIcon]="null"
  [nzContent]="modalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="rounded-lg">
  <ng-template #modalContent>
    <div class="text-center">
      <div class="mb-4 text-[14px] font-medium">
        Bạn xác nhận thay đổi thông tin nhóm quảng cáo, điều này có thể ảnh
        hưởng đến phân phối quảng cáo?
      </div>
      <div>
        <button
          (click)="handleCancelSubmit()"
          class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Hủy
        </button>
        <button
          (click)="confirmSubmit()"
          class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md shadow-sm text-white bg-main hover:bg-main-dark focus:outline-none">
          Xác nhận
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
