::ng-deep {
  .single-detail-datepicker-dropdown {
    .ant-picker-panel-container {
      box-shadow: none;
    }
  }

  .single-detail-datepicker-popover {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
