<div class="relative">
  <div class="relative group">
    <novanet-text-input
      (nzPopoverVisibleChange)="onPopoverVisibleChange($event)"
      [(nzPopoverVisible)]="visible"
      [controlError]="hasError"
      [ngModel]="value ? (value | toDateString: 'DD/MM/YYYY HH:mm') : ''"
      [nzPopoverContent]="contentTemplate"
      [placeholder]="placeholder"
      [readonly]="true"
      nz-popover
      nzPopoverOverlayClassName="single-detail-datepicker-popover"
      nzPopoverPlacement="bottomLeft"
      nzPopoverTrigger="click"
    ></novanet-text-input>
    <div>
      <span class="absolute right-[12px] top-[12px] text-[#BDBDBD] z-10 block {{ !!value ? 'group-hover:hidden' : '' }}"
            nz-icon
            nzTheme="outline"
            nzType="calendar"></span>
      <span (click)="resetDate()" *ngIf="!!value"
            class="cursor-pointer absolute hidden group-hover:block right-[12px] top-[12px] text-[#BDBDBD] z-10"
            nz-icon nzTheme="fill" nzType="close-circle"></span>
    </div>
  </div>
  <div *ngIf="hasError" class="text-red-600 error-message mb-[8px] mt-[4px] px-[8px] absolute">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #contentTemplate>
  <nz-date-picker
    (ngModelChange)="onDateChange($event)"
    [ngModel]="privateValue"
    [nzDisabledDate]="disabledDate"
    [nzShowToday]="false"
    nzDropdownClassName="single-detail-datepicker-dropdown"
    nzInline
  ></nz-date-picker>
  <div class="p-[12px]">
    <div class="flex flex-row items-center">
      <span class="text-[rgba(189,189,189,1)] pr-[8px]">Thời gian</span>
      <div
        (click)="onClickHourPart()"
        class="relative rounded focus:outline-none border-[1px] border-solid border-[#F2F2F2] flex items-center flex-grow px-[12px] py-[6px]">
        <input
          #hourPart
          (blur)="onBlurHourPart()"
          (click)="onClickHourPart()"
          (keydown)="onChangeHourPart($event)"
          [ngModel]="privateHourPart"
          class="focus:outline-none placeholder:text-[#BDBDBD]"
          placeholder="hh"
          style="width: 2ch;"
        />
        :
        <input
          #minutePart
          (blur)="onBlurMinutePart()"
          (click)="onClickMinutePart($event)"
          (keydown)="onChangeMinutePart($event)"
          [ngModel]="privateMinutePart"
          class="focus:outline-none placeholder:text-[#BDBDBD]"
          placeholder="mm"
          style="width: 2ch;"
        />
        <div class="flex-grow"></div>
        <svg-icon (click)="resetTimePart()" [size]="16" className="cursor-pointer" name="cross"></svg-icon>
      </div>
    </div>
    <div class="flex justify-end mt-[12px]">
      <div (click)="cancelDatePicker()" class="text-gray3 cursor-pointer font-semibold mr-[20px]">Hủy</div>
      <div (click)="applyDatePicker()" class="text-main cursor-pointer font-semibold">Áp dụng</div>
    </div>
  </div>

</ng-template>