<div class="auth h-full flex">
  <div class="flex-1 flex flex-col overflow-hidden">
    <div class="flex-1 flex items-stretch overflow-hidden">
      <main class="flex-1 overflow-y-auto relative">
        <div class="absolute top-[16px] left-[24px]">
          <svg-icon
            class="mt-[16px]"
            height="37"
            name="logo-with-text"
            width="107"></svg-icon>
        </div>
        <section
          class="min-w-0 flex-1 h-full flex flex-col lg:order-last"
          id="bg-auth"></section>
      </main>
      <aside
        class="overflow-hidden hidden w-1/3 bg-white border-l border-gray-200 lg:block p-[40px]">
        <router-outlet></router-outlet>
      </aside>
    </div>
  </div>
</div>
