﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Novanet</title>
</head>
<body>
<script>
        let isClientIdInit = false;
        window.addEventListener('message', (event) => {
            switch (event.data.message) {
                case 'novanet-event': {
                    const req = new XMLHttpRequest();
                    req.open('POST', event.data.url);
                    req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    req.send(JSON.stringify(event.data.body));
                    req.onreadystatechange = (e) => {
                        if (req.readyState !== 4) {
                            return;
                        }
                        if (req.status === 200) {
                            const res = JSON.parse(req.responseText);
                            if (!isClientIdInit) {
                                window.parent.postMessage({
                                    message: 'novanet-init-client-id',
                                    clientId: res?.data?.clientId,
                                }, '*');
                                isClientIdInit = true;
                            }
                        }
                    };
                    break;
                }
            }
        });
    </script>
</body>
</html>