<div>
  <div class="text-[16px] font-medium mb-3">
    Danh sách
    <ng-container [ngSwitch]="tabIndex">
      <ng-container *ngSwitchCase="0"> chiến dịch</ng-container>
      <ng-container *ngSwitchCase="1"> nhóm quảng cáo</ng-container>
      <ng-container *ngSwitchCase="2"> quảng cáo</ng-container>
    </ng-container>
  </div>
  <div class="bg-white flex flex-col">
    <nz-tabset
      (nzSelectedIndexChange)="onTabIndexChange($event)"
      [ngClass]="'campaign-tabset'"
      [nzSelectedIndex]="tabIndex"
      [nzTabBarStyle]="{ 'margin-left': '16px' }">
      <nz-tab
        nzTitle="Chiến dịch{{
          selectedCampaignIds.length
            ? ' (' + selectedCampaignIds.length + ')'
            : ''
        }}">
        <ng-template nz-tab>
          <novanet-campaign-list></novanet-campaign-list>
        </ng-template>
      </nz-tab>
      <nz-tab
        nzTitle="Nhóm quảng cáo{{
          selectedAdsetIds.length ? ' (' + selectedAdsetIds.length + ')' : ''
        }}">
        <ng-template nz-tab>
          <novanet-adset-list></novanet-adset-list>
        </ng-template>
      </nz-tab>
      <nz-tab
        nzTitle="Tin quảng cáo{{
          selectedAdvertisingIds.length
            ? ' (' + selectedAdvertisingIds.length + ')'
            : ''
        }}">
        <ng-template nz-tab>
          <novanet-ad-list></novanet-ad-list>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
