$tab-color: #0061c1;

:host ::ng-deep .campaign-tabset {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $tab-color;
  }

  .ant-tabs-ink-bar {
    background: $tab-color;
  }

  .ant-tabs-nav-wrap{
    padding-top: 22px;
  }
}
