<div *ngIf="!isEditing" class="flex justify-between items-center h-[47px]">
  <div
    *ngIf="adset.name.length > 45"
    class="overflow-hidden whitespace-nowrap text-ellipsis w-[430px]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
    nzTooltipPlacement="top"
    nzTooltipTitle="{{ adset.name }}">
    <span
      (click)="navigateToNextLevel()"
      class="font-medium text-main cursor-pointer hover:underline"
      >{{ adset.name }}</span
    >
    <a
      [queryParams]="{ campaignId: adset.campaignId, adsetId: adset.id }"
      [routerLink]="['/campaign/edit-adset']"
      class="block font-medium text-main text-[12px] pt-1 opacity-0 group-hover:opacity-100"
      >Chỉnh sửa</a
    >
  </div>
  <div *ngIf="adset.name.length < 45">
    <span
      (click)="navigateToNextLevel()"
      class="font-medium text-main cursor-pointer hover:underline"
      >{{ adset.name }}</span
    >
    <a
      [queryParams]="{ campaignId: adset.campaignId, adsetId: adset.id }"
      [routerLink]="['/campaign/edit-adset']"
      class="block font-medium text-main text-[12px] pt-1 opacity-0 group-hover:opacity-100"
      >Chỉnh sửa</a
    >
  </div>
  <div class="flex flex-row gap-[16px]">
    <svg-icon
      (click)="setEditing()"
      className="cursor-pointer hidden group-hover:block"
      name="edit-pencil"
      size="20"></svg-icon>
    <svg-icon
      (click)="toggleRowExpand()"
      *ngIf="adset.productGroupData.length"
      [name]="isExpanded ? 'chevron-up' : 'chevron-down'"
      [size]="8"
      class="flex flex-row items-center justify-center gap-4"
      className="cursor-pointer mb-[20px]"></svg-icon>
  </div>
</div>
<div *ngIf="isEditing" class="flex justify-between items-center h-[47px]">
  <input
    [(ngModel)]="nameEditing"
    class="focus:ring-main focus:border-main block w-full px-2 py-1.5 mr-3 sm:text-sm border-gray-300 rounded-md"
    type="text" />
  <span
    (click)="cancelEditing()"
    class="text-[#828282] inline-block mr-3 font-medium cursor-pointer"
    >Hủy</span
  >
  <span
    (click)="saveEditing()"
    class="text-main inline-block font-medium cursor-pointer"
    >Lưu</span
  >
</div>
