<div *ngIf="products.length" id="catfish-container">
  <img
      class="w-full"
      src="/assets/images/mobile-advertising/mobile-content.svg"/>
  <div class="swipeup-text cursor-pointer absolute top-[25px] overflow-hidden h-[785px]">
    <img *ngIf="showBanner"
         [src]="template.configurations['useBannerTemplate'] ? '/assets/templates/catfish-ecom/default-images/expand-image.png' : expandImage"/>
  </div>
  <img *ngIf="showBanner" alt="logo"
       class="logo-icon logo-icon-expanded absolute right-2 top-[32px] z-[1000000] cursor-pointer"
       src="/assets/images/icons/novanet-logo.svg"/>
  <img (click)="onShowBanner()" *ngIf="showBanner" alt="close"
       class="absolute right-2 top-[35px] z-[1000000] cursor-pointer"
       src="/assets/images/icons/close.svg"/>
  <img (click)="onShowBanner()"
       [src]="template.configurations['useBannerTemplate'] ? '/assets/templates/catfish-ecom/default-images/footer-image.png' : backgroundImage"
       class="absolute bottom-0 z-[10000]"/>
  <img alt="logo" class="absolute left-[2px] bottom-[100px] w-[15px] z-[100000000]"
       src="/assets/images/icons/novanet-logo.svg"/>

  <div class="swiper-outside-wrapper" id="swiperOutsideWrapper">
    <div (click)="onShowBanner()" *ngIf="showBanner"
         class="font-bold text-[#828282] absolute bottom-[120px] h-[2px] left-0 right-0 text-center w-[375px] max-w-[375px] bg-white cursor-pointer">
    </div>

    <span (click)="onShowBanner()" *ngIf="!showBanner"
          class="flex justify-center font-bold text-[#828282] absolute bottom-[120px] left-0 right-0 text-center w-[375px] max-w-[375px] bg-white cursor-pointer">
      <span class="mr-[10px]">Vuốt lên để xem chi tiết</span>
        <img src="/assets/images/icons/swipeup.svg"/>
    </span>
    <swiper
        (swiper)="thumbsSwiper = $event"
        [autoplay]="{
          delay: 2000
        }"
        [freeMode]="true"
        [loop]="true"
        [slidesPerView]="'auto'"
        [spaceBetween]="10"
        [watchSlidesProgress]="true"
        class="mySwiper"
    >
      <ng-template *ngFor="let product of products; let index = index"
                   swiperSlide
      >
        <div class="relative">
          <img
              [src]="product.data['ImageLink']"/>
          <ng-container
              *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) > 0">
            <div class="absolute trapezoid-down">
              <span class="absolute sale-text">SALE {{salePercent(product.data) | number: '1.0-0'}}%</span>
            </div>
          </ng-container>

          <ng-container *ngIf="template.configurations['showFreeDelivery']">
            <div class="absolute trapezoid-up"></div>
            <span class="absolute free-delivery-text">FREESHIP</span>
          </ng-container>
        </div>
        <div class="description">
          <div *ngIf="template.configurations['productName']" class="title">
            {{product.data['Title']}}
          </div>
          <div class="detail-price">
            <span
                *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                class="price">
              {{product.data['SalePrice'] | number: '1.0-0'}} đ
            </span>
            <span *ngIf="!template.configurations['showDiscountedPrice'] || salePercent(product.data) === 0"
                  class="price">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
            <span
                *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                class="promotion">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
