@import '~swiper/css';
@import '~swiper/css/free-mode';
@import '~swiper/css/navigation';
@import '~swiper/css/thumbs';


#catfish-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 375px;
  height: 810px;

  .logo-icon {
    cursor: pointer;
    position: absolute;
    width: 12px;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 4px;
  }

  .close-icon-expanded {
    padding: 10px;
    width: 12px;
  }


  body {
    background: #000;
    color: #000;
  }


  body,
  html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-width: 0;
  }

  body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  #swiperOutsideWrapper {
    height: 100%;
    position: absolute;
    z-index: 111111;

    .swiper-outside-wrapper {
      position: relative;
      border-top: 2px solid white;
    }

    .mySwiper {
      position: absolute;
      bottom: 0;
      padding: 4px;
      height: 98px;
      width: 375px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: #fff;
        margin-right: 4px;
        padding: 4px;
        box-sizing: border-box;
        max-width: 170px;
        border-radius: 4px;
        text-decoration: unset;
        display: flex;
        flex-direction: row;
      }

      .swiper-slide img {
        display: block;
        object-fit: contain;
        width: 87px;
        border-radius: 4px;
        height: 87px;
      }


      .trapezoid-up {
        border-bottom: 12px solid #fff;
        border-left: 12px solid transparent;
        transform: rotate(180deg);
        height: 12px;
        width: 40px;
        top: 0;
      }

      .trapezoid-down {
        border-bottom: 12px solid #ff2828;
        border-left: 12px solid transparent;
        height: 12px;
        width: 40px;
        bottom: 0;
        right: 0;
      }

      .free-delivery-text {
        top: 2px;
        left: 0;
        font-weight: 800;
        font-style: italic;
        font-size: 6px;
        text-transform: uppercase;
        color: #ff2828;
      }

      .sale-text {
        bottom: -10px;
        right: 1px;
        font-weight: 800;
        font-style: italic;
        font-size: 6px;
        text-transform: uppercase;
        color: #fff;
        width: 30px;
      }

      .description {
        height: 100%;
        padding: 4px;
        flex: 1;
        width: 0;
      }

      .detail-price {
        line-height: 10px;
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .price {
        font-weight: 700;
        font-size: 10px;
        color: red;
        padding-right: 4px;
      }

      .promotion {
        font-size: 8px;
        text-decoration-line: line-through;
        color: #828282;
      }

      .title {
        width: 70px;
        line-height: 12px;
        font-weight: 600;
        font-size: 9px;
        padding-bottom: 2px;
        max-width: 171px;
        color: #4f4f4f;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .expanded-content {
    width: 375px;
    height: 680px;
    position: fixed;
    top: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .swipeup-text {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: white;
    padding: 4px 0;
    color: rgb(130, 130, 130);
    z-index: 21;
  }

  .outside-area {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 6px;
    width: 10px;
  }

  .logo-icon {
    cursor: pointer;
    position: absolute;
    width: 12px;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 4px;
  }

  .close-icon-expanded {
    padding: 10px;
    width: 12px;
  }

  .logo-icon-expanded {
    width: 30px;
  }

  .expanded-content {
    width: 100vw;
  }

  @media only screen and (max-width: 280px) {
    .title {
      font-size: 8px;
    }
  }
}
