<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Lịch sử nạp tiền
</div>
<div *ngIf="searchForm"
     [formGroup]="searchForm" class="relative flex items-center p-[16px] bg-white rounded-t-[8px]">
  <div
    class="inline-block relative w-[400px]">
    <novanet-text-input
      (keydown.enter)="onSearch()"
      [containerClass]="'h-[40px] w-[400px]'"
      [formControlName]="'search'"
      [placeholder]="'Tìm kiếm'"
      id="email"></novanet-text-input>
    <button
      (click)="onSearch()"
      class="absolute right-2 top-0 bottom-0 flex items-center z-50">
      <span class="text-[18px] text-[#bdbdbd]"
      ><i class="far fa-search"></i
      ></span>
    </button>
  </div>
  <div class="absolute top-[16px] right-0 flex items-center">
    <novanet-date-picker
      [containerClass]="'h-[40px] w-[400px]'"
      [formControlName]="'date'"
      [format]="'dd/MM/yyyy'"
      [inputType]="'range'"
      [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']"
      ngClass="mr-[16px]">
    </novanet-date-picker>
  </div>
</div>
<div
  [class.bg-transparent]="!listOfData?.length"
  [class.bg-white]="listOfData?.length"
  class="mb-[16px] overflow-hidden rounded-lg">
  <novanet-data-table
    #productManagementTable
    (checkAllItem)="checkAll($event)"
    (nextPage)="nextBatch($event)"
    (sortByField)="onSearch($event)"
    (statusItem)="refreshStatus($event)"
    *ngIf="settings && listOfData.length"
    [columns]="columns"
    [height]="250"
    [itemTemplate]="itemTemplate"
    [listOfData]="listOfData"
    [settings]="settings"
    [titleTemplate]="titleTemplate">
    <ng-template #titleTemplate></ng-template>

    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="rechargeHistoryEnum.INDEX">
          {{ rowIndex + 1 }}
        </div>

        <!-- PRODUCT_GROUP -->
        <div *ngSwitchCase="rechargeHistoryEnum.CUSTOMER" class="h-[35px]">
          <div class="relative">
            <span>{{ data.email }}</span>
          </div>
        </div><!-- AMOUNT -->
        <div *ngSwitchCase="rechargeHistoryEnum.RECHARGE_MONEY">
          {{ data.amount | number: '1.0-0' }}
        </div>

        <!-- MODIFIED_DATE -->
        <div *ngSwitchCase="rechargeHistoryEnum.CREATED_DATE">
          {{ data.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>

        <section
          *ngSwitchCase="rechargeHistoryEnum.NOTE"
          class="whitespace-pre-line">
          {{ data.note }}
        </section>
      </ng-container>
    </ng-template>
  </novanet-data-table>
  <div *ngIf="!listOfData?.length" class="flex flex-col items-center">
    <img alt="" class="mt-14" src="/assets/images/no-data-background.svg"/>
    <div class="mt-8 text-center" style="max-width: 425px">
      Bạn chưa có lịch sử nạp tiền.
    </div>
  </div>
</div>
