<div class="flex h-14 bg-white rounded-md my-4 mx-6">
  <div class="h-full flex items-center mx-4">
    <novanet-breadcrumb></novanet-breadcrumb>
  </div>
  <div class="grow h-full"></div>
  <div class="h-full flex align-middle mx-4">
    <novanet-user-bar class="flex"></novanet-user-bar>
  </div>
</div>
