<div class="text-[8px] flex flex-col verticalAlign">
  <button (click)="sortMetric(sortField, eSortType.Ascending)"
          [class.text-[#BDBDBD]]="!(sort | sortActive: sortField)"
          class="cursor-pointer">
    <i class="far fa-chevron-up"></i>
  </button>
  <button (click)="sortMetric(sortField, eSortType.Descending)"
          [class.text-[#BDBDBD]]="!(sort | sortActive: '-' + sortField)"
          class="cursor-pointer">
    <i class="far fa-chevron-down"></i>
  </button>
</div>