<section *ngIf="behaviorFormArray.length" class="h-full pb-[32px]">
  <div
    class="p-[16px] text-[16px] font-medium text-[#001F4C] sm:px-6 consumer-behaviour">
    Hành vi khách hàng
  </div>
  <div class="p-[16px]">
    <div *ngIf="form" [formGroup]="form" class="mb-[8px]">
      <div class="mb-2 text-[14px]">
        <input
          class="focus:ring-main h-[16px] w-[16px] text-main border-gray-300 rounded"
          formControlName="applyAllProducts"
          id="applyAllProducts"
          type="checkbox"
        />
        <label class="ml-2 inline-block" for="applyAllProducts">
          Với tất cả sản phẩm
        </label>
      </div>
      <div *ngIf="!form?.get('applyAllProducts').value" class="flex m-[16px]">
        <novanet-dropdown
          [containerClass]="'h-[40px] w-[200px]'"
          [label]="'label'"
          [options]="products"
          [valueKey]="'id'"
          formControlName="productType"></novanet-dropdown>
        <span class="ml-2 mr-2 w-[59px] flex items-center">Bao gồm</span>
        <novanet-text-input
          [errorMessages]="objectGroupFormFieldsError['productName']"
          containerClass="w-[385px]"
          formControlName="productName"
          placeholder="Nhập tên"
        >
        </novanet-text-input>
      </div>
    </div>
    <div
      *ngFor="let item of behaviorFormArray.controls; let i = index"
      class="relative bg-[#F8F8F8] overflow-hidden rounded-[4px] mb-[16px]">
      <button
        (click)="removeBehaviorFromBehaviors(i)"
        *ngIf="i"
        class="absolute top-[16px] right-[16px]">
        <i class="text-[20px] text-[#828282] far fa-times"></i>
      </button>
      <div
        [class.border-b-[1px]]="exclude(i).length"
        class="p-[16px] border-solid border-[#E0E0E0]">
        <ng-container [ngSwitch]="i">
          <div
            *ngSwitchCase="0"
            class="pb-[8px] text-[14px] text-[#828282] font-medium">
            Hành vi
          </div>
          <div
            *ngSwitchDefault
            class="pb-[8px] text-[14px] text-[#219653] font-medium">
            Thêm đối tượng sau
          </div>
        </ng-container>
        <div [formGroup]="behaviors(i)" class="grid grid-cols-2">
          <novanet-dropdown
            (getChange)="resetBehavior($event, i)"
            [containerClass]="'h-[40px]'"
            [label]="'label'"
            [options]="behaviorValues"
            [valueKey]="'id'"
            formControlName="behaviorType"></novanet-dropdown>
        </div>
        <div *ngIf="behavior(i) !== behaviorEnum.ALL" class="pt-[16px]">
          <div class="pb-[8px] text-[14px] text-[#828282]">Bao gồm</div>
          <div class="pb-[12px] max-w-[50%]">
            <ng-container *ngIf="behavior(i) === behaviorEnum.BOUGHT">
              <div
                [formGroup]="orderPrice(i)"
                class="pb-[24px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Giá trị đơn mua hàng trong khoảng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[8px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[185px]'"
                      [disabled]="!orderPrice(i).get('activated').value"
                      [errorMessages]="behaviorConsumerError['from']"
                      [max]="1000000000"
                      [min]="0"
                      formControlName="from"
                      unit="VNĐ"></novanet-number-input>
                  </div>
                  <div class="mr-[8px]">đến</div>
                  <div>
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[185px]'"
                      [disabled]="!orderPrice(i).get('activated').value"
                      [max]="1000000000"
                      [min]="0"
                      formControlName="to"
                      unit="VNĐ"></novanet-number-input>
                  </div>

                  <div
                    *ngIf="(orderPrice(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(orderPrice(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div
                [formGroup]="purchaseFrequency(i)"
                class="pb-[12px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Tần suất mua hàng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[14px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[101px]'"
                      [disabled]="!purchaseFrequency(i).get('activated').value"
                      [max]="100000"
                      [min]="0"
                      formControlName="from"
                      unit="Lần"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">đến</div>
                  <div class="mr-[14px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[101px]'"
                      [disabled]="!purchaseFrequency(i).get('activated').value"
                      [max]="100000"
                      [min]="0"
                      formControlName="to"
                      unit="Lần"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">trên</div>
                  <div>
                    <novanet-dropdown
                      [containerClass]="'h-[35px] w-[101px]'"
                      [disabled]="!purchaseFrequency(i).get('activated').value"
                      [label]="'label'"
                      [options]="purchaseFrequencyUnitValues"
                      [valueKey]="'id'"
                      formControlName="unit"></novanet-dropdown>
                  </div>
                  <div
                    *ngIf="(purchaseFrequency(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(purchaseFrequency(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingUnit'">
                        <span class="text-red-600 text-[10px]">Thiếu đơn vị</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="behavior(i) === behaviorEnum.VIEWED_PRODUCT">
              <div
                [formGroup]="viewedNotPurchased(i)"
                class="pb-[24px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã xem sản phẩm nhưng chưa mua trong vòng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!viewedNotPurchased(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!viewedNotPurchased(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(viewedNotPurchased(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(viewedNotPurchased(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div
                [formGroup]="viewedNotAddToCart(i)"
                class="pb-[24px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã xem sản phẩm nhưng chưa cho vào giỏ hàng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!viewedNotAddToCart(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!viewedNotAddToCart(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(viewedNotAddToCart(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(viewedNotAddToCart(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="behavior(i) === behaviorEnum.ADD_TO_CART">
              <div
                [formGroup]="addedNotPurchased(i)"
                class="pb-[24px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã thêm vào giỏ hàng nhưng chưa mua trong vòng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!addedNotPurchased(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!addedNotPurchased(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(addedNotPurchased(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(addedNotPurchased(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div
                [formGroup]="removedFromCart(i)"
                class="pb-[12px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã bỏ sản phẩm ra khỏi giỏ hàng dưới'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!removedFromCart(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!removedFromCart(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(removedFromCart(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(removedFromCart(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container
              *ngIf="behavior(i) === behaviorEnum.CLICKED_BUY_BUTTON">
              <div
                [formGroup]="purchasedWithin(i)"
                class="pb-[24px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã chọn mua hàng trong vòng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!purchasedWithin(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!purchasedWithin(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(purchasedWithin(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(purchasedWithin(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div
                [formGroup]="selectedNotCompleted(i)"
                class="pb-[12px] flex items-center">
                <div class="w-full">
                  <novanet-checkbox-input
                    [label]="'Đã chọn mua hàng nhưng chưa hoàn tất đặt hàng'"
                    formControlName="activated">
                  </novanet-checkbox-input>
                </div>
                <div class="flex items-center justify-end w-full relative">
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!selectedNotCompleted(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="from"></novanet-number-input>
                  </div>
                  <div class="mr-[10px]">đến</div>
                  <div class="mr-[10px]">
                    <novanet-number-input
                      [arrow]="false"
                      [containerClass]="'h-[35px] w-[70px]'"
                      [disabled]="!selectedNotCompleted(i).get('activated').value"
                      [max]="60"
                      [min]="0"
                      formControlName="to"></novanet-number-input>
                  </div>
                  <div class="mr-[14px]">Ngày</div>
                  <div
                    *ngIf="(selectedNotCompleted(i).errors | keyvalue)"
                    class="absolute bottom-[-20px] right-0">
                    <ng-container *ngIf="(selectedNotCompleted(i).errors | keyvalue)[0] as error">
                      <ng-container *ngIf="error.key === 'noMatch'">
                        <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                      </ng-container>
                      <ng-container *ngIf="error.key === 'missingValue'">
                        <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container
        *ngFor="
          let excludeItem of exclude(i).controls;
          let indexExclude = index
        ">
        <div
          [class.border-b-[1px]]="exclude(i).length !== indexExclude + 1"
          class="p-[16px] border-solid border-[#E0E0E0]">
          <button
            (click)="removeBehaviorFromExcludeBehaviors(i, indexExclude)"
            class="pb-[8px] text-[14px] text-[#EB5757] font-medium">
            <i class="fas fa-times-circle mr-[8px]"></i>
            <span>Loại trừ đối tượng sau</span>
          </button>
          <div
            [formGroup]="excludeBehaviors(i, indexExclude)"
            class="grid grid-cols-2">
            <div class="relative">
              <novanet-dropdown
                (getChange)="resetExcludeBehavior($event, i, indexExclude)"
                [containerClass]="'h-[40px]'"
                [label]="'label'"
                [options]="excludeBehaviorValues"
                [valueKey]="'id'"
                formControlName="behaviorType"></novanet-dropdown>
              <div *ngIf="hasDuplicatedExclude(i, indexExclude)" class="absolute top-[8px] right-[32px]">
              <span
                class="inline-block mr-[4px] py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(242,153,74,1)] bg-[rgba(242,153,74,0.1)]">
                  Đối tượng loại trừ không trùng với đối tượng đã chọn
                </span>
                <i class="fas fa-exclamation-triangle text-[rgba(242,153,74,1)]"></i>
              </div>
            </div>
          </div>
          <div
            *ngIf="excludeBehavior(i, indexExclude) !== behaviorEnum.ALL"
            class="pt-[16px]">
            <div class="pb-[8px] text-[14px] text-[#828282]">Bao gồm</div>
            <div class="pb-[12px] max-w-[50%]">
              <ng-container
                *ngIf="
                  excludeBehavior(i, indexExclude) === behaviorEnum.BOUGHT
                ">
                <div
                  [formGroup]="excludeOrderPrice(i, indexExclude)"
                  class="pb-[24px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Giá trị đơn mua hàng trong khoảng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[8px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[185px]'"
                        [disabled]="!excludeOrderPrice(i, indexExclude).get('activated').value"
                        [max]="1000000000"
                        [min]="0"
                        formControlName="from"
                        unit="VNĐ"></novanet-number-input>
                    </div>
                    <div class="mr-[8px]">đến</div>
                    <div>
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[185px]'"
                        [disabled]="!excludeOrderPrice(i, indexExclude).get('activated').value"
                        [max]="1000000000"
                        [min]="0"
                        formControlName="to"
                        unit="VNĐ"></novanet-number-input>
                    </div>
                    <div
                      *ngIf="(excludeOrderPrice(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludeOrderPrice(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div
                  [formGroup]="excludePurchaseFrequency(i, indexExclude)"
                  class="pb-[12px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Tần suất mua hàng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[14px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[101px]'"
                        [disabled]="!excludePurchaseFrequency(i, indexExclude).get('activated').value"
                        [max]="100000"
                        [min]="0"
                        formControlName="from"
                        unit="Lần"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">đến</div>
                    <div class="mr-[14px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[101px]'"
                        [disabled]="!excludePurchaseFrequency(i, indexExclude).get('activated').value"
                        [max]="100000"
                        [min]="0"
                        formControlName="to"
                        unit="Lần"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">trên</div>
                    <div>
                      <novanet-dropdown
                        [containerClass]="'h-[35px] w-[101px]'"
                        [disabled]="!excludePurchaseFrequency(i, indexExclude).get('activated').value"
                        [label]="'label'"
                        [options]="purchaseFrequencyUnitValues"
                        [valueKey]="'id'"
                        formControlName="unit"></novanet-dropdown>
                    </div>
                    <div
                      *ngIf="(excludePurchaseFrequency(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludePurchaseFrequency(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingUnit'">
                          <span class="text-red-600 text-[10px]">Thiếu đơn vị</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container
                *ngIf="
                  excludeBehavior(i, indexExclude) ===
                  behaviorEnum.VIEWED_PRODUCT
                ">
                <div
                  [formGroup]="excludeViewedNotPurchased(i, indexExclude)"
                  class="pb-[24px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã xem sản phẩm nhưng chưa mua trong vòng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeViewedNotPurchased(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeViewedNotPurchased(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludeViewedNotPurchased(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludeViewedNotPurchased(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div
                  [formGroup]="excludeviewedNotAddToCart(i, indexExclude)"
                  class="pb-[12px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã xem sản phẩm nhưng chưa cho vào giỏ hàng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeviewedNotAddToCart(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeviewedNotAddToCart(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludeviewedNotAddToCart(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludeviewedNotAddToCart(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container
                *ngIf="
                  excludeBehavior(i, indexExclude) === behaviorEnum.ADD_TO_CART
                ">
                <div
                  [formGroup]="excludeAddedNotPurchased(i, indexExclude)"
                  class="pb-[24px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã thêm vào giỏ hàng nhưng chưa mua trong vòng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeAddedNotPurchased(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeAddedNotPurchased(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludeAddedNotPurchased(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludeAddedNotPurchased(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div
                  [formGroup]="excludeRemovedFromCart(i, indexExclude)"
                  class="pb-[12px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã bỏ sản phẩm ra khỏi giỏ hàng dưới'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeRemovedFromCart(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeRemovedFromCart(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludeRemovedFromCart(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludeRemovedFromCart(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container
                *ngIf="
                  excludeBehavior(i, indexExclude) ===
                  behaviorEnum.CLICKED_BUY_BUTTON
                ">
                <div
                  [formGroup]="excludePurchasedWithin(i, indexExclude)"
                  class="pb-[24px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã chọn mua hàng trong vòng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludePurchasedWithin(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludePurchasedWithin(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludePurchasedWithin(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container *ngIf="(excludePurchasedWithin(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div
                  [formGroup]="excludeSelectedNotCompleted(i, indexExclude)"
                  class="pb-[12px] flex items-center">
                  <div class="w-full">
                    <novanet-checkbox-input
                      [label]="'Đã chọn mua hàng nhưng chưa hoàn tất đặt hàng'"
                      formControlName="activated">
                    </novanet-checkbox-input>
                  </div>
                  <div class="flex items-center justify-end w-full relative">
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeSelectedNotCompleted(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="from"></novanet-number-input>
                    </div>
                    <div class="mr-[10px]">đến</div>
                    <div class="mr-[10px]">
                      <novanet-number-input
                        [arrow]="false"
                        [containerClass]="'h-[35px] w-[70px]'"
                        [disabled]="!excludeSelectedNotCompleted(i, indexExclude).get('activated').value"
                        [max]="60"
                        [min]="0"
                        formControlName="to"></novanet-number-input>
                    </div>
                    <div class="mr-[14px]">Ngày</div>
                    <div
                      *ngIf="(excludeSelectedNotCompleted(i, indexExclude).errors | keyvalue)"
                      class="absolute bottom-[-20px] right-0">
                      <ng-container
                        *ngIf="(excludeSelectedNotCompleted(i, indexExclude).errors | keyvalue)[0] as error">
                        <ng-container *ngIf="error.key === 'noMatch'">
                          <span class="text-red-600 text-[10px]">Giá trị không hợp lệ</span>
                        </ng-container>
                        <ng-container *ngIf="error.key === 'missingValue'">
                          <span class="text-gray-500 text-[10px]">Vui lòng điền đẩy đủ thông tin mục này</span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <button
        (click)="pushItemToExcludeArray(i)"
        class="ml-[16px] mb-[16px] border border-[#EB5757] border-solid rounded-[4px] h-[40px] w-[127px]">
        <i class="far fa-minus-circle text-[#EB5757] pr-[8px]"></i>
        <span class="text-[#EB5757]">Loại trừ</span>
      </button>
    </div>

    <button
      (click)="pushItemToArray()"
      class="mt-[16px] border border-[#219653] border-solid rounded-[4px] h-[40px] w-[181px]">
      <i class="far fa-plus-circle text-[#219653] pr-[8px]"></i>
      <span class="text-[#219653]">Thêm đối tượng</span>
    </button>
  </div>
</section>
