<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Facebook Ad Management Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .material-symbols-outlined {
        font-size: 12px;
        font-weight: 700;
        color: red;
        padding: 3px;
        background-color: #ff6b6b;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .image_container{
        padding: 3px;
        background-color: #e4e4e4;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img{
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body style="padding: 15px 20px; background: #e6e6fa;width: 100vw;">
    <header style="font-weight: 500; padding-bottom: 1.5rem; font-size: 20px">
    </header>
    <table class="container_table" style="width: 100%; display: table; border-collapse: collapse;">
      <tr>
        <td class="col" style="width: 60%;height: 530.35px; vertical-align: top; padding-right: 1rem;">
          <table
            class="first_box"
            style="background: #ffffff; border-radius: 4px; width: 100%;height: 530.35px; border-collapse: collapse"
          >
            <tr>
              <td class="user_details" style="padding: 16px">
                <p class="name" style="color: red; padding-bottom: 15px">{{ First name }}</p>
                <div
                  class="secondary"
                  style="display: flex; align-items: center; margin-right: 15px"
                >
                  <p
                    class="warning"
                    style="
                      background-color: #df0000;
                      color: #ffffff;
                      border-radius: 18px;
                      padding:2px 5px;
                      font-size: 14px;
                      font-weight: 500;
                    "
                  >Account restricted
                  </p>
                  <p style="padding-left: 15px;" class="date">{{ DATE }}</p>
                </div>
              </td>
            </tr>
            <tr>
              <td
                class="text"
                style="padding: 15px 16px; font-size: 15px; border-bottom: 2px solid #e4e4e4"
              >
                <p>
                  You have been restricted from using Meta advertising products. This is due to negligence to comply with our,
                  <a href="#">Advertising laws and Policies</a> for business assets. This violation includes but are not limited to; copyright infringement, attempting to circumvent our ad review process, association with malicious or untrustworthy accounts and participation in fraudulent behavior.
                </p>
                <br />
                <p>
                  Our platform moderators indentified these violations and took prompt action on your account. Further violations of our Advertising Standards may result in your account being permanently banned or restricted.   
                </p>
              </td>
            </tr>
            <tr>
              <td class="info_grid" style="border-collapse: collapse; padding: 15px 16px">
                <table style="width: 100%; border-collapse: collapse">
                  <tr>
                    <td class="info_col1" style="vertical-align: top">
                      <p style="padding: 10px 0"><b>Restrictions</b></p>
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="material-symbols-outlined"
                          ><img src="https://icomoon.io/iconsabf18a1/6/233.svg" alt=""
                        /></span>
                        <span style="display: block; max-width: 300px"
                          >Can't use or manage ad accounts</span
                        >
                      </p>
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="material-symbols-outlined"
                          ><img src="https://icomoon.io/iconsabf18a1/6/233.svg" alt=""
                        /></span>
                        <span style="display: block; max-width: 300px"
                          >Can't create or run ads</span
                        >
                      </p>
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="material-symbols-outlined"
                          ><img src="https://icomoon.io/iconsabf18a1/6/233.svg" alt=""
                        /></span>
                        <span style="display: block; max-width: 300px"
                          >Can't manage advertising assets or people for business</span
                        >
                      </p>
                    </td>
                    <td class="info_col2" style="vertical-align: top">
                      <p style="padding: 10px 0"><b>Disabled assets</b></p>
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="material-symbols-outlined"
                          ><img src="https://icomoon.io/iconsabf18a1/14/1405.svg" alt=""
                        /></span>
                        <span style="display: block; max-width: 300px">Personal ad account</span>
                      </p>
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="material-symbols-outlined"
                          ><img src="https://icomoon.io/iconsabf18a1/14/983.svg" alt=""></span
                        >
                        <span style="display: block; max-width: 300px">Audiences</span>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table
            class="second_box"
            style="
              background: #ffffff;
              padding: 16px;
              border-radius: 4px;
              width: 100%;
              border-collapse: collapse;
              margin-top: 1rem;
            "
          >
          </table>
        </td>
        <td class="col" style="width: 25%;max-width:300px;vertical-align: top;background-color: transparent; border-radius: 8px;height: 500px !important;">
          <table
            class="contents"
            style="
              background: #ffffff;
              padding: 16px;
              border-radius: 8px;
              width: 100%;
              border-collapse: collapse;
            "
          >
            <tr>
              <td style="padding: 16px;">
                <p style="font-size: 20px;padding-bottom: 1rem;"><b>What you can do</b></p>
                <table class="ideas" style="width: 100%; border-collapse: collapse">
                  <tr>
                    <td class="option" style="display: flex;justify-content: flex-start;padding-bottom: 1rem;">
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span class="image_container"
                          ><img style="padding:2px;" src="https://icomoon.io/iconsabf18a1/7/19.svg" alt=""
                        /></span>
                        <div class="heading" style="margin-left: 10px;">
                        <p style="font-size: 17px;font-weight: 600;padding-bottom:.7rem;width: 100%;max-width: 300px;">Confirm your Identity and request a review</p>
                        <p style="font-size: 15px;display: flex;width: 100%;max-width: 300px;">
                          You'll need to verify ownership of your account with us for security purposes, Then you can let us know if you want to request a review of your account restriction.
                        </p>
                        <a style="width:90%;margin: 5px 0;display:flex;text-decoration: none;height: 44px;background-color: #2949c9;border-radius: 3px;color:#ffffff;align-items: center;justify-content: center;font-size: 16px;" href="qetu shtine linkin">Request Review</a>
                      </div>
                      </p>
                      
                    </td>
                  </tr>
                  <tr>
                    <td class="option" style="display: flex;justify-content: flex-start;padding-bottom: 1rem;">
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="image_container"
                          ><img src="https://icomoon.io/iconsabf18a1/21/81.svg" alt=""
                        /></span>
                        <div class="heading" style="margin-left: 10px;">
                        <p style="font-size: 17px;padding-bottom:.7rem;width: 100%;max-width: 300px;">Review the advertising status of your businees accounts.</p>
                        <a style="width:90%;margin: 5px 0;display:flex;text-decoration: none;height: 44px;background-color: #f0f0f0;border:1px solid #e4e4e4;border-radius: 3px;color:#000;align-items: center;justify-content: center;font-size: 16px;" href="#">See Accounts</a>
                      </div>
                      </p>
                      
                    </td>
                  </tr>
                  <tr>
                    <td class="option" style="display: flex;justify-content: flex-start;padding-bottom: 1rem;">
                      <p style="display: flex; padding: 3px 0 15px 0">
                        <span style="margin-right: 3px" class="image_container"
                          ><img src="https://icomoon.io/iconsabf18a1/16/236.svg" alt=""
                        /></span>
                        <div class="heading" style="margin-left: 10px;">
                          <p style="font-size: 17px;padding-bottom:.7rem;width: 100%;max-width: 300px;">you may have the right to challenge our decision in your country's courts.</p>
                          <a style="width:90%;margin: 5px 0;display:flex;text-decoration: none;height: 44px;background-color: #f0f0f0;border:1px solid #e4e4e4;border-radius: 3px;color:#000;align-items: center;justify-content: center;font-size: 16px;" href="#">Other actions you can take</a>
                        </div>
                      </p>
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <tr>
          <td style="padding-top: 20px">
            <p style="color: #8f949b; font-size: 12px; text-align: center">
              If you don&#39;t want to recieve these emails from Meta in the future, please
              <a href="#" style="color: #3a5897; text-decoration: none">unsubscribe</a>.
              Meta Platforms. Inc. Attention. Community Support.
              <a href="#">1 Facebook Way, Menilo Park. CA 94025</a>. To help keep your
              account secure, please don&#39;t forward this email.
            </p>

            <hr color="#979797" style="margin: 20px 0; border: none; height: 1px" />
            <p style="color: #8f949b; font-size: 12px; text-align: center">
              Please do not reply to this message via e-mail. This address is automated, and
              cannot help with questions or requests. We don&#39;t mind that if the message
              was junk mail!
            </p>
          </td>
        </tr>
      </tr>
    </table>
  </body>
</html>
