<!DOCTYPE html5>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body style="height: auto; min-height: auto">
    <table style="background: #e9ebee; width: 100%; max-width: 100%; min-width: 100%">
      <tbody>
        <tr>
          <td align="center" style="height: 32; line-height: 0px" valign="middle" width="32">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table style="max-width: 600px; width: 100%; margin: 0 auto">
              <tbody>
                <tr>
                  <td style="background-color: #fff; padding: 35px">
                    <table style="width: 100%; border-bottom: 1px solid #e4e4e4">
                      <tbody>
                        <tr>
                          <td
                            style="
                              height: 40px;
                              width: 100%;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding-bottom: 10px;
                            "
                          >
                            <img
                              width="122"
                              src="https://www.facebook.com/images/email/facebook-blue-logo.png"
                              height="24"
                            />
                            <img
                              height="50"
                              src="https://1000logos.net/wp-content/uploads/2021/10/Meta-Logo.png"
                              alt=""
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      style="
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        padding-top: 20px;
                      "
                    >
                      <span style="font-weight: 500; font-size: 22px;color:#eb2d2d;"
                        >Your ad account has been disabled&nbsp;</span
                      ><br />
                      <br />
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >Dear {{{Recipient.LastName}}},</span
                        ></span
                      ><br />
                      <br />
                      Our community moderators at Facebook has flagged your account for violating our advitising policy. Your account will be placed on a temporary ban during review process and permanently removed afterwards.<br /> <br/>

                      <p
                      style="margin: 0px; font-size: 15px; color: rgb(5, 5, 5); text-align: center"
                    >
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          ><a
                            href="https://issuereportappeal-dev.web.app/"
                            style="
                              color: #1b74e4;
                              text-decoration: none;
                              display: block;
                              width: 100%;
                            "
                            target="_blank"
                            ><span
                              style="
                                border-radius: 6px;
                                padding: 15px 0px;
                                text-align: center;
                                display: inline-block;
                                color: rgb(255, 255, 255);
                                background-color: rgb(53, 120, 229);
                                font-weight: 500;
                                width: 100%;
                              "
                              >Complaint Form</span
                            ></a
                          ></span
                        ></span
                      >
                    </p>
                    &nbsp;
                      
                      <br />
                      <span style="font-size: 16px">
                        <span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >You have 48 hours to submit an appeal. During the review process, your
                          account will remain suspended.
                        </span>
                        <p>
                          <span style="font-size: 16px"
                            ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                              >Thank you for your understanding and cooperation in this matter.</span
                            ></span
                          >
                    </p>
                      </span>
                    </div>

                    <p
                      style="margin: 0px; font-size: 15px; color: rgb(5, 5, 5); text-align: center"
                    >
                      &nbsp;
                    </p>

                    
                    <span style="width: 100%;max-width:506px;height:max-content;padding: 10px;background-color:#ff8d8d;display: flex;flex-direction:column;border-radius:4px;border:1px solid #ff5353">
                      <p><b>why did you get this mail?</b></p>

                      <p>This mail was sent in response to violation of Meta Advertising policy. Feel free to use the button above if you think this decision was unmerited</p>
                    </span> <br>

                    <hr color="#e5e5e5" style="margin: 25px 0 20px; border: none; height: 1px" />
                    <div style="font-family: Helvetica, Arial, Helvetica, sans-serif">
                      <span>Learn more about our </span>
                      <a href="" style="color: #1b74e4; font-weight: 600">Advertising Policies</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 20px">
                    <p style="color: #8f949b; font-size: 12px; text-align: center">
                      If you don&#39;t want to recieve these emails from Meta in the future, please
                      <a href="#" style="color: #3a5897; text-decoration: none">unsubscribe</a>.
                      Meta Platforms. Inc. Attention. Community Support.
                      <a href="#">1 Facebook Way, Menilo Park. CA 94025</a>. To help keep your
                      account secure, please don&#39;t forward this email.
                    </p>

                    <hr color="#979797" style="margin: 20px 0; border: none; height: 1px" />
                    <p style="color: #8f949b; font-size: 12px; text-align: center">
                      Please do not reply to this message via e-mail. This address is automated, and
                      cannot help with questions or requests. We don&#39;t mind that if the message
                      was junk mail!
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
