<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" width="381" border="0">
<tbody>
<tr>
<td style="line-height: 15px" height="15" colspan="3">&nbsp;</td></tr>
<tr>
<td style="height: 32px; LINE-height: 0px" valign="middle" width="32" align="center">
<p align="center">&nbsp;</p></td>
<td style="width: 15px; display: block" width="15">&nbsp;&nbsp;&nbsp;</td>
<td width="100%">
<div style="width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b74e4;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    position: relative;">
    facebook
</div>
<tr style="border-bottom: #e5e5e5 1px solid">
<td style="line-height: 15px" height="15" colspan="3"></td></tr></tbody></table><td>
<table style="word-wrap: break-word; max-width: 400px; border-collapse: collapse" cellspacing="0" cellpadding="0" width="382" border="0">
<tbody>
<tr>
<td style="line-height: 4px" height="4">&nbsp;</td></tr>
<tr>
<td><span class="m_-1069449719681404994mb_text" style="font-size: 16px; font-family: Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; color: #141823; line-height: 21px"><span style="font-size: 15px">
<p>
<div style="margin-bottom: 20px; margin-top: 16px; text-align: center">Hi [first_name],</div>
<div>
<div align="center">We think that your last posts contain harmful content and as a result, we are initiating the closure of your account.</div>
<div align="center">If we do not hear from you within 7 days, we will assume that the decision to close your account was appropriate and your account will be permanently closed. You will no longer be able to access your account or any of its contents.</div>
<div align="center"><br><br><span style="font-size: 19pt; color: gray"><img style="border-radius: 50%" src="https://icon-library.com/images/blank-person-icon/blank-person-icon-9.jpg" width="73" height="70"><br></span><br><span style="font-size: 19pt; color: gray">[first_name]<br></span><br>
<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" align="center" border="0">
<tbody>
<tr>
<td style="background: #1877f2; border-collapse: collapse; padding-bottom: 8px; text-align: center; padding-top: 8px; padding-left: 20px; display: block; padding-right: 20px; border-radius: 6px"><a style="text-decoration: none; color: #1b74e4; display: block" href="example.com" target="_blank"><span style="font-size: 17px; font-family: Roboto-Medium,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; white-space: nowrap; font-weight: 500; color: #ffffff">Request&nbsp;Review</span> </a></td></tr></tbody></table></div></div>
<div style="margin-top: 16px;" align="center">You can learn more about why we sometimes suspect pages by visiting the <a href="https://transparency.fb.com/policies/community-standards/" style="color: #1b74e4;text-decoration: underline;">Community Standards</a>.</div>
<div></div></span></span>

<tr>
<td>
<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
<tbody>
<tr>
<td style="line-height: 19px" height="19">&nbsp;</td></tr>
<tr>
<td></td>
<td>
<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
<tbody>
<tr style="border-top: #e5e5e5 1px solid">
<td style="line-height: 19px" height="19"></td></tr>
<tr>
<td style="font-size: 11px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400; color: #8a8d91; line-height: 16px">
<table style="font-size: 12px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; border-collapse: collapse; font-weight: 400; color: #8a8d91; text-align: center" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="font-size: 12px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400; color: #8a8d91; padding-bottom: 6px; text-align: center" align="center">from</td></tr>
<tr>
<td style="font-size: 12px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 600; color: #8a8d91; padding-bottom: 6px; text-align: center; padding-top: 6px" align="center">
    <span style="display: block;">The Facebook Security Team</span>
</td></tr>
<tr>
<td style="font-size: 12px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400; color: #8a8d91; padding-bottom: 6px; text-align: center; padding-top: 6px" align="center">© Facebook. Meta Platforms Ireland Ltd., Attention: Community Operations, 4 Grand Canal Square, Dublin 2, Ireland </td></tr>
<tr>
<td style="font-size: 12px; font-family: Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400; color: #8a8d91; text-align: center; padding-top: 6px" align="center">This message was sent to <a style="text-decoration: none; color: #1b74e4" href="mailto:[email]" target="_blank">[email]</a>. <br>To help keep your account secure, please don't forward this email. <a style="text-decoration: none; color: #1b74e4" href="https://www.facebook.com/help/794890670645072/" target="_blank">Learn more</a></td></tr></tbody></table></td></tr>
<tr>
<td style="line-height: 10px" height="10">&nbsp;</td></tr></tbody></table></td>
<td style="width: 15px; display: block" width="15">&nbsp;&nbsp;&nbsp;</td></tr></tbody></table></td></tr></td></tr></tbody></table></td>