::ng-deep {
  .ant-table,
  .ant-table.ant-table-middle,
  .ant-table.ant-table-small {
    border-radius: 8px;
  }

  .ant-table.ant-table-small .nz-table-hide-scrollbar {
    background: #e5eff9;
  }

  .ant-table-footer {
    padding: 0 !important;
    padding-right: 4px !important;
  }
}

.verticalAlign {
  vertical-align: top;
}
