<ng-container *ngIf="settings">
  <section class="relative">
    <nz-table
      #dynamicTable
      [nzBordered]="settings.bordered"
      [nzData]="listOfData"
      [nzFooter]="settings.footer ? footer : null"
      [nzFrontPagination]="settings.pagination"
      [nzLoading]="settings.loading"
      [nzNoResult]="nzNoResult"
      [nzPaginationPosition]="settings.position"
      [nzPaginationType]="settings.paginationType"
      [nzScroll]="{ x: scrollX, y: scrollY }"
      [nzShowPagination]="settings.pagination"
      [nzShowSizeChanger]="settings.sizeChanger"
      [nzSimple]="settings.simple"
      [nzSize]="settings.size"
      [nzTableLayout]="settings.tableLayout"
      [nzTitle]="settings.title ? title : null"
      nzTableLayout="fixed">
      <thead>
        <tr *ngIf="settings.header">
          <th
            (nzCheckedChange)="checkAll($event)"
            *ngIf="settings.checkbox"
            [(nzChecked)]="allChecked"
            [nzWidth]="'50px'"
            class="bg-[#e5eff9] p-[8px]"
            nzLeft></th>
          <th
            *ngFor="let col of columns"
            [ngClass]="'verticalAlign'"
            [nzAlign]="col.align"
            [nzLeft]="!!col.pinLeft"
            [nzRight]="!!col.pinRight"
            [nzWidth]="col.width"
            class="bg-[#e5eff9] p-[8px]">
            <span class="text-[#001F4C] text-[12px] font-medium">
              <ng-container [ngSwitch]="isItemTemplate(col.title)">
                <ng-container *ngSwitchCase="true">
                  <ng-container
                    *ngTemplateOutlet="
                      col.title | cast: TemplateRef
                    "></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="false">
                  {{ col.title }}
                </ng-container>
              </ng-container>
            </span>
            <div
              *ngIf="col.sort"
              class="text-[8px] absolute bottom-0 top-2 right-[8px] m-auto flex flex-col verticalAlign">
              <button
                (click)="sort(col.name, eSortType.Ascending)"
                [class.text-[#BDBDBD]]="!col.ascending"
                class="cursor-pointer">
                <i class="far fa-chevron-up"></i>
              </button>
              <button
                (click)="sort(col.name, eSortType.Descending)"
                [class.text-[#BDBDBD]]="!col.descending"
                class="cursor-pointer">
                <i class="far fa-chevron-down"></i>
              </button>
            </div>
          </th>
        </tr>

        <tr *ngIf="enableSearch" class="appearance-none">
          <th
            [ngClass]="'verticalAlign'"
            class="p-[8px] bg-white relative group"
            colspan="3">
            <span class="text-[#001F4C] text-[12px] font-medium">
              <input
                (keyup.enter)="onSearch.emit(valueSearch)"
                [(ngModel)]="valueSearch"
                [placeholder]="columnsSearchPlaceHolder"
                (ngModelChange)="searchChanged.next($event)"
                class="font-medium appearance-none outline-none block w-full px-3 py-2 placeholder-gray-400 sm:text-sm pr-[35px]" />
            </span>
            <i
              (click)="RemoveAllSearch.emit()"
              *ngIf="isRemoved"
              class="fas fa-times-circle text-[16px] top-[18px] text-transparent right-[24px] pointer-events-auto group-hover:text-black absolute"></i>
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let data of listOfData; let index = index">
          <tr>
            <td
              (nzCheckedChange)="
                refreshStatus({ id: data['data']['Id'], checked: $event })
              "
              *ngIf="settings.checkbox"
              [(nzChecked)]="data['checked']"
              class="text-[14px] text-[#4F4F4F] font-medium {{ cellClass }}"
              nzLeft></td>
            <td
              *ngFor="let col of columns"
              [nzAlign]="col.align"
              [nzLeft]="!!col.pinLeft"
              [nzRight]="!!col.pinRight"
              class="text-[14px] text-[#4F4F4F] verticalAlign font-medium {{
                cellClass
              }}">
              <ng-container
                [ngTemplateOutletContext]="{
                  row: data,
                  rowIndex: index,
                  colId: col.id
                }"
                [ngTemplateOutlet]="itemTemplate"></ng-container>
            </td>
          </tr>
          <ng-container
            *ngIf="settings.summaryRow && index === listOfData.length - 1">
            <tr
              class="bottom-0 sticky z-10 bg-white border-t border-solid border-[#F0F0F0] shadow-[0px_-4px_15px_rgba(0,0,0,0.05)]">
              <td
                *ngFor="let col of summaryColumns"
                [attr.colspan]="col.colspan"
                [nzAlign]="col.align"
                [nzLeft]="!!col.pinLeft"
                [nzRight]="!!col.pinRight"
                class="verticalAlign">
                <ng-container
                  [ngTemplateOutletContext]="{ colId: col.id }"
                  [ngTemplateOutlet]="summaryTemplate"></ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>
    <div
      *ngIf="loading"
      class="my-2 flex justify-center absolute bottom-0 right-0 left-0">
      <novanet-loading-icon></novanet-loading-icon>
    </div>
  </section>
  <ng-template #title>
    <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
  </ng-template>

  <ng-template #footer>
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </ng-template>
</ng-container>
