<div
  *ngIf="selectType === 'select'"
  [ngClass]="containerClass"
  class="relative">
  <nz-select
    #selectTemplate
    (ngModelChange)="emitChange($event)"
    (nzOnSearch)="onSearch($event)"
    (nzScrollToBottom)="loadMore()"
    [(ngModel)]="value"
    [disabled]="disabled"
    [nzAllowClear]="allowClear"
    [nzAutoClearSearchValue]="false"
    [nzDropdownClassName]="nzDropdownClassName"
    [nzDropdownRender]="renderTemplate"
    [nzMaxTagCount]="maxTag"
    [nzMaxTagPlaceholder]="maxTagPlaceholder ? tagPlaceHolder : null"
    [nzMode]="mode"
    [nzOptionHeightPx]="optionHeight"
    [nzPlaceHolder]="placeholder ? placeholder : ''"
    [nzServerSearch]="serverSearch"
    [nzShowSearch]="showSearch"
    [nzSize]="size"
    class="{{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} font-medium w-full h-full border rounded-md shadow-sm"
    ngClass="novanet-dropdown">
    <ng-container *ngFor="let o of options">
      <ng-container [ngSwitch]="isItemTemplate(o[label])">
        <ng-container *ngSwitchCase="true">
          <nz-option
            [nzLabel]="o[label]"
            [nzValue]="valueKey ? o[valueKey] : o"
            nzCustomContent>
            <ng-container *ngTemplateOutlet="o[label] | cast: TemplateRef">
            </ng-container>
          </nz-option>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <nz-option
            [nzLabel]="o[label]"
            [nzValue]="valueKey ? o[valueKey] : o"></nz-option>
        </ng-container>
      </ng-container>
    </ng-container>
  </nz-select>
  <div
    *ngIf="hasError"
    class="absolute bottom-0 top-0 flex items-center z-50 right-[30px]">
    <svg-icon name="error-input-icon"></svg-icon>
  </div>
  <div
    *ngIf="hasError"
    class="absolute text-red-600 error-message bottom-[-25px] px-[8px]">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
  <ng-template #renderTemplate>
    <nz-spin *ngIf="isLoading"></nz-spin>
  </ng-template>
  <ng-template #tagPlaceHolder let-selectedList
  >{{ selectedList.length }} đã được lựa chọn
  </ng-template
  >
</div>

<div *ngIf="selectType === 'dropdown'">
  <button
    [nzDropdownMenu]="menu"
    [nzOverlayClassName]="nzOverlayClassName"
    class="border-[#E0E0E0] border-solid border-[1px] rounded-[0.375rem] min-w-[41px] min-h-[40px] pr-[12px] pl-[12px] flex justify-between items-center"
    nz-button
    nz-dropdown
    nzTrigger="click">
    {{ placeholder }}
    <span
      class="text-[#BDBDBD] text-[12px] ml-[10px]"
      nz-icon
      nzTheme="outline"
      nzType="down"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul class="ul-dropdown" nz-menu>
      <ng-container *ngFor="let o of options">
        <ng-container [ngSwitch]="isItemTemplate(o[label])">
          <ng-container *ngSwitchCase="true">
            <li (click)="valueKeyDropdownMenu(o[valueKey])" nz-menu-item>
              <ng-template
                [ngOutletContext]="context"
                [ngTemplateOutlet]="o[label] | cast: TemplateRef"></ng-template>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <li
              (click)="valueKeyDropdownMenu(o[valueKey])"
              *ngIf="!nzDisabled"
              [nzDisabled]="nzDisabled"
              nz-menu-item>
              {{ o[label] }}
            </li>
            <li
              (click)="valueKeyDropdownMenu(o[valueKey])"
              *ngIf="nzDisabled"
              [nzDisabled]="nzDisabled"
              [nzPopoverContent]="contentTemplate"
              [nzPopoverOverlayClassName]="'popover-block'"
              nz-menu-item
              nz-popover
              nzPopoverPlacement="left">
              {{ o[label] }}
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #contentTemplate>
        <div>
          <p>
            {{popoverNotification}}
          </p>
        </div>
      </ng-template>
    </ul>
  </nz-dropdown-menu>
</div>
