:host {
  ::ng-deep {
    &.ant-select {
      height: 100%;
      min-height: 30px;
    }

    &.ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
      height: 100%;
      min-height: 30px;
    }

    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      height: 100%;
      border-radius: 8px;
      min-height: 30px;
    }

    &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      min-height: 30px;
    }

    &.ant-select-single .ant-select-selector .ant-select-selection-item {
      font-weight: 500;
      line-height: 40px;
    }

    &.ant-select:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
      height: 100%;
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder {
      display: flex !important;
      align-items: center !important;
    }

    .ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
      cursor: text;
      border: navajowhite;
    }

    .ant-select-multiple .ant-select-selection-item-remove {
      display: flex;
      align-items: center;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item{
      max-width: calc(100% - 20px);
    }
  }
}
::ng-deep{
  .ant-dropdown-menu-item:hover{
    background-color: #f2f7fc ;
  }
  .popover-block{
    padding-right: 8px;
    .ant-popover-arrow{
      display: none !important;
    }
    .ant-popover-inner{
      background-color: #001F4C;
      width: 244px;
      height: 32px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      border-radius: 4px;
    }
    .ant-popover-inner-content{
      color: #FFFFFF !important;
      font-size: 10px;
      padding: 4px 8px 4px 8px;
    }
  }
} 
