<div>
  <div
    [ngClass]="containerClass"
    class="relative {{ hasError ? 'error-input' : '' }}">
    <nz-input-group
      [nzAddOnAfter]="templateAddOnAfter ? AddOnAfter : null"
      [nzAddOnBefore]="templateAddOnBefore ? AddOnBefore : null"
      class="flex-row-reverse justify-center p-[0px]">
      <input
        (blur)="onBlur()"
        (focus)="onFocus()"
        (ngModelChange)="onChangeInput($event)"
        *ngIf="nzAutocomplete"
        [(ngModel)]="value"
        [attr.required]="required"
        [autocomplete]="autocomplete"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [nzAutocomplete]="nzAutocomplete"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="currentType"
        class="{{ hasError || controlError ? 'border-[#EB5757]' : 'border-gray-300' }} {{
          inputType === inputTypeEnum.PASSWORD ? 'pr-[50px]' : 'pr-[35px]'
        }} mb-[0px] font-medium appearance-none block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm pr-[35px]"
        nz-input/>
      <input
        (blur)="onBlur()"
        (focus)="onFocus()"
        (ngModelChange)="onChangeInput($event)"
        *ngIf="!nzAutocomplete"
        [(ngModel)]="value"
        [attr.required]="required"
        [autocomplete]="autocomplete"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="currentType"
        class="{{ hasError || controlError ? 'border-[#EB5757]' : 'border-gray-300' }} {{
          inputType === inputTypeEnum.PASSWORD ? 'pr-[50px]' : 'pr-[35px]'
        }} mb-[0px] font-medium appearance-none block w-full {{ showCounter ? 'pl-3 pr-[80px]' : 'px-3' }} py-2 border rounded-md shadow-sm sm:text-sm"
        nz-input/>
    </nz-input-group>
    <div
      *ngIf="hasError"
      class="absolute text-red-600 text-[12px] mt-[4px] error-message">
      <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
        <ng-container *ngFor="let errMessage of errorMessages">
          <span
            *ngIf="error.key == errMessage.type"
            class="text-[12px] px-[8px] py-[4px]"
          >{{ errMessage.message }}</span
          >
        </ng-container>
      </ng-container>
    </div>

    <div class="absolute bottom-0 top-0 right-[8px] z-[1000] flex items-center gap-[4px]">
      <div
        *ngIf="hasError && !hideErrorIcon"
        class="flex items-center z-50 mr-[4px]">
        <svg-icon name="error-input-icon"></svg-icon>
      </div>
      <div
        *ngIf="inputType === inputTypeEnum.CANCEL"
        class="flex items-center z-50 cursor-pointer">
        <svg-icon (click)="onCancelInput()" name="cancel-icon"></svg-icon>
      </div>
      <div
        *ngIf="inputType === inputTypeEnum.PASSWORD"
        class="flex items-center z-50">
        <i
          (click)="changePasswordType(inputTypeEnum.PASSWORD)"
          [class.hidden]="passwordType === inputTypeEnum.PASSWORD"
          class="fad fa-eye cursor-pointer"></i>
        <i
          (click)="changePasswordType(inputTypeEnum.TEXT)"
          [class.hidden]="passwordType === inputTypeEnum.TEXT"
          class="fad fa-eye-slash cursor-pointer"></i>
      </div>
      <div
        *ngIf="showCounter"
        class="mt-[4px] text-[12px] text-[rgba(189,189,189,1)]">
        {{ value.length }}/{{ counterMaxLength }}
      </div>
    </div>
  </div>
</div>

<ng-template #AddOnAfter>
  <ng-container [ngTemplateOutlet]="templateAddOnAfter"></ng-container>
</ng-template>

<ng-template #AddOnBefore>
  <ng-container [ngTemplateOutlet]="templateAddOnBefore"></ng-container>
</ng-template>
