﻿body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.outside-area {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#popup-banner-video {
  position: fixed;
  z-index: 2000000000;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  transition: all 0.5s;
}

#popup-banner-video > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

#popup-banner-video > iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cta-popup-banner-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  height: 27px;
  background: #00000066;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
}

.cta-popup-banner-button span {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.button-close-popup-video {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  z-index: 2000000001;
  background: #00000066;
  border-radius: 50%;
}

.close-popup-video {
  width: 27px;
  height: 8px;
  opacity: 1;
}
.close-popup-video:hover {
  opacity: 1;
}
.close-popup-video:before, .close-popup-video:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #FFFFFF;
}
.close-popup-video:before {
  transform: rotate(45deg);
}
.close-popup-video:after {
  transform: rotate(-45deg);
}

.popup-video-information {
  position: absolute;
  bottom: 48px;
  color: #FFFFFF;
  padding-left: 12px;
  padding-right: 12px;
  pointer-events: none;
}

.popup-video-overview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popup-video-logo {
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.popup-video-title {
  font-size: 16px;
  font-weight: 600;
}

.popup-video-content {
  font-weight: 400;
  font-size: 12px;
  white-space: pre-wrap;
}

#gradient-background {
  pointer-events: none;
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.78));
}

.logo-icon {
  cursor: pointer;
  position: absolute;
  width: 14px;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 4px;
}
