<section *ngIf="moreMarketingForm" [formGroup]="moreMarketingForm">
  <section class="pb-[16px] flex items-center">
    <div class="pr-[16px]">
      <novanet-switch-input
        [checkedTemplate]="checkedTemplate"
        [disabled]="isUniformedDisabled"
        [formControlName]="moreMarketingFormFields['uniformed'].name"
        [unCheckedTemplate]="unCheckedTemplate">
        <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
        <ng-template #unCheckedTemplate
          ><i class="fal fa-times"></i
        ></ng-template>
      </novanet-switch-input>
    </div>
    <div class="pr-[16px]">Đồng nhất giá quảng cáo trên website</div>
    <ng-container *ngIf="uniformed">
      <div class="pr-[16px]">
        <novanet-number-input
          [arrow]="false"
          [containerClass]="'h-[35px] w-[200px]'"
          [disabled]="isUniformedDisabled"
          [formControlName]="moreMarketingFormFields['uniformedPrice'].name"
          [min]="0"
          [unit]="'VNĐ'"></novanet-number-input>
      </div>
      <div class="pr-[16px]">theo</div>
      <div>
        <novanet-dropdown
          [containerClass]="'h-[35px] w-[100px]'"
          [disabled]="isUniformedDisabled"
          [formControlName]="moreMarketingFormFields['uniformedUnit'].name"
          [options]="uniformedUnitDropdown"
          label="label"
          size="small"
          valueKey="id"></novanet-dropdown>
      </div>
    </ng-container>
  </section>
  <section [hidden]="marketingOption === eMarketingOption.ONLY_MARKETING">
    <div class="text-[#001F4C] font-medium pb-[12px]">
      Nhắm chọn theo website
    </div>
    <section class="grid grid-flow-col-dense grid-cols-2">
      <div class="mr-[8px] rounded-[8px] border border-gray-300">
        <novanet-data-table
          #sourceProductTypeTable
          (RemoveAllSearch)="removeAllSearches()"
          (nextPage)="onNextPage()"
          (onChangeSearchInput)="onsearchDomain($event, true)"
          *ngIf="settings"
          [columns]="columns"
          [enableSearch]="true"
          [height]="350"
          [isRemoved]="isRemoved"
          [itemTemplate]="itemTemplate"
          [listOfData]="websites"
          [loading]="loading$ | async"
          [settings]="settings"
          columnsSearchPlaceHolder="Tìm kiếm Domain...">
          <ng-template
            #itemTemplate
            let-colId="colId"
            let-rowIndex="rowIndex"
            let-website="row">
            <ng-container [ngSwitch]="colId">
              <!-- index -->
              <div *ngSwitchCase="MoreRemarketingEnum.INDEX">
                {{ rowIndex + 1 }}
              </div>

              <!-- website_TYPE -->
              <div
                *ngSwitchCase="MoreRemarketingEnum.WEBSITE"
                class="h-[35px] flex items-center ml-1 {{
                  website.active ? '' : 'opacity-[40%]'
                }}">
                <span>{{ website?.url }}</span>
              </div>

              <!-- CHOOSE -->
              <div
                *ngSwitchCase="MoreRemarketingEnum.CHOOSE"
                class="flex flex-row items-center justify-end {{
                  website.active ? '' : 'opacity-[40%]'
                }}">
                <div
                  *ngIf="!website.active"
                  class="text-[10px] text-[rgba(79,79,79,1)] whitespace-nowrap">
                  Website ngừng hoạt động
                </div>
                <i
                  (click)="onAddWebsite(website)"
                  class="far fa-plus-circle {{
                    website.active ? 'cursor-pointer' : 'pointer-events-none'
                  }} text-[#219653] text-[15px] ml-[14px]"></i>
              </div>
            </ng-container>

            <ng-template #runningAdGroupTemplate let-runningAdGroupData="data">
              <div *ngFor="let data of runningAdGroupData">
                {{ data }}
              </div>
            </ng-template>
          </ng-template>
        </novanet-data-table>
      </div>
      <div class="ml-[8px] rounded-[8px] border border-gray-300">
        <novanet-data-table
          #targetProductTypeTable
          (RemoveAllSearch)="removeAllSelected()"
          (onChangeSearchInput)="onsearchDomain($event, false)"
          *ngIf="settings"
          [columns]="columnsSelected"
          [enableSearch]="true"
          [height]="350"
          [isRemoved]="isRemoved"
          [itemTemplate]="itemTemplate"
          [listOfData]="listOfSelectedWebsite"
          [settings]="settings"
          [titleTemplate]="titleTemplate"
          columnsSearchPlaceHolder="Tìm kiếm Domain...">
          <ng-template #titleTemplate></ng-template>

          <ng-template
            #itemTemplate
            let-colId="colId"
            let-rowIndex="rowIndex"
            let-website="row">
            <ng-container [ngSwitch]="colId">
              <!-- index -->
              <div *ngSwitchCase="MoreRemarketingEnum.INDEX">
                {{ rowIndex + 1 }}
              </div>

              <!-- PRODUCT_TYPE -->
              <div
                *ngSwitchCase="MoreRemarketingEnum.WEBSITE"
                class="h-[35px] flex items-center ml-1 {{
                  website.active ? '' : 'opacity-[40%]'
                }}">
                <div class="relative">
                  <span>{{ website?.url }}</span>
                </div>
              </div>

              <!-- CHOOSE -->
              <div
                *ngSwitchCase="MoreRemarketingEnum.CHOOSE"
                class="flex flex-row items-center justify-end {{
                  website.active ? '' : 'opacity-[40%]'
                }}">
                <div
                  *ngIf="!website.active"
                  class="text-[10px] text-[rgba(79,79,79,1)] whitespace-nowrap">
                  Website ngừng hoạt động
                </div>
                <i
                  (click)="onRemoveWebsite(website)"
                  class="far fa-minus-circle {{
                    website.active ? 'cursor-pointer' : 'pointer-events-none'
                  }} text-[15px] text-[#EB5757] ml-[14px] {{
                    website.active ? '' : 'opacity-[40%]'
                  }}"></i>
              </div>
            </ng-container>

            <ng-template #runningAdGroupTemplate let-runningAdGroupData="data">
              <div *ngFor="let data of runningAdGroupData">
                {{ data }}
              </div>
            </ng-template>
          </ng-template>
        </novanet-data-table>
      </div>
    </section>
  </section>
  <section
    [hidden]="marketingOption === eMarketingOption.NO_MORE_MARKETING"
    class="pt-[16px]">
    <div class="pb-[16px] text-[#001F4C] font-medium">
      Nhắm chọn remarketing
    </div>
    <div class="pb-[16px] text-[#828282]">
      <novanet-checkbox-input
        [formControlName]="
          moreMarketingFormFields['targetingMarketingByProduct'].name
        "
        [label]="
          'Nhắm chọn remarketing tự động theo sản phẩm'
        "></novanet-checkbox-input>
    </div>
    <div class="pb-[16px]">
      <div class="pb-[8px]">
        <novanet-checkbox-input
          [formControlName]="moreMarketingFormFields['excludedWebsite'].name"
          [label]="'Loại trừ các website'"></novanet-checkbox-input>
      </div>
      <div *ngIf="moreMarketingForm.get('excludedWebsite').value">
        <novanet-dropdown
          [containerClass]="'h-[40px]'"
          [formControlName]="moreMarketingFormFields['excludedWebsites'].name"
          [label]="'url'"
          [mode]="'multiple'"
          [options]="listOfWebsiteDropdownData"
          [valueKey]="'id'">
        </novanet-dropdown>
      </div>
    </div>
    <div class="pb-[24px] text-[#828282]">
      <div class="grid grid-flow-col-dense grid-cols-3">
        <div class="pr-[13px]">
          <div class="pb-[8px]">Tần suất hiển thị quảng cáo ngày (lần)</div>
          <novanet-number-input
            [arrow]="false"
            [containerClass]="'h-[40px]'"
            [errorMessages]="moreMarketingFormFieldsError['adImpressions']"
            [formControlName]="moreMarketingFormFields['adImpressions'].name"
            [min]="0"
            [unit]="'lần'"></novanet-number-input>
        </div>
        <div class="pr-[13px] pl-[13px]">
          <div class="pb-[8px]">Thời gian giữa 2 lần hiển thị (phút)</div>
          <novanet-number-input
            [arrow]="false"
            [containerClass]="'h-[40px]'"
            [errorMessages]="moreMarketingFormFieldsError['remarketingTime']"
            [formControlName]="moreMarketingFormFields['remarketingTime'].name"
            [min]="0"
            [unit]="'phút'"></novanet-number-input>
        </div>
        <div class="pl-[13px]">
          <div class="pb-[8px]">Thời gian Remarketing (ngày)</div>
          <novanet-number-input
            [arrow]="false"
            [containerClass]="'h-[40px]'"
            [errorMessages]="moreMarketingFormFieldsError['timeOnDisplay']"
            [formControlName]="moreMarketingFormFields['timeOnDisplay'].name"
            [min]="0"
            [unit]="'ngày'"></novanet-number-input>
        </div>
      </div>
    </div>
    <div class="pb-[8px] text-[#828282]">Điều kiện dừng marketing</div>
    <div class="pb-[8px]">
      <novanet-checkbox-input
        [formControlName]="moreMarketingFormFields['clickedAdvertising'].name"
        [label]="
          'Khi người dùng đã click vào quảng cáo Remarketing'
        "></novanet-checkbox-input>
    </div>
    <div class="pb-[8px]">
      <div class="inline-block">
        <novanet-checkbox-input
          [formControlName]="moreMarketingFormFields['viewer'].name"
          [label]="'Khi người xem của người dùng đạt'"></novanet-checkbox-input>
      </div>
      <div class="inline-block">
        <novanet-number-input
          [arrow]="false"
          [containerClass]="'w-[108px] h-[30px] p-0'"
          [disabled]="!moreMarketingForm.get('viewer').value"
          [errorMessages]="moreMarketingFormFieldsError['viewedMax']"
          [formControlName]="moreMarketingFormFields['viewedMax'].name"
          [min]="0"></novanet-number-input>
      </div>
      <div class="inline-block pl-[8px]">
        <span>lượt xem</span>
      </div>
    </div>
  </section>
</section>

<ng-template #selectAll>
  <i
    (click)="checkAll()"
    class="far fa-plus-circle cursor-pointer text-[#219653] text-[15px]"></i>
</ng-template>
<ng-template #removeAll>
  <i
    (click)="removeAllSelected()"
    class="far fa-minus-circle cursor-pointer text-[#EB5757] text-[15px]"></i>
</ng-template>

<ng-template #titleWebsiteSelected>
  <p class="text-[#001F4C] inline-block text-[12px] font-medium">
    Website được chọn({{ listOfSelectedWebsite.length }}/{{
      lengthTotalWebsite
    }})
  </p>
</ng-template>

<ng-template #titleWebsite>
  <p class="text-[#001F4C] inline-block text-[12px] font-medium">
    Danh sách Website({{ websites.length }}/{{ lengthTotalWebsite }})
  </p>
</ng-template>
