:host {
    ::ng-deep{
        .ant-table.ant-table-small .nz-table-hide-scrollbar {
            overflow: auto !important;
          }
        .ant-table-tbody>tr>td {
            vertical-align: middle;
        }
    }
}
