<div
    *ngIf="(productFeed$ | async) !== undefined && (loading$ | async) === false">
  <div class="font-medium text-base mb-3">Thông tin về nguồn cấp dữ liệu</div>
  <div class="bg-white p-4 overflow-y-auto" style="height: calc(100vh - 148px)">
    <div class="grid grid-cols-2 font-medium text-[18px] text-main">
      <div>
        {{ (productFeed$ | async)?.name }}
      </div>
      <div (click)="refreshMany()" class="flex justify-end text-[14px] cursor-pointer">
        Làm mới nguồn
      </div>
    </div>

    <div
        class="mt-6 inline-grid grid-cols-[min-content_auto] auto-rows-[1fr] gap-y-3 items-center">
      <div class="text-[#828282] whitespace-nowrap mr-6">Phương thức nhập</div>
      <div class="flex items-center">
        <novanet-source-type-icon
            [sourcePath]="(productFeed$ | async)?.sourcePath"
            [sourceType]="(productFeed$ | async)?.sourceType">
        </novanet-source-type-icon>
      </div>
      <div class="text-[#828282] whitespace-nowrap mr-6">Sản phẩm</div>
      <div class="text-[20px] font-medium text-main flex items-center">
        {{
        (productFeed$ | async)?.activeProduct +
        (productFeed$ | async)?.inActiveProduct
        }}
        <a
            *ngIf="
            (productFeed$ | async)?.activeProduct +
            (productFeed$ | async)?.inActiveProduct
          "
            [queryParams]="{ 'product-feed': productFeedId }"
            [routerLink]="['/product-management']"
            class="ml-3"
            rel="noopener noreferrer"
            target="_blank">
          <svg-icon [size]="18" name="external-link"></svg-icon>
        </a>
      </div>
      <div class="text-[#828282] whitespace-nowrap mr-6">
        Thời gian cập nhật gần nhất
      </div>
      <div>{{ dateToString((productFeed$ | async)?.modifiedAt) }}</div>
    </div>

    <div class="mb-4 mt-6 w-full h-[1px] bg-[#E0E0E0]"></div>

    <div
        class="mt-6 inline-grid grid-cols-[min-content_auto] auto-rows-[1fr] gap-y-3 items-center">
      <div class="text-[#828282] whitespace-nowrap mr-6">Trạng thái</div>
      <div>
        <novanet-permission-icon
            [permission]="
            (productFeed$ | async)?.permission
          "></novanet-permission-icon>
      </div>
      <div class="text-[#828282] whitespace-nowrap mr-6">Sản phẩm hiệu lực</div>
      <div class="text-[20px] font-medium text-[#219653]">
        {{ (productFeed$ | async)?.activeProduct }}
      </div>
      <div class="text-[#828282] whitespace-nowrap mr-6">
        Sản phẩm lỗi dữ liệu
      </div>
      <div class="text-[20px] font-medium text-[#EB5757]">
        {{ (productFeed$ | async)?.inActiveProduct }}
      </div>
    </div>

    <novanet-feed-error-list></novanet-feed-error-list>
  </div>
</div>
<div *ngIf="!(productFeed$ | async)?.name && (loading$ | async) === false">
  <nz-empty nzNotFoundContent="Nguồn dữ liệu không khả dụng"></nz-empty>
</div>
