﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.PopupBannerBrandingViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/popup-banner-branding/styles/popup-banner-branding.css"/>
    <style>
       
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div id="popup-banner-branding">
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo-re.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    @if (Model.ExtendBanner?.Contains(".html") == true)
    {
        <iframe src="@Model.ExtendBanner"></iframe>    
    }
    else
    {
        <img src="@Model.ExtendBanner" alt=""/>
    }
    <div id="gradient-background"></div>
    <div class="button-close-popup-branding" onclick="nvnClose()">
        <div class="close-popup-branding"></div>
    </div>

    <div class="popup-branding-information">
        <div class="popup-branding-overview">
            <img class="popup-branding-logo" src="@Model.Logo" alt="">
            <div class="popup-branding-title">@Model.Title</div>
        </div>
        <div class="popup-branding-content">@Model.Description</div>
    </div>
    @if (Model.IsCta)
    {
        <a class="cta-popup-banner-button" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedCtaQueryParams" target="_blank">
            <span>@Model.Cta</span>
        </a>
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.parent.postMessage({
            message: 'novanet-init-popup-banner-branding',
            zoneId: @Model.ZoneId,
        }, '*');
        document.body.addEventListener("touchmove", moveTouch, { passive: false });
        function moveTouch(e) {
            e.preventDefault();
        }
        // Array.from(document.getElementsByTagName('img')).forEach((element) => {
        //     element.addEventListener('error', () => {
        //         window.parent.postMessage({
        //             message: 'novanet-init-backup',
        //             zoneId: @Model.ZoneId,
        //             code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
        //         }, '*');
        //     });
        // });
    });
    
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'popup-banner-branding',
        }, '*');
    }
</script>
</body>
</html>