﻿@using System.Web
@using Novanet.Core.Enums.ReportKeyObjects
@model NovanetCore.Business.BusinessAdvertisingViewModel.PopupBannerVideoViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/popup-banner-video/styles/popup-banner-video.css"/>
    <style>
       
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div id="popup-banner-video">
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo-re.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <iframe src="@(Model.DisplayRootUrl):5009/video/@(Model.Video)?size=240" id="videoPlayer" style="display: none;"></iframe>
    <img src="@Model.ThumbnailVideo" id="thumbnailVideo" alt="" style="display: block;"/>
    <div id="gradient-background"></div>
    <div class="button-close-popup-video" onclick="nvnClose()">
        <div class="close-popup-video"></div>
    </div>

    <div class="popup-video-information">
        <div class="popup-video-overview">
            <img class="popup-video-logo" src="@Model.Logo" alt="">
            <div class="popup-video-title">@Model.Title</div>
        </div>
        <div class="popup-video-content">@Model.Description</div>
    </div>
    @if (Model.IsCta)
    {
        <a class="cta-popup-banner-button" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedCtaQueryParams" target="_blank">
            <span>@Model.Cta</span>
        </a>
    }
</div>
<script>
    const videoEvents = {
        video25Percent: false,
        video50Percent: false,
        video75Percent: false,
        video100Percent: false,
        videoView3s: false,
    };
    document.addEventListener('DOMContentLoaded', () => {
        window.parent.postMessage({
            message: 'novanet-init-popup-banner-video',
            zoneId: @Model.ZoneId,
        }, '*');
        document.body.addEventListener("touchmove", moveTouch, { passive: false });
        window.addEventListener('message', (event) => {
            switch (event.data.message) {
                case 'play': {
                    document.getElementById('videoPlayer').style.display = 'block';
                    document.getElementById('thumbnailVideo').style.display = 'none';
                    break;
                }
                case 'timeupdate': {
                    const playedPercent = event.data.currentTime / event.data.duration;
                    @* 
                        Khi videojs để loop, timeupdate k bao giờ đc fire khi đến cuối video, mà chỉ fire ở gần cuối video
                        trước khi bị loop lại về đầu, nên +0.01
                    *@
                    if (playedPercent + 0.01 >= 1 && !videoEvents.video100Percent) {
                        videoEvents.video100Percent = true;
                        trackVideoView(@((int) ReportMetric.Video100Percent));
                    } else if (playedPercent >= 0.75 && !videoEvents.video75Percent) {
                        videoEvents.video75Percent = true;
                        trackVideoView(@((int) ReportMetric.Video75Percent));
                    } else if (playedPercent >= 0.5 && !videoEvents.video50Percent) {
                        videoEvents.video50Percent = true;
                        trackVideoView(@((int) ReportMetric.Video50Percent));
                    } else if (playedPercent >= 0.25 && !videoEvents.video25Percent) {
                        videoEvents.video25Percent = true;
                        trackVideoView(@((int) ReportMetric.Video25Percent));
                    }
                    if (event.data.currentTime > 3 && !videoEvents.videoView3s) {
                        videoEvents.videoView3s = true;
                        trackVideoView(@((int) ReportMetric.VideoView3s));
                    }
                    break;
                }
            }
        });
        function moveTouch(e) {
            e.preventDefault();
        }
        // Array.from(document.getElementsByTagName('img')).forEach((element) => {
        //     element.addEventListener('error', () => {
        //         window.parent.postMessage({
        //             message: 'novanet-init-backup',
        //             zoneId: @Model.ZoneId,
        //             code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
        //         }, '*');
        //     });
        // });
    });
    
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'popup-banner-video',
        }, '*');
    }
    
    function trackVideoView(reportMetric) {
        const req = new XMLHttpRequest();
        req.open('POST', '@(Model.DisplayRootUrl)/display/video');
        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        req.send(JSON.stringify({
            zoneId: @Model.ZoneId,
            clientId: '@Model.ClientId',
            advertisingId: @Model.AdvertisingId,
            advertisingTemplateId: @Model.AdvertisingTemplateId,
            reportMetric,
            time: (new Date()).getTime(),
        }));
    }
</script>
</body>
</html>