<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Báo cáo vùng quảng cáo
</div>
<div
  class="bg-[#FFFFFF] pt-[16px] pr-[16px] pl-[16px] rounded-br-[8px] rounded-bl-[8px]">
  <div
    class="relative flex items-center justify-between bg-white rounded-t-[8px] h-[auto]">
    <div class="flex">
      <novanet-multiple-select-input
        (ngModelChange)="onSelect($event)"
        (nzScrollToBottom)="loadMoreZones()"
        (search)="onSearch($event)"
        [(ngModel)]="selectedZone"
        [nzOptions]="zones$ | zoneOptions: user.roles | async"
        [serverSearch]="true"
        [topInput]="false"
        maxTagPlaceholder="website"
        placeholder="Tìm kiếm vùng quảng cáo, website{{
          isAdmin ? ', publisher...' : ''
        }}">
      </novanet-multiple-select-input>
    </div>
    <div class="flex flex-row gap-4 float-right">
      <novanet-date-picker
        (ngModelChange)="onChangeDateRange($event)"
        [containerClass]="'h-[40px] w-[400px]'"
        [format]="shortDateFormat"
        [inputType]="'range'"
        [ngModel]="dateRange"
        [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']">
      </novanet-date-picker>
    </div>
  </div>
  <div class="mt-4 relative">
    <div
      *ngIf="loading$ | async"
      class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
      <div class="w-full bg-[#828282] opacity-30"></div>
      <div class="absolute top-1/2 left-1/2">
        <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
      </div>
    </div>
    <novanet-data-table
      #zoneReportTable
      (nextPage)="onNextPage()"
      *ngIf="settings"
      [columns]="columns"
      [height]="265"
      [itemTemplate]="itemTemplate"
      [listOfData]="zoneReports$ | async"
      [loading]="loading$ | async"
      [settings]="settings"
      [summaryColumns]="summaryColumns"
      [summaryTemplate]="summaryTemplate"
      ngClass="zone-table"
      nzNoResult="Không có dữ liệu">
      <ng-template
        #itemTemplate
        let-colId="colId"
        let-data="row"
        let-rowIndex="rowIndex">
        <ng-container [ngSwitch]="colId">
          <div
            *ngSwitchCase="zoneReportTableEnum.CHECKBOX"
            class="group h-full relative">
            <input
              (change)="selectZoneReport(data?.id)"
              [checked]="isReportSelected(data?.id)"
              class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
              type="checkbox"/>
          </div>
          <!-- index -->
          <div *ngSwitchCase="zoneReportTableEnum.INDEX" class="h-full">
            {{ rowIndex + 1 }}
          </div>
          <div
            *ngSwitchCase="zoneReportTableEnum.TEMPLATE_TYPE"
            class="group h-full relative">
            <span *ngFor="let templateType of data?.templateTypes; let i = index;">
              {{ templateType | getTemplateName }}{{ i === data.templateTypes.length - 1 ? '' : ', ' }}
            </span>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.DOMAIN_NAME" class="h-full">
            <div>
              <a
                [href]="data?.url"
                class="underline text-[#0061C1]"
                target="_blank"
              >{{ data?.domainName }}</a
              >
              <ng-container *ngIf="isAdmin">
                - {{ data?.publisherEmail }}
              </ng-container>
            </div>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.VIEWS" class="h-full">
            <div>{{ data?.views | toCurrency }}</div>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.CLICKS" class="h-full">
            <div>{{ data?.clicks | toCurrency }}</div>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.CTR" class="h-full">
            <div>{{ data.ctr | toPercentage: '1.0-2' }}</div>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.EARNED" class="h-full">
            <div>{{ data.earned | toCurrency }}</div>
          </div>
          <div
            *ngSwitchCase="zoneReportTableEnum.DEFAULT_BANNER_VIEWS"
            class="font-medium">
            {{ data.defaultBannerViews | toCurrency }}
          </div>
          <div
            *ngSwitchCase="zoneReportTableEnum.BACKUP_VIEWS"
            class="font-medium">
            {{ data.backupViews | toCurrency }}
          </div>
        </ng-container>
      </ng-template>
      <ng-template #summaryTemplate let-colId="colId">
        <ng-container [ngSwitch]="colId">
          <div *ngSwitchCase="zoneReportTableEnum.INDEX" class="text-[#4F4F4F]">
            Số vùng quảng cáo:
            <span class="text-main font-medium">
              <ng-container *ngIf="isAnySelected">
                {{ selectedZoneReports.length }}/{{
                (zoneReports$ | async).length
                }}
              </ng-container>
              <ng-container *ngIf="!isAnySelected">
                {{ (reportSummary$ | async)?.total }}
              </ng-container>
            </span>
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.VIEWS" class="font-medium">
            {{ (reportSummary$ | async)?.views | toCurrency }}
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.CLICKS" class="font-medium">
            {{ (reportSummary$ | async)?.clicks | toCurrency }}
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.CTR" class="font-medium">
            {{ (reportSummary$ | async)?.ctr | toPercentage: '1.0-2' }}
          </div>
          <div *ngSwitchCase="zoneReportTableEnum.EARNED" class="font-medium">
            {{ (reportSummary$ | async)?.earned | toCurrency }}
          </div>
          <div
            *ngSwitchCase="zoneReportTableEnum.DEFAULT_BANNER_VIEWS"
            class="font-medium">
            {{ (reportSummary$ | async)?.defaultBannerViews | toCurrency }}
          </div>
          <div
            *ngSwitchCase="zoneReportTableEnum.BACKUP_VIEWS"
            class="font-medium">
            {{ (reportSummary$ | async)?.backupViews | toCurrency }}
          </div>
        </ng-container>
      </ng-template>
    </novanet-data-table>
  </div>
</div>

<ng-template #checkboxHeader>
  <input
    (change)="selectAllZoneReports($event)"
    [checked]="
      (zoneReports$ | async).length !== 0 &&
      (zoneReports$ | async).length === selectedZoneReports.length
    "
    [disabled]="(zoneReports$ | async).length === 0"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox"/>
</ng-template>
