:host ::ng-deep {
  .zone-table {
    .ant-table-wrapper {
      .ant-table {
        .ant-table-container {
          .ant-table-fixed {
            .ant-table-thead {
              th {
                padding: 4px;

                span {
                  font-size: 12px !important;
                }
              }
            }

            .ant-table-tbody {
              td {
                padding: 8px;
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }
    .ant-table-body {
      max-height: calc(100vh - 262px) !important;
    }
  }
}
