<ng-container
  *ngIf="notificationBannerForm"
  [formGroup]="notificationBannerForm">
  <div class="mb-[16px]">
    <div *ngIf="templateConfiguration.isActive && !currentExtendBanner.length &&
          !templateConfiguration?.configurations?.extendBanner"
         class="text-[#EB5757] text-[12px] mb-[8px] error-message bg-transparent">
      Vui lòng tải lên ít nhất 1 ảnh trước khi sửa tin quảng cáo khác
    </div>
    <span class="mr-[12px] text-[#828282]"
    >Banner <small>(tối đa 5MB)</small></span
    >
    <div class="relative text-[#0061C1] inline-block pb-[12px]">
      <ng-container
        *ngIf="
          !currentExtendBanner.length &&
          !templateConfiguration?.configurations?.extendBanner
        ">
        <button
          class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
          <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
          <span class="text-[14px]">Tải lên</span>
        </button>
        <input
          (change)="handleImageInput('extendBanner', $event)"
          accept="image/*,.html,.zip"
          class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
          name="myImage"
          type="file"/>
      </ng-container>
      <ng-container
        *ngIf="
          currentExtendBanner.length ||
          templateConfiguration?.configurations?.extendBanner
        ">
        <div class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
          <i class="fal fa-image text-[20px] mr-1"></i>
          <span class="mr-1">{{
            currentExtendBanner[0]?.name ||
            templateConfiguration?.configurations?.extendBanner
            }}</span>
          <i
            (click)="clearAvatar('extendBanner')"
            class="fal fa-times text-[20px] cursor-pointer"></i>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <span class="text-[14px] text-[#828282]">Các kích thước cho phép</span>
  </div>
  <div class="w-full mb-[16px]">
    <novanet-data-table
      *ngIf="settingTable"
      [columns]="settingColumn"
      [height]="100"
      [itemTemplate]="itemTemplate"
      [listOfData]="dataTable"
      [settings]="settingTable">
      <ng-template
        #itemTemplate
        let-colId="colId"
        let-item="row"
        let-rowIndex="rowIndex">
        <ng-container [ngSwitch]="colId">
          <!-- index -->
          <div *ngSwitchCase="allowSizeColumn.TYPE">
            {{ item.type }}
          </div>

          <div *ngSwitchCase="allowSizeColumn.CONTENT_FORMAT">
            {{ item.containerSize }}
          </div>

          <div *ngSwitchCase="allowSizeColumn.BANNER_SIZE">
            {{ item.safeArea }}
          </div>

          <div *ngSwitchCase="allowSizeColumn.FILE_SIZE">
            {{ item.fileSize }}
          </div>
        </ng-container>
      </ng-template>
    </novanet-data-table>
  </div>
  <div class="mb-[16px]">
    <div *ngIf="templateConfiguration.isActive && !currentAvatar.length && !templateConfiguration.configurations.logo"
         class="text-[#EB5757] text-[12px] mb-[8px] error-message bg-transparent">
      Vui lòng tải ảnh lên trước khi sửa tin quảng cáo khác
    </div>
    <span class="mr-[12px] text-[#828282]"
    >Logo <small>(tối đa 1MB)</small></span
    >
    <div class="relative text-[#0061C1] inline-block pb-[12px]">
      <ng-container
        *ngIf="
          !currentAvatar.length && !templateConfiguration?.configurations?.logo
        ">
        <button
          class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
          <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
          <span class="text-[14px]">Tải lên</span>
        </button>
        <input
          (change)="handleImageInput('logo', $event)"
          accept="image/*"
          class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
          name="myImage"
          type="file"/>
      </ng-container>
      <ng-container
        *ngIf="
          currentAvatar.length || templateConfiguration?.configurations?.logo
        ">
        <div class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
          <i class="fal fa-image text-[20px] mr-1"></i>
          <span class="mr-1">{{
            currentAvatar[0]?.name ||
            templateConfiguration?.configurations?.logo
            }}</span>
          <i
            (click)="clearAvatar('logo')"
            class="fal fa-times text-[20px] cursor-pointer"></i>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="mb-[20px]">
    <label
      class="text-[#828282] block text-[14px] font-normal"
      for="title">
      Tiêu đề
    </label>
    <div class="mt-1 rounded-md shadow-sm flex">
      <novanet-text-input
        [counterMaxLength]="createFormFields['title'].validationParams.maxLength"
        [errorMessages]="createFormFieldErrors.title"
        [formControlName]="createFormFields['title'].name"
        [showCounter]="true"
        class="w-full"
        id="title"
        placeholder="Nhập tiêu đề thông báo...">
      </novanet-text-input>
    </div>
  </div>
  <div class="mb-[22px]">
    <label
      class="text-[#828282] block text-[14px] font-normal"
      for="description">
      Nội dung
    </label>
    <div class="mt-1 rounded-md shadow-sm flex">
      <novanet-textarea-input
        [counterMaxLength]="createFormFields['description'].validationParams.maxLength"
        [errorMessages]="createFormFieldErrors.description"
        [formControlName]="createFormFields['description'].name"
        [showCounter]="true"
        class="w-full"
        id="description"
        placeholder="Nhập nội dung..."></novanet-textarea-input>
    </div>
  </div>
  <div class="mb-[16px] flex items-center">
    <novanet-switch-input
      [checkedTemplate]="checkedTemplate"

      [formControlName]="createFormFields['isCta'].name"
      [unCheckedTemplate]="unCheckedTemplate">
    </novanet-switch-input>
    <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
    <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
    <span class="pl-[8px] text-[#4F4F4F]">Nút CTA</span>
  </div>
  <ng-container *ngIf="notificationBannerForm.get('isCta').value">
    <div class="mb-[20px]">
      <label
        class="text-[#828282] block text-[14px] font-normal"
        for="cta">
        Nội dung CTA
      </label>
      <div class="mt-1 rounded-md shadow-sm flex">
        <novanet-text-input
          [counterMaxLength]="createFormFields['cta'].validationParams.maxLength"
          [errorMessages]="createFormFieldErrors.cta"
          [formControlName]="createFormFields['cta'].name"
          [showCounter]="true"
          class="w-full"
          id="cta"
          placeholder="Nhập nội dung..."></novanet-text-input>
      </div>
    </div>
    <div class="mb-[20px]">
      <label
        class="text-[#828282] block text-[14px] font-normal"
        for="cta-url">
        URL CTA <small>(Không bắt buộc)</small>
      </label>
      <div class="mt-1 rounded-md shadow-sm flex">
        <novanet-text-input
          [errorMessages]="createFormFieldErrors.ctaUrl"
          [formControlName]="createFormFields['ctaUrl'].name"
          class="w-full"
          id="cta-url"
          placeholder="Nhập nội dung..."></novanet-text-input>
      </div>
    </div>
  </ng-container>
</ng-container>
