:host ::ng-deep {
  .fraud-click-table {
    .ant-table-wrapper {
      .ant-table {
        .ant-table-container {
          .ant-table-fixed {
            .ant-table-thead {
              th {
                padding: 4px;

                span {
                  font-size: 10px !important;
                }
              }
            }

            .ant-table-tbody {
              td {
                padding: 4px;
                font-size: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}
