<div>
  <div class="flex flex-row gap-4">
    <nz-range-picker
      (ngModelChange)="onChangeDateRange($event)"
      [ngModel]="dateRange"
      [nzFormat]="shortDateFormat"
      [nzPlaceHolder]="['Ngày bắt đầu', 'Ngày kết thúc']"
      ngClass="h-[40px] w-[268px] rounded-md">
    </nz-range-picker>
    <button
      (click)="onGetReport()"
      class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
      type="button">
      Xem báo cáo
    </button>
  </div>
  <div>
    <div class="my-4">
      <span class="font-medium">Lưu ý: </span>
      [All Click] = [True Click] = [False Click] + [RealTime]
    </div>
    <novanet-data-table
      #fraudClickReportTable
      *ngIf="settings"
      [columns]="columns"
      [itemTemplate]="itemTemplate"
      [listOfData]="fraudClickReports$ | async"
      [loading]="loading$ | async"
      [settings]="settings"
      [summaryColumns]="summaryColumns"
      [summaryTemplate]="summaryTemplate"
      ngClass="fraud-click-table"
      nzNoResult="Không có dữ liệu">
      <ng-template
        #itemTemplate
        let-colId="colId"
        let-data="row"
        let-rowIndex="rowIndex">
        <ng-container [ngSwitch]="colId">
          <!-- index -->
          <div *ngSwitchCase="fraudClickReportTableEnum.INDEX" class="h-full">
            {{ rowIndex + 1 }}
          </div>
          <!-- domain -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.DOMAIN"
            class="group h-full relative">
            {{ data.websiteId }}-{{ data.domain }}
          </div>
          <!-- all click -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.ALL_CLICK"
            class="h-full">
            <div>{{ data.allClick }}</div>
          </div>
          <!-- true click -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.TRUE_CLICK"
            class="h-full">
            <div>{{ data.trueClick }}</div>
          </div>
          <!-- false click -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.FALSE_CLICK"
            class="h-full">
            <div>{{ data.falseClick }}</div>
          </div>
          <!-- false click percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.FALSE_CLICK_PERCENT"
            class="h-full">
            <div>{{ data.falseClick / data.allClick | toPercentage }}</div>
          </div>
          <!-- real time -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.REAL_TIME"
            class="h-full">
            <div>{{ data.realTime }}</div>
          </div>
          <!-- real time percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.REAL_TIME_PERCENT"
            class="h-full">
            <div>{{ data.realTime / data.allClick | toPercentage }}</div>
          </div>
          <!-- click rate -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLICK_RATE"
            class="h-full">
            <div>{{ data.clickRate }}</div>
          </div>
          <!-- click rate percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLICK_RATE_PERCENT"
            class="h-full">
            <div>{{ data.clickRate / data.allClick | toPercentage }}</div>
          </div>
          <!-- ip -->
          <div *ngSwitchCase="fraudClickReportTableEnum.IP" class="h-full">
            <div>{{ data.ip }}</div>
          </div>
          <!-- ip percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.IP_PERCENT"
            class="h-full">
            <div>{{ data.ip / data.allClick | toPercentage }}</div>
          </div>
          <!-- double click -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.DOUBLE_CLICK"
            class="h-full">
            <div>{{ data.doubleClick }}</div>
          </div>
          <!-- double click percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.DOUBLE_CLICK_PERCENT"
            class="h-full">
            <div>{{ data.doubleClick / data.allClick | toPercentage }}</div>
          </div>
          <!-- client create -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLIENT_CREATE"
            class="h-full">
            <div>{{ data.clientCreate }}</div>
          </div>
          <!-- client create percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLIENT_CREATE_PERCENT"
            class="h-full">
            <div>{{ data.clientCreate / data.allClick | toPercentage }}</div>
          </div>
          <!-- out of time span -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.OUT_OF_TIMESPAN"
            class="h-full">
            <div>{{ data.outOfTimeSpan }}</div>
          </div>
          <!-- out of time span percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.OUT_OF_TIMESPAN_PERCENT"
            class="h-full">
            <div>{{ data.outOfTimeSpan / data.allClick | toPercentage }}</div>
          </div>
          <!-- vnprovince not config -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.VNPROVINCE_NOT_CONFIG"
            class="h-full">
            <div>{{ data.vnProvinceNotConfig }}</div>
          </div>
          <!-- vnprovince not config percent -->
          <div
            *ngSwitchCase="
              fraudClickReportTableEnum.VNPROVINCE_NOT_CONFIG_PERCENT
            "
            class="h-full">
            <div>
              {{ data.vnProvinceNotConfig / data.allClick | toPercentage }}
            </div>
          </div>
          <!-- max ctr -->
          <div *ngSwitchCase="fraudClickReportTableEnum.MAX_CTR" class="h-full">
            <div>{{ data.maxCtr }}</div>
          </div>
          <!-- max ctr percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.MAX_CTR_PERCENT"
            class="h-full">
            <div>{{ data.maxCtr / data.allClick | toPercentage }}</div>
          </div>
          <!-- country -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.COUNTRY_NOT_CONFIG"
            class="h-full">
            <div>{{ data.countryNotConfig }}</div>
          </div>
          <!-- country percent -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.COUNTRY_NOT_CONFIG_PERCENT"
            class="h-full">
            <div>
              {{ data.countryNotConfig / data.allClick | toPercentage }}
            </div>
          </div>
          <!-- percent cut novanet -->
          <div
            *ngSwitchCase="fraudClickReportTableEnum.PERCENT_CUT_NOVANET"
            class="h-full">
            <div>{{ data.percentCutNovanet }}</div>
          </div>
          <!-- percent cut novanet percent -->
          <div
            *ngSwitchCase="
              fraudClickReportTableEnum.PERCENT_CUT_NOVANET_PERCENT
            "
            class="h-full">
            <div>
              {{ data.percentCutNovanet / data.allClick | toPercentage }}
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #summaryTemplate let-colId="colId">
        <ng-container [ngSwitch]="colId">
          <div
            *ngSwitchCase="fraudClickReportTableEnum.INDEX"
            class="font-bold">
            Tổng
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.ALL_CLICK"
            class="font-bold">
            {{ (reportSummary$ | async)?.allClick }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.TRUE_CLICK"
            class="font-bold">
            {{ (reportSummary$ | async)?.trueClick }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.FALSE_CLICK"
            class="font-bold">
            {{ (reportSummary$ | async)?.falseClick }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.REAL_TIME"
            class="font-bold">
            {{ (reportSummary$ | async)?.realTime }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLICK_RATE"
            class="font-bold">
            {{ (reportSummary$ | async)?.clickRate }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.DOUBLE_CLICK"
            class="font-bold">
            {{ (reportSummary$ | async)?.doubleClick }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.CLIENT_CREATE"
            class="font-bold">
            {{ (reportSummary$ | async)?.clientCreate }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.OUT_OF_TIMESPAN"
            class="font-bold">
            {{ (reportSummary$ | async)?.outOfTimeSpan }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.VNPROVINCE_NOT_CONFIG"
            class="font-bold">
            {{ (reportSummary$ | async)?.vnProvinceNotConfig }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.MAX_CTR"
            class="font-bold">
            {{ (reportSummary$ | async)?.maxCtr }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.COUNTRY_NOT_CONFIG"
            class="font-bold">
            {{ (reportSummary$ | async)?.countryNotConfig }}
          </div>
          <div
            *ngSwitchCase="fraudClickReportTableEnum.PERCENT_CUT_NOVANET"
            class="font-bold">
            {{ (reportSummary$ | async)?.percentCutNovanet }}
          </div>
        </ng-container>
      </ng-template>
    </novanet-data-table>
  </div>
</div>
