<div *ngIf="!isEditing" class="flex justify-between items-center group">
  <div class="after:content-['.'] after:invisible">
    {{ publisher[fieldName] }}
  </div>
  <svg-icon
    (click)="setEditing()"
    className="cursor-pointer hidden group-hover:block"
    name="edit-pencil"
    size="20"></svg-icon>
</div>
<div *ngIf="isEditing" class="flex justify-between items-center">
  <nz-space nzDirection="vertical" class="w-full">
    <nz-input-group
      *nzSpaceItem
      [nzPrefix]="prefixTemplateClock"
      class="focus:ring-main focus:border-main block w-full mr-[5px] sm:text-sm rounded-md flex flex-row-reverse">
      <input
        [disabled]="isLoadingEditable[publisher.id]"
        [(ngModel)]="fieldEditing"
        class="border-gray-300 text-[0.875rem]"
        type="text"
        nz-input />
    </nz-input-group>
  </nz-space>
  <ng-template #prefixTemplateClock
    ><span
      *ngIf="isLoadingEditable[publisher.id]"
      nz-icon
      nzType="loading"
      nzTheme="outline"></span
  ></ng-template>
  <a
    nz-button
    nzType="text"
    [disabled]="isLoadingEditable[publisher.id]"
    (click)="cancelEditing()"
    class="text-[#828282] font-medium p-0 mr-3 ml-[10px]"
    >Hủy</a
  >
  <a
    nz-button
    nzType="text"
    [disabled]="isLoadingEditable[publisher.id]"
    (click)="saveEditing()"
    class="text-[#0061c1] font-medium p-0"
    >Lưu</a
  >
</div>
