<div *ngIf="!serverSearch" class="relative">
  <nz-select
    (nzScrollToBottom)="scrollToBottom()"
    [(ngModel)]="value"
    [disabled]="disabled"
    [nzDropdownRender]="nzDropdownRender"
    [nzMaxTagCount]="maxTag"
    [nzMaxTagPlaceholder]="maxTagPlaceholder ? tagPlaceHolder : null"
    [nzMode]="nzMode"
    [nzNotFoundContent]="nzNotFoundContent"
    [nzOptions]="nzOptions"
    [nzPlaceHolder]="placeholder"
    ngClass="{{ inputClass }} {{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} border font-medium rounded-md novanet-select-input">
  </nz-select>
  <div *ngIf="hasError" class="text-red-600 error-message absolute px-[8px] bottom-[-24px] text-[12px]">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
  <ng-template #tagPlaceHolder let-selectedList>{{ selectedList.length }} {{maxTagText}}</ng-template>
</div>

<div *ngIf="serverSearch" class="relative">
  <nz-select
    (nzOnSearch)="onSearch($event)"
    (nzScrollToBottom)="scrollToBottom()"
    [(ngModel)]="value"
    [disabled]="disabled"
    [nzDropdownRender]="nzDropdownRender"
    [nzMaxTagCount]="maxTag"
    [nzMaxTagPlaceholder]="maxTagPlaceholder ? tagPlaceHolder : null"
    [nzMode]="nzMode"
    [nzNotFoundContent]="nzNotFoundContent"
    [nzOptions]="nzOptions"
    [nzPlaceHolder]="placeholder"
    ngClass="{{ inputClass }} {{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} border rounded-md novanet-select-input"
    nzAllowClear
    nzServerSearch
    nzShowSearch>
  </nz-select>
  <div *ngIf="hasError" class="text-red-600 error-message absolute px-[8px] bottom-[-24px] text-[12px]">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
  <ng-template #tagPlaceHolder let-selectedList>{{ selectedList.length }} {{maxTagText}}</ng-template>
</div>
