:host ::ng-deep .novanet-select-input {
  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: rgb(209, 213, 219);
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      border-color: #0061c1;
      box-shadow: none;
    }
  }

  &.ant-select .ant-select-selector {
    min-height: 38px;
    border-radius: 0.375rem;

    .ant-select-selection-placeholder {
      line-height: 38px;
    }
  }

  &.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 38px;
  }

  &.ant-select-multiple .ant-select-selection-item-remove > .anticon {
    vertical-align: 0;
  }

  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }
}
