﻿body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#collapse-banner {
  padding: 12px 8px;
  transition: height 0.2s ease-in-out;
  flex-direction: column;
}

#collapse-banner:hover .content {
  display: none;
}

.outside-area {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.bg-image {
  background: #00000080;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  background-size: cover;
  border-radius: 8px;
}

.bg-text-collapse {
  display: flex;
}

.bg-text-extend {
  transition: all 0.5s;
  margin-top: 12px;
}

.logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.text {
  color: white;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 270px;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 10px;
}

.content-expand {
  font-size: 10px;
  color: #FFFFFF;
  line-height: 12px;
  white-space: pre-wrap;
}

.slider {
  margin-top: 15px;
  height: 200px;
  overflow: auto;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 300px;
  height: 200px;
}

.cta-wrapper {
  align-self: flex-end;
  -webkit-align-self: flex-end;
  justify-content: flex-end;
  margin-top: 8px;
  position: relative;
  z-index: 1000000;
}

.cta-button {
  align-items: center;
  justify-content: center;
  height: 27px;
  background: #00000066;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  display: flex;
}

.cta-button span {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding: 0 12px;
}

#button-close {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 8px;
  width: 24px;
  height: 24px;
  z-index: 1000000001;
  background: #00000066;
  border-radius: 50%;
}

#close {
  width: 27px;
  height: 8px;
  opacity: 1;
}
#close:hover {
  opacity: 1;
}
#close:before, #close:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #FFFFFF;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

#help-container {
  margin-top: 2px;
  background-color: white;
  height: 21px;
  border-radius: 0 0 4px 4px;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
}

.help-text {
  display: inline-block;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  margin-right: 6px;
  vertical-align: top;
}

.help-chevron-down {
  padding-bottom: 3px;
}
