<div
  (@showHide.done)="
    $event.element.style.display = $event.toState === 'show' ? 'block' : 'none'
  "
  (@showHide.start)="$event.element.style.display = 'block'"
  [@showHide]="dropdownDisplayed ? 'show' : 'hidden'"
  class="absolute top-[56px] right-7 z-[20000000]">
  <div class="user-bar-dropdown shadow-lg bg-white p-4">
    <div class="flex flex-col items-center pb-4">
      <novanet-user-avatar [size]="60" [src]="avatar"></novanet-user-avatar>
      <span
        class="text-lg overflow-hidden whitespace-nowrap text-ellipsis w-[220px] text-center font-semibold pt-2"
        >{{ user.fullname }}</span
      >
    </div>
    <div class="bg-[rgba(0,97,193,.05)] rounded-md w-full p-2 text-center mb-4">
      <div class="text-gray3 text-[12px]">Ngân sách còn lại (VND)</div>
      <div class="text-main text-[16px] font-bold">
        {{ (currentUser$ | async)?.amount | toCurrency }}
      </div>
    </div>
    <div>
      <!--      <a class="pb-4 flex items-center user-bar-item">-->
      <!--        <svg-icon class="pr-4" name="user" size="20"></svg-icon>-->
      <!--        <span>Thông tin tài khoản</span>-->
      <!--      </a>-->
      <!--      <a class="pb-4 flex items-center user-bar-item">-->
      <!--        <svg-icon class="pr-4" name="suitcase" size="20"></svg-icon>-->
      <!--        <span>Thông tin doanh nghiệp</span>-->
      <!--      </a>-->
      <!--      <a class="pb-4 flex items-center user-bar-item">-->
      <!--        <svg-icon class="pr-4" name="onreport-management" size="20"></svg-icon>-->
      <!--        <span>Quản lý OnReport</span>-->
      <!--      </a>-->
      <!--      <a class="pb-4 flex items-center user-bar-item">-->
      <!--        <svg-icon class="pr-4" name="credit-card" size="20"></svg-icon>-->
      <!--        <span>Quản lý tài chính</span>-->
      <!--      </a>-->
      <!--      <div-->
      <!--        class="w-full mb-4"-->
      <!--        style="height: 1px; background-color: #f2f2f2"></div>-->
      <!--      <a class="pb-4 flex items-center user-bar-item">-->
      <!--        <svg-icon class="pr-4" name="settings" size="20"></svg-icon>-->
      <!--        <span>Cài đặt</span>-->
      <!--      </a>-->
      <a (click)="onLogout()" class="flex items-center user-bar-item">
        <svg-icon class="pr-4" name="log-out" size="20"></svg-icon>
        <span>Đăng xuất</span>
      </a>
    </div>
  </div>
</div>
