<form [formGroup]="createForm">
  <div class="text-[16px] font-medium mb-3">
    {{ formType === 'add' ? 'Tạo vùng quảng cáo' : 'Sửa vùng quảng cáo' }}
  </div>
  <div
    class="bg-white flex flex-col overflow-y-auto relative"
    style="height: calc(100vh - 148px)">
    <div *ngIf="isLoading" class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
      <div class="w-full bg-[#828282] opacity-30"></div>
      <div class="absolute top-1/2 left-1/2">
        <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
      </div>
    </div>

    <div class="pt-4 px-4 flex gap-x-[16px]">
      <div class="flex-1">
        <div class="text-gray3 mb-2">Website domain</div>
        <novanet-dropdown
          (getNextBatch)="loadMoreWebsites()"
          (search)="onSearchWebsite($event)"
          [allowClear]="true"
          [disabled]="formType === 'edit'"
          [errorMessages]="createFormFieldErrors.websiteId"
          [formControlName]="createFormFields.websiteId.name"
          [options]="websites$ | websiteOptions: 'Admin' | async"
          [serverSearch]="true"
          [showSearch]="true"
          containerClass="h-[40px] w-full"
          label="label"
          placeholder="Website domain"
          valueKey="value"
        ></novanet-dropdown>
      </div>
      <div class="flex-1"></div>
    </div>

    <div class="pt-[24px] px-4">
      <div class="text-gray3 mb-2">Tên vùng quảng cáo</div>
      <div class="flex items-center mb-1 gap-x-[16px]">
        <novanet-text-input
          [errorMessages]="createFormFieldErrors.name"
          [formControlName]="createFormFields.name.name"
          ngClass="flex-1"
          placeholder="Tên vùng quảng cáo"
        ></novanet-text-input>
        <div class="flex-1"></div>
      </div>
    </div>

    <div class="pt-[24px] px-4">
      <div class="text-gray3 mb-2">Kích thước quảng cáo</div>
      <div class="flex items-center mb-1 gap-x-[16px]">
        <novanet-dropdown
          [containerClass]="'h-[40px] w-full'"
          [errorMessages]="createFormFieldErrors.size"
          [formControlName]="createFormFields.size.name"
          [options]="templateSizes$ | async"
          label="label"
          ngClass="flex-1"
          placeholder="Kích thước quảng cáo"
          valueKey="value"
        ></novanet-dropdown>
        <div class="flex-1"></div>
      </div>
    </div>

    <div *ngIf="createForm.get(createFormFields.size.name).value" class="pt-[24px] px-4">
      <div class="flex">
        <div class="text-gray3 mb-[10px]">Chọn định dạng</div>
        <div *ngIf="createForm.get(createFormFields.templateTypes.name).touched" class="ml-[6px]">
          <ng-container *ngIf="createForm.get(createFormFields.templateTypes.name).getError('required')">
            <span class="text-[#EB5757] text-[12px]">Chọn tối thiểu 1 định dạng</span>
          </ng-container>
        </div>
      </div>

      <div class="ml-[16px]">
        <p class="text-[#4F4F4F] leading-[17px] font-[500] mb-[8px]" *ngIf="hasAnyTemplate(campaignType.Ecommerce)">Ecommerce</p>
        <div class="flex">
          <div *ngFor="let template of (groupedTemplates$ | async)![createForm.get(createFormFields.size.name).value]"
               class="flex items-center mb-[4px] mr-[60px]">
            <div *ngIf="campaignType.Ecommerce===template.campaignType" class="flex items-center">
              <input (change)="toggleTemplateType($event, template.templateType)"
                     [checked]="isTemplateTypeChecked(template.templateType)"
                     class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                     id="template{{template.templateType}}"
                     type="checkbox"
              />
              <label class="capitalize ml-2 block" for="template{{template.templateType}}">{{ template.name }}</label>
            </div>
          </div>
        </div>
        <p class="text-[#4F4F4F] leading-[17px] font-[500] mb-[8px]" *ngIf="hasAnyTemplate(campaignType.Display)">Display ads</p>
        <div class="flex">
          <div *ngFor="let template of (groupedTemplates$ | async)![createForm.get(createFormFields.size.name).value]"
               class="flex items-center mb-[4px]">
            <div *ngIf="campaignType.Display===template.campaignType" class="flex items-center">
              <input (change)="toggleTemplateType($event, template.templateType)"
                     [checked]="isTemplateTypeChecked(template.templateType)"
                     class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                     id="template{{template.templateType}}"
                     type="checkbox"
              />
              <label class="capitalize ml-2 block" for="template{{template.templateType}}">{{ template.name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row mt-[23px] px-4">
      <novanet-switch-input
        [checkedTemplate]="checkedTemplate"
        [errorMessages]="createFormFieldErrors.usingBackup"
        [formControlName]="createFormFields.usingBackup.name"
        [unCheckedTemplate]="unCheckedTemplate">
        <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
        <ng-template #unCheckedTemplate
        ><i class="fal fa-times"></i
        ></ng-template>
      </novanet-switch-input>
      <span class="pl-[8px]">Quảng cáo dự phòng</span>
    </div>

    <div *ngIf="createForm.get(createFormFields.usingBackup.name).value">
      <div class="pt-[24px] px-4">
        <div class="text-gray3 mb-2">Loại quảng cáo</div>
        <div class="flex items-center mb-1 gap-x-[16px]">
          <novanet-dropdown
            [containerClass]="'h-[40px] w-full'"
            [errorMessages]="createFormFieldErrors.backupType"
            [formControlName]="createFormFields.backupType.name"
            [options]="zoneBackupTypeOptions"
            label="label"
            ngClass="flex-1"
            placeholder="Loại quảng cáo"
            valueKey="value"
          ></novanet-dropdown>
          <div class="flex-1"></div>
        </div>
      </div>

      <div *ngIf="createForm.get(createFormFields.backupType.name).value === zoneBackupType.BACKUP_CODE">
        <div class="pt-[24px] px-4">
          <div class="text-gray3 mb-2">Mã quảng cáo</div>
          <div class="flex items-center mb-1 gap-x-[16px]">
            <novanet-textarea-input
              [containerClass]="'w-full'"
              [errorMessages]="createFormFieldErrors.backupCode"
              [formControlName]="createFormFields.backupCode.name"
              [maxRows]="3"
              [minRows]="3"
              ngClass="flex-1"
            ></novanet-textarea-input>
            <div class="flex-1"></div>
          </div>
        </div>
      </div>
      <div *ngIf="createForm.get(createFormFields.backupType.name).value === zoneBackupType.BACKUP_FILE">
        <div class="pt-[24px] px-4">
          <div class="text-gray3 mb-2">URL đích <span class="text-[12px]">(Không bắt buộc)</span></div>
          <div class="flex items-center mb-1 gap-x-[16px]">
            <novanet-text-input
              [containerClass]="'w-full h-[40px]'"
              [errorMessages]="createFormFieldErrors.redirectLink"
              [formControlName]="createFormFields.redirectLink.name"
              ngClass="flex-1"
              placeholder="Nhập URL đích"
            ></novanet-text-input>
            <div class="flex-1"></div>
          </div>
        </div>

        <div class="pt-[24px] px-4">
          <div class="text-gray3">Upload file</div>
          <div class="flex items-center mb-1 gap-x-[16px]">
            <div
              class="relative text-[#0061C1] inline-block pb-[12px] flex flex-col mt-[4px]">
              <ng-container *ngIf="!backUpFileToUpload && !backUpNameFile">
                <div class="flex flex-row">
                  <button
                    class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
                    <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
                    <span class="text-[14px]">Tải lên</span>
                  </button>
                  <input
                    (change)="handleZoneBackUpInput($event.target['files'])"
                    accept="image/*,.html"
                    class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer w-[100px] h-[40px]"
                    name="myImage"
                    type="file"/>
                  <div
                    *ngIf="createForm.get(createFormFields.backupFile.name).touched && !createForm.get(createFormFields.backupFile.name).value"
                    class="flex items-center ml-[16px] text-[12px] text-[#EB5757]  font-medium">
                    Chưa tải
                  </div>
                </div>
              </ng-container>
              <p class="text-[#BDBDBD] text-[12px]">
                Định dạng: .jpeg .png .html5, dung lượng tối đa 500KB
              </p>
              <div
                *ngIf="backUpFileToUpload && backUpNameFile"
                class="border-b-2 border-solid {{ messageError ? 'border-[rgba(235,87,87,1)]' : 'border-[#F2F2F2]' }} flex items-center max-w-[170px]">
                <svg-icon [height]="20" [width]="20" name="file-icon"></svg-icon>
                <span
                  class="mr-1 whitespace-nowrap text-ellipsis overflow-hidden"
                >{{ backUpNameFile }}</span
                >
                <i
                  (click)="clearZoneBackUpFile('zoneBackUpFile')"
                  class="fal fa-times text-[20px] cursor-pointer"></i>
              </div>
              <div
                *ngIf="messageError"
                class="flex items-center mt-[4px]">
                <p class="text-[#EB5757] text-[12px] font-medium">{{ messageError }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 my-[24px]">
      <button
        (click)="submitForm()"
        class="w-[200px] text-center whitespace-nowrap items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
        type="button">
        {{ formType === 'add' ? 'Hoàn tất' : 'Cập nhật' }}
      </button>
    </div>
  </div>
</form>
