<ng-container [ngSwitch]="typeExpandableList">
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="data.length && data.length <= collapsedLength">
      <ul class="list-disc pl-[18px]">
        <li *ngFor="let item of data">{{ item }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="data.length && data.length > collapsedLength">
      <ng-container *ngIf="!isExpanded">
        <ul class="list-disc pl-[18px]">
          <li *ngFor="let item of data.slice(0, collapsedLength)">{{ item }}</li>
        </ul>
        <div (click)="expand()" class="cursor-pointer font-medium text-[#0061C1]">
          Xem thêm
        </div>
      </ng-container>
      <ng-container *ngIf="isExpanded">
        <ul class="list-disc pl-[18px]">
          <li *ngFor="let item of data">{{ item }}</li>
        </ul>
        <div (click)="collapse()" class="cursor-pointer font-medium text-[#0061C1]">
          Ẩn bớt
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="typeExpandable.POPUP">
    <ng-container *ngIf="data.length && data.length <= collapsedLength">
      <ul class="list-disc pl-[18px]">
        <li *ngFor="let item of data">{{ item }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="data.length && data.length > collapsedLength">
      <ng-container *ngIf="!isExpanded">
        <ul class="list-disc pl-[18px]">
          <li *ngFor="let item of data.slice(0, collapsedLength)">{{ item }}</li>
        </ul>
        <div (click)="showPopup()" class="cursor-pointer font-medium text-[#0061C1]">
          Xem thêm
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<nz-modal
  (nzOnCancel)="cancelModal()"
  [(nzVisible)]="isShowModal"
  [nzCloseIcon]="null"
  [nzContent]="modalPopup"
  [nzFooter]="null"
  [nzTitle]="null"
  [nzWidth]="400"
  [nzCancelDisabled]="true"
  [nzClosable]="true"
  nzClassName="modal-popup-update modal-popup">
  <ng-template #modalPopup>
    <div
      class="h-[35px] border-b-[1px] border-[#F2F2F2] text-[#001F4C] pl-[18px] pt-[3px] font-[500]">
      {{ typeTileModal }}
    </div>
    <div
      class="h-[210px] overflow-auto">
      <div
        *ngFor="let item of data"
        class="h-[34px] font-[500] text-[#4F4F4F] flex items-center justify-between border-b-[1px] border-[#F2F2F2] ml-[16px] mr-[16px] w-auto whitespace-nowrap "
        style="min-width: fit-content">
        <p class="">{{ item }}</p>
      </div>
    </div>
  </ng-template>
</nz-modal>