<div [ngSwitch]="inputType" class="relative">
  <nz-date-picker
    #novanetSingleDatepicker
    (ngModelChange)="onModelChange($event)"
    *ngSwitchCase="'single'"
    [disabled]="disabled"
    [ngModel]="value"
    [nzDisabledDate]="disabledDate"
    [nzFormat]="format"
    [nzPlaceHolder]="placeholderDateTime"
    [nzRenderExtraFooter]="nzRenderExtraFooter"
    [nzShowToday]="nzShowToday"
    ngClass="{{
      ngClass
    }} h-[40px] rounded-md {{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} hover:border-gray-300 novanet-date-picker"></nz-date-picker>
  <nz-range-picker
    #novanetDatepicker
    (ngModelChange)="onModelChange($event)"
    (nzOnCalendarChange)="change($event)"
    (nzOnOpenChange)="onOpen($event)"
    *ngSwitchCase="'range'"
    [ngModelOptions]="ngModelOptions ? {standalone: true} : {}"
    [ngModel]="value"
    [nzDisabledDate]="disabledDate"
    [nzFormat]="format"
    [nzPlaceHolder]="placeholderDateTime"
    [nzPopupStyle]="{ background: 'white', 'padding-top': '48px' }"
    [nzRenderExtraFooter]="footer"
    [nzShowToday]="nzShowToday"
    ngClass="{{ hasError ? 'border-[#EB5757]' : 'border-gray-300' }} h-[40px] w-[268px] rounded-md"
    nzDropdownClassName="novanet-date-picker-dropdown">
  </nz-range-picker>
  <div *ngIf="hasError" class="text-red-600 error-message mb-[8px] mt-[4px] px-[8px] absolute">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
  <ng-template #footer>
    <div class="options rounded-tl-[4px] rounded-bl-[4px] border-[1px] border-solid">
      <div class="flex items-center w-full h-[40px] border-b-[1px] border-solid pl-[10px] font-medium">
        <span>Tùy chỉnh</span>
      </div>
      <ng-container *ngFor="let option of options; let index = index">
        <div (click)="setDateValue(option.value, option)"
             [class.background]="option.active"
             class="h-[29.5px] cursor-pointer pl-[10px] flex items-center">
          <span>{{option.title}}</span>
        </div>
      </ng-container>
    </div>
    <div class="absolute rounded-tr-[4px] top-[7px] grid grid-cols-2 right-0  items-center w-full bg-main h-[40px]">
      <div class="text-[#ffffff] text-[14px] flex justify-center items-center h-[18px] border-solid border-r-[1px]">
        Ngày bắt đầu
      </div>
      <div class="text-[#ffffff] text-[14px] flex justify-center items-center h-[18px]">
        Ngày kết thúc
      </div>
      <div class="absolute top-[32px] z-50 date-range">
        <nz-date-picker (ngModelChange)="onValueChange($event, 'start_date')"
                        [ngModel]="value[0]"
                        [nzShowToday]="false"
                        nzInline></nz-date-picker>
        <nz-date-picker (ngModelChange)="onValueChange($event, 'end_date')"
                        [ngModel]="value[1]"
                        [nzShowToday]="false"
                        nzInline></nz-date-picker>
      </div>
    </div>
    <div
      class="p-[6px] pr-[12px] absolute bottom-[-42px] right-0 z-[10000] flex justify-end bg-white w-full">
      <div *ngIf="validValue === false && validValue !== undefined" class="text-[red] absolute left-[20px]">
        Ngày bắt đầu không được lớn hơn ngày kết thúc
      </div>
      <div (click)="cancelDatePicker()" class="text-gray3 cursor-pointer font-semibold mr-[20px]">Hủy</div>
      <div (click)="applyDatePicker()" class="text-main cursor-pointer font-semibold">Áp dụng</div>
    </div>
  </ng-template>
</div>