.novanet-date-picker {
  &.ant-picker-focused {
    border-color: #0061c1 !important;
    box-shadow: none;
  }
}

::ng-deep .date-range {
  .ant-picker-panel-container {
    box-shadow: none;
  }

  .ant-picker-content th {
    font-weight: 500;
  }

  .ant-picker-cell .ant-picker-cell-inner {
    min-width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 2px;
    font-weight: 500;
  }

  .ant-picker-next-icon {
    color: #000000;
  }

  .ant-picker-super-next-icon {
    color: #000000;
  }

  .ant-picker-prev-icon {
    color: #000000;
  }

  .ant-picker-super-prev-icon {
    color: #000000;
  }

  .ant-picker-cell-in-view {
    font-weight: 500;
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background: #0061C1;
  }
}

.options {
  position: absolute !important;
  top: 7px;
  background: white;
  left: -187px;
  padding-bottom: 54px;
  z-index: 1000000;
  width: 187px;
}

.background {
  background: #0061c126;
  font-weight: 500;
}

.ant-picker-active-bar {
  border-radius: 4px !important;
  height: 3.5px !important;
}

::ng-deep .novanet-single-detail-dropdown {
  .ant-picker-today-btn {
    display: none !important;
  }
}
