@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.BannerCardViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/flying-carpet/styles/flying-carpet.css"/>
    <style>
        body {
            overflow: hidden;
        }
        .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .flying-carpet {
            z-index: 2;
        }
        .flying-carpet-wrapper {
            max-width: unset;
            text-align: center;
            display: flex;
            padding: 0 6px;
            flex-wrap: wrap;
        }
        .flying-carpet-slide {
            box-sizing: border-box;
            width: calc(50% - 12px);
            height: 216px;
            text-align: initial;
            position: relative;
            max-width: unset;
            margin: 6px;
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            font-size: 12px;
        }
        .description {
            padding: 4px 0;
        }
        .detail-price {
            position: absolute;
            bottom: 0;
        }
        .flying-carpet-slide img {
            object-fit: contain;
        }
        .logo-icon {
            cursor: pointer;
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
        }
        .close-icon {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            padding: 8px;
            width: @(Model.CloseSize)px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body style="background: url('@Model.BackgroundImageUrl') 0% 0% / auto 100vh no-repeat">
<a href="https://novanet.vn/" target="_blank">
    @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
    {
        <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
    }
</a>
<img src="@Model.WebsiteRootUrl/assets/images/icons/close.svg" alt="close" class="close-icon" onclick="nvnClose()"/>
<div id="container" style="cursor: pointer;">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <div class="flying-carpet myflying-carpet">
        <div class="flying-carpet-wrapper">
            @foreach (var product in Model.Products)
            {
                <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="flying-carpet-slide wrapbox auto">
                    <div class="relative">
                        <img alt="" src="@product.ImageLink"/>
                        @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                        {
                            <div class="absolute trapezoid-down">
                                <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                            </div>
                        }
                        @if (Model.ShowFreeDelivery)
                        {
                            <div class="absolute trapezoid-up"></div>
                            <span class="absolute free-delivery-text">FREESHIP</span>
                        }
                    </div>
                    <div class="description">
                        @if (Model.ProductName)
                        {
                            <div class="title">
                                @product.Name
                            </div>
                        }
                        <div class="detail-price">
                            @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                            {
                                <span class="price">@(product.DiscountedPrice)đ</span>
                                <span class="promotion">@(product.Price)đ</span>
                            }
                            else
                            {
                                <span class="price">@(product.Price)đ</span>
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.parent.postMessage({
            message: 'novanet-init-flying-carpet',
            zoneId: @Model.ZoneId
        }, '*');
        
        Array.from(document.getElementsByTagName('img')).forEach((element) => {
            element.addEventListener('error', () => {
                window.parent.postMessage({
                    message: 'novanet-init-backup',
                    zoneId: @Model.ZoneId,
                    code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
                }, '*');
            });
        });
    });
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'flying-carpet-banner'
        }, '*');
    }
    setTimeout(() => {
        const windowHeight = window.innerHeight;
        const productsHeight = windowHeight - 200;
        if (windowHeight < 670) {
          document.getElementsByClassName('flying-carpet')[0].style.top = 200 + "px";
          document.getElementsByClassName('flying-carpet')[0].style.bottom = 0 ;  
          for (let i = 0; i < 4; i++) {
              const productElement = document.getElementsByClassName('flying-carpet-slide')[i];
              const productHeight = 190;
              productElement.style.height = productHeight + 'px';
              productElement.getElementsByTagName('img')[0].style.height = '135px';
          }
        } else {
          document.getElementsByClassName('flying-carpet')[0].style.top = 245 + 'px' ; 
        }
    }, 200)
    
</script>
</html>