::ng-deep{
    .download{
        border-radius: 8px !important;
        padding: 16px 0px 16px 16px;
        width: 343px;
        .fill{
            background: linear-gradient(45deg,rgba(255,255,255,0.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,transparent 75%,transparent);
            animation: move 3s linear infinite; 
            background-size: 6px;
        }
        @keyframes move {
            100%{
                background-position: 40px 0px;
            }
        }
    }
    nz-notification-container{
        .ant-notification-bottomRight{
            bottom: 0px !important;
        }
    }
    .ModalCancel{
        .ant-modal-body{
            padding: 15px 32px 0px 32px !important;
        }
        .ant-modal-close{
            display: none;
        }
        .ant-modal-footer{
            border-top: 0;
            text-align: center;
            padding: 15px 0px ;
        }
        .ant-modal-content{
            border-radius: 8px;
            height: 144px;
            width: 514px;
        }
        button{
            border: 0px;
            width: 95px;
            height: 31px;
            border-radius: 4px;
            background: #F2F2F2 !important;
            color: #828282 !important;
        }
        .ant-modal-footer{
            .ant-btn-primary{
                background: #EB5757 !important;
                color: #FFFFFF !important;
                width: 144px !important;
            }
        }
    }
}
::ng-deep{
    .ant-notification-bottomRight{
        z-index: 999;
    }
}