<ng-template let-data="data" >
  <ng-container [ngSwitch]="data.type">
    <div *ngSwitchCase="globalNotificationEnum.download" >
      <div class="flex w-auto">
        <svg-icon
          [height]="28"
          [width]="28"
          name="google-sheet-icon"></svg-icon>
        <div class="pl-[4px]">
          <p class="text-[#0061C1] text-[12px]">{{ data.label }}</p>
          <div
            class="relative bg-[#0061C1] w-[207px] h-[6px] rounded-[8px] mt-[3px]">
            <div class="fill rounded-[8px] w-full h-full bg-[#0061C1]"></div>
          </div>
        </div>
        <button
          nz-button
          class="rounded-[16px] w-[60px] h-[24px] ml-[8px] border-[#BDBDBD] border-solid border-[1px]"
          (click)="showCancelModal()">
          Hủy
        </button>
        <nz-modal
          [(nzVisible)]="isVisibleMiddle"
          nzCentered
          (nzOnCancel)="handleCancelModal()"
          (nzOnOk)="handleOkModal()"
          [nzCancelText]="'Đóng'"
          [nzOkText]="'Hủy tải xuống'"
          [nzClassName]="'ModalCancel'"
          [nzWrapClassName]="'ModalContentCancel'">
          <ng-container *nzModalContent>
            <div class="text-center font-['Inter'] font-[600] not-italic">
              <p class="text-[14px] text-[#EB5757] pb-[7px]">Cảnh Báo</p>
              <p class="text-[12px] text-[#4F4F4F]">
                Báo cáo này đang được tải xuống!
              </p>
              <p class="text-[12px] text-[#4F4F4F]">
                Bạn có muốn huỷ quá trình tải xuống không?
              </p>
            </div>
          </ng-container>
        </nz-modal>
      </div>
      <div>
        <p class="text-[#828282] text-[10px] pt-[8px] whitespace-pre-line">
          {{ data.description }}
        </p>
      </div>
    </div>
    <div *ngSwitchCase="globalNotificationEnum.resultdownload">
      <div [ngSwitch]="data.status" class="flex w-auto rounded-[8px]">
        <div *ngSwitchCase="statusDownload.error" class="contents">
          <svg-icon
            [height]="28"
            [width]="28"
            name="error-download-icon"></svg-icon>
          <div class="flex items-center">
            <p class="text-center pl-[8px] text-[#EB5757]">{{ data.label }}</p>
          </div>
          <div class="m-auto mr-[44px]">
            <button
              nz-button (click)="downloadAgain()"
              class="rounded-[16px] w-[60px] h-[24px] ml-[8px] border-[#0061C1] border-solid border-[1px] text-[#0061C1]">
              Tải lại
            </button>
          </div>
        </div>
        <div *ngSwitchCase="statusDownload.success" class="contents">
          <img
            [height]="28"
            [width]="28"
            src="/assets/images/icons/done-icon.svg" />
          <div class="flex items-center">
            <p class="text-center pl-[8px] text-[#0061C1]">{{ data.label }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-flow-col-dense grid-cols-8" *ngSwitchDefault>
      <div [ngSwitch]="data.type">
        <i
          *ngSwitchCase="globalNotificationEnum.success"
          class="fas fa-check-circle text-[#219653] text-[24px]"></i>
        <i
          *ngSwitchCase="globalNotificationEnum.warning"
          class="fas fa-exclamation-triangle text-[#f2994a] text-[24px]"></i>
        <i
          *ngSwitchCase="globalNotificationEnum.info"
          class="fas fa-info-circle text-[#9b51e0] text-[24px]"></i>
        <svg-icon
                *ngSwitchCase="globalNotificationEnum.error"
                class="bg-white text-[24px] w-[28px] h-[28px] "
                name="error-notification-icon"></svg-icon>
      </div>
      <div class="col-span-7 text-[#001F4C] font-medium text-[14px] max-w-[280px]">
        <div>
          {{ data.label }}
        </div>
        <div>
          {{ data.description }}
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
