<div
  class="grid grid-cols-[72px_repeat(8,minmax(0,3fr))_1rem_0.5rem_1fr] border-solid border-[#F2F2F2]">
  <!-- title row -->
  <div></div>
  <ng-container *ngFor="let hour of hours; let i = index">
    <div *ngIf="i % 3 === 0" class="pb-4">
      {{ formatHour(hour) }}
    </div>
  </ng-container>
  <div class="col-span-3 text-right">Cả ngày</div>

  <!-- item rows -->
  <ng-container *ngFor="let dayOfWeek of dayOfWeeks">
    <div class="self-center">{{ dayOfWeek.label }}</div>
    <ng-container *ngFor="let hour of hours; let i = index">
      <div
        *ngIf="i % 3 === 0"
        [class.border-l]="i === 0"
        [class.border-t]="dayOfWeek.value === dayOfWeeksEnum.Monday"
        class="grid grid-cols-3 gap-2 p-2 border-b border-r border-solid border-[#F2F2F2]">
        <div
          (click)="onSchedulingsChange(dayOfWeek.value, hour)"
          class="{{
            (schedulingItems | isScheduleSelected: dayOfWeek.value:hour)
              ? 'bg-main'
              : 'bg-[#F2F2F2]'
          }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
        <div
          (click)="onSchedulingsChange(dayOfWeek.value, hour + 1)"
          class="{{
            (schedulingItems | isScheduleSelected: dayOfWeek.value:hour + 1)
              ? 'bg-main'
              : 'bg-[#F2F2F2]'
          }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
        <div
          (click)="onSchedulingsChange(dayOfWeek.value, hour + 2)"
          class="{{
            (schedulingItems | isScheduleSelected: dayOfWeek.value:hour + 2)
              ? 'bg-main'
              : 'bg-[#F2F2F2]'
          }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
      </div>
    </ng-container>
    <div></div>
    <div
      [class.border-b]="dayOfWeek.value === dayOfWeeksEnum.Sunday"
      class="p-2 border-t last:border-b border-x border-solid border-[#F2F2F2] col-span-2">
      <div
        (click)="onSchedulingsAllDayChange(dayOfWeek.value)"
        class="{{
          (schedulingItems | isScheduleAllDaySelected: dayOfWeek.value)
            ? 'bg-main'
            : 'bg-[#F2F2F2]'
        }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
    </div>
  </ng-container>

  <!-- all week row -->
  <div class="self-center mt-4">Cả tuần</div>
  <ng-container *ngFor="let hour of hours; let i = index">
    <div
      *ngIf="i % 3 === 0"
      [class.border-r]="hour === 21"
      class="grid grid-cols-3 gap-2 p-2 border-y border-l border-solid border-[#F2F2F2] mt-4">
      <div
        (click)="onSchedulingsAllWeekChange(hour)"
        class="{{
          (schedulingItems | isScheduleAllWeekSelected: hour)
            ? 'bg-main'
            : 'bg-[#F2F2F2]'
        }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
      <div
        (click)="onSchedulingsAllWeekChange(hour + 1)"
        class="{{
          (schedulingItems | isScheduleAllWeekSelected: hour + 1)
            ? 'bg-main'
            : 'bg-[#F2F2F2]'
        }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
      <div
        (click)="onSchedulingsAllWeekChange(hour + 2)"
        class="{{
          (schedulingItems | isScheduleAllWeekSelected: hour + 2)
            ? 'bg-main'
            : 'bg-[#F2F2F2]'
        }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
    </div>
  </ng-container>
  <div></div>
  <div class="p-2 border border-solid border-[#F2F2F2] mt-4 col-span-2">
    <div
      (click)="onSchedulingsAllChange()"
      class="{{
        (schedulingItems | isScheduleAllSelected) ? 'bg-main' : 'bg-[#F2F2F2]'
      }} w-full h-[32px] hover:border-2 hover:border-solid hover:border-main cursor-pointer rounded-[2px] transition-all"></div>
  </div>
</div>
