.navbar-item-title {
  width: calc(100% - 16px);
}

.navbar-item {
  font-size: 12px;
  transition: padding 300ms ease-in-out, transform 100ms ease-in-out;

  &.selected {
    background: linear-gradient(88.07deg, #0061c1 0%, #0080ff 100%);
  }

  &.expanded {
    padding-top: 11px;
    padding-bottom: 11px;

    &:hover {
      font-weight: 600;
      transform: translateX(4px);
    }
  }
}

a:hover {
  color: #242424;
}
