<div
  (click)="onNavItemClick($event, navItem.id)"
  *ngIf="!hasSubItems"
  class="w-full relative nav-item-wrapper">
  <a
    [class.expanded]="isExpanded"
    [class.selected]="isExpanded ? isSelected : isParentSelected"
    [routerLink]="navItem.link"
    class="navbar-item flex p-2 rounded hover:bg-sky-500/5 cursor-pointer relative {{
      isSelected ? 'text-white' : ''
    }}">
    <i *ngIf="navItem.iconType === 'font-awesome'"
       [ngStyle]="{ 'color': (isExpanded ? isSelected : isParentSelected) ? navbarIconSelectedColor : navbarIconDefaultColor }"
       class="{{ navItem.iconName }} text-[16px]"></i>
    <svg-icon
      *ngIf="navItem.iconType !== 'font-awesome'"
      [fill]="
        navItem.iconType === 'stroke'
          ? 'transparent'
          : isSelected
          ? navbarIconSelectedColor
          : navbarIconDefaultColor
      "
      [name]="navItem.iconName"
      [stroke]="
        navItem.iconType !== 'stroke'
          ? null
          : isSelected
          ? navbarIconSelectedColor
          : navbarIconDefaultColor
      ">
    </svg-icon>
    <div
      (@fade.done)="
        $event.element.style.display =
          $event.toState === 'open' ? 'flex' : 'none'
      "
      (@fade.start)="$event.element.style.display = 'flex'"
      [@fade]="isExpanded ? 'open' : 'closed'"
      class="navbar-item-title items-center whitespace-nowrap">
      <span class="block pl-2 grow">{{ navItem.title }}</span>
    </div>
  </a>
</div>
<div
  (click)="toggleSubMenuOpened($event)"
  *ngIf="hasSubItems"
  class="w-full relative nav-item-wrapper">
  <div
    [class.expanded]="isExpanded"
    [class.selected]="isExpanded ? isSelected : isParentSelected"
    [nzDisabled]="isExpanded"
    [nzDropdownMenu]="menu"
    [nzOverlayStyle]="{ marginTop: '-36px', marginLeft: '42px' }"
    class="navbar-item flex p-2 rounded hover:bg-sky-500/5 cursor-pointer relative"
    nz-dropdown
    nzPlacement="bottomRight">
    <i *ngIf="navItem.iconType === 'font-awesome'"
       [ngStyle]="{ 'color': (isExpanded ? isSelected : isParentSelected) ? navbarIconSelectedColor : navbarIconDefaultColor }"
       class="{{ navItem.iconName }} text-[16px]"></i>
    <svg-icon
      *ngIf="navItem.iconType !== 'font-awesome'"
      [fill]="
        navItem.iconType === 'stroke'
          ? 'transparent'
          : (isExpanded ? isSelected : isParentSelected)
          ? navbarIconSelectedColor
          : navbarIconDefaultColor
      "
      [name]="navItem.iconName"
      [stroke]="
        navItem.iconType !== 'stroke'
          ? null
          : (isExpanded ? isSelected : isParentSelected)
          ? navbarIconSelectedColor
          : navbarIconDefaultColor
      ">
    </svg-icon>
    <div
      (@fade.done)="
        $event.element.style.display =
          $event.toState === 'open' ? 'flex' : 'none'
      "
      (@fade.start)="$event.element.style.display = 'flex'"
      [@fade]="isExpanded ? 'open' : 'closed'"
      class="navbar-item-title items-center whitespace-nowrap">
      <span class="block pl-2 grow">{{ navItem.title }}</span>
      <span>
        <svg-icon
          [name]="isSubMenuOpened ? 'chevron-up' : 'chevron-down'"
          size="10"></svg-icon>
      </span>
    </div>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul class="ml-[10px]" nz-menu>
        <ng-container *ngFor="let subItem of navItem.subItems">
          <li
            *ngIf="subItem.policy | checkPolicy: policies"
            class="navbar-item relative py-2"
            nz-menu-item>
            <a [routerLink]="subItem.link" class="flex items-center grow">
              <svg-icon
                [fill]="
                  subItem.iconType === 'stroke'
                    ? 'transparent'
                    : isSelected
                    ? navbarIconSelectedColor
                    : navbarIconDefaultColor
                "
                [name]="subItem.iconName"
                [stroke]="
                  subItem.iconType !== 'stroke'
                    ? null
                    : isSelected
                    ? navbarIconSelectedColor
                    : navbarIconDefaultColor
                ">
              </svg-icon>
              <span class="pl-2">{{ subItem.title }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </div>
  <ng-container *ngIf="isExpanded">
    <div
      (@slide.done)="
        $event.element.style.display =
          $event.toState === 'open' ? 'block' : 'none'
      "
      (@slide.start)="$event.element.style.display = 'block'"
      [@slide]="isSubMenuOpened ? 'open' : 'closed'"
    >
      <ng-container *ngFor="let subNavItem of navItem.subItems">
        <novanet-navbar-item
          (itemSelected)="onChildNavItemClick($event)"
          *ngIf="subNavItem.policy | checkPolicy: policies"
          [isExpanded]="isExpanded"
          [navItem]="subNavItem"
          [selectedItem]="selectedItem">
        </novanet-navbar-item>
      </ng-container>
    </div>
  </ng-container>
</div>
