html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Inter', sans-serif;

  .ant-tooltip-inner {
    display: flex !important;
    align-items: center !important;
  }
}

.novanet-date-picker-dropdown {
  .ant-picker-decade-panel .ant-picker-content,
  .ant-picker-month-panel .ant-picker-content,
  .ant-picker-quarter-panel .ant-picker-content,
  .ant-picker-year-panel .ant-picker-content {
    height: 228px !important;
  }
}
