/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0061c133;
  border-radius: 10px;
}
