@model NovanetCore.Business.BusinessAdvertisingViewModel.DefaultViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@Model.ClientId</title>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <style>
        @if (!Model.IsBackUp)
        {
            <text>
                body {
                    margin: 0;
                    overflow: hidden;
                }
            </text>
        }
        .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .close-icon {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
            width: @(Model.CloseSize)px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body style="background: url('@Model.WebsiteRootUrl/assets/default-banner/@Model.BackgroundImageUrl?v=@DateTimeOffset.Now.ToHexCode()') 0% 0% / cover no-repeat">
<img src="@Model.WebsiteRootUrl/assets/images/icons/close.svg" alt="close" class="close-icon" onclick="nvnClose()"/>
<a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.parent.postMessage({
            message: 'novanet-init-default',
            zoneId: @Model.ZoneId,
            templateType: @(Model.TemplateType is not null ? (int)Model.TemplateType : "undefined"),
            clientId: '@Model.ClientId',
        }, '*');
    });
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
        }, '*');
    }
</script>
</html>