<div [ngClass]="containerClass">
  <div class="relative">
    <nz-switch
      [(ngModel)]="value"
      [disabled]="disabled"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
  </div>
  <div *ngIf="hasError" class="text-red-600">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
        }}</span>
      </ng-container>
    </ng-container>
  </div>
</div>
