<form [formGroup]="createForm">
  <div class="text-[16px] font-medium mb-3">
    {{ formType === 'add' ? 'Tạo' : 'Chỉnh sửa' }} chiến dịch
  </div>
  <div
      class="bg-white flex flex-col overflow-y-auto"
      style="height: calc(100vh - 148px)">
    <div class="p-4">
      <div class="text-gray3 mb-2">Tên chiến dịch</div>
      <novanet-text-input
          [errorMessages]="createFormFieldErrors.name"
          [formControlName]="createFormFields.name.name"
          placeholder="Tên chiến dịch"></novanet-text-input>
    </div>
    <div>
      <section class="border-b border-gray-200 pl-[16px] mt-[5px] mb-[16px]">
        <nav aria-label="Tabs" class="-mb-px flex space-x-8">
          <ng-container *ngIf="formType !== 'edit' || createForm.controls.campaignType.value === campaignTypeOption.Ecommerce">
            <a (click)="onChangeCampaignType(campaignTypeOption.Ecommerce)"
               [ngClass]="currentCampaignType === campaignTypeOption.Ecommerce ? 'activated' : ''"
               class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-[10px] px-1 border-b-2 font-medium text-sm">
              Ecommerce
            </a>
          </ng-container>
          <ng-container *ngIf="formType === 'edit' && createForm.controls.campaignType.value !== campaignTypeOption.Ecommerce">
            <a disabled="true"
               class="border-transparent text-gray-300 whitespace-nowrap pb-[10px] px-1 border-b-2 font-medium text-sm">
              Ecommerce
            </a>
          </ng-container>

          <ng-container *ngIf="formType !== 'edit' || createForm.controls.campaignType.value === campaignTypeOption.Display">
            <a (click)="onChangeCampaignType(campaignTypeOption.Display)"
               [ngClass]="currentCampaignType === campaignTypeOption.Display ? 'activated' : ''"
               class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-[10px] px-1 border-b-2 font-medium text-sm">
              Display ads
            </a>
          </ng-container>
          <ng-container *ngIf="formType === 'edit' && createForm.controls.campaignType.value !== campaignTypeOption.Display">
            <a disabled="true"
               class="border-transparent text-gray-300 whitespace-nowrap pb-[10px] px-1 border-b-2 font-medium text-sm">
              Display ads
            </a>
          </ng-container>

          <a disabled="true"
             aria-current="page"
             nz-tooltip
             nzTooltipOverlayClassName="text-[10px]"
             nzTooltipTitle="Tính năng chưa hoàn thiện bạn vui lòng chờ version tiếp theo"
             class="border-transparent text-gray-300 hover:text-gray-300 whitespace-nowrap pb-[10px] px-1 border-b-2 font-medium text-sm">
            Native ads
          </a>
        </nav>
      </section>
      <novanet-campaign-add-ecommerce
          *ngIf="createForm"
          [(schedulingItems)]="schedulingItems"
          [currentCampaign]="currentCampaign"
          [formFieldErrors]="createFormFieldErrors"
          [formFields]="createFormFields"
          [formType]="formType">
      </novanet-campaign-add-ecommerce>
    </div>
    <div class="px-4 my-4">
      <button
          (click)="onClickSubmit()"
          class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
          type="button">
        {{ formType === 'add' ? 'Tạo nhóm quảng cáo' : 'Hoàn tất' }}
      </button>
    </div>
  </div>
</form>

<ng-template #nativeAdsTitleTemplate>
  <div
      nz-tooltip
      nzTooltipOverlayClassName="text-[10px]"
      nzTooltipTitle="Tính năng chưa hoàn thiện bạn vui lòng chờ version tiếp theo">
    Native ads
  </div>
</ng-template>

<nz-modal
    (nzOnCancel)="handleCancelSubmit()"
    [(nzVisible)]="isConfirmSubmitVisible"
    [nzCloseIcon]="null"
    [nzContent]="modalContent"
    [nzFooter]="null"
    [nzTitle]="null"
    nzClassName="rounded-lg">
  <ng-template #modalContent>
    <div class="text-center">
      <div class="mb-4 text-[14px] font-medium">
        Bạn xác nhận thay đổi thông tin chiến dịch, điều này có thể ảnh hưởng
        đến phân phối quảng cáo?
      </div>
      <div>
        <button
            (click)="handleCancelSubmit()"
            class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Hủy
        </button>
        <button
            (click)="confirmSubmit()"
            class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md shadow-sm text-white bg-main hover:bg-main-dark focus:outline-none">
          Xác nhận
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
