<div class="login mx-auto w-full max-w-lg my-44">
  <div class="overflow-hidden">
    <h2 class="mt-6 text-[24px] text-[#0061C1] font-medium">
      Chào mừng đến với Novanet
    </h2>
    <p class="mt-2 text-sm text-gray-600">
      Bạn vui lòng đăng nhập tài khoản để bắt đầu <br />
      sử dụng sản phẩm
    </p>
  </div>
  <div class="mt-8">
    <div class="mt-6">
      <form
        *ngIf="loginForm"
        [formGroup]="loginForm"
        class="space-y-6"
        method="POST">
        <div>
          <label class="block text-sm font-medium text-gray-700" for="email">
            Tài khoản
          </label>
          <div class="mt-1">
            <novanet-text-input
              [errorMessages]="loginMemberFormFieldErrors['email']"
              [formControlName]="loginMemberFormFields['email'].name"
              [placeholder]="'Email'"
              [required]="
                loginMemberFormFields['email'].validationParams.required
              "
              id="email"></novanet-text-input>
          </div>
        </div>
        <div class="space-y-1">
          <label class="block text-sm font-medium text-gray-700" for="password">
            Mật khẩu
          </label>
          <div class="mt-1">
            <novanet-text-input
              [errorMessages]="loginMemberFormFieldErrors['password']"
              [formControlName]="loginMemberFormFields['password'].name"
              [inputType]="inputTypeEnum.PASSWORD"
              [placeholder]="'Mật khẩu'"
              [required]="
                loginMemberFormFields['password'].validationParams.required
              "
              id="password"></novanet-text-input>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center"></div>
        </div>
        <div>
          <button
            (click)="onSubmitLoginForm()"
            class="h-[40px] cursor-pointer w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#0061C1] hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            type="submit">
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
