:host ::ng-deep .product-group-attribute-table {
  > section
  > .ant-table-wrapper
  > .ant-spin-nested-loading
  > .ant-spin-container
  > .ant-table
  > .ant-table-container {
    height: 400px;

    .ant-table-body {
      max-height: 360px !important;
    }
  }
}
