<section class="p-[16px] bg-[#fff] rounded-[8px]">
  <section class="grid grid-flow-col-dense grid-cols-2 mb-[16px]">
    <div class="mr-[8px]">
      <div
        *ngIf="productGroupForm"
        [formGroup]="productGroupForm"
        class="inline-block relative w-full">
        <div class="mb-[20px]">
          <label class="block text-sm font-normal text-[#828282]">
            Tên nhóm sản phẩm
          </label>
          <div class="mt-1">
            <novanet-text-input
              [containerClass]="'min-h-[40px] w-full'"
              [errorMessages]="
                createProductGroupFormFieldErrors['productGroupName']
              "
              [formControlName]="
                productGroupFormFields['productGroupName'].name
              "
              [required]="true"
              placeholder="Tên nhóm sản phẩm"></novanet-text-input>
          </div>
        </div>
        <div class="mb-[24px]">
          <div class="grid grid-cols-2">
            <label class="block text-sm font-normal text-[#828282]">
              Nguồn dữ liệu
            </label>
            <label *ngIf="productFeedId.value" class="flex text-main text-[12px] font-medium justify-end">
              <a [routerLink]="['/product-feed', productFeedId.value]" target="_blank">Xem nguồn</a>
            </label>
          </div>
          <div class="mt-1">
            <novanet-dropdown
              (getNextBatch)="getNextProductFeedsBatch($event)"
              [containerClass]="'h-[40px] w-full'"
              [errorMessages]="createProductGroupFormFieldErrors['productFeed']"
              [formControlName]="productGroupFormFields['productFeed'].name"
              [isLoading]="$loadingProductFeedsStatus | async"
              [options]="productFeedsResponse"
              [pageSize]="pageSize"
              label="name"
              placeholder="Nguồn dữ liệu"
              valueKey="id">
            </novanet-dropdown>
          </div>
        </div>
        <div class="mb-[4px]">
          <label class="block text-sm font-normal text-[#828282]">
            Phân loại theo
          </label>
          <div class="mt-1">
            <novanet-dropdown
              (getNextBatch)="getNextAttributeValuesBatch($event)"
              [containerClass]="'h-[40px] w-full'"
              [errorMessages]="
                createProductGroupFormFieldErrors['productAttribute']
              "
              [formControlName]="
                productGroupFormFields['productAttribute'].name
              "
              [isLoading]="$loadingStatusProductAttributes | async"
              [options]="productAttributesResponse"
              [pageSize]="pageSize"
              label="name"
              placeholder="Phân loại theo"
              valueKey="id">
            </novanet-dropdown>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-[24px] grid grid-flow-col-dense grid-cols-2">
    <div class="mr-[8px] rounded-[8px] border border-gray-300">
      <novanet-data-table
        #sourceProductTypeTable
        (nextPage)="nextBatch($event)"
        *ngIf="settings"
        [columns]="columns"
        [footerTemplate]="footerTemplate"
        [itemTemplate]="itemTemplate"
        [listOfData]="productsResponse"
        [loading]="$loadingStatus | async"
        [ngClass]="'product-group-attribute-table'"
        [settings]="settings"
        [titleTemplate]="titleTemplate">
        <ng-template #titleTemplate></ng-template>

        <ng-template
          #itemTemplate
          let-colId="colId"
          let-product="row"
          let-rowIndex="rowIndex">
          <ng-container [ngSwitch]="colId">
            <!-- index -->
            <div *ngSwitchCase="ProductManagementColumnEnum.INDEX">
              {{ rowIndex + 1 }}
            </div>

            <!-- PRODUCT_TYPE -->
            <div *ngSwitchCase="ProductManagementColumnEnum.PRODUCT_TYPE" class="h-[35px]">
              <div *ngIf="!product.enableChangeValue" class="relative w-[300px] truncate">
                <span>{{ product.productAttributeValue }}</span>
              </div>
            </div>

            <!-- AMOUNT -->
            <div *ngSwitchCase="ProductManagementColumnEnum.AMOUNT">
              <span>{{ product.amount }}</span>
            </div>

            <!-- CHOOSE -->
            <div *ngSwitchCase="ProductManagementColumnEnum.CHOOSE">
              <i
                (click)="onAddProductType(product)"
                class="far fa-plus-circle cursor-pointer text-[#219653]"></i>
            </div>
          </ng-container>

          <ng-template #runningAdGroupTemplate let-runningAdGroupData="data">
            <div *ngFor="let data of runningAdGroupData">
              {{ data }}
            </div>
          </ng-template>
        </ng-template>

        <ng-template #footerTemplate>
          <nz-table>
            <thead>
            <tr *ngIf="settings.header">
              <th
                *ngIf="settings.checkbox"
                [nzWidth]="'50px'"
                class="p-[8px]"
                nzLeft></th>
              <ng-container *ngFor="let col of columns">
                <th
                  *ngIf="col.id !== 0"
                  [nzAlign]="col.align"
                  [nzLeft]="!!col.pinLeft"
                  [nzRight]="!!col.pinRight"
                  [nzWidth]="col.id !== 1 ? col.width : '70%'"
                  class="p-[8px]">
                    <span class="text-[#001F4C] text-[14px] font-medium">
                      <ng-container [ngSwitch]="col.id">
                        <span
                          *ngSwitchCase="
                            ProductManagementColumnEnum.PRODUCT_TYPE
                          "
                          class="text-[#4F4F4F]">
                          Số loại sản phẩm:
                          <span class="text-[#0061c1]">
                            {{ remainProducts }}
                          </span>
                        </span>
                        <span
                          *ngSwitchCase="ProductManagementColumnEnum.AMOUNT"
                          class="text-[#4F4F4F]">
                          {{
                          productsResponse
                            | SumColumn: 'amount'
                            | number: '1.0-0'
                          }}
                        </span>
                        <span
                          *ngSwitchCase="ProductManagementColumnEnum.CHOOSE">
                          <i
                            (click)="onAddAllCurrentProductType()"
                            *ngIf="productsResponse.length"
                            class="far fa-plus-circle cursor-pointer text-[#219653]"></i>
                        </span>
                      </ng-container>
                    </span>
                </th>
              </ng-container>
            </tr>
            </thead>
          </nz-table>
        </ng-template>
      </novanet-data-table>
    </div>
    <div class="ml-[8px] rounded-[8px] border border-gray-300">
      <novanet-data-table
        #targetProductTypeTable
        *ngIf="settings"
        [columns]="columns"
        [footerTemplate]="footerTemplate"
        [itemTemplate]="itemTemplate"
        [listOfData]="selectedProductAttributes"
        [ngClass]="'product-group-attribute-table'"
        [settings]="settings"
        [titleTemplate]="titleTemplate">
        <ng-template #titleTemplate></ng-template>

        <ng-template
          #itemTemplate
          let-colId="colId"
          let-product="row"
          let-rowIndex="rowIndex">
          <ng-container [ngSwitch]="colId">
            <!-- index -->
            <div *ngSwitchCase="ProductManagementColumnEnum.INDEX">
              {{ rowIndex + 1 }}
            </div>

            <!-- PRODUCT_TYPE -->
            <div *ngSwitchCase="ProductManagementColumnEnum.PRODUCT_TYPE" class="h-[35px]">
              <div class="relative w-[300px] truncate">
                <span>{{ product.productAttributeValue }}</span>
              </div>
            </div>

            <!-- AMOUNT -->
            <div *ngSwitchCase="ProductManagementColumnEnum.AMOUNT">
              {{ product.amount }}
            </div>

            <!-- CHOOSE -->
            <div *ngSwitchCase="ProductManagementColumnEnum.CHOOSE">
              <i
                (click)="onRemoveProductType(product)"
                class="far fa-minus-circle cursor-pointer text-[#EB5757]"></i>
            </div>
          </ng-container>

          <ng-template #runningAdGroupTemplate let-runningAdGroupData="data">
            <div *ngFor="let data of runningAdGroupData">
              {{ data }}
            </div>
          </ng-template>
        </ng-template>

        <ng-template #footerTemplate>
          <nz-table>
            <thead>
            <tr *ngIf="settings.header">
              <th
                *ngIf="settings.checkbox"
                [nzWidth]="'50px'"
                class="p-[8px]"
                nzLeft></th>
              <ng-container *ngFor="let col of columns">
                <th
                  *ngIf="col.id !== 0"
                  [nzAlign]="col.align"
                  [nzLeft]="!!col.pinLeft"
                  [nzRight]="!!col.pinRight"
                  [nzWidth]="col.id !== 1 ? col.width : '70%'"
                  class="p-[8px]">
                    <span class="text-[#001F4C] text-[14px] font-medium">
                      <ng-container [ngSwitch]="col.id">
                        <span
                          *ngSwitchCase="
                            ProductManagementColumnEnum.PRODUCT_TYPE
                          "
                          class="text-[#4F4F4F]">
                          Số loại sản phẩm:
                          <span class="text-[#0061c1]">
                            {{ selectedProducts }}
                          </span>
                        </span>
                        <span
                          *ngSwitchCase="ProductManagementColumnEnum.AMOUNT"
                          class="text-[#4F4F4F]">
                          {{
                          selectedProductAttributes
                            | SumColumn: 'amount'
                            | number: '1.0-0'
                          }}
                        </span>
                        <span
                          *ngSwitchCase="ProductManagementColumnEnum.CHOOSE">
                          <i
                            (click)="onRemoveAllProductType()"
                            *ngIf="selectedProductAttributes.length"
                            class="far fa-minus-circle cursor-pointer text-[#EB5757]"></i>
                        </span>
                      </ng-container>
                    </span>
                </th>
              </ng-container>
            </tr>
            </thead>
          </nz-table>
        </ng-template>
      </novanet-data-table>
    </div>
  </section>
  <button
    (click)="onSubmitCreateProductGroup()"
    [routerLink]="['/product-group-management/create-product-group']"
    class="transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark text-[14px] min-h-[40px] w-[184px] border-[#E0E0E0] rounded-[4px] mt-[16px]">
    <span class="text-[#ffffff]">Tạo nhóm</span>
  </button>
</section>
