<svg class="hidden" height="0" width="0" xmlns="http://www.w3.org/2000/svg">
  <symbol id="mini-logo">
    <svg
      fill="none"
      height="29"
      viewBox="0 0 29 29"
      width="29"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.0195 6.98021e-07C11.2467 6.9802e-07 8.53618 0.822229 6.23068 2.36271C3.92518 3.9032 2.1283 6.09277 1.0672 8.6545C0.00608856 11.2162 -0.271564 14.0351 0.269383 16.7546C0.810331 19.4741 2.14553 21.9722 4.1062 23.9329C6.06687 25.8935 8.56493 27.2287 11.2845 27.7697C14.004 28.3106 16.8229 28.033 19.3846 26.9719C21.9463 25.9108 24.1359 24.1139 25.6764 21.8084C27.2169 19.5029 28.0391 16.7924 28.0391 14.0196C28.0396 12.1783 27.6775 10.355 26.9732 8.6538C26.2688 6.95261 25.2361 5.40691 23.9341 4.10496C22.6322 2.80301 21.0864 1.77036 19.3852 1.06602C17.684 0.361674 15.8608 -0.000580408 14.0195 6.98021e-07Z"
        fill="#0061C1"/>
      <path
        d="M20.8621 9.04143C22.0587 9.04143 23.0287 8.11924 23.0287 6.98169C23.0287 5.84413 22.0587 4.922 20.8621 4.922C19.6656 4.922 18.6956 5.84413 18.6956 6.98169C18.6956 8.11924 19.6656 9.04143 20.8621 9.04143Z"
        fill="white"/>
      <path
        d="M9.31587 10.9294C10.824 10.9294 12.0466 9.7671 12.0466 8.33331C12.0466 6.89952 10.824 5.73718 9.31587 5.73718C7.80772 5.73718 6.58521 6.89952 6.58521 8.33331C6.58521 9.7671 7.80772 10.9294 9.31587 10.9294Z"
        fill="white"/>
      <path
        d="M5.81824 17.3446C7.07462 17.3446 8.09313 16.3763 8.09313 15.1818C8.09313 13.9874 7.07462 13.0192 5.81824 13.0192C4.56186 13.0192 3.54346 13.9874 3.54346 15.1818C3.54346 16.3763 4.56186 17.3446 5.81824 17.3446Z"
        fill="white"/>
      <path
        d="M13.4058 23.8711C14.6671 23.8711 15.6897 22.899 15.6897 21.6999C15.6897 20.5007 14.6671 19.5286 13.4058 19.5286C12.1444 19.5286 11.1218 20.5007 11.1218 21.6999C11.1218 22.899 12.1444 23.8711 13.4058 23.8711Z"
        fill="white"/>
      <path
        d="M21.1197 21.2539C22.1218 21.2539 22.9341 20.4816 22.9341 19.5289C22.9341 18.5762 22.1218 17.8038 21.1197 17.8038C20.1176 17.8038 19.3052 18.5762 19.3052 19.5289C19.3052 20.4816 20.1176 21.2539 21.1197 21.2539Z"
        fill="white"/>
      <path
        d="M9.8358 8.03698L9.24561 8.90564L15.6038 12.8102L16.194 11.9415L9.8358 8.03698Z"
        fill="white"/>
      <path
        d="M20.3132 6.8008L18.8608 11.3057L19.8966 11.6075L21.3489 7.10259L20.3132 6.8008Z"
        fill="white"/>
      <path
        d="M15.7483 13.9074C15.747 14.1657 15.7912 14.4225 15.8792 14.6669L14.7869 14.7742L5.877 15.6968L5.76416 14.6712L14.6741 13.7486L15.7708 13.6414C15.7566 13.7294 15.749 13.8183 15.7483 13.9074Z"
        fill="white"/>
      <path
        d="M16.6101 15.6838C16.8879 15.911 17.2144 16.078 17.5669 16.173L16.9891 17.0741L13.8703 21.966L12.9404 21.4382L16.0413 16.5721L16.6101 15.6838Z"
        fill="white"/>
      <path
        d="M21.6114 19.3185L20.6274 19.7476L19.3681 17.1043L18.9167 16.1646C19.2683 16.0627 19.592 15.8883 19.8647 15.6539L20.316 16.6237L21.6114 19.3185Z"
        fill="white"/>
      <path
        d="M20.1221 11.058C19.8123 10.8657 19.4726 10.7209 19.1155 10.6289C18.8206 10.5564 18.5174 10.5189 18.2128 10.5173C17.7195 10.5165 17.2316 10.6143 16.7806 10.8043C16.3296 10.9943 15.9256 11.2723 15.5949 11.6202C15.0366 12.2013 14.7093 12.9495 14.6695 13.7357C14.6652 13.7885 14.6652 13.8416 14.6695 13.8944C14.6716 14.1843 14.7126 14.4727 14.7914 14.7526C14.9879 15.4679 15.4294 16.1005 16.0462 16.5506C16.3298 16.7681 16.6503 16.9379 16.994 17.0527C17.3862 17.1942 17.8022 17.2669 18.2217 17.2672C18.614 17.2684 19.0035 17.2045 19.3727 17.0784C19.7198 16.9686 20.046 16.8063 20.3387 16.5978C20.8069 16.273 21.184 15.844 21.4372 15.3484C21.6904 14.8528 21.8119 14.3057 21.791 13.755C21.77 13.2044 21.6073 12.6671 21.3171 12.1901C21.0269 11.7132 20.6182 11.3112 20.1266 11.0194L20.1221 11.058ZM19.8693 15.6495C19.5966 15.8839 19.2729 16.0582 18.9214 16.1601C18.6924 16.2224 18.4555 16.2541 18.2173 16.2545C17.9978 16.2557 17.779 16.2283 17.5673 16.173C17.2147 16.0779 16.8882 15.911 16.6104 15.6838C16.2764 15.4122 16.0241 15.0613 15.8792 14.6668C15.7912 14.4224 15.747 14.1657 15.7482 13.9073C15.7415 13.8187 15.7415 13.7298 15.7482 13.6413C15.7939 13.2647 15.9349 12.9043 16.1593 12.5909C16.3836 12.2776 16.6847 12.0206 17.0364 11.8422C17.3882 11.6637 17.7804 11.5691 18.1791 11.5664C18.5778 11.5637 18.9712 11.653 19.3257 11.8267C19.6801 12.0004 19.9848 12.2532 20.2138 12.5635C20.4429 12.8738 20.5893 13.2323 20.6405 13.6082C20.6918 13.9841 20.6463 14.3662 20.5081 14.7218C20.3698 15.0773 20.1428 15.3957 19.8467 15.6495H19.8693Z"
        fill="white"/>
    </svg>
  </symbol>
  <symbol id="logo-with-text">
    <svg
      fill="none"
      height="29"
      viewBox="0 0 97 29"
      width="97"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.0195 6.98021e-07C11.2467 6.9802e-07 8.53618 0.822229 6.23068 2.36271C3.92518 3.9032 2.1283 6.09277 1.0672 8.6545C0.00608856 11.2162 -0.271564 14.0351 0.269383 16.7546C0.810331 19.4741 2.14553 21.9722 4.1062 23.9329C6.06687 25.8935 8.56493 27.2287 11.2845 27.7697C14.004 28.3106 16.8229 28.033 19.3846 26.9719C21.9463 25.9108 24.1359 24.1139 25.6764 21.8084C27.2169 19.5029 28.0391 16.7924 28.0391 14.0196C28.0396 12.1783 27.6775 10.355 26.9732 8.6538C26.2688 6.95261 25.2361 5.40691 23.9341 4.10496C22.6322 2.80301 21.0864 1.77036 19.3852 1.06602C17.684 0.361674 15.8608 -0.000580408 14.0195 6.98021e-07Z"
        fill="#0061C1"/>
      <path
        d="M20.8621 9.04137C22.0587 9.04137 23.0287 8.11918 23.0287 6.98163C23.0287 5.84407 22.0587 4.92194 20.8621 4.92194C19.6656 4.92194 18.6956 5.84407 18.6956 6.98163C18.6956 8.11918 19.6656 9.04137 20.8621 9.04137Z"
        fill="white"/>
      <path
        d="M9.31587 10.9294C10.824 10.9294 12.0466 9.7671 12.0466 8.33331C12.0466 6.89952 10.824 5.73718 9.31587 5.73718C7.80772 5.73718 6.58521 6.89952 6.58521 8.33331C6.58521 9.7671 7.80772 10.9294 9.31587 10.9294Z"
        fill="white"/>
      <path
        d="M5.81824 17.3446C7.07462 17.3446 8.09313 16.3763 8.09313 15.1818C8.09313 13.9874 7.07462 13.0192 5.81824 13.0192C4.56186 13.0192 3.54346 13.9874 3.54346 15.1818C3.54346 16.3763 4.56186 17.3446 5.81824 17.3446Z"
        fill="white"/>
      <path
        d="M13.4058 23.8712C14.6671 23.8712 15.6897 22.8991 15.6897 21.6999C15.6897 20.5008 14.6671 19.5286 13.4058 19.5286C12.1444 19.5286 11.1218 20.5008 11.1218 21.6999C11.1218 22.8991 12.1444 23.8712 13.4058 23.8712Z"
        fill="white"/>
      <path
        d="M21.1197 21.2539C22.1218 21.2539 22.9341 20.4816 22.9341 19.5289C22.9341 18.5762 22.1218 17.8039 21.1197 17.8039C20.1176 17.8039 19.3052 18.5762 19.3052 19.5289C19.3052 20.4816 20.1176 21.2539 21.1197 21.2539Z"
        fill="white"/>
      <path
        d="M9.8358 8.03698L9.24561 8.90564L15.6038 12.8102L16.194 11.9415L9.8358 8.03698Z"
        fill="white"/>
      <path
        d="M20.3132 6.80074L18.8608 11.3056L19.8966 11.6074L21.3489 7.10253L20.3132 6.80074Z"
        fill="white"/>
      <path
        d="M15.7483 13.9074C15.747 14.1657 15.7912 14.4225 15.8792 14.6669L14.7869 14.7742L5.877 15.6968L5.76416 14.6712L14.6741 13.7486L15.7708 13.6414C15.7566 13.7294 15.749 13.8183 15.7483 13.9074Z"
        fill="white"/>
      <path
        d="M16.6101 15.6838C16.8879 15.911 17.2144 16.0779 17.5669 16.173L16.9891 17.0741L13.8703 21.9659L12.9404 21.4381L16.0413 16.572L16.6101 15.6838Z"
        fill="white"/>
      <path
        d="M21.6114 19.3185L20.6274 19.7476L19.3681 17.1043L18.9167 16.1645C19.2683 16.0626 19.592 15.8882 19.8647 15.6539L20.316 16.6237L21.6114 19.3185Z"
        fill="white"/>
      <path
        d="M20.1221 11.0581C19.8123 10.8658 19.4726 10.721 19.1155 10.629C18.8206 10.5564 18.5174 10.519 18.2128 10.5174C17.7195 10.5166 17.2316 10.6144 16.7806 10.8043C16.3296 10.9943 15.9256 11.2723 15.5949 11.6202C15.0366 12.2014 14.7093 12.9496 14.6695 13.7357C14.6652 13.7886 14.6652 13.8416 14.6695 13.8945C14.6716 14.1843 14.7126 14.4727 14.7914 14.7527C14.9879 15.4679 15.4294 16.1006 16.0462 16.5507C16.3298 16.7682 16.6503 16.938 16.994 17.0527C17.3862 17.1943 17.8022 17.267 18.2217 17.2673C18.614 17.2685 19.0035 17.2046 19.3727 17.0785C19.7198 16.9687 20.046 16.8064 20.3387 16.5979C20.8069 16.2731 21.184 15.8441 21.4372 15.3485C21.6904 14.8529 21.8119 14.3057 21.791 13.7551C21.77 13.2045 21.6073 12.6671 21.3171 12.1902C21.0269 11.7133 20.6182 11.3113 20.1266 11.0195L20.1221 11.0581ZM19.8693 15.6496C19.5966 15.8839 19.2729 16.0583 18.9214 16.1602C18.6924 16.2224 18.4555 16.2542 18.2173 16.2546C17.9978 16.2558 17.779 16.2284 17.5673 16.1731C17.2147 16.078 16.8882 15.9111 16.6104 15.6839C16.2764 15.4123 16.0241 15.0614 15.8792 14.6669C15.7912 14.4225 15.747 14.1657 15.7482 13.9074C15.7415 13.8188 15.7415 13.7299 15.7482 13.6413C15.7939 13.2647 15.9349 12.9043 16.1593 12.591C16.3836 12.2776 16.6847 12.0207 17.0364 11.8422C17.3882 11.6638 17.7804 11.5691 18.1791 11.5664C18.5778 11.5637 18.9712 11.6531 19.3257 11.8268C19.6801 12.0004 19.9848 12.2532 20.2138 12.5635C20.4429 12.8738 20.5893 13.2323 20.6405 13.6083C20.6918 13.9842 20.6463 14.3663 20.5081 14.7218C20.3698 15.0774 20.1428 15.3958 19.8467 15.6496H19.8693Z"
        fill="white"/>
      <path
        d="M41.3693 7.71591V16.8735H41.3168L34.8333 10.0288V16.7473H33.7651V7.60144H33.8238L40.3072 14.4403V7.71591H41.3693Z"
        fill="#001F4D"/>
      <path
        d="M43.7615 12.2303C43.7584 11.3143 44.0415 10.418 44.5749 9.65511C45.1082 8.89222 45.8678 8.29707 46.7573 7.94505C47.6469 7.59303 48.6263 7.50002 49.5715 7.6778C50.5167 7.85558 51.3851 8.29613 52.0666 8.94365C52.7481 9.59116 53.2121 10.4164 53.3997 11.3149C53.5873 12.2134 53.4901 13.1447 53.1204 13.9905C52.7507 14.8364 52.1251 15.5589 51.323 16.0665C50.5209 16.574 49.5783 16.8437 48.6148 16.8413C47.3304 16.8344 46.1007 16.3465 45.1922 15.4833C44.2837 14.6201 43.7696 13.4513 43.7615 12.2303ZM52.4061 12.2303C52.4079 11.5186 52.1877 10.8223 51.7733 10.2296C51.3589 9.63686 50.769 9.17426 50.0781 8.90029C49.3871 8.62633 48.6263 8.5533 47.8917 8.69044C47.1571 8.82758 46.4818 9.16871 45.9511 9.67073C45.4205 10.1727 45.0584 10.8131 44.9105 11.5108C44.7627 12.2085 44.8357 12.9322 45.1205 13.5904C45.4053 14.2486 45.889 14.8117 46.5104 15.2086C47.1319 15.6054 47.8631 15.8182 48.6117 15.8199C49.6157 15.8184 50.5783 15.4395 51.2897 14.766C52.0011 14.0925 52.4035 13.1788 52.4092 12.2244L52.4061 12.2303Z"
        fill="#001F4D"/>
      <path
        d="M62.9094 7.716L58.5871 16.8501H58.4575L54.166 7.716H55.2991L58.5161 14.6869L61.7455 7.716H62.9094Z"
        fill="#001F4D"/>
      <path
        d="M68.7725 15.2447H63.6074L62.9127 16.7122H61.7581L66.1297 7.57812H66.2471L70.628 16.7122H69.4641L68.7725 15.2447ZM68.3619 14.3641L66.2008 9.73544L64.0397 14.3641H68.3619Z"
        fill="#001F4D"/>
      <path
        d="M80.091 7.71598V16.8736H80.0385L73.555 10.0289V16.7474H72.4868V7.6015H72.5455L79.0289 14.4404V7.71598H80.091Z"
        fill="#001F4D"/>
      <path
        d="M84.0521 8.72567V11.5728H87.9422V12.5883H84.0521V15.7142H88.5411V16.7239H82.9839V7.716H88.5411V8.71395L84.0521 8.72567Z"
        fill="#001F4D"/>
      <path
        d="M97.0002 8.73155H94.2586V16.7239H93.1904V8.73155H90.4365V7.716H97.0002V8.73155Z"
        fill="#001F4D"/>
      <path
        d="M53.8574 23.3837C53.7002 23.3854 53.545 23.349 53.4067 23.278C53.2817 23.2192 53.1752 23.1301 53.0979 23.0197H53.0702V23.3132H52.604V20.2079H53.0979V21.0884L53.0702 21.3966H53.0979C53.175 21.2853 53.2815 21.1952 53.4067 21.1354C53.545 21.0643 53.7002 21.028 53.8574 21.0297C54.0588 21.0277 54.2567 21.0796 54.4286 21.1794C54.5994 21.2827 54.738 21.4276 54.83 21.5991C54.9288 21.7866 54.9786 21.994 54.9751 22.2038C54.9782 22.4144 54.9285 22.6227 54.83 22.8113C54.7387 22.9825 54.5999 23.1266 54.4286 23.2281C54.2574 23.33 54.0594 23.3839 53.8574 23.3837ZM53.7833 22.9552C53.9065 22.9552 54.0274 22.9227 54.1322 22.8612C54.2416 22.7977 54.3312 22.7075 54.3916 22.6C54.4561 22.4791 54.4888 22.3452 54.4872 22.2096C54.4892 22.074 54.4564 21.9401 54.3916 21.8193C54.3312 21.7118 54.2416 21.6216 54.1322 21.558C54.0284 21.4966 53.9086 21.4641 53.7864 21.4641C53.6642 21.4641 53.5444 21.4966 53.4407 21.558C53.3313 21.6216 53.2417 21.7118 53.1813 21.8193C53.1163 21.9401 53.0824 22.0739 53.0824 22.2096C53.0824 22.3454 53.1163 22.4791 53.1813 22.6C53.2417 22.7075 53.3313 22.7977 53.4407 22.8612C53.5436 22.9219 53.6622 22.9545 53.7833 22.9552Z"
        fill="#8A92A6"/>
      <path
        d="M56.0557 23.1929L55.0833 21.1031H55.6327L56.2966 22.6117H56.3213L56.9634 21.1031H57.5191L56.0805 24.2525H55.5586L56.0557 23.1929Z"
        fill="#8A92A6"/>
      <path
        d="M58.9765 20.2108H59.5692L61.045 22.4914H61.0728L61.045 21.9043V20.2225H61.5328V23.3279H61.0142L59.4705 20.9299H59.4427L59.4705 21.5169V23.3161H58.9734L58.9765 20.2108Z"
        fill="#8A92A6"/>
      <path
        d="M64.6199 23.1665C64.3581 23.3088 64.0617 23.3837 63.7601 23.3837C63.4585 23.3837 63.1621 23.3088 62.9002 23.1665C62.6427 23.027 62.4295 22.8243 62.2828 22.5795C62.139 22.3287 62.0637 22.0476 62.0637 21.762C62.0637 21.4764 62.139 21.1954 62.2828 20.9446C62.4307 20.6981 62.6445 20.4932 62.9026 20.3507C63.1607 20.2082 63.4539 20.1331 63.7523 20.1331C64.0508 20.1331 64.344 20.2082 64.6021 20.3507C64.8602 20.4932 65.074 20.6981 65.2219 20.9446C65.3657 21.1954 65.441 21.4764 65.441 21.762C65.441 22.0476 65.3657 22.3287 65.2219 22.5795C65.0789 22.8219 64.8713 23.0244 64.6199 23.1665ZM63.1596 22.7849C63.3432 22.8821 63.5499 22.9331 63.7601 22.9331C63.9703 22.9331 64.1769 22.8821 64.3605 22.7849C64.5407 22.6855 64.6891 22.5415 64.7897 22.3681C64.893 22.1817 64.947 21.9742 64.947 21.7635C64.947 21.5528 64.893 21.3453 64.7897 21.1589C64.69 20.9849 64.5414 20.8406 64.3605 20.7421C64.1769 20.6449 63.9703 20.5939 63.7601 20.5939C63.5499 20.5939 63.3432 20.6449 63.1596 20.7421C62.9803 20.8415 62.8329 20.9856 62.7335 21.1589C62.6302 21.3453 62.5763 21.5528 62.5763 21.7635C62.5763 21.9742 62.6302 22.1817 62.7335 22.3681C62.8348 22.5411 62.983 22.685 63.1627 22.7849H63.1596Z"
        fill="#8A92A6"/>
      <path
        d="M65.5894 20.2108H66.1358L66.8737 22.2653L66.9879 22.6176H67.0157L67.1392 22.2653L67.911 20.2108H68.4575L67.2658 23.3161H66.7471L65.5894 20.2108Z"
        fill="#8A92A6"/>
      <path
        d="M69.5007 20.2108H70.0718L71.3068 23.3161H70.7542L70.4455 22.5178H69.1148L68.8061 23.3161H68.2534L69.5007 20.2108ZM70.2911 22.0746L69.9267 21.1265L69.8033 20.7684H69.7755L69.652 21.1265L69.2877 22.0746H70.2911Z"
        fill="#8A92A6"/>
      <path
        d="M74.0889 23.1665C73.8958 23.2752 73.6819 23.3462 73.4596 23.3755C73.2373 23.4048 73.0111 23.3917 72.7941 23.3371C72.5772 23.2825 72.3739 23.1873 72.196 23.0573C72.0181 22.9272 71.8693 22.7648 71.758 22.5795C71.6123 22.3293 71.5359 22.048 71.5359 21.7621C71.5359 21.4761 71.6123 21.1948 71.758 20.9446C71.9045 20.6997 72.1178 20.4968 72.3755 20.3576C72.6379 20.2153 72.9347 20.1404 73.2368 20.1404C73.5389 20.1404 73.8358 20.2153 74.0982 20.3576C74.3555 20.4973 74.5687 20.7 74.7157 20.9446C74.8613 21.1948 74.9378 21.4761 74.9378 21.7621C74.9378 22.048 74.8613 22.3293 74.7157 22.5795C74.5662 22.8253 74.3496 23.0281 74.0889 23.1665ZM72.6286 22.785C72.8113 22.8832 73.0176 22.9349 73.2275 22.9349C73.4374 22.9349 73.6438 22.8832 73.8265 22.785C74.0067 22.6856 74.155 22.5415 74.2556 22.3682C74.3589 22.1818 74.413 21.9742 74.413 21.7635C74.413 21.5528 74.3589 21.3453 74.2556 21.1589C74.1559 20.9849 74.0074 20.8406 73.8265 20.7421C73.6438 20.6439 73.4374 20.5922 73.2275 20.5922C73.0176 20.5922 72.8113 20.6439 72.6286 20.7421C72.4478 20.8406 72.2992 20.9849 72.1995 21.1589C72.0962 21.3453 72.0422 21.5528 72.0422 21.7635C72.0422 21.9742 72.0962 22.1818 72.1995 22.3682C72.3001 22.5415 72.4484 22.6856 72.6286 22.785Z"
        fill="#8A92A6"/>
      <path
        d="M75.4934 20.2108H76.0892L77.565 22.4914H77.5928L77.565 21.9043V20.2225H78.0621V23.3279H77.5435L75.9998 20.9299H75.9751L75.9998 21.5169V23.3161H75.5027L75.4934 20.2108Z"
        fill="#8A92A6"/>
    </svg>
  </symbol>
  <symbol id="chevron-right">
    <svg
      fill="none"
      height="10"
      viewBox="0 0 6 10"
      width="6"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.756295 9.24383C0.611058 9.09859 0.597855 8.87132 0.716685 8.71117L0.756295 8.66529L4.28502 5.13637L0.756296 1.60746C0.611059 1.46223 0.597856 1.23495 0.716686 1.0748L0.756296 1.02892C0.901532 0.883684 1.1288 0.870481 1.28895 0.98931L1.33484 1.02892L5.15302 4.8471C5.29825 4.99234 5.31146 5.21961 5.19263 5.37976L5.15302 5.42565L1.33484 9.24383C1.17508 9.40359 0.916054 9.40359 0.756295 9.24383Z"
        fill="#001F4C"/>
    </svg>
  </symbol>
  <symbol id="chevron-left">
    <svg
      fill="none"
      height="10"
      viewBox="0 0 6 10"
      width="6"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.24371 0.756111C5.38894 0.901348 5.40215 1.12862 5.28332 1.28877L5.24371 1.33465L1.71498 4.86357L5.24371 8.39248C5.38894 8.53771 5.40214 8.76498 5.28331 8.92514L5.24371 8.97102C5.09847 9.11625 4.8712 9.12946 4.71105 9.01063L4.66516 8.97102L0.846982 5.15284C0.701746 5.0076 0.688542 4.78033 0.807372 4.62018L0.846982 4.57429L4.66516 0.756111C4.82492 0.596351 5.08395 0.596351 5.24371 0.756111Z"
        fill="#001F4C"/>
    </svg>
  </symbol>
  <symbol id="chevron-up">
    <svg
      height="6"
      viewBox="0 0 8 6"
      width="8"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.76517 5.01517C7.63203 5.1483 7.4237 5.1604 7.27689 5.05147L7.23483 5.01516L4 1.7805L0.765163 5.01516C0.63203 5.1483 0.423698 5.1604 0.276892 5.05147L0.234833 5.01516C0.1017 4.88203 0.0895968 4.6737 0.198524 4.52689L0.234833 4.48483L3.73483 0.984835C3.86797 0.851701 4.0763 0.839598 4.22311 0.948526L4.26516 0.984835L7.76517 4.48483C7.91161 4.63128 7.91161 4.86872 7.76517 5.01517Z"/>
    </svg>
  </symbol>
  <symbol id="chevron-down">
    <svg
      height="6"
      viewBox="0 0 8 6"
      width="8"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.234835 0.984835C0.367968 0.851702 0.5763 0.839599 0.723106 0.948526L0.765165 0.984835L4 4.2195L7.23484 0.984835C7.36797 0.851702 7.5763 0.839599 7.72311 0.948526L7.76517 0.984835C7.8983 1.11797 7.9104 1.3263 7.80148 1.47311L7.76517 1.51517L4.26517 5.01516C4.13203 5.1483 3.9237 5.1604 3.7769 5.05147L3.73484 5.01516L0.234835 1.51517C0.0883883 1.36872 0.0883883 1.13128 0.234835 0.984835Z"/>
    </svg>
  </symbol>
  <symbol id="ph-stack">
    <svg
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.4313 10.75C14.4972 10.8645 14.5151 11.0004 14.4811 11.128C14.4472 11.2556 14.3641 11.3647 14.25 11.4313L8.25 14.9313C8.17443 14.9764 8.08804 15.0002 8 15.0002C7.91197 15.0002 7.82558 14.9764 7.75 14.9313L1.75 11.4313C1.64638 11.3598 1.57351 11.252 1.54593 11.1292C1.51834 11.0064 1.53808 10.8777 1.6012 10.7688C1.66432 10.6599 1.76618 10.5789 1.88644 10.5418C2.0067 10.5047 2.13653 10.5143 2.25 10.5688L8 13.9188L13.75 10.5688C13.8645 10.5029 14.0004 10.4849 14.128 10.5189C14.2556 10.5529 14.3647 10.6359 14.4313 10.75ZM13.75 7.56875L8 10.9188L2.25 7.56875C2.13653 7.51433 2.0067 7.50469 1.88644 7.54178C1.76618 7.57886 1.66432 7.65993 1.6012 7.76881C1.53808 7.87769 1.51834 8.00637 1.54593 8.12916C1.57351 8.25195 1.64638 8.35983 1.75 8.43125L7.75 11.9313C7.82558 11.9764 7.91197 12.0002 8 12.0002C8.08804 12.0002 8.17443 11.9764 8.25 11.9313L14.25 8.43125C14.3122 8.40143 14.3675 8.35908 14.4125 8.30685C14.4575 8.25462 14.4913 8.19365 14.5116 8.12776C14.5319 8.06187 14.5384 7.99249 14.5306 7.92398C14.5228 7.85547 14.5009 7.78931 14.4663 7.72966C14.4318 7.67001 14.3852 7.61816 14.3296 7.57736C14.2741 7.53656 14.2106 7.50769 14.1434 7.49258C14.0761 7.47747 14.0064 7.47644 13.9387 7.48954C13.871 7.50265 13.8068 7.52962 13.75 7.56875ZM1.5 5C1.49967 4.9124 1.52265 4.82629 1.56659 4.75051C1.61052 4.67473 1.67382 4.61199 1.75 4.56875L7.75 1.06875C7.82535 1.02294 7.91183 0.998718 8 0.998718C8.08818 0.998718 8.17466 1.02294 8.25 1.06875L14.25 4.56875C14.3252 4.61287 14.3875 4.67587 14.4309 4.75152C14.4742 4.82717 14.497 4.91283 14.497 5C14.497 5.08717 14.4742 5.17283 14.4309 5.24848C14.3875 5.32413 14.3252 5.38714 14.25 5.43125L8.25 8.93125C8.17443 8.9764 8.08804 9.00024 8 9.00024C7.91197 9.00024 7.82558 8.9764 7.75 8.93125L1.75 5.43125C1.67382 5.38801 1.61052 5.32527 1.56659 5.24949C1.52265 5.17371 1.49967 5.0876 1.5 5ZM2.99375 5L8 7.91875L13.0063 5L8 2.08125L2.99375 5Z"/>
    </svg>
  </symbol>
  <symbol id="id-card">
    <svg
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.3333 13.3333H2.66659C2.32412 13.3436 1.99154 13.2177 1.74165 12.9833C1.49176 12.749 1.34491 12.4251 1.33325 12.0827V3.91668C1.34491 3.57431 1.49178 3.25053 1.74169 3.01624C1.9916 2.78195 2.32418 2.65625 2.66659 2.66668H13.3333C13.6757 2.65625 14.0082 2.78195 14.2581 3.01624C14.5081 3.25053 14.6549 3.57431 14.6666 3.91668V12.0833C14.6548 12.4256 14.5078 12.7493 14.258 12.9836C14.0081 13.2178 13.6756 13.3436 13.3333 13.3333ZM2.66659 4.00001V11.9927L13.3333 12V4.00734L2.66659 4.00001ZM8.95325 10.6667H3.99992C4.04894 10.1147 4.31015 9.60329 4.72859 9.24001C5.19447 8.77782 5.82046 8.51282 6.47659 8.50001C7.13259 8.51334 7.75859 8.77801 8.22459 9.24001C8.64291 9.60338 8.9041 10.1148 8.95325 10.6667ZM11.9999 10H9.99992V8.66668H11.9999V10ZM6.47659 8.00001C6.29983 8.00615 6.12371 7.97587 5.95916 7.91103C5.79462 7.8462 5.64517 7.74821 5.52011 7.62315C5.39505 7.49809 5.29706 7.34865 5.23223 7.1841C5.1674 7.01955 5.13711 6.84343 5.14325 6.66668C5.13721 6.48995 5.16756 6.31387 5.23243 6.14937C5.2973 5.98487 5.39529 5.83546 5.52033 5.71042C5.64537 5.58539 5.79478 5.48739 5.95928 5.42252C6.12378 5.35766 6.29986 5.3273 6.47659 5.33334C6.65331 5.3273 6.82939 5.35766 6.99389 5.42252C7.15839 5.48739 7.3078 5.58539 7.43284 5.71042C7.55788 5.83546 7.65587 5.98487 7.72074 6.14937C7.78561 6.31387 7.81596 6.48995 7.80992 6.66668C7.81606 6.84343 7.78577 7.01955 7.72094 7.1841C7.65611 7.34865 7.55812 7.49809 7.43306 7.62315C7.308 7.74821 7.15855 7.8462 6.99401 7.91103C6.82946 7.97587 6.65334 8.00615 6.47659 8.00001ZM11.9999 7.33334H9.33325V6.00001H11.9999V7.33334Z"/>
    </svg>
  </symbol>
  <symbol id="dashboard-icon">
    <svg
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        d="M5.81823 2.54544H2.90914C2.7083 2.54544 2.5455 2.70824 2.5455 2.90907V5.81817C2.5455 6.019 2.7083 6.1818 2.90914 6.1818H5.81823C6.01906 6.1818 6.18186 6.019 6.18186 5.81817V2.90907C6.18186 2.70824 6.01906 2.54544 5.81823 2.54544ZM2.90914 1.45453C2.10581 1.45453 1.45459 2.10575 1.45459 2.90907V5.81817C1.45459 6.62149 2.10581 7.27271 2.90914 7.27271H5.81823C6.62155 7.27271 7.27277 6.62149 7.27277 5.81817V2.90907C7.27277 2.10575 6.62155 1.45453 5.81823 1.45453H2.90914Z"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M5.81823 9.8182H2.90914C2.7083 9.8182 2.5455 9.98101 2.5455 10.1818V13.0909C2.5455 13.2918 2.7083 13.4546 2.90914 13.4546H5.81823C6.01906 13.4546 6.18186 13.2918 6.18186 13.0909V10.1818C6.18186 9.98101 6.01906 9.8182 5.81823 9.8182ZM2.90914 8.72729C2.10581 8.72729 1.45459 9.37852 1.45459 10.1818V13.0909C1.45459 13.8943 2.10581 14.5455 2.90914 14.5455H5.81823C6.62155 14.5455 7.27277 13.8943 7.27277 13.0909V10.1818C7.27277 9.37852 6.62155 8.72729 5.81823 8.72729H2.90914Z"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M13.0909 2.54544H10.1818C9.98101 2.54544 9.8182 2.70824 9.8182 2.90907V5.81817C9.8182 6.019 9.98101 6.1818 10.1818 6.1818H13.0909C13.2918 6.1818 13.4546 6.019 13.4546 5.81817V2.90907C13.4546 2.70824 13.2918 2.54544 13.0909 2.54544ZM10.1818 1.45453C9.37852 1.45453 8.72729 2.10575 8.72729 2.90907V5.81817C8.72729 6.62149 9.37852 7.27271 10.1818 7.27271H13.0909C13.8943 7.27271 14.5455 6.62149 14.5455 5.81817V2.90907C14.5455 2.10575 13.8943 1.45453 13.0909 1.45453H10.1818Z"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M13.0909 9.8182H10.1818C9.98101 9.8182 9.8182 9.98101 9.8182 10.1818V13.0909C9.8182 13.2918 9.98101 13.4546 10.1818 13.4546H13.0909C13.2918 13.4546 13.4546 13.2918 13.4546 13.0909V10.1818C13.4546 9.98101 13.2918 9.8182 13.0909 9.8182ZM10.1818 8.72729C9.37852 8.72729 8.72729 9.37852 8.72729 10.1818V13.0909C8.72729 13.8943 9.37852 14.5455 10.1818 14.5455H13.0909C13.8943 14.5455 14.5455 13.8943 14.5455 13.0909V10.1818C14.5455 9.37852 13.8943 8.72729 13.0909 8.72729H10.1818Z"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="product-box">
    <svg
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        d="M7.70194 0.737038C7.88962 0.643196 8.11054 0.643196 8.29822 0.737038L14.9649 4.07037C15.1907 4.1833 15.3334 4.41414 15.3334 4.66666V11.3333C15.3334 11.5858 15.1907 11.8167 14.9649 11.9296L8.29822 15.2629C8.11054 15.3568 7.88962 15.3568 7.70194 15.2629L1.03527 11.9296C0.809416 11.8167 0.666748 11.5858 0.666748 11.3333V4.66666C0.666748 4.41414 0.809416 4.1833 1.03527 4.07037L7.70194 0.737038ZM2.00008 5.07868V10.9213L8.00008 13.9213L14.0001 10.9213V5.07868L8.00008 2.07868L2.00008 5.07868Z"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M11.9296 2.70186C12.0943 3.03118 11.9608 3.43163 11.6315 3.59629L6.15736 6.33334L7.99998 7.25465L14.3685 4.07039C14.6978 3.90573 15.0983 4.03921 15.2629 4.36853C15.4276 4.69785 15.2941 5.0983 14.9648 5.26296L8.66665 8.41203V14.6667C8.66665 15.0349 8.36817 15.3333 7.99998 15.3333C7.63179 15.3333 7.33332 15.0349 7.33332 14.6667V8.41203L4.37454 6.93264C4.37019 6.93052 4.36586 6.92836 4.36156 6.92615L1.03517 5.26296C0.705855 5.0983 0.572372 4.69785 0.737032 4.36853C0.901691 4.03921 1.30214 3.90573 1.63146 4.07039L4.66665 5.58798L11.0352 2.40372C11.3645 2.23906 11.7649 2.37254 11.9296 2.70186Z"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="dot-outline">
    <svg
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <circle cx="8" cy="8" r="2.5"/>
    </svg>
  </symbol>
  <symbol id="user">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 1.66669C9.17591 1.66669 8.37033 1.91106 7.68512 2.3689C6.99992 2.82674 6.46587 3.47748 6.1505 4.23884C5.83514 5.0002 5.75262 5.83798 5.91339 6.64623C6.07417 7.45448 6.471 8.19691 7.05372 8.77963C7.63644 9.36235 8.37887 9.75919 9.18712 9.91996C9.99538 10.0807 10.8332 9.99822 11.5945 9.68285C12.3559 9.36749 13.0066 8.83343 13.4645 8.14823C13.9223 7.46302 14.1667 6.65744 14.1667 5.83335C14.1667 4.72828 13.7277 3.66848 12.9463 2.88708C12.1649 2.10567 11.1051 1.66669 10 1.66669V1.66669ZM10 8.33335C9.50555 8.33335 9.0222 8.18673 8.61107 7.91203C8.19995 7.63732 7.87952 7.24688 7.6903 6.79006C7.50108 6.33325 7.45157 5.83058 7.54804 5.34563C7.6445 4.86068 7.8826 4.41522 8.23223 4.06559C8.58186 3.71596 9.02732 3.47785 9.51227 3.38139C9.99723 3.28493 10.4999 3.33444 10.9567 3.52365C11.4135 3.71287 11.804 4.03331 12.0787 4.44443C12.3534 4.85555 12.5 5.3389 12.5 5.83335C12.5 6.49639 12.2366 7.13228 11.7678 7.60112C11.2989 8.06996 10.663 8.33335 10 8.33335V8.33335ZM17.5 17.5V16.6667C17.5 15.1196 16.8854 13.6359 15.7915 12.5419C14.6975 11.4479 13.2138 10.8334 11.6667 10.8334H8.33333C6.78624 10.8334 5.30251 11.4479 4.20854 12.5419C3.11458 13.6359 2.5 15.1196 2.5 16.6667V17.5H4.16667V16.6667C4.16667 15.5616 4.60565 14.5018 5.38706 13.7204C6.16846 12.939 7.22826 12.5 8.33333 12.5H11.6667C12.7717 12.5 13.8315 12.939 14.6129 13.7204C15.3943 14.5018 15.8333 15.5616 15.8333 16.6667V17.5H17.5Z"
        fill="#828282"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="suitcase">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.6667 5.00002V3.33335H8.33342V5.00002H11.6667ZM3.33341 6.66669V15.8334H16.6667V6.66669H3.33341ZM16.6667 5.00002C17.5917 5.00002 18.3334 5.74169 18.3334 6.66669V15.8334C18.3334 16.7584 17.5917 17.5 16.6667 17.5H3.33341C2.40841 17.5 1.66675 16.7584 1.66675 15.8334L1.67508 6.66669C1.67508 5.74169 2.40841 5.00002 3.33341 5.00002H6.66675V3.33335C6.66675 2.40835 7.40841 1.66669 8.33342 1.66669H11.6667C12.5917 1.66669 13.3334 2.40835 13.3334 3.33335V5.00002H16.6667Z"
        fill="#828282"/>
    </svg>
  </symbol>
  <symbol id="onreport-management">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 4.97929e-07C8.02218 4.97929e-07 6.08878 0.586488 4.44429 1.6853C2.79979 2.78412 1.5181 4.3459 0.761221 6.17316C0.00434291 8.00042 -0.193704 10.0111 0.192149 11.9509C0.578001 13.8907 1.53039 15.6725 2.92892 17.0711C4.32744 18.4696 6.10929 19.422 8.0491 19.8078C9.98892 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 9.99998C20.0004 8.68665 19.7421 7.38612 19.2397 6.17268C18.7373 4.95923 18.0007 3.85666 17.072 2.92799C16.1433 1.99933 15.0408 1.26276 13.8273 0.76036C12.6139 0.25796 11.3133 -0.000414 10 4.97929e-07Z"
        fill="#0061C1"/>
      <path
        d="M13.6673 3.46997H5.89127C5.07774 3.46997 4.4165 4.13444 4.4165 4.95196V14.9217C4.4165 15.7393 5.07774 16.4037 5.89127 16.4037H13.6673C14.4808 16.4037 15.1421 15.7393 15.1421 14.9217V4.95196C15.1421 4.13444 14.4808 3.46997 13.6673 3.46997ZM9.10894 10.1603V7.50672C10.396 7.70342 11.3881 8.81303 11.3881 10.1603C11.3881 11.6461 10.1853 12.8548 8.70673 12.8548C8.11254 12.8548 7.56821 12.6533 7.1231 12.3229L8.99096 10.4459C9.06658 10.3705 9.10894 10.2675 9.10894 10.1603ZM8.30452 7.50672V9.99324L6.55465 11.7517C6.22591 11.3044 6.02534 10.7574 6.02534 10.1603C6.02534 8.81303 7.01746 7.70342 8.30452 7.50672ZM13.131 14.6063H6.42755C6.20553 14.6063 6.02534 14.4252 6.02534 14.2021C6.02534 13.979 6.20553 13.7979 6.42755 13.7979H13.131C13.3531 13.7979 13.5332 13.979 13.5332 14.2021C13.5332 14.4252 13.3531 14.6063 13.131 14.6063ZM13.131 12.8548H12.3266C12.1046 12.8548 11.9244 12.6738 11.9244 12.4506C11.9244 12.2275 12.1046 12.0465 12.3266 12.0465H13.131C13.3531 12.0465 13.5332 12.2275 13.5332 12.4506C13.5332 12.6738 13.3531 12.8548 13.131 12.8548ZM13.131 11.3728H12.3266C12.1046 11.3728 11.9244 11.1918 11.9244 10.9687C11.9244 10.7455 12.1046 10.5645 12.3266 10.5645H13.131C13.3531 10.5645 13.5332 10.7455 13.5332 10.9687C13.5332 11.1918 13.3531 11.3728 13.131 11.3728ZM13.131 9.75612H12.3266C12.1046 9.75612 11.9244 9.57504 11.9244 9.35194C11.9244 9.12883 12.1046 8.94776 12.3266 8.94776H13.131C13.3531 8.94776 13.5332 9.12883 13.5332 9.35194C13.5332 9.57504 13.3531 9.75612 13.131 9.75612ZM13.131 8.27412H12.3266C12.1046 8.27412 11.9244 8.09305 11.9244 7.86994C11.9244 7.64684 12.1046 7.46576 12.3266 7.46576H13.131C13.3531 7.46576 13.5332 7.64684 13.5332 7.86994C13.5332 8.09305 13.3531 8.27412 13.131 8.27412Z"
        fill="white"/>
    </svg>
  </symbol>
  <symbol id="credit-card">
    <svg viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.3335 11.3327H1.66683C1.31321 11.3327 0.974069 11.1922 0.72402 10.9422C0.473972 10.6921 0.333496 10.353 0.333496 9.99935V1.99935C0.333496 1.64573 0.473972 1.30659 0.72402 1.05654C0.974069 0.806491 1.31321 0.666016 1.66683 0.666016H12.3335C12.6871 0.666016 13.0263 0.806491 13.2763 1.05654C13.5264 1.30659 13.6668 1.64573 13.6668 1.99935V9.99935C13.6668 10.353 13.5264 10.6921 13.2763 10.9422C13.0263 11.1922 12.6871 11.3327 12.3335 11.3327ZM1.66683 5.99935V9.99935H12.3335V5.99935H1.66683ZM1.66683 1.99935V3.33268H12.3335V1.99935H1.66683ZM7.66683 8.66602H3.00016V7.33268H7.66683V8.66602Z"/>
    </svg>
  </symbol>
  <symbol id="settings">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        d="M7.54871 1.16492C7.93059 1.05892 8.3343 1.23654 8.51416 1.5897C8.65371 1.8637 8.86634 2.09375 9.12852 2.25441C9.39071 2.41506 9.69222 2.50005 9.99971 2.49998C10.3072 2.50005 10.6091 2.41506 10.8713 2.25441C11.1335 2.09375 11.3461 1.8637 11.4857 1.5897C11.6655 1.23654 12.0692 1.05892 12.4511 1.16492C13.8662 1.55769 15.166 2.28517 16.2407 3.28593C16.5099 3.53656 16.5829 3.93401 16.4204 4.26395C16.2944 4.51987 16.2362 4.80385 16.2513 5.08872C16.2665 5.37358 16.3545 5.64979 16.5069 5.8909C16.6594 6.13202 16.8712 6.32997 17.122 6.46581C17.3729 6.60165 17.6544 6.67083 17.9396 6.66673C18.3082 6.66143 18.6364 6.8989 18.7467 7.25061C19.0259 8.1406 19.1674 9.068 19.1666 10.0007L18.3333 9.99997H19.1666C19.1666 10.0002 19.1666 10.0005 19.1666 10.0007C19.1665 10.6319 19.1025 11.2493 18.9805 11.8457C18.8949 12.2643 18.5066 12.5503 18.0815 12.508C17.7514 12.4751 17.4191 12.5414 17.1269 12.6985C16.8348 12.8556 16.5962 13.0962 16.4416 13.3897C16.2871 13.6831 16.2236 14.016 16.2593 14.3458C16.295 14.6756 16.4282 14.9872 16.642 15.2407C16.9169 15.5668 16.9013 16.0478 16.6058 16.3553C15.5093 17.4962 14.1362 18.3337 12.62 18.7864C12.1853 18.9162 11.7267 18.6744 11.5881 18.2425C11.4802 17.9061 11.2682 17.6127 10.9828 17.4045C10.6974 17.1963 10.3532 17.0841 9.99992 17.0841C9.64664 17.0841 9.30248 17.1963 9.01705 17.4045C8.73163 17.6127 8.51968 17.9061 8.41175 18.2425C8.27316 18.6744 7.81452 18.9162 7.37985 18.7864C5.86367 18.3337 4.49053 17.4962 3.39409 16.3553C3.09855 16.0478 3.08289 15.5668 3.35782 15.2407C3.57161 14.9872 3.70489 14.6756 3.74059 14.3458C3.77629 14.016 3.71279 13.6831 3.55822 13.3897C3.40364 13.0962 3.16502 12.8556 2.8729 12.6985C2.58077 12.5414 2.24842 12.4751 1.91837 12.508C1.49312 12.5503 1.10474 12.2641 1.01926 11.8454C0.895277 11.2381 0.832958 10.6198 0.833253 9.99997H1.66659L0.833253 9.99954C0.833298 9.04339 0.979773 8.11921 1.25335 7.24984C1.36257 6.90274 1.68438 6.66664 2.04825 6.66664H2.08325C2.36652 6.66673 2.6454 6.59463 2.89306 6.45713C3.14071 6.31963 3.34924 6.12128 3.49895 5.88081C3.64865 5.64033 3.7346 5.36567 3.74867 5.08275C3.76273 4.79984 3.70446 4.51801 3.57935 4.26386C3.41693 3.93393 3.48998 3.53654 3.75912 3.28593C4.83388 2.28517 6.13365 1.55769 7.54871 1.16492ZM5.30696 4.14909C5.3941 4.47916 5.43036 4.82195 5.41328 5.16553C5.38514 5.73137 5.21325 6.28069 4.91384 6.76164C4.61443 7.24258 4.19737 7.63928 3.70206 7.91428C3.38804 8.08862 3.04912 8.2104 2.69873 8.27614C2.56869 8.82882 2.49992 9.4059 2.49992 9.99997L2.49992 10.0004C2.49977 10.2898 2.51628 10.5787 2.5493 10.8658C2.93684 10.9204 3.31381 11.0432 3.66218 11.2306C4.24644 11.5447 4.72368 12.026 5.03283 12.613C5.34197 13.1999 5.46897 13.8657 5.39757 14.5252C5.35493 14.919 5.24269 15.3 5.06812 15.6509C5.69792 16.2013 6.41534 16.6423 7.19047 16.9558C7.41239 16.6087 7.69806 16.3036 8.03493 16.0579C8.60557 15.6417 9.29362 15.4175 9.99992 15.4175C10.7062 15.4175 11.3943 15.6417 11.9649 16.0579C12.3018 16.3036 12.5875 16.6087 12.8094 16.9558C13.5845 16.6423 14.3019 16.2013 14.9317 15.6509C14.7571 15.3 14.6449 14.919 14.6023 14.5252C14.5309 13.8657 14.6579 13.1999 14.967 12.613C15.2762 12.026 15.7534 11.5447 16.3377 11.2306C16.686 11.0432 17.063 10.9204 17.4505 10.8658C17.4831 10.5819 17.4999 10.293 17.4999 9.99997V9.99922C17.5004 9.41856 17.4335 8.84042 17.3009 8.27638C16.9621 8.2128 16.6338 8.0968 16.3284 7.93138C15.8267 7.6597 15.4031 7.2638 15.0982 6.78157C14.7933 6.29934 14.6173 5.74692 14.587 5.1772C14.5686 4.82971 14.6047 4.48289 14.6928 4.14905C14.0561 3.63737 13.34 3.23338 12.573 2.95306C12.3391 3.23699 12.0586 3.48154 11.7421 3.6755C11.2178 3.99674 10.615 4.16672 10.0001 4.16664M5.30696 4.14909C5.94367 3.63739 6.65981 3.23339 7.42681 2.95306C7.66077 3.23699 7.94119 3.48154 8.25774 3.6755C8.78199 3.99674 9.38529 4.16672 10.0001 4.16664"
        fill="#828282"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M7.34835 7.34835C8.05161 6.64509 9.00544 6.25 10 6.25C10.4925 6.25 10.9801 6.347 11.4351 6.53545C11.89 6.72391 12.3034 7.00013 12.6516 7.34835C12.9999 7.69657 13.2761 8.10997 13.4645 8.56494C13.653 9.01991 13.75 9.50754 13.75 10C13.75 10.4925 13.653 10.9801 13.4645 11.4351C13.2761 11.89 12.9999 12.3034 12.6516 12.6516C12.3034 12.9999 11.89 13.2761 11.4351 13.4645C10.9801 13.653 10.4925 13.75 10 13.75C9.00544 13.75 8.05161 13.3549 7.34835 12.6516C6.64509 11.9484 6.25 10.9946 6.25 10C6.25 9.00544 6.64509 8.05161 7.34835 7.34835ZM10 7.91667C9.44747 7.91667 8.91756 8.13616 8.52686 8.52686C8.13616 8.91756 7.91667 9.44747 7.91667 10C7.91667 10.5525 8.13616 11.0824 8.52686 11.4731C8.91756 11.8638 9.44747 12.0833 10 12.0833C10.2736 12.0833 10.5445 12.0294 10.7973 11.9247C11.05 11.8201 11.2797 11.6666 11.4731 11.4731C11.6666 11.2797 11.8201 11.05 11.9247 10.7973C12.0294 10.5445 12.0833 10.2736 12.0833 10C12.0833 9.72641 12.0294 9.4555 11.9247 9.20274C11.8201 8.94998 11.6666 8.72032 11.4731 8.52686C11.2797 8.33341 11.05 8.17995 10.7973 8.07525C10.5445 7.97055 10.2736 7.91667 10 7.91667Z"
        fill="#828282"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="log-out">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        d="M4.16675 3.33329C3.94573 3.33329 3.73377 3.42109 3.57749 3.57737C3.42121 3.73365 3.33341 3.94561 3.33341 4.16663V15.8333C3.33341 16.0543 3.42121 16.2663 3.57749 16.4225C3.73377 16.5788 3.94573 16.6666 4.16675 16.6666H7.50008C7.96032 16.6666 8.33341 17.0397 8.33341 17.5C8.33341 17.9602 7.96032 18.3333 7.50008 18.3333H4.16675C3.50371 18.3333 2.86782 18.0699 2.39898 17.6011C1.93014 17.1322 1.66675 16.4963 1.66675 15.8333V4.16663C1.66675 3.50358 1.93014 2.8677 2.39898 2.39886C2.86782 1.93002 3.50371 1.66663 4.16675 1.66663H7.50008C7.96032 1.66663 8.33341 2.03972 8.33341 2.49996C8.33341 2.9602 7.96032 3.33329 7.50008 3.33329H4.16675Z"
        fill="#828282"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M12.7441 5.24408C13.0695 4.91864 13.5972 4.91864 13.9226 5.24408L18.0893 9.41074C18.4147 9.73618 18.4147 10.2638 18.0893 10.5893L13.9226 14.7559C13.5972 15.0814 13.0695 15.0814 12.7441 14.7559C12.4186 14.4305 12.4186 13.9028 12.7441 13.5774L16.3215 10L12.7441 6.42259C12.4186 6.09715 12.4186 5.56951 12.7441 5.24408Z"
        fill="#828282"
        fill-rule="evenodd"/>
      <path
        clip-rule="evenodd"
        d="M6.66675 9.99996C6.66675 9.53972 7.03984 9.16663 7.50008 9.16663H17.5001C17.9603 9.16663 18.3334 9.53972 18.3334 9.99996C18.3334 10.4602 17.9603 10.8333 17.5001 10.8333H7.50008C7.03984 10.8333 6.66675 10.4602 6.66675 9.99996Z"
        fill="#828282"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="delete">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17 6H22V8H20V21C20 21.2652 19.8946 21.5196 19.7071 21.7071C19.5196 21.8946 19.2652 22 19 22H5C4.73478 22 4.48043 21.8946 4.29289 21.7071C4.10536 21.5196 4 21.2652 4 21V8H2V6H7V3C7 2.73478 7.10536 2.48043 7.29289 2.29289C7.48043 2.10536 7.73478 2 8 2H16C16.2652 2 16.5196 2.10536 16.7071 2.29289C16.8946 2.48043 17 2.73478 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"
        fill="#EB5757"/>
    </svg>
  </symbol>
  <symbol id="reload">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.99902 11.9995C1.99902 14.3865 2.94678 16.6756 4.63379 18.3635C6.32081 20.0513 8.60889 20.9995 10.9947 20.9995C13.3835 20.9995 15.6724 20.0595 17.3916 18.3995L15.8923 16.8995C15.2628 17.566 14.5034 18.0962 13.661 18.4574C12.8187 18.8186 11.9112 19.0031 10.9947 18.9995C4.75769 18.9995 1.6392 11.4595 6.04707 7.04951C10.4549 2.63951 17.9913 5.76951 17.9913 11.9995H14.9928L18.9908 15.9995H19.0908L22.9889 11.9995H19.9903C19.9903 9.61257 19.0426 7.32338 17.3556 5.63555C15.6686 3.94772 13.3805 2.99951 10.9947 2.99951C8.60889 2.99951 6.32081 3.94772 4.63379 5.63555C2.94678 7.32338 1.99902 9.61257 1.99902 11.9995Z"
        fill="#0061C1"/>
    </svg>
  </symbol>
  <symbol id="googleSheet">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.2266 5.48828V18.6914C17.2266 19.4023 16.6523 19.9766 15.9414 19.9766H4.05859C3.34766 19.9766 2.77344 19.4023 2.77344 18.6914V1.30859C2.77344 0.597656 3.34766 0.0234375 4.05859 0.0234375H11.7617L17.2266 5.48828Z"
        fill="#23A566"/>
      <path
        d="M13.1602 9.95703H6.83984C6.61328 9.95703 6.42969 10.1406 6.42969 10.3672V15.8711C6.42969 16.0977 6.61328 16.2812 6.83984 16.2812H13.1641C13.3906 16.2812 13.5742 16.0977 13.5742 15.8711V10.3711C13.5703 10.1445 13.3867 9.95703 13.1602 9.95703ZM7.25 12.5977H9.58984V13.6406H7.25V12.5977ZM10.4102 12.5977H12.75V13.6406H10.4102V12.5977ZM12.75 11.7773H10.4102V10.7813H12.75V11.7773ZM9.58984 10.7813V11.7773H7.25V10.7813H9.58984ZM7.25 14.4648H9.58984V15.4609H7.25V14.4648ZM10.4102 15.4609V14.4648H12.75V15.4609H10.4102Z"
        fill="white"/>
      <path
        d="M12.4961 5.28906L17.2266 9.12109V5.52344L14.543 3.96484L12.4961 5.28906Z"
        fill="black"
        opacity="0.19"/>
      <path
        d="M17.2266 5.48828H13.0469C12.3359 5.48828 11.7617 4.91406 11.7617 4.20312V0.0234375L17.2266 5.48828Z"
        fill="#8ED1B1"/>
    </svg>
  </symbol>
  <symbol id="search">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.875 14.625C11.6029 14.625 14.625 11.6029 14.625 7.875C14.625 4.14708 11.6029 1.125 7.875 1.125C4.14708 1.125 1.125 4.14708 1.125 7.875C1.125 11.6029 4.14708 14.625 7.875 14.625Z"
        stroke="#BDBDBD"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"/>
      <path
        d="M12.9375 12.9375L16.875 16.875"
        stroke="#BDBDBD"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"/>
    </svg>
  </symbol>
  <symbol id="edit-pencil">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 20 20"
      width="20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18.8165 4.62231L15.5553 1.34454C15.3398 1.13013 15.0482 1.00977 14.7442 1.00977C14.4402 1.00977 14.1486 1.13013 13.9331 1.34454L2.37201 12.889L1.31645 17.4445C1.28004 17.6111 1.28129 17.7836 1.32011 17.9496C1.35893 18.1156 1.43433 18.2708 1.54082 18.4039C1.64731 18.537 1.78219 18.6447 1.93561 18.719C2.08902 18.7933 2.2571 18.8324 2.42757 18.8334C2.50699 18.8414 2.58703 18.8414 2.66645 18.8334L7.27201 17.7779L18.8165 6.24454C19.0309 6.02904 19.1512 5.73742 19.1512 5.43343C19.1512 5.12944 19.0309 4.83781 18.8165 4.62231ZM6.71645 16.7779L2.39979 17.6834L3.38312 13.4501L12.0331 4.83343L15.3665 8.16676L6.71645 16.7779ZM16.1109 7.3612L12.7776 4.02787L14.7109 2.10565L17.9887 5.43898L16.1109 7.3612Z"
        fill="#4F4F4F"/>
    </svg>
  </symbol>
  <symbol id="filter">
    <svg fill="none" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.2222 0H0.777778C0.571498 0 0.373667 0.0831771 0.227806 0.231233C0.0819442 0.379289 0 0.580097 0 0.78948V2.83423C0 3.24713 0.165667 3.65292 0.453444 3.94503L4.66667 8.22164V14.2106C4.66682 14.3451 4.70079 14.4774 4.76537 14.5948C4.82994 14.7123 4.92298 14.8111 5.03568 14.8818C5.14837 14.9526 5.277 14.993 5.40937 14.9992C5.54174 15.0054 5.67348 14.9772 5.79211 14.9172L8.90322 13.3383C9.16689 13.2041 9.33333 12.9309 9.33333 12.6317V8.22164L13.5466 3.94503C13.8343 3.65292 14 3.24713 14 2.83423V0.78948C14 0.580097 13.9181 0.379289 13.7722 0.231233C13.6263 0.0831771 13.4285 0 13.2222 0ZM8.00567 7.33664C7.9333 7.40983 7.87591 7.49682 7.8368 7.59261C7.79769 7.68841 7.77763 7.79111 7.77778 7.8948V12.1438L6.22222 12.9333V7.8948C6.22237 7.79111 6.20231 7.68841 6.1632 7.59261C6.12409 7.49682 6.0667 7.40983 5.99433 7.33664L1.55556 2.83423V1.57896H12.4452L12.4468 2.82871L8.00567 7.33664Z"
        fill="#0061C1"/>
    </svg>
  </symbol>
  <symbol id="copy">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15 6.75H8.25C7.42157 6.75 6.75 7.42157 6.75 8.25V15C6.75 15.8284 7.42157 16.5 8.25 16.5H15C15.8284 16.5 16.5 15.8284 16.5 15V8.25C16.5 7.42157 15.8284 6.75 15 6.75Z"
        stroke="#4F4F4F"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"/>
      <path
        d="M3.75 11.25H3C2.60218 11.25 2.22064 11.092 1.93934 10.8107C1.65804 10.5294 1.5 10.1478 1.5 9.75V3C1.5 2.60218 1.65804 2.22064 1.93934 1.93934C2.22064 1.65804 2.60218 1.5 3 1.5H9.75C10.1478 1.5 10.5294 1.65804 10.8107 1.93934C11.092 2.22064 11.25 2.60218 11.25 3V3.75"
        stroke="#4F4F4F"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"/>
    </svg>
  </symbol>
  <symbol id="tick-small">
    <svg
      fill="none"
      height="7"
      viewBox="0 0 9 7"
      width="9"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.88471 0.206803C7.02558 0.0726919 7.21303 -0.00145012 7.40753 2.14954e-05C7.60202 0.00149312 7.78833 0.0784635 7.92716 0.214691C8.06598 0.350918 8.14645 0.535747 8.15159 0.730177C8.15673 0.924607 8.08614 1.11343 7.95471 1.2568L3.96471 6.2468C3.8961 6.3207 3.81329 6.38001 3.72124 6.42117C3.62919 6.46233 3.52978 6.48451 3.42896 6.48638C3.32814 6.48825 3.22798 6.46976 3.13447 6.43204C3.04095 6.39431 2.95601 6.33811 2.88471 6.2668L0.238708 3.6208C0.165022 3.55214 0.105919 3.46934 0.0649275 3.37734C0.0239355 3.28534 0.0018935 3.18603 0.00011672 3.08533C-0.00166006 2.98462 0.0168648 2.88459 0.0545858 2.79121C0.0923068 2.69782 0.148451 2.61298 0.21967 2.54176C0.290889 2.47055 0.375723 2.4144 0.469111 2.37668C0.562499 2.33896 0.662528 2.32043 0.763231 2.32221C0.863934 2.32399 0.963247 2.34603 1.05525 2.38702C1.14725 2.42801 1.23005 2.48712 1.29871 2.5608L3.39271 4.6538L6.86571 0.228803C6.87196 0.221104 6.87864 0.213759 6.88571 0.206803H6.88471Z"
        fill="white"/>
    </svg>
  </symbol>
  <symbol id="cross-small">
    <svg
      fill="none"
      height="8"
      viewBox="0 0 8 8"
      width="8"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        d="M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4 2.93934L6.46967 0.46967C6.76256 0.176777 7.23744 0.176777 7.53033 0.46967C7.82322 0.762563 7.82322 1.23744 7.53033 1.53033L5.06066 4L7.53033 6.46967C7.82322 6.76256 7.82322 7.23744 7.53033 7.53033C7.23744 7.82322 6.76256 7.82322 6.46967 7.53033L4 5.06066L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z"
        fill="white"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="external-link">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.751 15H4.50098C4.10315 15 3.72162 14.842 3.44032 14.5607C3.15901 14.2794 3.00098 13.8978 3.00098 13.5V5.25C3.00098 4.85218 3.15901 4.47064 3.44032 4.18934C3.72162 3.90804 4.10315 3.75 4.50098 3.75H7.50098V5.25H4.50098V13.5H12.751V10.5H14.251V13.5C14.251 13.8978 14.0929 14.2794 13.8116 14.5607C13.5303 14.842 13.1488 15 12.751 15ZM8.77598 10.2802L7.71848 9.21975L12.4382 4.5H9.75098V3H15.001V8.25H13.501V5.56125L8.77598 10.2802Z"
        fill="#828282"/>
    </svg>
  </symbol>
  <symbol id="success">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="24" width="24"/>
      <path
        clip-rule="evenodd"
        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.3824 11.0689C9.50441 11.1213 9.61475 11.1975 9.707 11.293L11 12.586L14.293 9.29302C14.3852 9.19751 14.4956 9.12133 14.6176 9.06892C14.7396 9.01651 14.8708 8.98892 15.0036 8.98777C15.1364 8.98662 15.2681 9.01192 15.391 9.0622C15.5138 9.11248 15.6255 9.18673 15.7194 9.28063C15.8133 9.37452 15.8875 9.48617 15.9378 9.60907C15.9881 9.73196 16.0134 9.86364 16.0122 9.99642C16.0111 10.1292 15.9835 10.2604 15.9311 10.3824C15.8787 10.5044 15.8025 10.6148 15.707 10.707L11.707 14.707C11.5195 14.8945 11.2652 14.9998 11 14.9998C10.7348 14.9998 10.4805 14.8945 10.293 14.707L8.293 12.707C8.19749 12.6148 8.1213 12.5044 8.0689 12.3824C8.01649 12.2604 7.9889 12.1292 7.98775 11.9964C7.98659 11.8636 8.0119 11.732 8.06218 11.6091C8.11246 11.4862 8.18671 11.3745 8.2806 11.2806C8.3745 11.1867 8.48615 11.1125 8.60904 11.0622C8.73194 11.0119 8.86362 10.9866 8.9964 10.9878C9.12918 10.9889 9.2604 11.0165 9.3824 11.0689Z"
        fill="#219653"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="warning">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="24" width="24"/>
      <path
        clip-rule="evenodd"
        d="M13.3098 5.34272L20.6688 18.5127C20.7536 18.6649 20.7972 18.8366 20.7953 19.0108C20.7934 19.1851 20.7459 19.3558 20.6577 19.506C20.5695 19.6563 20.4436 19.7809 20.2924 19.8675C20.1412 19.9541 19.97 19.9997 19.7958 19.9997H4.20377C4.02939 19.9997 3.85803 19.9542 3.70671 19.8675C3.55538 19.7809 3.42934 19.6562 3.3411 19.5058C3.25286 19.3553 3.20548 19.1845 3.20367 19.0101C3.20186 18.8357 3.24567 18.6639 3.33077 18.5117L10.6908 5.34272C10.821 5.10996 11.011 4.91614 11.2411 4.78123C11.4711 4.64632 11.733 4.5752 11.9998 4.5752C12.2665 4.5752 12.5284 4.64632 12.7585 4.78123C12.9886 4.91614 13.1785 5.10996 13.3088 5.34272H13.3098ZM11.9998 8.49972C11.844 8.49971 11.69 8.53306 11.5482 8.59752C11.4064 8.66199 11.28 8.75608 11.1776 8.87347C11.0752 8.99085 10.9991 9.12881 10.9544 9.27805C10.9098 9.4273 10.8976 9.58438 10.9188 9.73872L11.4318 13.5047C11.4501 13.6424 11.5178 13.7687 11.6222 13.8602C11.7267 13.9517 11.8609 14.0022 11.9998 14.0022C12.1387 14.0022 12.2728 13.9517 12.3773 13.8602C12.4818 13.7687 12.5495 13.6424 12.5678 13.5047L13.0808 9.73872C13.1019 9.58438 13.0897 9.4273 13.0451 9.27805C13.0004 9.12881 12.9244 8.99085 12.8219 8.87347C12.7195 8.75608 12.5932 8.66199 12.4513 8.59752C12.3095 8.53306 12.1556 8.49971 11.9998 8.49972ZM11.9998 17.1297C12.2981 17.1297 12.5843 17.0112 12.7953 16.8002C13.0062 16.5892 13.1248 16.3031 13.1248 16.0047C13.1248 15.7064 13.0062 15.4202 12.7953 15.2092C12.5843 14.9982 12.2981 14.8797 11.9998 14.8797C11.7014 14.8797 11.4153 14.9982 11.2043 15.2092C10.9933 15.4202 10.8748 15.7064 10.8748 16.0047C10.8748 16.3031 10.9933 16.5892 11.2043 16.8002C11.4153 17.0112 11.7014 17.1297 11.9998 17.1297Z"
        fill="#F2994A"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="error">
    <svg
      fill="none"
      height="24"
      viewBox="0 0 24 24"
      width="24"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="24" width="24"/>
      <path
        clip-rule="evenodd"
        d="M12.7662 3.98257C13.0092 4.08325 13.2299 4.23081 13.4159 4.41682L19.5839 10.5838C19.77 10.7698 19.9177 10.9906 20.0185 11.2336C20.1192 11.4767 20.1711 11.7372 20.1711 12.0003C20.1711 12.2634 20.1192 12.524 20.0185 12.767C19.9177 13.0101 19.77 13.2309 19.5839 13.4168L13.4159 19.5838C13.2299 19.7698 13.0092 19.9174 12.7662 20.0181C12.5233 20.1187 12.2629 20.1706 11.9999 20.1706C11.7369 20.1706 11.4764 20.1187 11.2335 20.0181C10.9905 19.9174 10.7698 19.7698 10.5839 19.5838L4.41586 13.4168C4.22969 13.2309 4.08201 13.0101 3.98124 12.767C3.88048 12.524 3.82861 12.2634 3.82861 12.0003C3.82861 11.7372 3.88048 11.4767 3.98124 11.2336C4.08201 10.9906 4.22969 10.7698 4.41586 10.5838L10.5839 4.41682C10.7698 4.23081 10.9905 4.08325 11.2335 3.98257C11.4764 3.8819 11.7369 3.83008 11.9999 3.83008C12.2629 3.83008 12.5233 3.8819 12.7662 3.98257ZM11.2927 13.7069C11.4803 13.8945 11.7346 13.9998 11.9999 13.9998C12.2651 13.9998 12.5194 13.8945 12.707 13.7069C12.8945 13.5194 12.9999 13.265 12.9999 12.9998V7.99982C12.9999 7.7346 12.8945 7.48025 12.707 7.29271C12.5194 7.10517 12.2651 6.99982 11.9999 6.99982C11.7346 6.99982 11.4803 7.10517 11.2927 7.29271C11.1052 7.48025 10.9999 7.7346 10.9999 7.99982V12.9998C10.9999 13.265 11.1052 13.5194 11.2927 13.7069ZM11.2927 16.7069C11.4803 16.8945 11.7346 16.9998 11.9999 16.9998C12.2651 16.9998 12.5194 16.8945 12.707 16.7069C12.8945 16.5194 12.9999 16.265 12.9999 15.9998C12.9999 15.7346 12.8945 15.4802 12.707 15.2927C12.5194 15.1052 12.2651 14.9998 11.9999 14.9998C11.7346 14.9998 11.4803 15.1052 11.2927 15.2927C11.1052 15.4802 10.9999 15.7346 10.9999 15.9998C10.9999 16.265 11.1052 16.5194 11.2927 16.7069Z"
        fill="#EB5757"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="product-management">
    <svg viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10.7734 2.86602L10.0384 0.704687C9.89625 0.283594 9.49594 0 9.04313 0H2.15687C1.70406 0 1.30375 0.283594 1.16156 0.704687L0.0546875 3.96602C0.0196875 4.07129 0 4.18086 0 4.29258V9.96875C0 10.5381 0.470313 11 1.05 11H9.8C12.1187 11 14 9.15234 14 6.875C14 4.92637 12.6219 3.29785 10.7734 2.86602ZM6.125 1.03125H9.04313L9.62938 2.75859C8.54 2.80156 7.55781 3.24629 6.83594 3.95312H6.125V1.03125ZM2.15687 1.03125H5.075V3.95312H1.16594L2.15687 1.03125ZM1.05 9.96875V4.98438H6.07031C5.77281 5.55156 5.6 6.19395 5.6 6.875C5.6 8.1082 6.15344 9.2125 7.02844 9.96875H1.05ZM9.8 9.96875C8.06312 9.96875 6.65 8.58086 6.65 6.875C6.65 5.16914 8.06312 3.78125 9.8 3.78125C11.5369 3.78125 12.95 5.16914 12.95 6.875C12.95 8.58086 11.5369 9.96875 9.8 9.96875ZM11.2131 5.54941C11.1453 5.48281 11.0359 5.48281 10.9681 5.54941L9.43906 7.03828L8.77625 6.38086C8.70844 6.31426 8.59906 6.31426 8.53125 6.38086L8.12219 6.78047C8.05437 6.84707 8.05437 6.95449 8.12219 7.02109L9.31219 8.20059C9.38 8.26719 9.48938 8.26719 9.55719 8.20059L11.6178 6.1918C11.6856 6.1252 11.6856 6.01777 11.6178 5.95117L11.2131 5.54941Z"/>
    </svg>
  </symbol>
  <symbol id="recharge-history">
    <svg viewBox="0 0 122.88 108.67" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.52,55.12a54.53,54.53,0,0,1,8.12-29.54A52.65,52.65,0,0,1,46.75,4.79a60.05,60.05,0,0,1,11.1-3.55,52.77,52.77,0,0,1,60.35,31.2,59.34,59.34,0,0,1,3.5,11.07,52.58,52.58,0,0,1-1.31,27,53.18,53.18,0,0,1-14.66,22.87A57.62,57.62,0,0,1,83,106.64a48.71,48.71,0,0,1-25,.74,47.51,47.51,0,0,1-7.89-2.58,49.43,49.43,0,0,1-7.56-4,3.82,3.82,0,0,1,4.16-6.41,40.79,40.79,0,0,0,6.4,3.42,40,40,0,0,0,6.62,2.16,41.07,41.07,0,0,0,21.12-.63,49.92,49.92,0,0,0,19.73-11.48,45.64,45.64,0,0,0,12.56-19.61,44.86,44.86,0,0,0,1.1-23.11,52.48,52.48,0,0,0-3-9.67A45.1,45.1,0,0,0,59.43,8.73a52.47,52.47,0,0,0-9.68,3.09A45,45,0,0,0,29.14,29.59a47,47,0,0,0-7,26l8.75-9.72A3.83,3.83,0,1,1,36.61,51L21.89,67.37a3.83,3.83,0,0,1-5.4.28L1.17,52.86a3.82,3.82,0,0,1,5.3-5.51l8.05,7.77ZM62.71,32.89a3.83,3.83,0,1,1,7.66,0v21.9l17.27,9.59a3.82,3.82,0,0,1-3.71,6.67L65,60.52A3.83,3.83,0,0,1,62.71,57V32.89Z"/>
    </svg>
  </symbol>
  <symbol id="google-sheet-icon">
    <svg
      fill="none"
      height="28"
      viewBox="0 0 28 28"
      width="28"
      xmlns="http://www.w3.org/2000/svg">
      <circle cx="14" cy="14" fill="#23A566" opacity="0.15" r="14"/>
      <path
        d="M19.0586 10.8418V20.084C19.0586 20.5816 18.6566 20.9836 18.159 20.9836H9.84102C9.34336 20.9836 8.94141 20.5816 8.94141 20.084V7.91601C8.94141 7.41836 9.34336 7.0164 9.84102 7.0164H15.2332L19.0586 10.8418Z"
        fill="#23A566"/>
      <path
        d="M16.2121 13.9699H11.7878C11.6292 13.9699 11.5007 14.0984 11.5007 14.257V18.1098C11.5007 18.2684 11.6292 18.3969 11.7878 18.3969H16.2148C16.3734 18.3969 16.5019 18.2684 16.5019 18.1098V14.2598C16.4992 14.1012 16.3707 13.9699 16.2121 13.9699ZM12.075 15.8184H13.7128V16.5484H12.075V15.8184ZM14.2871 15.8184H15.925V16.5484H14.2871V15.8184ZM15.925 15.2441H14.2871V14.5469H15.925V15.2441ZM13.7128 14.5469V15.2441H12.075V14.5469H13.7128ZM12.075 17.1254H13.7128V17.8227H12.075V17.1254ZM14.2871 17.8227V17.1254H15.925V17.8227H14.2871Z"
        fill="white"/>
      <path
        d="M15.7473 10.7023L19.0586 13.3848V10.8664L17.1801 9.77539L15.7473 10.7023Z"
        fill="black"
        opacity="0.19"/>
      <path
        d="M19.0585 10.8418H16.1328C15.6351 10.8418 15.2332 10.4398 15.2332 9.94218V7.0164L19.0585 10.8418Z"
        fill="#8ED1B1"/>
    </svg>
  </symbol>
  <symbol id="error-download-icon">
    <svg
      fill="none"
      height="28"
      viewBox="0 0 28 28"
      width="28"
      xmlns="http://www.w3.org/2000/svg">
      <circle cx="14" cy="14" fill="#EB5757" opacity="0.15" r="14"/>
      <path
        d="M12.9972 13.2528C12.9565 13.2121 12.9082 13.1798 12.8551 13.1578C12.8019 13.1358 12.745 13.1245 12.6874 13.1245C12.6299 13.1245 12.573 13.1358 12.5198 13.1578C12.4667 13.1798 12.4184 13.2121 12.3777 13.2528C12.337 13.2934 12.3047 13.3417 12.2827 13.3949C12.2607 13.448 12.2494 13.505 12.2494 13.5625C12.2494 13.62 12.2607 13.677 12.2827 13.7301C12.3047 13.7833 12.337 13.8316 12.3777 13.8723L13.3813 14.875L12.3777 15.8778C12.2955 15.9599 12.2494 16.0713 12.2494 16.1875C12.2494 16.3037 12.2955 16.4151 12.3777 16.4973C12.4598 16.5794 12.5713 16.6256 12.6874 16.6256C12.8036 16.6256 12.915 16.5794 12.9972 16.4973L13.9999 15.4936L15.0027 16.4973C15.0848 16.5794 15.1963 16.6256 15.3124 16.6256C15.4286 16.6256 15.54 16.5794 15.6222 16.4973C15.7043 16.4151 15.7505 16.3037 15.7505 16.1875C15.7505 16.0713 15.7043 15.9599 15.6222 15.8778L14.6186 14.875L15.6222 13.8723C15.7043 13.7901 15.7505 13.6787 15.7505 13.5625C15.7505 13.4463 15.7043 13.3349 15.6222 13.2528C15.54 13.1706 15.4286 13.1245 15.3124 13.1245C15.1963 13.1245 15.0848 13.1706 15.0027 13.2528L13.9999 14.2564L12.9972 13.2528Z"
        fill="#EB5757"/>
      <path
        d="M19.25 19.25V10.9375L15.3125 7H10.5C10.0359 7 9.59075 7.18437 9.26256 7.51256C8.93437 7.84075 8.75 8.28587 8.75 8.75V19.25C8.75 19.7141 8.93437 20.1592 9.26256 20.4874C9.59075 20.8156 10.0359 21 10.5 21H17.5C17.9641 21 18.4092 20.8156 18.7374 20.4874C19.0656 20.1592 19.25 19.7141 19.25 19.25ZM15.3125 9.625C15.3125 9.9731 15.4508 10.3069 15.6969 10.5531C15.9431 10.7992 16.2769 10.9375 16.625 10.9375H18.375V19.25C18.375 19.4821 18.2828 19.7046 18.1187 19.8687C17.9546 20.0328 17.7321 20.125 17.5 20.125H10.5C10.2679 20.125 10.0454 20.0328 9.88128 19.8687C9.71719 19.7046 9.625 19.4821 9.625 19.25V8.75C9.625 8.51794 9.71719 8.29538 9.88128 8.13128C10.0454 7.96719 10.2679 7.875 10.5 7.875H15.3125V9.625Z"
        fill="#EB5757"/>
    </svg>
  </symbol>
  <symbol id="User-icon">
    <svg viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.1212 15.8969C16.679 14.8496 16.0374 13.8984 15.2321 13.0961C14.4292 12.2915 13.4781 11.65 12.4313 11.207C12.4219 11.2023 12.4126 11.2 12.4032 11.1953C13.8633 10.1406 14.8126 8.42266 14.8126 6.48438C14.8126 3.27344 12.211 0.671875 9.00006 0.671875C5.78912 0.671875 3.18756 3.27344 3.18756 6.48438C3.18756 8.42266 4.13678 10.1406 5.59693 11.1977C5.58756 11.2023 5.57818 11.2047 5.56881 11.2094C4.51881 11.6523 3.57662 12.2875 2.76803 13.0984C1.96344 13.9013 1.32194 14.8524 0.878965 15.8992C0.443782 16.924 0.209079 18.0228 0.187559 19.1359C0.186933 19.161 0.191321 19.1858 0.200463 19.2091C0.209605 19.2324 0.223317 19.2537 0.240791 19.2716C0.258264 19.2895 0.279146 19.3037 0.302206 19.3134C0.325265 19.3231 0.350036 19.3281 0.375059 19.3281H1.78131C1.88443 19.3281 1.96646 19.2461 1.96881 19.1453C2.01568 17.3359 2.74225 15.6414 4.02662 14.357C5.35553 13.0281 7.12037 12.2969 9.00006 12.2969C10.8797 12.2969 12.6446 13.0281 13.9735 14.357C15.2579 15.6414 15.9844 17.3359 16.0313 19.1453C16.0337 19.2484 16.1157 19.3281 16.2188 19.3281H17.6251C17.6501 19.3281 17.6749 19.3231 17.6979 19.3134C17.721 19.3037 17.7419 19.2895 17.7593 19.2716C17.7768 19.2537 17.7905 19.2324 17.7997 19.2091C17.8088 19.1858 17.8132 19.161 17.8126 19.1359C17.7891 18.0156 17.5571 16.9258 17.1212 15.8969ZM9.00006 10.5156C7.92428 10.5156 6.91178 10.0961 6.15006 9.33438C5.38834 8.57266 4.96881 7.56016 4.96881 6.48438C4.96881 5.40859 5.38834 4.39609 6.15006 3.63437C6.91178 2.87266 7.92428 2.45312 9.00006 2.45312C10.0758 2.45312 11.0883 2.87266 11.8501 3.63437C12.6118 4.39609 13.0313 5.40859 13.0313 6.48438C13.0313 7.56016 12.6118 8.57266 11.8501 9.33438C11.0883 10.0961 10.0758 10.5156 9.00006 10.5156Z"/>
    </svg>
  </symbol>
  <symbol id="website">
    <svg
      height="19"
      viewBox="0 0 20 22"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9 0.5C4.02823 0.5 0 4.52823 0 9.5C0 14.4718 4.02823 18.5 9 18.5C13.9718 18.5 18 14.4718 18 9.5C18 4.52823 13.9718 0.5 9 0.5ZM16.0113 6.01613H13.0173C12.6907 4.40484 12.1427 3.03306 11.4496 2.05685C13.4456 2.71734 15.0859 4.15806 16.0113 6.01613ZM12.1935 9.5C12.1935 10.331 12.1355 11.104 12.0375 11.8226H5.9625C5.86452 11.104 5.80645 10.331 5.80645 9.5C5.80645 8.66895 5.86452 7.89597 5.9625 7.17742H12.0375C12.1355 7.89597 12.1935 8.66895 12.1935 9.5ZM9 1.66129C9.97621 1.66129 11.2282 3.26169 11.8343 6.01613H6.16573C6.77177 3.26169 8.02379 1.66129 9 1.66129ZM6.5504 2.05685C5.86089 3.02944 5.30927 4.40121 4.98266 6.01613H1.98871C2.91411 4.15806 4.55444 2.71734 6.5504 2.05685ZM1.16129 9.5C1.16129 8.69073 1.28468 7.91048 1.51331 7.17742H4.79758C4.70323 7.92137 4.64516 8.69436 4.64516 9.5C4.64516 10.3056 4.6996 11.0786 4.79758 11.8226H1.51331C1.28468 11.0895 1.16129 10.3093 1.16129 9.5ZM1.98871 12.9839H4.98266C5.30927 14.5952 5.85726 15.9669 6.5504 16.9431C4.55444 16.2827 2.91411 14.8419 1.98871 12.9839ZM9 17.3387C8.02379 17.3387 6.77177 15.7383 6.16573 12.9839H11.8343C11.2282 15.7383 9.97621 17.3387 9 17.3387ZM11.4496 16.9431C12.1391 15.9706 12.6907 14.5988 13.0173 12.9839H16.0113C15.0859 14.8419 13.4456 16.2827 11.4496 16.9431ZM13.2024 11.8226C13.2968 11.0786 13.3548 10.3056 13.3548 9.5C13.3548 8.69436 13.3004 7.92137 13.2024 7.17742H16.4867C16.7153 7.91048 16.8387 8.69073 16.8387 9.5C16.8387 10.3093 16.7153 11.0895 16.4867 11.8226H13.2024Z"/>
    </svg>
  </symbol>
  <symbol id="error-input-icon">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="18" width="18"/>
      <path
        clip-rule="evenodd"
        d="M9.98245 4.00728L15.5017 13.8848C15.5653 13.9989 15.5981 14.1277 15.5966 14.2584C15.5951 14.389 15.5596 14.5171 15.4934 14.6297C15.4273 14.7424 15.3328 14.8359 15.2194 14.9008C15.106 14.9658 14.9776 15 14.8469 15H3.15295C3.02216 15.0001 2.89365 14.9659 2.78015 14.9009C2.66666 14.8359 2.57213 14.7424 2.50595 14.6296C2.43976 14.5168 2.40423 14.3886 2.40287 14.2578C2.40151 14.1271 2.43438 13.9982 2.4982 13.884L8.0182 4.00728C8.11588 3.83271 8.25835 3.68735 8.43091 3.58616C8.60348 3.48498 8.79991 3.43164 8.99995 3.43164C9.19999 3.43164 9.39642 3.48498 9.56898 3.58616C9.74155 3.68735 9.88401 3.83271 9.9817 4.00728H9.98245ZM8.99995 6.37503C8.88311 6.37503 8.76763 6.40004 8.66127 6.44839C8.55491 6.49674 8.46013 6.56731 8.38332 6.65534C8.30651 6.74338 8.24944 6.84685 8.21596 6.95878C8.18247 7.07072 8.17335 7.18853 8.1892 7.30428L8.57395 10.1288C8.58768 10.232 8.63845 10.3268 8.71681 10.3954C8.79517 10.4641 8.89578 10.5019 8.99995 10.5019C9.10411 10.5019 9.20473 10.4641 9.28309 10.3954C9.36145 10.3268 9.41222 10.232 9.42595 10.1288L9.8107 7.30428C9.82655 7.18853 9.81742 7.07072 9.78394 6.95878C9.75046 6.84685 9.69339 6.74338 9.61658 6.65534C9.53977 6.56731 9.44499 6.49674 9.33863 6.44839C9.23227 6.40004 9.11679 6.37503 8.99995 6.37503ZM8.99995 12.8475C9.22373 12.8475 9.43834 12.7586 9.59657 12.6004C9.7548 12.4422 9.8437 12.2276 9.8437 12.0038C9.8437 11.78 9.7548 11.5654 9.59657 11.4072C9.43834 11.2489 9.22373 11.16 8.99995 11.16C8.77617 11.16 8.56156 11.2489 8.40333 11.4072C8.24509 11.5654 8.1562 11.78 8.1562 12.0038C8.1562 12.2276 8.24509 12.4422 8.40333 12.6004C8.56156 12.7586 8.77617 12.8475 8.99995 12.8475Z"
        fill="#EB5757"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="error-notification-icon">
    <svg
      fill="none"
      height="20"
      viewBox="0 0 24 24"
      width="19"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="24" width="24"/>
      <path
        clip-rule="evenodd"
        d="M13.3098 5.34296L20.6688 18.513C20.7536 18.6651 20.7972 18.8369 20.7953 19.0111C20.7934 19.1853 20.7459 19.356 20.6577 19.5062C20.5695 19.6565 20.4436 19.7811 20.2924 19.8677C20.1412 19.9543 19.97 19.9999 19.7958 20H4.20377C4.02939 20 3.85803 19.9544 3.70671 19.8678C3.55538 19.7811 3.42934 19.6564 3.3411 19.506C3.25286 19.3556 3.20548 19.1847 3.20367 19.0104C3.20186 18.836 3.24567 18.6642 3.33077 18.512L10.6908 5.34296C10.821 5.1102 11.011 4.91638 11.2411 4.78147C11.4711 4.64656 11.733 4.57544 11.9998 4.57544C12.2665 4.57544 12.5284 4.64656 12.7585 4.78147C12.9886 4.91638 13.1785 5.1102 13.3088 5.34296H13.3098ZM11.9998 8.49996C11.844 8.49995 11.69 8.5333 11.5482 8.59777C11.4064 8.66224 11.28 8.75633 11.1776 8.87371C11.0752 8.9911 10.9991 9.12905 10.9544 9.2783C10.9098 9.42755 10.8976 9.58462 10.9188 9.73897L11.4318 13.505C11.4501 13.6426 11.5178 13.769 11.6222 13.8605C11.7267 13.952 11.8609 14.0024 11.9998 14.0024C12.1387 14.0024 12.2728 13.952 12.3773 13.8605C12.4818 13.769 12.5495 13.6426 12.5678 13.505L13.0808 9.73897C13.1019 9.58462 13.0897 9.42755 13.0451 9.2783C13.0004 9.12905 12.9244 8.9911 12.8219 8.87371C12.7195 8.75633 12.5932 8.66224 12.4513 8.59777C12.3095 8.5333 12.1556 8.49995 11.9998 8.49996ZM11.9998 17.13C12.2981 17.13 12.5843 17.0114 12.7953 16.8005C13.0062 16.5895 13.1248 16.3033 13.1248 16.005C13.1248 15.7066 13.0062 15.4204 12.7953 15.2095C12.5843 14.9985 12.2981 14.88 11.9998 14.88C11.7014 14.88 11.4153 14.9985 11.2043 15.2095C10.9933 15.4204 10.8748 15.7066 10.8748 16.005C10.8748 16.3033 10.9933 16.5895 11.2043 16.8005C11.4153 17.0114 11.7014 17.13 11.9998 17.13Z"
        fill="#EB5757"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="cross">
    <svg
      fill="none"
      height="17"
      viewBox="0 0 16 17"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <rect
        fill="white"
        fill-opacity="0.01"
        height="16"
        transform="translate(0 0.166992)"
        width="16"/>
      <path
        d="M8.00003 7.22438L4.47136 3.69571C4.34563 3.57427 4.17722 3.50708 4.00243 3.5086C3.82763 3.51012 3.66042 3.58023 3.53682 3.70383C3.41321 3.82744 3.3431 3.99465 3.34158 4.16945C3.34006 4.34424 3.40726 4.51264 3.52869 4.63838L7.05736 8.16705L3.52869 11.6957C3.40726 11.8214 3.34006 11.9898 3.34158 12.1646C3.3431 12.3394 3.41321 12.5067 3.53682 12.6303C3.66042 12.7539 3.82763 12.824 4.00243 12.8255C4.17722 12.827 4.34563 12.7598 4.47136 12.6384L8.00003 9.10971L11.5287 12.6384C11.6544 12.7598 11.8228 12.827 11.9976 12.8255C12.1724 12.824 12.3396 12.7539 12.4632 12.6303C12.5868 12.5067 12.657 12.3394 12.6585 12.1646C12.66 11.9898 12.5928 11.8214 12.4714 11.6957L8.94269 8.16705L12.4714 4.63838C12.535 4.57688 12.5858 4.50332 12.6208 4.42198C12.6557 4.34065 12.6741 4.25317 12.6749 4.16465C12.6756 4.07613 12.6588 3.98834 12.6252 3.90641C12.5917 3.82448 12.5422 3.75004 12.4796 3.68745C12.417 3.62485 12.3426 3.57535 12.2607 3.54183C12.1787 3.50831 12.0909 3.49144 12.0024 3.49221C11.9139 3.49298 11.8264 3.51137 11.7451 3.54631C11.6638 3.58125 11.5902 3.63204 11.5287 3.69571L8.00003 7.22438Z"
        fill="#BDBDBD"/>
    </svg>
  </symbol>
  <symbol id="extend-icon">
    <svg
      fill="none"
      height="12"
      viewBox="0 0 12 12"
      width="12"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.33402 11.3332H2.00069C1.64707 11.3332 1.30793 11.1927 1.05788 10.9426C0.807834 10.6926 0.667358 10.3535 0.667358 9.99984V2.6665C0.667358 2.31288 0.807834 1.97374 1.05788 1.72369C1.30793 1.47365 1.64707 1.33317 2.00069 1.33317H4.66736V2.6665H2.00069V9.99984H9.33402V7.33317H10.6674V9.99984C10.6674 10.3535 10.5269 10.6926 10.2768 10.9426C10.0268 11.1927 9.68765 11.3332 9.33402 11.3332ZM5.80069 7.13784L4.86069 6.19517L9.05602 1.99984H6.66736V0.666504H11.334V5.33317H10.0007V2.94317L5.80069 7.13784Z"
        fill="#828282"/>
    </svg>
  </symbol>
  <symbol id="add-domain-icon">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.00002 0.666504C7.35185 0.666504 5.74068 1.15525 4.37027 2.07092C2.99986 2.9866 1.93176 4.28809 1.30103 5.81081C0.670298 7.33353 0.50527 9.00908 0.826813 10.6256C1.14836 12.2421 1.94203 13.727 3.10747 14.8924C4.27291 16.0578 5.75776 16.8515 7.37427 17.173C8.99078 17.4946 10.6663 17.3296 12.1891 16.6988C13.7118 16.0681 15.0133 15 15.9289 13.6296C16.8446 12.2592 17.3334 10.648 17.3334 8.99984C17.3334 7.90549 17.1178 6.82186 16.699 5.81081C16.2802 4.79976 15.6664 3.8811 14.8926 3.10728C14.1188 2.33346 13.2001 1.71963 12.1891 1.30084C11.178 0.882052 10.0944 0.666504 9.00002 0.666504ZM9.00002 15.6665C7.68148 15.6665 6.39255 15.2755 5.29622 14.543C4.19989 13.8104 3.34541 12.7692 2.84083 11.5511C2.33624 10.3329 2.20422 8.99244 2.46146 7.69924C2.71869 6.40603 3.35363 5.21814 4.28598 4.28579C5.21833 3.35344 6.40622 2.7185 7.69942 2.46127C8.99263 2.20403 10.3331 2.33606 11.5512 2.84064C12.7694 3.34522 13.8106 4.19971 14.5432 5.29604C15.2757 6.39236 15.6667 7.6813 15.6667 8.99984C15.6667 10.7679 14.9643 12.4636 13.7141 13.7139C12.4638 14.9641 10.7681 15.6665 9.00002 15.6665Z"
        fill="#0061C1"/>
      <path
        d="M11.5 8.1665H9.83335V6.49984C9.83335 6.27882 9.74556 6.06686 9.58928 5.91058C9.433 5.7543 9.22103 5.6665 9.00002 5.6665C8.77901 5.6665 8.56705 5.7543 8.41077 5.91058C8.25448 6.06686 8.16669 6.27882 8.16669 6.49984V8.1665H6.50002C6.27901 8.1665 6.06705 8.2543 5.91076 8.41058C5.75448 8.56686 5.66669 8.77882 5.66669 8.99984C5.66669 9.22085 5.75448 9.43281 5.91076 9.58909C6.06705 9.74537 6.27901 9.83317 6.50002 9.83317H8.16669V11.4998C8.16669 11.7209 8.25448 11.9328 8.41077 12.0891C8.56705 12.2454 8.77901 12.3332 9.00002 12.3332C9.22103 12.3332 9.433 12.2454 9.58928 12.0891C9.74556 11.9328 9.83335 11.7209 9.83335 11.4998V9.83317H11.5C11.721 9.83317 11.933 9.74537 12.0893 9.58909C12.2456 9.43281 12.3334 9.22085 12.3334 8.99984C12.3334 8.77882 12.2456 8.56686 12.0893 8.41058C11.933 8.2543 11.721 8.1665 11.5 8.1665Z"
        fill="#0061C1"/>
    </svg>
  </symbol>
  <symbol id="cancel-icon">
    <svg
      fill="none"
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="16" width="16"/>
      <path
        d="M8.00003 7.05739L4.47136 3.52872C4.34563 3.40728 4.17722 3.34009 4.00243 3.3416C3.82763 3.34312 3.66042 3.41324 3.53682 3.53684C3.41321 3.66045 3.3431 3.82766 3.34158 4.00245C3.34006 4.17725 3.40726 4.34565 3.52869 4.47139L7.05736 8.00005L3.52869 11.5287C3.40726 11.6545 3.34006 11.8229 3.34158 11.9977C3.3431 12.1725 3.41321 12.3397 3.53682 12.4633C3.66042 12.5869 3.82763 12.657 4.00243 12.6585C4.17722 12.66 4.34563 12.5928 4.47136 12.4714L8.00003 8.94272L11.5287 12.4714C11.6544 12.5928 11.8228 12.66 11.9976 12.6585C12.1724 12.657 12.3396 12.5869 12.4632 12.4633C12.5868 12.3397 12.657 12.1725 12.6585 11.9977C12.66 11.8229 12.5928 11.6545 12.4714 11.5287L8.94269 8.00005L12.4714 4.47139C12.535 4.40989 12.5858 4.33633 12.6208 4.25499C12.6557 4.17365 12.6741 4.08617 12.6749 3.99766C12.6756 3.90914 12.6588 3.82135 12.6252 3.73942C12.5917 3.65749 12.5422 3.58305 12.4796 3.52046C12.417 3.45786 12.3426 3.40836 12.2607 3.37484C12.1787 3.34132 12.0909 3.32445 12.0024 3.32522C11.9139 3.32599 11.8264 3.34438 11.7451 3.37932C11.6638 3.41426 11.5902 3.46505 11.5287 3.52872L8.00003 7.05739Z"
        fill="#BDBDBD"/>
    </svg>
  </symbol>
  <symbol id="file-icon">
    <svg
      fill="none"
      height="16"
      viewBox="0 0 14 16"
      width="14"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.2207 1.83984C10.3809 -5.96046e-08 7.38478 -5.96046e-08 5.54689 1.83984L0.449237 6.93359C0.416034 6.9668 0.398456 7.01172 0.398456 7.05859C0.398456 7.10547 0.416034 7.15039 0.449237 7.18359L1.16994 7.9043C1.20288 7.9371 1.24748 7.95551 1.29396 7.95551C1.34045 7.95551 1.38504 7.9371 1.41799 7.9043L6.51564 2.81055C7.14845 2.17773 7.99025 1.83008 8.88478 1.83008C9.77931 1.83008 10.6211 2.17773 11.252 2.81055C11.8848 3.44336 12.2324 4.28516 12.2324 5.17773C12.2324 6.07227 11.8848 6.91211 11.252 7.54492L6.05666 12.7383L5.21486 13.5801C4.42775 14.3672 3.14845 14.3672 2.36135 13.5801C1.98049 13.1992 1.7715 12.6934 1.7715 12.1543C1.7715 11.6152 1.98049 11.1094 2.36135 10.7285L7.51564 5.57617C7.6465 5.44727 7.81838 5.375 8.00197 5.375H8.00392C8.18752 5.375 8.35744 5.44727 8.48634 5.57617C8.6172 5.70703 8.68752 5.87891 8.68752 6.0625C8.68752 6.24414 8.61525 6.41602 8.48634 6.54492L4.27345 10.7539C4.24025 10.7871 4.22267 10.832 4.22267 10.8789C4.22267 10.9258 4.24025 10.9707 4.27345 11.0039L4.99416 11.7246C5.0271 11.7574 5.07169 11.7758 5.11818 11.7758C5.16467 11.7758 5.20926 11.7574 5.2422 11.7246L9.45314 7.51367C9.84181 7.125 10.0547 6.60938 10.0547 6.06055C10.0547 5.51172 9.83986 4.99414 9.45314 4.60742C8.65041 3.80469 7.34572 3.80664 6.54299 4.60742L6.04299 5.10938L1.39064 9.75976C1.07488 10.0737 0.824586 10.4471 0.654267 10.8585C0.483948 11.2699 0.396997 11.711 0.398456 12.1562C0.398456 13.0605 0.751971 13.9102 1.39064 14.5488C2.05275 15.209 2.91994 15.5391 3.78713 15.5391C4.65431 15.5391 5.5215 15.209 6.18166 14.5488L12.2207 8.51367C13.1094 7.62305 13.6016 6.4375 13.6016 5.17773C13.6035 3.91602 13.1113 2.73047 12.2207 1.83984Z"
        fill="#4F4F4F"/>
    </svg>
  </symbol>
  <symbol id="cancel-large-icon">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 15 15"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="20" width="20"/>
      <path
        d="M8.00003 7.05739L4.47136 3.52872C4.34563 3.40728 4.17722 3.34009 4.00243 3.3416C3.82763 3.34312 3.66042 3.41324 3.53682 3.53684C3.41321 3.66045 3.3431 3.82766 3.34158 4.00245C3.34006 4.17725 3.40726 4.34565 3.52869 4.47139L7.05736 8.00005L3.52869 11.5287C3.40726 11.6545 3.34006 11.8229 3.34158 11.9977C3.3431 12.1725 3.41321 12.3397 3.53682 12.4633C3.66042 12.5869 3.82763 12.657 4.00243 12.6585C4.17722 12.66 4.34563 12.5928 4.47136 12.4714L8.00003 8.94272L11.5287 12.4714C11.6544 12.5928 11.8228 12.66 11.9976 12.6585C12.1724 12.657 12.3396 12.5869 12.4632 12.4633C12.5868 12.3397 12.657 12.1725 12.6585 11.9977C12.66 11.8229 12.5928 11.6545 12.4714 11.5287L8.94269 8.00005L12.4714 4.47139C12.535 4.40989 12.5858 4.33633 12.6208 4.25499C12.6557 4.17365 12.6741 4.08617 12.6749 3.99766C12.6756 3.90914 12.6588 3.82135 12.6252 3.73942C12.5917 3.65749 12.5422 3.58305 12.4796 3.52046C12.417 3.45786 12.3426 3.40836 12.2607 3.37484C12.1787 3.34132 12.0909 3.32445 12.0024 3.32522C11.9139 3.32599 11.8264 3.34438 11.7451 3.37932C11.6638 3.41426 11.5902 3.46505 11.5287 3.52872L8.00003 7.05739Z"
        fill="#BDBDBD"/>
    </svg>
  </symbol>
  <symbol id="question-circle">
    <svg fill="none" height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_12592_51648)">
        <path
          d="M12 6C12 7.5913 11.3679 9.11742 10.2426 10.2426C9.11742 11.3679 7.5913 12 6 12C4.4087 12 2.88258 11.3679 1.75736 10.2426C0.632141 9.11742 0 7.5913 0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0C7.5913 0 9.11742 0.632141 10.2426 1.75736C11.3679 2.88258 12 4.4087 12 6ZM4.122 4.52475H4.74075C4.84425 4.52475 4.92675 4.44 4.94025 4.33725C5.00775 3.84525 5.34525 3.48675 5.94675 3.48675C6.46125 3.48675 6.93225 3.744 6.93225 4.36275C6.93225 4.839 6.65175 5.058 6.2085 5.391C5.70375 5.75775 5.304 6.186 5.3325 6.88125L5.33475 7.044C5.33554 7.09321 5.35564 7.14013 5.39072 7.17465C5.4258 7.20916 5.47304 7.22851 5.52225 7.2285H6.1305C6.18023 7.2285 6.22792 7.20875 6.26308 7.17358C6.29825 7.13842 6.318 7.09073 6.318 7.041V6.96225C6.318 6.42375 6.52275 6.267 7.0755 5.84775C7.53225 5.5005 8.0085 5.115 8.0085 4.30575C8.0085 3.1725 7.0515 2.625 6.00375 2.625C5.0535 2.625 4.0125 3.0675 3.94125 4.3395C3.94022 4.36372 3.94416 4.3879 3.95282 4.41054C3.96149 4.43318 3.97469 4.45381 3.99162 4.47116C4.00855 4.48851 4.02885 4.50222 4.05127 4.51143C4.07369 4.52065 4.09776 4.52518 4.122 4.52475ZM5.86575 9.357C6.32325 9.357 6.6375 9.0615 6.6375 8.66175C6.6375 8.24775 6.3225 7.95675 5.86575 7.95675C5.42775 7.95675 5.109 8.24775 5.109 8.66175C5.109 9.0615 5.42775 9.357 5.8665 9.357H5.86575Z"
          fill="#828282"/>
      </g>
      <defs>
        <clipPath id="clip0_12592_51648">
          <rect fill="white" height="12" width="12"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
</svg>
