@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.BannerCardViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/interactive-banner/styles/swiper.css"/>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/interactive-banner/styles/interactive-banner.css"/>
    <style>
        .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .swiper {
            top: 300px;
            bottom: 0;
        }
        .swiper-slide {
            box-sizing: border-box;
            height: 319px;
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .sale-text {
            bottom: -18px;
        }
        .detail-price {
            position: absolute;
            bottom: 4px;
        }
        .close-icon {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
            width: @(Model.CloseSize)px;
        }
        .logo-icon {
            cursor: pointer;
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
        }
        .swiper-slide img {
            object-fit: contain;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', '@Model.GoogleAnalyticsProperty');
        gtag('set', 'allow_ad_personalization_signals', false);
        gtag('config', '@Model.GoogleAnalyticsProperty', {
            'user_id': '@Model.ClientId',
        });
    </script>
</head>
<body style="background: url('@(Model.BackgroundImageUrl)') 0% 0% / auto 100vh no-repeat">
<div id="container">
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    <img src="@Model.WebsiteRootUrl/assets/images/icons/close.svg" alt="close" class="close-icon" onclick="nvnClose()"/>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @foreach (var product in Model.Products)
            {
                <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="swiper-slide">
                    <div class="relative">
                        <img alt="" src="@product.ImageLink"/>
                        @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                        {
                            <div class="absolute trapezoid-down">
                                <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                            </div>
                        }
                        @if (Model.ShowFreeDelivery)
                        {
                            <div class="absolute trapezoid-up"></div>
                            <span class="absolute free-delivery-text">FREESHIP</span>
                        }
                    </div>
                    <div class="description">
                        @if (Model.ProductName)
                        {
                            <div class="title">
                                @product.Name
                            </div>
                        }
                        <div class="detail-price">
                            @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                            {
                                <span class="price">@(product.DiscountedPrice)đ</span>
                                <span class="promotion">@(product.Price)đ</span>
                            }
                            else
                            {
                                <span class="price">@(product.Price)đ</span>
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
</div>
<script src="@Model.WebsiteRootUrl/assets/templates/interactive-banner/js/swiper.js?v=1"></script>
<script>
    new Swiper(".mySwiper", {
        effect: 'coverflow',
        grabCursor: !0,
        centeredSlides: !0,
        slidesPerView: 'auto',
        loop: 'true',
        coverflowEffect: {
            rotate: 0,
            stretch: 213,
            depth: 100,
            modifier: 1,
            slideShadows: !0,
        },
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
    });
    document.addEventListener('DOMContentLoaded', function() {
        window.parent.postMessage({
            message: 'novanet-init-interactive',
            zoneId: @Model.ZoneId,
        }, '*');
        
        Array.from(document.getElementsByTagName('img')).forEach((element) => {
            element.addEventListener('error', () => {
                window.parent.postMessage({
                    message: 'novanet-init-backup',
                    zoneId: @Model.ZoneId,
                    code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
                }, '*');
            });
        });
    });
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'interactive-banner'
        }, '*');
    }
  
    
    setTimeout(() => {
        const windowHeight = window.innerHeight;
        if (windowHeight < 670) {
          document.getElementsByClassName('mySwiper')[0].style.top = 255 + "px";
        }
    }, 200)
</script>
</body>
</html>