<div *ngIf="!isEditing" class="flex justify-between items-center">
  <div
    *ngIf="campaign.name.length > 45"
    class="overflow-hidden whitespace-nowrap text-ellipsis w-[430px]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
    nzTooltipPlacement="top"
    nzTooltipTitle="{{ campaign.name }}">
    <span
      (click)="navigateToNextLevel()"
      class="font-medium text-main cursor-pointer hover:underline"
    >{{ campaign.name }}</span>
    <a
      [queryParams]="{ campaignId: campaign.id }"
      [routerLink]="['/campaign/edit-campaign']"
      class="block font-medium text-main text-[12px] pt-1 opacity-0 group-hover:opacity-100"
    >Chỉnh sửa</a
    >
  </div>
  <div *ngIf="campaign.name.length <= 45">
    <span
      (click)="navigateToNextLevel()"
      class="font-medium text-main cursor-pointer hover:underline"
    >{{ campaign.name }}</span>
    <a
      [queryParams]="{ campaignId: campaign.id }"
      [routerLink]="['/campaign/edit-campaign']"
      class="block font-medium text-main text-[12px] pt-1 opacity-0 group-hover:opacity-100"
    >Chỉnh sửa</a
    >
  </div>
  <svg-icon
    (click)="setEditing()"
    className="cursor-pointer hidden group-hover:block"
    name="edit-pencil"
    size="20"></svg-icon>
</div>
<div *ngIf="isEditing" class="flex justify-between items-center">
  <input
    (keyup)="onNameEditingKeyUp($event)"
    [(ngModel)]="nameEditing"
    class="focus:ring-main focus:border-main block w-full px-2 py-1.5 mr-3 sm:text-sm border-gray-300 rounded-md"
    type="text"/>
  <span
    (click)="cancelEditing()"
    class="text-[#828282] inline-block mr-3 font-medium cursor-pointer"
  >Hủy</span
  >
  <span
    (click)="saveEditing()"
    class="text-main inline-block font-medium cursor-pointer"
  >Lưu</span
  >
</div>
