:host ::ng-deep {
  .switch-active {
    > button {
      background-color: #0061c1;
    }
  }

  .switch-inactive {
    > button {
      background-color: #bdbdbd;
    }
  }

  .ad-table {
    .ant-table-body {
      max-height: calc(100vh - 303px) !important;
    }
  }
}

.search-dropdown {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  .ant-dropdown-menu {
    box-shadow: none;
  }
}
