<div class="relative">
  <novanet-shared-filter
    (allFilterChange)="onAllFilterChange($event)"
    (dateRangeChange)="onFilterDateRangeChange($event)"
    (exportData)="exportData($event)"
    (predicatesChange)="onFilterPredicatesChange($event)"
    (statusChange)="onFilterStatusChange($event)"
    (updateColumns)="updateColumns($event)"
    [actionsElement]="actionsElement"
    [campaignGroupOptionColumn]="adGroupOptionColumn"
    [createElement]="createElement"
    [exceptFilterStatus]="exceptFilterStatus"
    [selectedColumnDefault]="selectedColumnDefault"
    [showActions]="isAnySelected"
    [tabIndex]="2"></novanet-shared-filter>
  <div
    *ngIf="loading$ | async"
    class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
    <div class="w-full bg-[#828282] opacity-30"></div>
    <div class="absolute top-1/2 left-1/2">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
  <novanet-data-table
    #adListTable
    (nextPage)="onNextPage()"
    (sortByField)="dispatchGetList(1, $event)"
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="advertisings$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    cellClass="h-[1px]"
    ngClass="adlist-table"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <!-- checkbox  -->
        <div *ngSwitchCase="adListTableEnum.CHECKBOX" class="h-full">
          <input
            (change)="onSelectAdChanged($event, data.id)"
            [checked]="isAdSelected(data.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            type="checkbox"/>
        </div>
        <!-- index -->
        <div *ngSwitchCase="adListTableEnum.INDEX" class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <!-- isActive -->
        <div
          *ngSwitchCase="adListTableEnum.IS_ACTIVE"
          class="h-full text-right">
          <nz-switch
            (click)="onAdIsActiveChange(data)"
            [(ngModel)]="data.isActive"
            [ngClass]="data.isActive ? 'switch-active' : 'switch-inactive'"
            [nzCheckedChildren]="checkedTemplate"
            [nzControl]="true"
            [nzLoading]="switchLoadings[data.id]"
            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
          <ng-template #checkedTemplate>
            <svg-icon [height]="7" [width]="9" name="tick-small"></svg-icon>
          </ng-template>
          <ng-template #unCheckedTemplate>
            <svg-icon [size]="8" name="cross-small"></svg-icon>
          </ng-template>
        </div>
        <!-- title -->
        <div *ngSwitchCase="adListTableEnum.NAME" class="group h-full relative">
          <novanet-ad-name-item [advertising]="data"></novanet-ad-name-item>
        </div>
        <!-- template -->
        <div *ngSwitchCase="adListTableEnum.TEMPLATE" class="h-full relative">
          <div class="mb-[12px]">
            <span class="font-bold"
            >{{ getFirstTemplate(data)?.templateName }}
            </span>
            <span class="font-medium"
            >{{ getFirstTemplate(data)?.width ?? 0 }}x{{
              getFirstTemplate(data)?.height ?? 0
              }}px</span
            >
          </div>
        </div>
        <!-- campaign name -->
        <div *ngSwitchCase="adListTableEnum.REDIRECT_LINK" class="h-full">
          <div>
            <a
              [href]="data.redirectLink"
              class="text-main underline"
              rel="noreferrer noopener"
              target="_blank"
            >{{ data.redirectLink }}</a
            >
            <ul class="list-disc pl-[18px]" style="list-style: unset">
              <li class="font-medium">
                <span class="text-[rgb(0,31,76)]">URL Click/tổng click: </span>
                {{
                data?.data?.bannerClickRate
                  ? (data?.data?.bannerClickRate | toPercentage: '1.0-2')
                  : 0
                }}%
              </li>
            </ul>
          </div>
        </div>
        <!-- status -->
        <div *ngSwitchCase="adListTableEnum.STATUS" class="h-full">
          <novanet-campaign-status-icon
            [status]="data.status"></novanet-campaign-status-icon>
        </div>
        <!-- cost -->
        <div *ngSwitchCase="adListTableEnum.COSTS" class="h-full">
          <div>{{ data.data.totalCost | toCurrency }}</div>
        </div>
        <!-- impressions -->
        <div *ngSwitchCase="adListTableEnum.IMPRESSIONS" class="h-full">
          <div>{{ data.data.impressions | toCurrency }}</div>
        </div>
        <!-- clicks -->
        <div *ngSwitchCase="adListTableEnum.CLICKS" class="h-full">
          <div>{{ data.data.clicks | toCurrency }}</div>
        </div>
        <!-- ctr -->
        <div *ngSwitchCase="adListTableEnum.CTR" class="h-full">
          <div>{{ data?.data?.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <!-- cpc -->
        <div *ngSwitchCase="adListTableEnum.CPC" class="h-full">
          <div>{{ data?.data?.cpc | toCurrency }}</div>
        </div>
        <!-- purchase -->
        <div *ngSwitchCase="adListTableEnum.PURCHASE" class="h-full">
          <div>{{ data?.data?.purchase | toCurrency }}</div>
        </div>
        <!-- purchase conversion -->
        <div *ngSwitchCase="adListTableEnum.PURCHASE_CONVERSION" class="h-full">
          <div>
            {{ data?.data?.purchaseConversion | toPercentage: '1.0-2' }}
          </div>
        </div>
        <!-- cps -->
        <div *ngSwitchCase="adListTableEnum.CPS" class="h-full">
          <div>{{ data?.data?.cps | toCurrency }}</div>
        </div>
        <!-- videoView3s -->
        <div *ngSwitchCase="adListTableEnum.VIDEO_VIEW_3S" class="h-full">
          <div>{{ data?.data?.videoView3s | toCurrency }}</div>
        </div>
        <!-- video25Percent -->
        <div *ngSwitchCase="adListTableEnum.VIDEO_25_PERCENT" class="h-full">
          <div>{{ data?.data?.video25Percent | toCurrency }}</div>
        </div>
        <!-- video50Percent -->
        <div *ngSwitchCase="adListTableEnum.VIDEO_50_PERCENT" class="h-full">
          <div>{{ data?.data?.video50Percent | toCurrency }}</div>
        </div>
        <!-- video75Percent -->
        <div *ngSwitchCase="adListTableEnum.VIDEO_75_PERCENT" class="h-full">
          <div>{{ data?.data?.video75Percent | toCurrency }}</div>
        </div>
        <!-- video100Percent -->
        <div *ngSwitchCase="adListTableEnum.VIDEO_100_PERCENT" class="h-full">
          <div>{{ data?.data?.video100Percent | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="adListSummaryEnum.COUNT">
          Số tin quảng cáo:
          <span class="text-main font-medium">
            <ng-container *ngIf="isAnySelected">
              {{ selectedAds.length }}/{{ (advertisings$ | async).length }}
            </ng-container>
            <ng-container *ngIf="!isAnySelected">
              {{
              (adSummary$ | async)?.total ?? (advertisings$ | async).length
              }}
            </ng-container>
          </span>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.REDIRECT_LINK"></div>
        <div *ngSwitchCase="adListSummaryEnum.STATUS"></div>
        <div *ngSwitchCase="adListSummaryEnum.COSTS" class="font-bold">
          <div>{{ (adSummary$ | async)?.totalCost | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.IMPRESSIONS" class="font-bold">
          <div>
            {{ (adSummary$ | async)?.impressions | toCurrency }}
          </div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.CLICKS" class="font-bold">
          <div>{{ (adSummary$ | async)?.clicks | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.CTR" class="font-bold">
          <div>{{ (adSummary$ | async)?.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.CPC" class="font-bold">
          <div>{{ (adSummary$ | async)?.cpc | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.PURCHASE" class="font-bold">
          <div>{{ (adSummary$ | async)?.purchase | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="adListSummaryEnum.PURCHASE_CONVERSION"
          class="font-bold">
          <div>
            {{
            (adSummary$ | async)?.purchaseConversion | toPercentage: '1.0-2'
            }}
          </div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.CPS" class="font-bold">
          <div>{{ (adSummary$ | async)?.cps | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.VIDEO_VIEW_3S" class="font-bold">
          <div>{{ (adSummary$ | async)?.videoView3s | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.VIDEO_25_PERCENT" class="font-bold">
          <div>{{ (adSummary$ | async)?.video25Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.VIDEO_50_PERCENT" class="font-bold">
          <div>{{ (adSummary$ | async)?.video50Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.VIDEO_75_PERCENT" class="font-bold">
          <div>{{ (adSummary$ | async)?.video75Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adListSummaryEnum.VIDEO_100_PERCENT" class="font-bold">
          <div>{{ (adSummary$ | async)?.video100Percent | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #createElement>
  <button
    [nzDropdownMenu]="createAdsetMenu"
    class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
    nz-dropdown
    nzTrigger="click">
    Tạo tin quảng cáo
  </button>
  <nz-dropdown-menu #createAdsetMenu="nzDropdownMenu">
    <div class="bg-white rounded-md search-dropdown">
      <div class="px-4 py-3">
        <div class="text-[#001F4C] font-medium mb-2">Chọn nhóm quảng cáo</div>
        <novanet-text-input
          (ngModelChange)="searchAdsetKeywordChanged.next($event)"
          [ngModel]="searchAdsetKeyword"
          placeholder="Tìm nhóm quảng cáo"></novanet-text-input>
      </div>
      <ul
        (scroll)="onAdsetListScroll($event)"
        class="w-[500px] max-h-[300px] overflow-y-auto"
        nz-menu
        nzSelectable>
        <li
          *ngFor="let adset of adsets$ | async"
          [queryParams]="{ adsetId: adset.id }"
          [routerLink]="['/campaign/add-advertising']"
          nz-menu-item>
          {{ adset.name }}
        </li>
      </ul>
    </div>
  </nz-dropdown-menu>
</ng-template>

<ng-template #actionsElement>
  <nz-select
    (ngModelChange)="onFilterCampaignTypeChange($event)"
    [ngModel]="filterCampaignType"
    [nzAllowClear]="true"
    [nzDropdownClassName]="'status-dropdown'"
    ngClass="w-[150px] rounded-md campaign-filter-select"
    nzPlaceHolder="Loại QC">
    <nz-option
      *ngFor="let campaignType of campaignTypeLabelList"
      [nzLabel]="campaignType.label"
      [nzValue]="campaignType.value"></nz-option>
  </nz-select>
</ng-template>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllAdsChanged($event)"
    [checked]="(advertisings$ | async).length === selectedAds.length"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox"/>
</ng-template>
