<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Danh sách nhóm đối tượng
</div>
<div class="relative flex items-center justify-between bg-white rounded-t-[8px] p-[16px]">
  <div class="flex items-center">
    <button
      [routerLink]="['/object/object-group-detail']"
      class="inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
      <span class="text-[#ffffff]">Tạo nhóm đối tượng</span>
    </button>
    <div
      *ngIf="searchForm"
      [formGroup]="searchForm"
      class="inline-block relative w-[400px]">
      <novanet-text-input
        (keydown.enter)="onSearch()"
        [containerClass]="'h-[40px] w-[400px]'"
        [formControlName]="'search'"
        [placeholder]="'Tìm kiếm'"
        id="email"></novanet-text-input>
      <button
        (click)="onSearch()"
        class="absolute right-2 top-0 bottom-0 flex items-center">
      <span class="text-[18px] text-[#bdbdbd]"
      ><i class="far fa-search"></i
      ></span>
      </button>
    </div>
  </div>
  <div>
    <button
      (click)="copyRemarketingCode()"
      [nzTooltipTitle]="remarketingTooltip"
      class="inline-flex items-center px-4 py-[9px] border border-main text-sm font-medium rounded-md shadow-sm text-main bg-white hover:bg-main hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main"
      nz-tooltip
      nzTooltipColor="#001F4C">
      Mã remarketing
    </button>
  </div>
</div>
<div
  [class.bg-transparent]="!listOfData?.length"
  [class.bg-white]="listOfData?.length"
  class="mb-[16px] overflow-hidden rounded-lg">
  <novanet-data-table
    #productManagementTable
    (nextPage)="nextBatch($event)"
    (sortByField)="onSearch($event)"
    (statusItem)="refreshStatus($event)"
    *ngIf="settings && listOfData.length"
    [columns]="columns"
    [footerTemplate]="footerTemplate"
    [height]="300"
    [itemTemplate]="itemTemplate"
    [listOfData]="listOfData"
    [settings]="settings"
    [titleTemplate]="titleTemplate">
    <ng-template #titleTemplate></ng-template>

    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="objectGroupsEnum.INDEX">
          {{ rowIndex + 1 }}
        </div>

        <!-- PRODUCT_GROUP -->
        <div *ngSwitchCase="objectGroupsEnum.OBJECT_GROUP_NAME">
          <div class="relative h-[35px]">
            <div
              *ngIf="data?.enableChangeValue"
              [formGroup]="changeObjectGroupForm"
              class="grid grid-flow-col-dense grid-cols-8 h-[35px]">
              <div class="col-span-7">
                <novanet-text-input
                  [containerClass]="'h-[30px] w-100'"
                  [formControlName]="'name'"
                  [required]="true">
                </novanet-text-input>
              </div>
              <div class="flex justify-end text-[14px] inline-block">
                <button (click)="onToggleEdit(data)" class="flex items-center">
                  <span class="text-[#bdbdbd] font-medium">Hủy</span>
                </button>
                <button
                  (click)="onSubmitObjectProductGroup(data)"
                  [disabled]="changeObjectGroupForm.invalid"
                  class="flex items-center ml-2">
                  <span class="text-[#0061C1] font-medium">Lưu</span>
                </button>
              </div>
            </div>
            <div *ngIf="!data.enableChangeValue" class="relative group">
              <span>{{ data.name }}</span>
              <span
                (click)="onToggleEdit(data)"
                class="absolute top-0 right-2 cursor-pointer hidden group-hover:block">
                <i class="fal fa-pen"></i>
              </span>
            </div>
          </div>
        </div>

        <!-- AMOUNT -->
        <div *ngSwitchCase="objectGroupsEnum.STATUS">
          <ng-container [ngSwitch]="data.connectionStatus">
            <span
              *ngSwitchCase="true"
              class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-main bg-[#0061C11A]"
              nz-tooltip
              nzTooltipColor="#001F4C"
              nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
              nzTooltipTitle="Đã kết nối với nhóm quảng cáo">
              Đã kết nối
            </span>
            <span
              *ngSwitchCase="false"
              class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[#F2994A] bg-[#F2994A1A]"
              nz-tooltip
              nzTooltipColor="#001F4C"
              nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
              nzTooltipTitle="Chưa kết nối với nhóm quảng cáo">
              Chưa kết nối
            </span>
          </ng-container>
        </div>

        <!-- MODIFIED_DATE -->
        <div *ngSwitchCase="objectGroupsEnum.MODIFIED">
          {{ data.modifiedAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>
      </ng-container>
    </ng-template>

    <ng-template #footerTemplate>
      <div class="h-[40px] pl-[16px] flex items-center">
        <span class="text-[#4F4F4F]"
        >Số nhóm đối tượng:
          <span class="text-[#0061C1] font-medium">{{
            listOfData.length
            }}</span></span
        >
      </div>
    </ng-template>
  </novanet-data-table>
  <div *ngIf="!listOfData?.length" class="flex flex-col items-center">
    <img alt="" class="mt-14" src="/assets/images/no-data-background.svg"/>
    <div class="mt-8 text-center" style="max-width: 425px">
      Bạn chưa có nhóm đối tượng.
    </div>
    <button
      [routerLink]="['/object/object-group-detail']"
      class="inline-flex items-center px-4 py-[9px] mt-[8px] mb-[16px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
      Tạo nhóm đối tượng
    </button>
  </div>
</div>
<ng-template #remarketingTooltip>
  <div class="text-[10px]">
    <div>Ấn vào để copy mã Remarketing</div>
    <div #remarketingCode class="whitespace-pre-wrap">{{ remarketingScript }}</div>
  </div>
</ng-template>
