<section *ngIf="objectGroupForm" [formGroup]="objectGroupForm">
  <div class="pb-[12px] text-[#333333] text-[16px] font-medium">
    Tạo nhóm đối tượng
  </div>

  <div
    class="mb-[16px] bg-white overflow-hidden rounded-lg divide-y divide-gray-200">
    <div class="p-[16px] text-[16px] font-medium text-[#001F4C] sm:px-6">
      Tên nhóm đối tượng
    </div>
    <div class="p-[16px]">
      <div class="pb-[20px]">
        <div class="pb-[8px] text-[14px] text-[#828282]">Tên nhóm</div>
        <div>
          <novanet-text-input
            [errorMessages]="objectGroupFormFieldsError['groupName']"
            [formControlName]="objectGroupFormFields['groupName'].name"
            [placeholder]="'Nhập tên nhóm đối tượng'">
          </novanet-text-input>
        </div>
      </div>
      <div class="text-[#828282] text-[14px]">
        <div class="pb-[8px]">
          <span>Copy cấu hình đối tượng đã tạo <span class="text-[10px]">(Không bắt buộc)</span></span>
        </div>
        <div class="grid grid-cols-2">
          <novanet-dropdown
            (getChange)="clearCopyObject($event)"
            (getNextBatch)="nextBatch(true)"
            [allowClear]="true"
            [containerClass]="'h-[40px]'"
            [formControlName]="objectGroupFormFields['copyObject'].name"
            [isLoading]="$loadingObjectGroupsStatus | async"
            [options]="listOfData"
            [pageSize]="pageSize"
            [placeholder]="'Chọn đối tượng đã tạo'"
            id="dropdown"
            label="name"
            size="default"
            valueKey="id"></novanet-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mb-[16px] bg-white overflow-hidden rounded-lg divide-y divide-gray-200">
    <novanet-visited-website
      #visitedWebsite
      (onVisitedWebsiteData)="
        onPatchVisitedWebsite($event)
      "></novanet-visited-website>
  </div>

  <div
    class="mb-[16px] pb-[16px] bg-white overflow-hidden rounded-lg divide-y divide-gray-200">
    <novanet-behaviour-consumer
      #consumerBehavior
      (onBehaviorConsumerData)="
        onPatchBehaviorConsumer($event)
      "></novanet-behaviour-consumer>
  </div>
  <button
    (click)="onCreateObjectGroup()"
    class="inline-flex items-center px-4 py-[9px] mr-3 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
    Tạo nhóm đối tượng
  </button>
</section>
