﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.NotificationBannerViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/notification-banner/styles/swiper.css"/>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/notification-banner/styles/notification-banner.css"/>
    <style>
       
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div id="collapse-banner" class="bg-image" style="display: @(Model.IsDelay ? "none" : "flex")">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <div class="bg-text-collapse" style="display: flex;" onclick="expandBanner()">
        <img class="logo" src="@Model.Logo" alt="">
        <div class="text">
            <div class="title">
                @Model.Title
            </div>
            <div class="content">@Model.ShortcutNotification</div>
        </div>
    </div>
    <div class="bg-text-extend" style="display: none;" id="extendWrapper">
        <div class="content-expand">@Model.ExtendNotification</div>
        @if (Model.IsCustomImage)
        {
            <div class="slider">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper" style="@(Model.Images?.Count == 1 ? "display: flex; justify-content: center" : "")">
                        @foreach (var image in Model.Images ?? new List<string>())
                        {
                            <a class="swiper-slide" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank">
                                <img src="@image" alt=""/>                        
                            </a>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        }
    </div>
    @if (Model.IsCta)
    {
        <div class="cta-wrapper" style="display: none;">
            <a class="cta-button" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedCtaQueryParams" target="_blank">
                <span>@Model.Cta</span>
            </a>
        </div>

    }
    <div id="button-close" onclick="nvnClose()">
        <div id="close"></div>
    </div>
</div>
<div id="help-container" style="display: @(Model.IsDelay ? "none" : "inline-block")" onclick="expandBanner()">
    <div class="help-text">Vuốt xuống để xem chi tiết</div>
    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="help-chevron-down">
    <path d="M0.141723 0.129218C0.313507 -0.0274098 0.582323 -0.0416487 0.771749 0.086501L0.826019 0.129218L5 3.93471L9.17398 0.129218C9.34577 -0.0274098 9.61458 -0.0416487 9.80401 0.086501L9.85828 0.129218C10.0301 0.285845 10.0457 0.530941 9.90513 0.703654L9.85828 0.753135L5.34215 4.87078C5.17036 5.02741 4.90155 5.04165 4.71212 4.9135L4.65785 4.87078L0.141723 0.753135C-0.0472408 0.580845 -0.0472408 0.301508 0.141723 0.129218Z" fill="#828282"/>
    </svg>
</div>
<script src="@Model.WebsiteRootUrl/assets/templates/notification-banner/js/swiper.js?v=1"></script>
<script>
    let isExpanded = false;
    @if (Model.IsDelay)
    {
        <text>
            setTimeout(() => {
                document.getElementById('collapse-banner').style.display = 'flex';
                document.getElementById('help-container').style.display = 'inline-block';
                window.parent.postMessage({
                    message: 'novanet-init-notification-banner',
                    zoneId: @Model.ZoneId,
                }, '*');
            }, @(Model.Delay * 1000));
        </text>
    }
    else
    {
        <text>
            window.parent.postMessage({
                message: 'novanet-init-notification-banner',
                zoneId: @Model.ZoneId,
            }, '*');
        </text>
    }
    window.addEventListener('message', (event) => {
        switch (event.data.message) {
            case 'novanet-notification-banner-start-collapse':
                if (isExpanded) {
                    isExpanded = false;
                    document.getElementById('extendWrapper').style.display = 'none';
                    document.querySelector('.bg-text-collapse .content').style.display = '-webkit-box';
                    @if (Model.IsCta)
                    {
                        <text>
                            document.querySelector('.cta-wrapper').style.display = 'none';
                        </text>
                    }
                    document.getElementById('help-container').style.display = 'inline-block';
                }
                break;
        }
    });
    document.addEventListener('DOMContentLoaded', () => {
        @if (Model.IsCustomImage && Model.Images?.Count > 1)
        {
            <text>
                try {
                    new Swiper('.mySwiper', {
                        slidesPerView: 'auto',
                        spaceBetween: 8,
                        loop: true,
                        autoplay: {
                            delay: 4000,
                            disableOnInteraction: false,
                        },
                    });
                } catch (e) {
                    console.error(e);
                }
            </text>
        }

        document.body.addEventListener("touchstart", startTouch, { passive: false });
        document.body.addEventListener("touchmove", moveTouch, { passive: false });
        document.body.addEventListener("touchend", endTouch, { passive: false });
        
        // Swipe Up / Down
        let initialX = null;
        let initialY = null;
        
        function startTouch(e) {
            window.parent.postMessage({
                message: 'novanet-notification-banner-scroll-start',
                zoneId: @Model.ZoneId,
            }, '*');
            initialX = e?.touches?.[0]?.clientX ?? (e.originalEvent.touches?.[0]?.clientX || e.originalEvent.changedTouches?.[0]?.clientX);
            initialY = e?.touches?.[0]?.clientY ?? (e.originalEvent.touches?.[0]?.clientY || e.originalEvent.changedTouches?.[0]?.clientY);
        }
        
        function moveTouch(e) {
            if (initialX === null) {
              return;
            }
            if (initialY === null) {
              return;
            }
        
            const currentX = e?.touches?.[0]?.clientX ?? (e.originalEvent.touches?.[0]?.clientX || e.originalEvent.changedTouches?.[0]?.clientX);
            const currentY = e?.touches?.[0]?.clientY ?? (e.originalEvent.touches?.[0]?.clientY || e.originalEvent.changedTouches?.[0]?.clientY);
        
            const diffX = initialX - currentX;
            const diffY = initialY - currentY;
        
            if (Math.abs(diffX) < Math.abs(diffY)) {
                // sliding vertically
                if (diffY > 0) {
                    // swiped up
                    if (isExpanded) {
                        window.parent.postMessage({
                            message: 'novanet-notification-banner-collapse',
                            zoneId: @Model.ZoneId,
                        }, '*');
                    }
                } else {
                    // swiped down
                    expandBanner();
                }
            }
            initialX = null;
            initialY = null;
            e.preventDefault();
        }
        
        function endTouch(e) {
            window.parent.postMessage({
                message: 'novanet-notification-banner-scroll-end',
                zoneId: @Model.ZoneId,
            }, '*');
        }
        // Array.from(document.getElementsByTagName('img')).forEach((element) => {
        //     element.addEventListener('error', () => {
        //         window.parent.postMessage({
        //             message: 'novanet-init-backup',
        //             zoneId: @Model.ZoneId,
        //             code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
        //         }, '*');
        //     });
        // });
    });
    
    function expandBanner() {
        isExpanded = true;
        document.getElementById('extendWrapper').style.display = 'block';
        document.querySelector('.bg-text-collapse .content').style.display = 'none';
        @if (Model.IsCta)
        {
            <text>
                document.querySelector('.cta-wrapper').style.display = 'flex';
            </text>
        }
        document.getElementById('help-container').style.display = 'none';
        setTimeout(() => {
            window.parent.postMessage({
                message: 'novanet-notification-banner-expand',
                zoneId: @Model.ZoneId,
                height: document.getElementById('collapse-banner').getBoundingClientRect().height,
            }, '*');
        });
    }
    
    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'notification-banner',
        }, '*');
    }
</script>
</body>
</html>