<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
      body {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    </style>
  </head>
  <body style="height: auto; min-height: auto">
    <table style="background: #e9ebee; width: 100%; max-width: 100%; min-width: 100%">
      <tbody>
        <tr>
          <td style="height: 32px; line-height: 0">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table style="max-width: 600px; width: 100%; margin: 0 auto">
              <tbody>
                <tr>
                  <td style="background-color: #fff; padding: 35px">
                    <table style="width: 100%; border-bottom: 1px solid #e4e4e4">
                      <tbody>
                        <tr>
                          <td
                            style="
                              height: 40px;
                              width: 100%;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding-bottom: 10px;
                            "
                          >
                            <img
                              width="122"
                              src="https://www.facebook.com/images/email/facebook-blue-logo.png"
                              height="24"
                             alt=""/>
                            <img
                              height="50"
                              src="https://1000logos.net/wp-content/uploads/2021/10/Meta-Logo.png"
                              alt=""
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      style="
                        font-family: Helvetica, Arial, Helvetica, sans-serif;
                        padding-top: 20px;
                      "
                    >
                      <span style="font-weight: 500; font-size: 22px"
                        >Your ad account has been suspended&nbsp;</span
                      ><br />
                      <br />
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >Dear {{ mj:contact.name }},</span
                        ></span
                      ><br />
                      <br />
                      We've detected unusual activity on your account from an unknown device and location. For your security, we've placed a temporary suspension while we investigate. <br />
                      <br />
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >If this wasn't you, please use the link to file a complaint. Otherwise, your account may face permanent suspension. </span
                        ></span
                      >
                    </div>

                    <p
                      style="margin: 0; font-size: 15px; color: rgb(5, 5, 5); text-align: center"
                    >
                      &nbsp;
                    </p>

                    <p
                      style="margin: 0; font-size: 15px; color: rgb(5, 5, 5); text-align: center"
                    >
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          ><a
                            href="https://issuereportappeal-dev.web.app/"
                            style="
                              color: #1b74e4;
                              text-decoration: none;
                              display: block;
                              width: 100%;
                            "
                            target="_blank"
                            ><span
                              style="
                                border-radius: 6px;
                                padding: 15px 0;
                                text-align: center;
                                display: inline-block;
                                color: rgb(255, 255, 255);
                                background-color: rgb(53, 120, 229);
                                font-weight: 500;
                                width: 100%;
                              "
                              >Submit Complaint</span
                            ></a
                          ></span
                        ></span
                      >
                    </p>
                    &nbsp;

                    <p>
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >Thank you for your understanding and cooperation in this matter.</span
                        ></span
                      >
                    </p>

                    <p>
                      <span style="font-size: 16px"
                        ><span style="font-family: Helvetica, Arial, Helvetica, sans-serif"
                          >Sincerely,<br />

                          <img
                            style="margin-left: -15px"
                            height="50"
                            src="https://1000logos.net/wp-content/uploads/2021/10/Meta-Logo.png"
                            alt="" /></span
                      ></span>
                    </p>

                    <hr style="margin: 25px 0 20px; border: none; height: 1px" />
                    <div style="font-family: Helvetica, Arial, Helvetica, sans-serif">
                      <span>Learn more about our </span>
                      <a href="" style="color: #1b74e4; font-weight: 600">Advertising Policies</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 20px">
                    <p style="color: #8f949b; font-size: 12px; text-align: center">
                      If you don&#39;t want to recieve these emails from Meta in the future, please
                      <a href="#" style="color: #3a5897; text-decoration: none">unsubscribe</a>.
                      Meta Platforms. Inc. Attention. Community Support.
                      <a href="#">1 Facebook Way, Menilo Park. CA 94025</a>. To help keep your
                      account secure, please don&#39;t forward this email.
                    </p>

                    <hr style="margin: 20px 0; border: none; height: 1px" />
                    <p style="color: #8f949b; font-size: 12px; text-align: center">
                      Please do not reply to this message via e-mail. This address is automated, and
                      cannot help with questions or requests. We don&#39;t mind that if the message
                      was junk mail!
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
