<html>
<head></head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0"
       id="m_-2443697815964362802m_-1881255628902072199email_table_mr_css_attr"
       style="border-collapse:collapse;max-width:480px;margin:0 auto;">
    <tbody>
    <tr>
        <td id="m_-2443697815964362802m_-1881255628902072199email_content_mr_css_attr"
            style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="100%">
                <tbody>
                <tr>
                    <td colspan="3" height="20" style="line-height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" height="1" style="line-height:1px;"><br></td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                               width="100%">
                            <tbody>
                            <tr>
                                <td height="15" style="line-height:15px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" style="height:32px;line-height:0px;" valign="middle" width="32">
                                    <strong>Facebook Report #10009985452</strong></td>
                            </tr>
                            <tr style="border-bottom:solid 1px #e5e5e5;">
                                <td height="15" style="line-height:15px;">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td><br>
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                               width="100%">
                            <tbody>
                            <tr>
                                <td height="20" style="line-height:20px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><span
                                        style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823;"><span
                                        style="font-size:15px;">Hi {{user.first_name}},</span><br></span></td>
                            </tr>
                            <tr>
                                <td><span
                                        style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823;"><span
                                        style="font-size:15px;"><br>Your account is scheduled for deletion because you have promoted hateful ideologies.<br><br>Hateful ideologies are incompatible with the inclusive and supportive community that our platform provides and we remove accounts that promotes them.
<br><br>&nbsp;Are you sure you wish to permanently delete your account?</span></span></td>
                            </tr>
                            <tr>
                                <td height="16" style="line-height:16px;">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                               width="100%">
                            <tbody>
                            <tr>
                                <td height="2" style="line-height:2px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="middle"><a
                                        href="https://www.facebook.com/105988372010321/posts/105993888676436"
                                        rel=" noopener noreferrer" target="_blank">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                                           width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse;border-radius:6px;text-align:center;display:block;border:none;background:#1877f2;padding:6px 20px 10px 20px;">
                                                <a href="https://www.facebook.com/105988372010321/posts/105993888676436"
                                                   rel="noopener noreferrer"
                                                   style="color:#3b5998;text-decoration:none;display:block;"
                                                   target="_blank"><span
                                                        style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;font-weight:500;font-family:Roboto-Medium,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:17px;">Cancel Deletion</span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a></td>
                            </tr>
                            <tr>
                                <td height="8" style="line-height:8px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="middle"><a
                                        href="https://www.facebook.com/105988372010321/posts/105993888676436"
                                        rel=" noopener noreferrer" style="color:#3b5998;text-decoration:none;"
                                        target="_blank">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                                           width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse;border-radius:6px;text-align:center;display:block;border:none;background:#e4e6eb;padding:6px 20px 10px 20px;">
                                                <a href="https://www.facebook.com/105988372010321/posts/105993888676436"
                                                   rel="noopener noreferrer"
                                                   style="color:#3b5998;text-decoration:none;display:block;"
                                                   target="_blank"><span
                                                        style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#050505;font-size:17px;font-weight:500;font-family:Roboto-Medium,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:17px;">Help Center</span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a></td>
                            </tr>
                            <tr>
                                <td height="8" style="line-height:8px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="16" style="line-height:16px;">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td><br></td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                               width="100%">
                            <tbody>
                            <tr style="border-top:solid 1px #e5e5e5;">
                                <td height="19" style="line-height:19px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#8a8d91;line-height:16px;font-weight:400;">
                                    This message was sent to <a href="mailto:{{user.email}}" rel="noopener noreferrer"
                                                                style="color:#1b74e4;text-decoration:none;"
                                                                target="_blank">{{user.email}}</a>. If you don't want to
                                    receive these emails from <span>Facebook</span> in the future, please <a href="#"
                                                                                                             rel="noopener noreferrer"
                                                                                                             style="color:#1b74e4;text-decoration:none;"
                                                                                                             target="_blank">unsubscribe</a>.<br><span>Facebook</span>,
                                    Inc., Attention: Community Support, 1 <span>Facebook</span> Way, Menlo Park, CA
                                    94025
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#8a8d91;line-height:16px;font-weight:400;">
                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823;font-family:Roboto-Regular,Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#8a8d91;line-height:16px;font-weight:400;">To help keep your account secure, please don't forward this email. <a href="#" rel="noopener noreferrer" style="color:#1b74e4;text-decoration:none;" target="_blank">Learn more</a></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="display:block;width:15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" height="20" style="line-height:20px;">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p></body>
</html>


