<ng-template #notificationRef let-data="data">
  <div class="text-[#0061C1] text-gray3">Xử lý video ({{ data.fileName }})</div>
  <ng-container [ngSwitch]="data.step">
    <div *ngSwitchCase="eUploadNotificationStep.Upload" class="text-[#0061C1] text-[12px]">
      <div>Đang tải lên</div>
      <nz-progress [nzPercent]="data.percentage"></nz-progress>
    </div>
    <div *ngSwitchCase="eUploadNotificationStep.Process" class="text-[#0061C1] text-[12px]">
      <div>Đang xử lý</div>
      <nz-progress [nzPercent]="data.percentage"></nz-progress>
    </div>
    <div *ngSwitchCase="eUploadNotificationStep.Finish" class="text-[#0061C1] text-[12px]">
      <div>Video đã được tải lên thành công</div>
    </div>
  </ng-container>
</ng-template>

<ng-template #emptyCloseBtn></ng-template>

<iframe
  *ngFor="let processingVideo of processingVideos$ | async"
  [src]="processingVideo.videoId | videoProgressIframeUrl"
  class="hidden"></iframe>
