<section
    *ngIf="loadingInProgress"
    class="loading-overlay w-full h-full fixed top-0 bottom-0 z-[10000] bg-[#3f3f3fa1]">
  <div class="loading-overlay__overlay w-full bg-[#828282] opacity-30"></div>

  <div class="loading-overlay__loading absolute top-1/2 left-1/2">
    <novanet-loading></novanet-loading>
  </div>
</section>
