<div class="pb-[15px] max-w-[99%]">
  <ng-container [ngSwitch]="templateType">
    <div *ngSwitchDefault class="w-full">
      <div
        *ngIf="
          !this.bannerToUpload &&
          !templateConfiguration?.configurations?.currentBanner &&
          !templateConfiguration?.configurations?.useBannerTemplate
        "
        class="text-red-600 mb-[12px]">
        Vui lòng tải ảnh lên trước khi sửa tin quảng cáo khác
      </div>
      <div class="w-full">
        <nz-switch
          (ngModelChange)="onConfigChange('useBannerTemplate', $event)"
          [ngModel]="templateConfiguration?.configurations?.useBannerTemplate"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
        <ng-template #unCheckedTemplate
        ><i class="fal fa-times"></i
        ></ng-template>
        <span class="pl-[8px] text-[#4F4F4F]">Sử dụng mẫu banner có sẵn</span>
      </div>
      <ng-container
        *ngIf="!templateConfiguration?.configurations?.useBannerTemplate">
        <div class="mt-[12px]">
          <span class="mr-[12px] text-[#828282]">Ảnh nền</span>
          <div class="relative text-[#0061C1] inline-block pb-[12px]">
            <ng-container
              *ngIf="
                !this.bannerToUpload &&
                (!templateConfiguration?.configurations?.currentBanner ||
                !templateConfiguration?.configurations?.backgroundImageUrl)
              ">
              <button
                class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px] cursor-pointer">
                <i class="fal fa-arrow-from-bottom mr-[8px] cursor-pointer"></i>
                <span class="text-[14px] cursor-pointer">Tải lên</span>
              </button>
              <input
                (change)="
                  handleBannerInput('bannerImage', $event.target['files'])
                "
                accept="image/*"
                class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
                name="myImage"
                type="file"/>
            </ng-container>
            <div
              *ngIf="
                this.bannerToUpload ||
                templateConfiguration?.configurations?.currentBanner
                && templateConfiguration?.configurations?.backgroundImageUrl
              "
              class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
              <i class="fal fa-image text-[20px] mr-1"></i>
              <span class="mr-1">{{
                this.bannerToUpload?.name ||
                templateConfiguration?.configurations?.backgroundImageUrl
                }}</span>
              <i
                (click)="clearBanner('bannerImage')"
                class="fal fa-times text-[20px] cursor-pointer"></i>
            </div>
          </div>
          <div>
            <span class="text-[14px] text-[#828282]"
            >Các kích thước cho phép</span
            >
          </div>
          <div class="w-full">
            <novanet-data-table
              *ngIf="settingTable"
              [columns]="settingColumn"
              [height]="50"
              [itemTemplate]="itemTemplate"
              [listOfData]="dataTable"
              [settings]="settingTable"
              [virtualItemSize]="10">
              <ng-template
                #itemTemplate
                let-colId="colId"
                let-item="row"
                let-rowIndex="rowIndex">
                <ng-container [ngSwitch]="colId">
                  <!-- index -->
                  <div *ngSwitchCase="allowSizeColumn.TYPE">
                    {{ item.type }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.CONTAINER_SIZE">
                    {{ item.containerSize }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.SAFE_AREA">
                    {{ item.safeArea }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.FILE_SIZE">
                    {{ item.fileSize }}
                  </div>
                </ng-container>
              </ng-template>
            </novanet-data-table>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngSwitchCase="templateTypes.PostInRead" class="w-full">
      <div
        *ngIf="
          !this.bannerToUpload &&
          !templateConfiguration?.configurations?.currentAvatar
        "
        class="text-red-600 mb-[12px]">
        Vui lòng tải ảnh lên trước khi sửa tin quảng cáo khác
      </div>
      <div>
        <span class="mr-[12px] text-[#828282]">Ảnh Avatar</span>
        <div class="relative text-[#0061C1] inline-block pb-[12px]">
          <ng-container
            *ngIf="
              !this.bannerToUpload &&
              !templateConfiguration?.configurations?.currentAvatar
            ">
            <button
              class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
              <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
              <span class="text-[14px]">Tải lên</span>
            </button>
            <input
              (change)="
                handleBannerInput('brandAvatar', $event.target['files'])
              "
              accept="image/*"
              class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
              name="myImage"
              type="file"/>
          </ng-container>
          <div
            *ngIf="
              this.bannerToUpload ||
              templateConfiguration?.configurations?.currentAvatar
            "
            class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
            <i class="fal fa-image text-[20px] mr-1"></i>
            <span class="mr-1">{{
              this.bannerToUpload?.name ||
              templateConfiguration?.configurations?.avatarUrl
              }}</span>
            <i
              (click)="clearBanner('bannerImage')"
              class="fal fa-times text-[20px] cursor-pointer"></i>
          </div>
        </div>
      </div>
      <div class="mb-[12px]">
        <label
          class="text-[#828282] block text-[14px] font-normal mb-[8px]"
          for="avatar-name">
          Tên avatar
        </label>
        <div class="mt-1 rounded-md shadow-sm flex">
          <novanet-text-input
            (ngModelChange)="onConfigChange('avatarName', $event)"
            [ngModel]="templateConfiguration?.configurations?.avatarName"
            class="w-full"
            id="avatar-name"></novanet-text-input>
        </div>
        <div *ngIf="avatarNameError" class="text-red-600 text-[12px]">
          Nội dung không vượt quá 45 ký tự
        </div>
      </div>
      <div>
        <label
          class="text-[#828282] block text-[14px] font-normal mb-[8px]"
          for="post-content">
          Nội dung post
        </label>
        <div class="mt-1 rounded-md shadow-sm flex">
          <novanet-textarea-input
            (ngModelChange)="onConfigChange('postContent', $event)"
            [ngModel]="templateConfiguration?.configurations?.postContent"
            class="w-full"
            id="post-content"
            [max]="153">
          </novanet-textarea-input>
        </div>
        <div *ngIf="templateConfiguration?.configurations?.postContent.length > 150" class="text-red-600 text-[12px]">
          Nội dung không vượt quá 150 ký tự
        </div>
      </div>
    </div>
    <div *ngSwitchCase="templateTypes.CatfishEcom" class="w-full">
      <div
        *ngIf="
          (!this.bannerToUpload &&
          !templateConfiguration?.configurations?.currentBanner &&
          !templateConfiguration?.configurations?.useBannerTemplate) ||
          (!expandedContent &&
          !templateConfiguration?.configurations?.useBannerTemplate &&
          !templateConfiguration?.configurations?.expandedContentUrl)
        "
        class="text-red-600 mb-[12px]">
        Vui lòng tải ảnh lên trước khi sửa tin quảng cáo khác
      </div>
      <div class="w-full">
        <nz-switch
          (ngModelChange)="onConfigChange('useBannerTemplate', $event)"
          [ngModel]="templateConfiguration?.configurations?.useBannerTemplate"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
        <ng-template #unCheckedTemplate
        ><i class="fal fa-times"></i
        ></ng-template>
        <span class="pl-[8px] text-[#4F4F4F]">Sử dụng mẫu banner có sẵn</span>
        <span *ngIf="templateConfiguration?.configurations?.useBannerTemplate" class="flex mt-[8px]">
          <svg-icon className="mr-[4px]" name="warning" size="24"></svg-icon>
          Khi sử dụng mẫu banner có sẵn của Novanet thì sẽ không hiển thị phần banner mở rộng
        </span>
      </div>
      <ng-container
        *ngIf="!templateConfiguration?.configurations?.useBannerTemplate">
        <div class="mt-[12px]">
          <div class="grid grid-cols-2">
            <div class="flex flex-col">
              <span class="mr-[12px] text-[#828282]">Banner chân trang</span>
              <div class="relative text-[#0061C1] inline-block pb-[12px]">
                <ng-container *ngIf="!this.bannerToUpload &&
                (!templateConfiguration?.configurations?.currentBanner ||
                !templateConfiguration?.configurations?.backgroundImageUrl)">
                  <button
                    class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px] cursor-pointer">
                    <i class="fal fa-arrow-from-bottom mr-[8px] cursor-pointer"></i>
                    <span class="text-[14px] cursor-pointer">Tải lên</span>
                  </button>
                  <input
                    (change)="
                  handleBannerInput('bannerImage', $event.target['files'])
                "
                    accept="image/*"
                    class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
                    name="myImage"
                    type="file"/>
                </ng-container>
                <div
                  *ngIf="
                this.bannerToUpload ||
                templateConfiguration?.configurations?.currentBanner
                && templateConfiguration?.configurations?.backgroundImageUrl
              "
                  class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
                  <i class="fal fa-image text-[20px] mr-1"></i>
                  <span class="mr-1">{{
                    this.bannerToUpload?.name ||
                    templateConfiguration?.configurations?.backgroundImageUrl
                    }}</span>
                  <i
                    (click)="clearBanner('bannerImage')"
                    class="fal fa-times text-[20px] cursor-pointer"></i>
                </div>
              </div>
            </div>
            <div>
              <span class="mr-[12px] text-[#828282]">Banner mở rộng <span class="text-[11px]">(Ảnh/Html)</span></span>
              <div class="relative text-[#0061C1] inline-block pb-[12px]">
                <ng-container
                  *ngIf="
                !this.expandedContent &&
                !templateConfiguration?.configurations?.expandedContentUrl
              ">
                  <button
                    class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px] cursor-pointer">
                    <i class="fal fa-arrow-from-bottom mr-[8px] cursor-pointer"></i>
                    <span class="text-[14px] cursor-pointer">Tải lên</span>
                  </button>
                  <input
                    (change)="
                  handleBannerInput('expandedContent', $event.target['files'])
                "
                    accept="image/*,.zip"
                    class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
                    name="myImage"
                    type="file"/>
                </ng-container>
                <div
                  *ngIf="
                this.expandedContent ||
                 templateConfiguration?.configurations?.expandedContentUrl
              "
                  class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
                  <i class="fal fa-image text-[20px] mr-1"></i>
                  <span class="mr-1">{{
                    this.expandedContent?.name ||
                    templateConfiguration?.configurations?.expandedContentUrl
                    }}</span>
                  <i
                    (click)="clearBanner('expandedContent')"
                    class="fal fa-times text-[20px] cursor-pointer"></i>
                </div>
              </div>
            </div>
          </div>
          <div>
            <span class="text-[14px] text-[#828282]"
            >Các kích thước cho phép</span
            >
          </div>
          <div class="w-full">
            <novanet-data-table
              *ngIf="settingTable"
              [columns]="settingColumn"
              [height]="100"
              [itemTemplate]="itemTemplate"
              [listOfData]="dataTable"
              [settings]="settingTable">
              <ng-template
                #itemTemplate
                let-colId="colId"
                let-item="row"
                let-rowIndex="rowIndex">
                <ng-container [ngSwitch]="colId">
                  <!-- index -->
                  <div *ngSwitchCase="allowSizeColumn.TYPE">
                    {{ item.type }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.CONTAINER_SIZE">
                    {{ item.containerSize }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.SAFE_AREA">
                    {{ item.safeArea }}
                  </div>

                  <div *ngSwitchCase="allowSizeColumn.FILE_SIZE">
                    {{ item.fileSize }}
                  </div>
                </ng-container>
              </ng-template>
            </novanet-data-table>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="pb-[15px]">
  <nz-switch
    (ngModelChange)="onConfigChange('productName', $event)"
    [ngModel]="templateConfiguration?.configurations?.productName"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
  <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
  <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
  <span class="pl-[8px] text-[#4F4F4F]">Tên sản phẩm</span>
</div>
<div class="pb-[15px]">
  <nz-switch
    (ngModelChange)="onConfigChange('showDiscountedPrice', $event)"
    [ngModel]="templateConfiguration?.configurations?.showDiscountedPrice"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
  <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
  <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
  <span class="pl-[8px] text-[#4F4F4F]"
  >Hiển thị giá khuyến mại và % giảm giá</span
  >
</div>
<div>
  <nz-switch
    (ngModelChange)="onConfigChange('showFreeDelivery', $event)"
    [ngModel]="templateConfiguration?.configurations?.showFreeDelivery"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
  <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
  <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
  <span class="pl-[8px] text-[#4F4F4F]">Hiển thị Freeship tất cả sản phẩm</span>
</div>
