<div *ngIf="form" [formGroup]="form" class="bg-white rounded-lg w-full mt-4 product-group">
  <div
    class="font-medium text-[#001F4C] border-b border-solid border-[#E0E0E0] p-4 text-[16px]">
    Chọn nhóm sản phẩm
  </div>
  <div class="p-4 w-[600px]">
    <div>
      <div class="flex items-center mb-1">
        <input
          [attr.disabled]="productGroupsDisabled"
          [formControlName]="formFields.applyAllProductGroups.name"
          [value]="true"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="productGroupAll"
          type="radio"/>
        <label class="ml-3 block" for="productGroupAll">
          Tất cả sản phẩm
        </label>
      </div>
      <div class="flex items-center">
        <input
          [attr.disabled]="productGroupsDisabled"
          [formControlName]="formFields.applyAllProductGroups.name"
          [value]="false"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="productGroupCustom"
          type="radio"/>
        <label class="ml-3 block" for="productGroupCustom">
          Chọn theo nhóm
        </label>
      </div>
    </div>
    <div
      *ngIf="!form.get(formFields.applyAllProductGroups.name).value"
      class="mt-4">
      <ng-container
        *ngIf="form.get(formFields.productGroupIds.name).value.length">
        <div class="mb-2">
          <novanet-data-table
            *ngIf="selectedProductGroupSetting"
            [columns]="selectedProductGroupColumns"
            [footerTemplate]="footerTemplate"
            [height]="150"
            [itemTemplate]="itemTemplate"
            [listOfData]="selectedProductGroups"
            [settings]="selectedProductGroupSetting">
            <ng-template
              #itemTemplate
              let-colId="colId"
              let-data="row"
              let-rowIndex="rowIndex">
              <ng-container [ngSwitch]="colId">
                <div *ngSwitchCase="adsetAddSelectedProductGroupsEnum.INDEX">
                  {{ rowIndex + 1 }}
                </div>
                <div *ngSwitchCase="adsetAddSelectedProductGroupsEnum.NAME">
                  {{ data?.name }}
                </div>
                <div
                  *ngSwitchCase="
                    adsetAddSelectedProductGroupsEnum.PRODUCT_COUNT
                  ">
                  {{ data?.amount }}
                </div>
                <div *ngSwitchCase="adsetAddSelectedProductGroupsEnum.ACTION">
                  <div *ngIf="isProductGroupDisabled(data?.id)">
                    <i
                      class="far fa-minus-circle cursor-not-allowed text-[#EB5757] opacity-70"></i>
                  </div>
                  <div *ngIf="!isProductGroupDisabled(data?.id)">
                    <i
                      (click)="removeProductGroup(data?.id)"
                      class="far fa-minus-circle cursor-pointer text-[#EB5757]"></i>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #footerTemplate>
              <div class="py-3 px-4 flex flex-row justify-between">
                <div>
                  Tổng:
                  <span class="text-main font-medium">{{
                    selectedProductGroups.length
                    }}</span>
                  nhóm
                </div>
                <div *ngIf="this.formType === 'edit'">
                  <i
                    class="far fa-minus-circle cursor-not-allowed text-[#EB5757] opacity-70"
                    nz-tooltip
                    nzTooltipPlacement="right"
                    nzTooltipTitle="Gỡ tất cả"></i>
                </div>
                <div *ngIf="!(this.formType === 'edit')">
                  <i
                    (click)="removeAllProductGroups()"
                    class="far fa-minus-circle cursor-pointer text-[#EB5757]"
                    nz-tooltip
                    nzTooltipPlacement="right"
                    nzTooltipTitle="Gỡ tất cả"></i>
                </div>
              </div>
            </ng-template>
          </novanet-data-table>
        </div>
      </ng-container>
      <div class="flex flex-row items-center justify-between gap-4">
        <span class="text-gray3 font-medium">Thêm nhóm sản phẩm</span>
        <div class="grow">
          <novanet-select-input
            (nzScrollToBottom)="loadMoreProductGroups()"
            [formControlName]="formFields.productGroupIds.name"
            [maxTagPlaceholder]="true"
            [maxTag]="0"
            [nzOptions]="productGroupOptions"
            inputClass="w-full"
            maxTagText="nhóm sản phẩm đã được chọn"
            nzMode="multiple"
            nzNotFoundContent="Không có dữ liệu"
            placeholder="Chọn nhóm sản phẩm"></novanet-select-input>
        </div>
      </div>
      <div class="mt-2 font-medium text-[#4F4F4F]">
        Để tạo nhóm sản phẩm vui lòng chuyển qua trang
        <a
          [routerLink]="['/product-group-management/create-product-group']"
          class="text-main underline cursor-pointer"
          rel="noopener noreferrer"
          target="_blank">
          quản lý nhóm sản phẩm</a
        >
        để tạo nhóm sản phẩm mới
      </div>
    </div>
    <div class="mt-4">
      <div class="flex">
        <nz-switch
          [formControlName]="formFields.hasProhibitedCategories.name"
          [ngClass]="
            form.get(formFields.hasProhibitedCategories.name).value
              ? 'switch-active'
              : 'switch-inactive'
          "
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <div
          class="ml-2"
          nz-tooltip
          nzTooltipTitle="Nếu chứa sản phẩm không phù hợp thì phía website có thể hủy duyệt quảng cáo của bạn">
          Nhóm sp có chứa sản phẩm cấm
        </div>
        <ng-template #checkedTemplate>
          <svg-icon [height]="7" [width]="9" name="tick-small"></svg-icon>
        </ng-template>
        <ng-template #unCheckedTemplate>
          <svg-icon [size]="8" name="cross-small"></svg-icon>
        </ng-template>
      </div>
    </div>
    <div
      *ngIf="form.get(formFields.hasProhibitedCategories.name).value"
      class="mt-2">
      <novanet-select-input
        [formControlName]="formFields.prohibitedCategoryIds.name"
        [nzOptions]="prohibitedCategoryOptions$ | async"
        inputClass="w-full"
        nzMode="multiple"
        nzNotFoundContent="Không có dữ liệu"
        placeholder="Chọn nhóm sản phẩm cấm"></novanet-select-input>
    </div>
  </div>
</div>
