<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Báo cáo Publisher
</div>
<div
  class="relative flex items-center justify-between bg-white rounded-t-[8px] p-[16px]">
  <div class="flex items-center">
    <novanet-multiple-select-input
      (ngModelChange)="onSelect($event)"
      (nzScrollToBottom)="loadMorePublishers()"
      (search)="onSearch($event)"
      [(ngModel)]="selectedPublishers"
      [nzOptions]="publishers$ | publisherOptions | async"
      [serverSearch]="true"
      [topInput]="false"
      maxTagPlaceholder="publisher"
      placeholder="Tìm kiếm tên publisher, email..."></novanet-multiple-select-input>
  </div>
  <div>
    <novanet-date-picker
      (ngModelChange)="onChangeDateRange($event)"
      [containerClass]="'h-[40px] w-[400px]'"
      [format]="shortDateFormat"
      [inputType]="'range'"
      [ngModel]="dateRange"
      [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']">
    </novanet-date-picker>
  </div>
</div>
<div
  [class.bg-transparent]="!(publisherReports$ | async)?.length"
  [class.bg-white]="(publisherReports$ | async)?.length"
  class="mb-[16px] overflow-hidden rounded-lg">
  <novanet-data-table
    #publisherReportTable
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="publisherReports$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    ngClass="publisher-table"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div
          *ngSwitchCase="publisherReportTableEnum.CHECKBOX"
          class="group h-full relative">
          <input
            (change)="selectPublisherReport(data?.id)"
            [checked]="isReportSelected(data?.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            type="checkbox" />
        </div>
        <!-- index -->
        <div *ngSwitchCase="publisherReportTableEnum.INDEX" class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <div
          *ngSwitchCase="publisherReportTableEnum.EMAIL"
          class="group h-full relative">
          {{ data?.email }}
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.USER_NAME" class="h-full">
          <div>{{ data?.userName }}</div>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.FULL_NAME" class="h-full">
          <div>{{ data?.fullName }}</div>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.VIEWS" class="h-full">
          <div>{{ data?.views | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.CLICKS" class="h-full">
          <div>{{ data?.clicks | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.CTR" class="h-full">
          <div>{{ data.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.EARNED" class="h-full">
          <div>{{ data.earned | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="publisherReportTableEnum.INDEX" class="font-medium">
          Số publisher:
          <span class="text-main font-medium">
            <ng-container *ngIf="isAnySelected">
              {{ selectedPublisherReports.length }}/{{
                (publisherReports$ | async).length
              }}
            </ng-container>
            <ng-container *ngIf="!isAnySelected">
              {{ (publisherReports$ | async).length }}
            </ng-container>
          </span>
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.VIEWS" class="font-medium">
          {{ (reportSummary$ | async)?.views | toCurrency }}
        </div>
        <div
          *ngSwitchCase="publisherReportTableEnum.CLICKS"
          class="font-medium">
          {{ (reportSummary$ | async)?.clicks | toCurrency }}
        </div>
        <div *ngSwitchCase="publisherReportTableEnum.CTR" class="font-medium">
          {{ (reportSummary$ | async)?.ctr | toPercentage: '1.0-2' }}
        </div>
        <div
          *ngSwitchCase="publisherReportTableEnum.EARNED"
          class="font-medium">
          {{ (reportSummary$ | async)?.earned | toCurrency }}
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #checkboxHeader>
  <input
    (change)="selectAllPublisherReports($event)"
    [checked]="
      (publisherReports$ | async).length !== 0 &&
      (publisherReports$ | async).length === selectedPublisherReports.length
    "
    [disabled]="(publisherReports$ | async).length === 0"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox" />
</ng-template>
