﻿@using AntDesign

@if (IsEdit)
{
    <div class="flex items-center">
        <Input Placeholder="Basic usage" @bind-Value="@TxtValue" />
        <Button Size="@_size" Type="@ButtonType.Text" OnClick="@OnClickCancel">cancel</Button>
        <Button Size="@_size" class="bg-[#1890ff]" Type="@ButtonType.Primary" OnClick="@OnClickSave">save</Button>
    </div>
}
else
{
    <div class="flex items-center">
        <p class="w-full">
            @TxtValue
        </p>
        <Icon Class="text-[1.2rem] cursor-pointer" Type="edit" Theme="outline" OnClick="@OnClickEdit"/>
    </div>
}
