<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Nạp tiền tài khoản
</div>
<div class="mb-[16px] bg-white overflow-hidden rounded-lg">
  <div class="p-[16px] text-[16px] font-medium text-[#001F4C]">
    Nạp tiền cho tài khoản khách hàng
  </div>
  <div class="pl-[16px] pr-[16px] pb-[16px]">
    <div [formGroup]="addRechargeForm" class="grid grid-cols-2">
      <div>
        <div class="mb-[20px]">
          <label class="block text-[14px] text-[#828282]" for="account">
            Tài khoản
          </label>
          <div class="mt-[8px]">
            <novanet-text-input
              (input)="searchUserChanged.next($event)"
              [containerClass]="'h-[40px]'"
              [errorMessages]="addRechargeFormFieldErrors['email']"
              [nzAutocomplete]="auto"
              [placeholder]="'Email đăng nhập của khách hàng...'"
              formControlName="email"
              id="account"
              novanetValidateOnblur>
            </novanet-text-input>
            <nz-autocomplete #auto nzBackfill>
              <nz-auto-option *ngFor="let option of searchedUserOptions"
                              [nzValue]="option">{{ option }}</nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div class="mb-[20px]">
          <label class="block text-[14px] text-[#828282]" for="money">
            Số tiền nạp
          </label>
          <div class="mt-[8px]">
            <novanet-number-input
              [arrow]="false"
              [containerClass]="'h-[40px]'"
              [errorMessages]="addRechargeFormFieldErrors['amount']"
              [placeholder]="'Nhập số tiền cần nạp...'"
              [unit]="'VNĐ'"
              formControlName="amount"
              id="money">
            </novanet-number-input>
          </div>
        </div>

        <div class="mb-[16px]">
          <label class="block text-[14px] text-[#828282]" for="note">
            Ghi chú
          </label>
          <div class="mt-1">
            <novanet-textarea-input
              [maxRows]="10"
              [minRows]="5"
              [placeholder]="'Nhập nội dung ghi chú...'"
              formControlName="note"
              id="note">
            </novanet-textarea-input>
          </div>
        </div>

        <div class="pt-1">
          <button
            (click)="onSubmit()"
            class="w-[263px] h-[40px] flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#0061C1] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit">
            Giao dịch
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
