<div *ngIf="products.length" id="container-interactive">
  <img
      class="w-full"
      src="/assets/images/mobile-advertising/post-in-read-content.svg"/>
  <div class="post-in-read mypost-in-read" style="overflow: hidden;">
    <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    <a href="https://novanet.vn/" target="_blank">
      <img src="/assets/images/icons/novanet-logo-re.svg" alt="logo" class="logo-icon"/>
    </a>
    <div class="brand-detail">
      <div class="avatar">
        <img id="brand-avatar"
             [src]="avatarImage"
             alt=""/> <span
          id="brand-name">{{template.configurations['avatarName']}}</span>
      </div>
      <div id="brand-description">{{template.configurations['postContent']}}</div>
      <div>
        <a id="see-more" href="/" target="_blank">Xem thêm</a>
      </div>
    </div>
    <div class="post-in-read-wrapper">
      <ng-container *ngFor="let product of products; let index = index">
        <a target="_blank" *ngIf="index < 4"
           href="/"
           class="post-in-read-slide wrapbox auto relative">
          <div class="relative">
            <img alt="" [src]="product.data['ImageLink']"/>

            <div class="absolute trapezoid-down"
                 *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) > 0">
              <span class="absolute sale-text">sale {{salePercent(product.data) | number: '1.0-0'}}%</span>
            </div>
            <ng-container *ngIf="template.configurations['showFreeDelivery']">
              <div class="absolute trapezoid-up"></div>
              <span class="absolute free-delivery-text">FREESHIP</span>
            </ng-container>
          </div>
          <div class="description">
            <div *ngIf="template.configurations['productName']" class="title">
              {{product.data['Title']}}
            </div>
            <div class="detail-price absolute bottom-0">
            <span
                *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                class="price">
              {{product.data['SalePrice'] | number: '1.0-0'}} đ
            </span>
              <span *ngIf="!template.configurations['showDiscountedPrice'] || salePercent(product.data) === 0"
                    class="price">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
              <span
                  *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                  class="promotion">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
    <div class="post-in-read-pagination"></div>
  </div>
</div>
