<div *ngIf="products.length" id="container-interactive">
  <img
      class="w-full"
      src="/assets/images/mobile-advertising/mobile-content.svg"/>
  <div class="cursor-pointer absolute top-[32px] h-[790px] overflow-hidden">
    <img
        [src]="template.configurations['useBannerTemplate'] ?'/assets/templates/catfish-ecom/default-images/expand-image.png' : backgroundImage"/>
  </div>
  <swiper
      [centeredSlides]="true"
      [coverflowEffect]="{
      rotate: 0,
      stretch: 213,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
      [effect]="'coverflow'"
      [grabCursor]="true"
      [loop]="true"
      [pagination]="true"
      [slidesPerView]="'auto'"
      class="interactive-swiper"
  >
    <ng-template *ngFor="let product of products; let index = index"
                 swiperSlide
    >
      <div class="relative">
        <img
            [src]="product.data['ImageLink']"/>
        <ng-container
            *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) > 0">
          <div class="absolute trapezoid-down">
            <span class="absolute sale-text">SALE {{salePercent(product.data) | number: '1.0-0'}}%</span>
          </div>
        </ng-container>

        <ng-container *ngIf="template.configurations['showFreeDelivery']">
          <div class="absolute trapezoid-up"></div>
          <span class="absolute free-delivery-text">FREESHIP</span>
        </ng-container>
      </div>
      <div class="description">
        <div *ngIf="template.configurations['productName']" class="title">
          {{product.data['Title']}}
        </div>
        <div class="detail-price absolute bottom-0">
            <span
                *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                class="price">
              {{product.data['SalePrice'] | number: '1.0-0'}} đ
            </span>
          <span *ngIf="!template.configurations['showDiscountedPrice'] || salePercent(product.data) === 0"
                class="price">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
          <span
              *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
              class="promotion">
              {{product.data['Price'] | number: '1.0-0'}} đ
            </span>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
