body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 1.3;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  color: #858585;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

ul,
ol {
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}

.header-area {
  background-color: #858585;
  height: 50px;
}

.body-mobile {
  max-width: 480px;
  height: auto;
  padding-bottom: 100px;
}

.box-banner-card {
  width: 100%;
}

.bottom-banner {
  height: 100px;
}

.box-banner-bottom {
  background-color: #858585;
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.icon-close {
  overflow: hidden;
  position: fixed;
  bottom: 70px;
  right: 16px;
  z-index: 1000;
}

.box-banner-interactive {
  width: 100%;
}

.box-banner-flying-carpet {
  width: 100%;
}

.box-banner-inread-ecom {
  width: 100%;
}

.box-banner-post-inread {
  width: 100%;
}

.icon-close-banner-inread-ecom {
  padding: 4px;

}

.box-img-close {
  display: flex;
  justify-content: end;
}

.text-view {
  padding: 16px;
  margin-top: 8px;
}

.box-text {
  padding: 8px;
}