::ng-deep {
  .search-advertising .ant-popover-inner-content {
    padding: 8px 0px 0px 0px;
  }

  .search-advertising .ant-popover-arrow {
    display: none;
  }

  .search-advertising p:hover {
    background-color: #f2f7fc;
  }

  .search-advertising .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0061c1 !important;
    border-color: #0061c1 !important;
  }

  .search-advertising {
    padding-top: 4px !important;
  }
}


:host ::ng-deep {
  nz-select-top-control {
    height: auto !important;
  }

  .campaign-filter-select {
    .ant-select-selector {
      height: 40px;
      border-radius: 0.375rem;

      .ant-select-selection-placeholder {
        line-height: 40px;
      }

      .ant-select-selection-item {
        line-height: 40px;
      }
    }
  }

  .campaign-tag-select {
    font-size: 14px;
    border-color: rgb(209, 213, 219);

    &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: rgb(209, 213, 219);
    }

    &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
      .ant-select-selector {
        border-color: #0061c1;
        box-shadow: none;
      }
    }

    &.ant-select-multiple {
      .ant-select-selection-item-remove > .anticon {
        vertical-align: 0em;
      }

      .ant-select-selection-item-content {
        white-space: unset;
      }
    }

    .ant-select-selector {
      height: 40px;
      border-radius: 0.375rem;
    }
  }

  .private-template-select {
    .cdk-virtual-scroll-viewport {
      min-height: 40px;
    }
  }

  .ant-table-body {
    max-height: calc(100vh - 260px) !important;
  }
}
