<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Báo cáo định dạng quảng cáo
</div>
<div
  [formGroup]="searchForm"
  class="relative flex items-center justify-between bg-white rounded-t-[8px] p-[16px]">
  <div class="flex items-center pr-[16px]">
    <novanet-multiple-select-input
      (ngModelChange)="onSelect($event)"
      [ngModel]="selectedTemplates"
      [nzOptions]="ListTemplate"
      [ngModelOptions]="{ standalone: true }"
      [serverSearch]="false"
      [useMaxTag]="false"
      [topInput]="false"
      placeholder="Tìm kiếm định dạng">
    </novanet-multiple-select-input>
  </div>
  <div class="flex">
    <nz-select
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="onFilterCampaignTypeChange($event)"
      [ngModel]="filterCampaignType"
      [nzAllowClear]="true"
      [nzDropdownClassName]="'status-dropdown'"
      ngClass="w-[150px] mr-3 rounded-md campaign-filter-select"
      nzPlaceHolder="Loại QC">
      <nz-option
        *ngFor="let campaignType of campaignTypeLabelList"
        [nzLabel]="campaignType.label"
        [nzValue]="campaignType.value"></nz-option>
    </nz-select>

    <novanet-date-picker
      [containerClass]="'h-[40px] w-[400px]'"
      [formControlName]="'date'"
      [format]="shortDateFormat"
      [inputType]="'range'"
      [ngModelOptions]="true"
      [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']">
    </novanet-date-picker>
  </div>
</div>
<div
  [class.bg-transparent]="!(advertisingTemplateReports$ | async)?.length"
  [class.bg-white]="(advertisingTemplateReports$ | async)?.length"
  class="mb-[16px] overflow-hidden rounded-lg">
  <novanet-data-table
    #advertisingTemplateReportTable
    (sortByField)="dispatchGetList($event)"
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="advertisingTemplateReports$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    ngClass="website-table"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <!-- index -->
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.INDEX"
          class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.TEMPLATE_TYPE"
          class="group h-full relative">
          {{ data?.templateName }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.POSITION"
          class="h-full">
          <div>Mobile | {{ data?.width }}x{{ data?.height }}px</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.COST"
          class="h-full">
          <div>{{ data?.cost | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.IMPRESSIONS"
          class="h-full">
          <div>{{ data?.impressions | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CLICKS"
          class="h-full">
          <div>{{ data?.clicks | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CTR"
          class="h-full">
          <div>{{ data.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CPC"
          class="h-full">
          <div>{{ data.cpc | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.PURCHASE"
          class="h-full">
          <div>{{ data?.purchase | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.PURCHASE_CONVERSION"
          class="h-full">
          <div>{{ data?.purchaseConversion | toPercentage: '1.0-2' }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CPS"
          class="h-full">
          <div>{{ data?.cps | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.ADVERTISING_TYPE"
          class="h-full">
          {{ campaignTypeLabels[data?.campaignType] }}
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.INDEX"
          class="font-bold">
          Số định dạng quảng cáo:
          {{ (advertisingTemplateReports$ | async).length }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.ADVERTISING_TYPE"
          class="font-bold"></div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.COST"
          class="font-bold">
          {{ (reportSummary$ | async)?.cost | toCurrency }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.IMPRESSIONS"
          class="font-bold">
          {{ (reportSummary$ | async)?.impressions | toCurrency }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CLICKS"
          class="font-bold">
          {{ (reportSummary$ | async)?.clicks | toCurrency }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CTR"
          class="font-bold">
          {{ (reportSummary$ | async)?.ctr | toPercentage: '1.0-2' }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CPC"
          class="font-bold">
          {{ (reportSummary$ | async)?.cpc | toCurrency }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.PURCHASE"
          class="font-bold">
          {{ (reportSummary$ | async)?.purchase | toCurrency }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.PURCHASE_CONVERSION"
          class="font-bold">
          {{
            (reportSummary$ | async)?.purchaseConversion | toPercentage: '1.0-2'
          }}
        </div>
        <div
          *ngSwitchCase="advertisingTemplateReportTableEnum.CPS"
          class="font-bold">
          {{ (reportSummary$ | async)?.cps | toCurrency }}
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>
