﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.CatfishCollabBrandingViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/catfish-collab-branding/styles/catfish-collab-branding.css"/>
    <style>
       
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div id="novanet_ad-wrapper" style="bottom: 0;">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <div id="novanet_ad_view_sticky__container__">
        @if (Model.CollapseBanner?.Contains(".html") == true)
        {
            <iframe src="@Model.CollapseBanner"></iframe>    
        }
        else
        {
            <img src="@Model.CollapseBanner" alt=""/>
        }
    </div>
    @if (Model.IsCta)
    {
        <a class="cta-catfish-button" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedCtaQueryParams" target="_blank">
            <span>@Model.Cta</span>
        </a>
    }
    <div class="button-close-catfish" onclick="nvnClose()">
        <div class="close-catfish"></div>
    </div>
</div>
<div id="catfish-extend-branding">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    @if (Model.ExtendBanner?.Contains(".html") == true)
    {
        <iframe src="@Model.ExtendBanner"></iframe>    
    }
    else
    {
        <img src="@Model.ExtendBanner" alt=""/>
    }
    <div class="catfish-information" style="display: none;">
        <div class="catfish-overview">
            <img class="catfish-logo" src="@Model.Logo" alt="">
            <div class="catfish-title">@Model.Title</div>
        </div>
        <div class="catfish-content">@Model.Description</div>
    </div>
    @if (Model.IsCta)
    {
        <a class="cta-catfish-button" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedCtaQueryParams" target="_blank">
            <span>@Model.Cta</span>
        </a>
    }
    <div class="button-close-catfish" onclick="nvnClose()">
        <div class="close-catfish"></div>
    </div>
</div>
<script>
    let isExpanded = false;
    window.addEventListener('message', (event) => {
        switch (event.data.message) {
            case 'novanet-catfish-collab-branding-start-expand':
                document.getElementById('catfish-extend-branding').style.top = document.documentElement.clientHeight + 'px';
                setTimeout(() => {
                    document.querySelector('.catfish-information').style.display = 'block';
                    document.getElementById('catfish-extend-branding').style.transition = 'top 500ms ease-in-out';
                    document.getElementById('novanet_ad-wrapper').style.bottom = document.documentElement.clientHeight + 'px';
                    document.getElementById('catfish-extend-branding').style.top = '0';
                });
                break;
            case 'novanet-catfish-collab-branding-start-collapse':
                document.getElementById('catfish-extend-branding').style.top = `${(120 / 375) * document.documentElement.clientWidth}px`;
                break;
        }
    });
    document.addEventListener('DOMContentLoaded', () => {
        window.parent.postMessage({
            message: 'novanet-init-catfish-collab-branding',
            zoneId: @Model.ZoneId,
        }, '*');
        setTimeout(() => {
            document.getElementById('catfish-extend-branding').style.top = `${(120 / 375) * document.documentElement.clientWidth}px`;
        });
        document.body.addEventListener("touchstart", startTouch, { passive: false });
        document.body.addEventListener("touchmove", moveTouch, { passive: false });
        document.body.addEventListener("touchend", endTouch, { passive: false });
        
        // Swipe Up / Down
        let initialX = null;
        let initialY = null;
        
        function startTouch(e) {
            window.parent.postMessage({
                message: 'novanet-catfish-collab-branding-scroll-start',
                zoneId: @Model.ZoneId,
            }, '*');
            initialX = e?.touches?.[0]?.clientX ?? (e.originalEvent.touches?.[0]?.clientX || e.originalEvent.changedTouches?.[0]?.clientX);
            initialY = e?.touches?.[0]?.clientY ?? (e.originalEvent.touches?.[0]?.clientY || e.originalEvent.changedTouches?.[0]?.clientY);
        }
        
        function moveTouch(e) {
            if (initialX === null) {
              return;
            }
            if (initialY === null) {
              return;
            }

            const currentX = e?.touches?.[0]?.clientX ?? (e.originalEvent.touches?.[0]?.clientX || e.originalEvent.changedTouches?.[0]?.clientX);
            const currentY = e?.touches?.[0]?.clientY ?? (e.originalEvent.touches?.[0]?.clientY || e.originalEvent.changedTouches?.[0]?.clientY);

            const diffX = initialX - currentX;
            const diffY = initialY - currentY;
        
            if (Math.abs(diffX) < Math.abs(diffY)) {
                // sliding vertically
                if (diffY > 0) {
                    // swiped down
                    expandBanner();
                } else {
                    // swiped up
                    collapseBanner();
                }
            }
            initialX = null;
            initialY = null;
            e.preventDefault();
        }
        
        function endTouch(e) {
            window.parent.postMessage({
                message: 'novanet-catfish-collab-branding-scroll-end',
                zoneId: @Model.ZoneId,
            }, '*');
        }
        // Array.from(document.getElementsByTagName('img')).forEach((element) => {
        //     element.addEventListener('error', () => {
        //         window.parent.postMessage({
        //             message: 'novanet-init-backup',
        //             zoneId: @Model.ZoneId,
        //             code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
        //         }, '*');
        //     });
        // });
    });
    
    function expandBanner() {
        if (!isExpanded) {
            isExpanded = true;
            document.getElementById('catfish-extend-branding').style.removeProperty('transition');
            document.getElementById('catfish-extend-branding').style.top = '100vh';
            window.parent.postMessage({
                message: 'novanet-catfish-collab-branding-expand',
                zoneId: @Model.ZoneId,
            }, '*');
        }
    }
    
    function collapseBanner() {
        if (isExpanded) {
            isExpanded = false;
            document.getElementById('novanet_ad-wrapper').style.bottom = '0';
            document.getElementById('catfish-extend-branding').style.top = document.documentElement.clientHeight + 'px';
            document.querySelector('.catfish-information').style.display = 'none';
            setTimeout(() => {
                window.parent.postMessage({
                    message: 'novanet-catfish-collab-branding-collapse',
                    zoneId: @Model.ZoneId,
                }, '*');
            }, 500);
        }
    }

    function nvnClose() {
        if (isExpanded) {
            collapseBanner();
        } else {
            window.parent.postMessage({
                message: 'novanet-close',
                zoneId: @Model.ZoneId,
                templateType: 'catfish-collab-branding',
            }, '*');
        }
    }
</script>
</body>
</html>