.dot-pulse {
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before {
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px rgba(224, 224, 224, 1);
  }
  30% {
    box-shadow: 9984px 0 0 2px rgba(224, 224, 224, 1);
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px rgba(224, 224, 224, 1);
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px rgba(224, 224, 224, 1);
  }
  30% {
    box-shadow: 9999px 0 0 2px rgba(224, 224, 224, 1);
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px rgba(224, 224, 224, 1);
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px rgba(224, 224, 224, 1);
  }
  30% {
    box-shadow: 10014px 0 0 2px rgba(224, 224, 224, 1);
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px rgba(224, 224, 224, 1);
  }
}
