body,
html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-width: 0;
}

body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-size: 375px 600px !important;
}

#container-flying-carpet {
  display: block;
  width: 375px;
  height: 810px;
  text-decoration: unset;

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .flying-carpet {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .wrapbox {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
  }

  .auto {
    line-break: auto;
  }

  .flying-carpet-slide {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    padding: 4px;
    max-width: 160px;
    height: 207px;
    border-radius: 4px;
    margin: 8px;
    text-decoration: unset;
  }

  .flying-carpet-wrapper {
    display: block;
    margin: auto;
    max-width: 368px;
  }

  .flying-carpet-slide img {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 160px;
  }

  .trapezoid-up {
    border-bottom: 21px solid #fff;
    border-left: 15px solid transparent;
    transform: rotate(180deg);
    height: 21px;
    width: 70px;
    top: 0;
  }

  .trapezoid-down {
    border-bottom: 22px solid #ff2828;
    border-left: 15px solid transparent;
    height: 21px;
    width: 75px;
    bottom: 0;
    right: 0;
  }

  .free-delivery-text {
    top: 4px;
    left: 6px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #ff2828;
  }

  .sale-text {
    bottom: -16px;
    left: 1px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .description {
    padding: 6px;
  }

  .detail-price {
    line-height: 21px;
  }

  .price {
    font-weight: 700;
    font-size: 10px;
    color: red;
    padding-right: 4px;
  }

  .promotion {
    font-size: 8px;
    text-decoration-line: line-through;
    color: #828282;
  }

  .title {
    line-height: 12px;
    font-weight: 600;
    font-size: 11px;
    max-width: 171px;
    color: #4f4f4f;
  }

  body {
    background-size: 100vw auto !important;
  }

  .outside-area {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .flying-carpet {
    bottom: 12px;
    z-index: 2;
  }

  .flying-carpet-wrapper {
    max-width: unset;
    text-align: center;
    display: flex;
    padding: 0 6px;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-end;
  }

  .flying-carpet-slide {
    box-sizing: border-box;
    width: calc(50% - 12px);
    height: 216px;
    text-align: initial;
    position: relative;
    max-width: unset;
    margin: 6px;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
  }

  .description {
    padding: 4px 0;
  }

  .detail-price {
    position: absolute;
    bottom: 0;
  }

  .sale-text {
    bottom: -18px;
  }

  .flying-carpet-slide img {
    object-fit: contain;
  }

  .logo-icon {
    cursor: pointer;
    position: absolute;
    width: 35px;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 8px;
  }
}
