:host ::ng-deep .location-collapse-panel {
  &.ant-collapse-item {
    > .ant-collapse-header {
      padding: 0.5rem 0;
      display: inline-flex;

      .ant-collapse-arrow {
        right: -20px;
      }
    }
  }
}
