<div
  *ngIf="form"
  [formGroup]="form"
  class="bg-white rounded-lg w-full mt-4 ad-target">
  <div
    class="font-medium text-[#001F4C] border-b border-solid border-[#E0E0E0] p-4 text-[16px]">
    Nhắm chọn quảng cáo
  </div>
  <div class="p-4">
    <!-- locations -->
    <div>
      <div class="text-[#333333] font-semibold mb-3">Nhắm chọn theo địa lý</div>
      <div>
        <nz-collapse nzExpandIconPosition="right" nzGhost>
          <ng-container *ngFor="let region of locations | groupLocation">
            <nz-collapse-panel
              *ngIf="region.regionName !== 'Nước ngoài'"
              [nzActive]="region.active"
              [nzHeader]="locationPanelHeader"
              ngClass="location-collapse-panel">
              <div class="grid grid-cols-5 gap-2">
                <div *ngFor="let location of region.locations" class="pl-8">
                  <input
                    (change)="toggleLocation($event, location.id)"
                    [checked]="isLocationChecked(location.id)"
                    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                    id="cbxProvince{{ location.id }}"
                    type="checkbox" />
                  <label
                    class="ml-2 inline-block"
                    for="cbxProvince{{ location.id }}">
                    {{ location.provinceName }}
                  </label>
                </div>
              </div>
              <ng-template #locationPanelHeader>
                <div>
                  <input
                    (change)="toggleAllProvinces($event, region.regionName)"
                    (click)="onClickAllProvince($event)"
                    [checked]="isRegionChecked(region.regionName)"
                    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                    type="checkbox" />
                  <div class="ml-2 inline-block">
                    {{ region.regionName }}
                    {{
                      form.get(formFields.locationIds.name).value
                        | selectedByRegion: region.regionName:locations
                    }}
                  </div>
                </div>
              </ng-template>
            </nz-collapse-panel>
            <div *ngIf="region.regionName === 'Nước ngoài'" class="mt-[14px]">
              <input
                (change)="toggleAllProvinces($event, region.regionName)"
                (click)="onClickAllProvince($event)"
                [checked]="isRegionChecked(region.regionName)"
                class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                type="checkbox" />
              <div class="ml-2 inline-block">
                {{ region.regionName }}
                {{
                  form.get(formFields.locationIds.name).value
                    | selectedByRegion: region.regionName:locations
                }}
              </div>
            </div>
          </ng-container>
        </nz-collapse>
      </div>
    </div>

    <!-- genders -->
    <div class="mt-4">
      <div class="text-[#333333] font-semibold mb-3">
        Nhắm chọn theo giới tính
      </div>
      <div class="grid grid-cols-5 gap-2">
        <div>
          <input
            (change)="toggleAllGenders($event)"
            [checked]="isAllGendersChecked()"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            id="cbxAllGender"
            type="checkbox" />
          <label class="ml-2 inline-block" for="cbxAllGender"> Tất cả </label>
        </div>
        <div *ngFor="let gender of genders">
          <input
            (change)="toggleGender($event, gender.id)"
            [checked]="isGenderChecked(gender.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            id="cbxGender{{ gender.id }}"
            type="checkbox" />
          <label class="ml-2 inline-block" for="cbxGender{{ gender.id }}">
            {{ gender.name }}
          </label>
        </div>
      </div>
    </div>

    <!-- ages -->
    <div class="mt-4">
      <div class="text-[#333333] font-semibold mb-3">
        Nhắm chọn theo độ tuổi
      </div>
      <div class="grid grid-cols-5 gap-2">
        <div>
          <input
            (change)="toggleAllAges($event)"
            [checked]="isAllAgesChecked()"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            id="cbxAllAge"
            type="checkbox" />
          <label class="ml-2 inline-block" for="cbxAllAge"> Tất cả </label>
        </div>
        <div *ngFor="let age of ages">
          <input
            (change)="toggleAge($event, age.id)"
            [checked]="isAgeChecked(age.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            id="cbxAge{{ age.id }}"
            type="checkbox" />
          <label class="ml-2 inline-block" for="cbxAge{{ age.id }}">
            {{ age.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="text-[#333333] font-semibold mb-3">
        Nhắm chọn theo chuyên mục
      </div>
      <div>
        <div>
          <input
            (change)="toggleAllCategories($event)"
            [checked]="isAllCategoriesChecked()"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            id="cbxAllCategories"
            type="checkbox" />
          <label class="ml-2 inline-block" for="cbxAllCategories">
            Tất cả
          </label>
        </div>
        <div class="grid grid-cols-5 gap-2 my-4">
          <div *ngFor="let category of categories" class="pl-14">
            <input
              (change)="toggleCategory($event, category.id)"
              [checked]="isCategoryChecked(category.id)"
              class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
              id="cbxCategories{{ category.id }}"
              type="checkbox" />
            <label
              class="ml-2 inline-block"
              for="cbxCategories{{ category.id }}">
              {{ category.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
