::ng-deep {
  .modal-confirm-change-password {
    .ant-modal-content {
      border-radius: 8px;
    }

    .ant-modal-body {
      padding: 16px 32px 16px 32px;
    }
  }

  .modal-change-password {
    .ant-modal-content {
      border-radius: 8px;
    }

    .ant-modal-body {
      padding: 16px 32px 16px 32px;
    }
  }

  .status-dropdown {
    nz-option-container {
      border-radius: 4px;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #f2f7fc;
    }
  }
}

:host ::ng-deep .publisher-filter-select {
  .ant-select-selector {
    height: 40px;
    border-radius: 0.375rem;

    .ant-select-selection-placeholder {
      line-height: 40px;
    }

    .ant-select-selection-item {
      line-height: 40px;
    }
  }
}

:host ::ng-deep .publisher-tag-select {
  font-size: 14px;
  border-color: rgb(209, 213, 219);

  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: rgb(209, 213, 219);
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      border-color: #0061c1;
      box-shadow: none;
    }
  }

  &.ant-select-multiple {
    .ant-select-selection-item-remove > .anticon {
      vertical-align: 0em;
    }

    .ant-select-selection-item-content {
      white-space: unset;
    }
  }

  .ant-select-selector {
    min-height: 40px;
    border-radius: 0.375rem;
  }
}
:host ::ng-deep {
  .campaign-table-detailed {
    .ant-table-body {
      max-height: calc(100vh - 350px) !important;
    }
  }

  .campaign-table-small {
    .ant-table-body {
      max-height: calc(100vh - 306px) !important;
    }
  }
}

::ng-deep .cdk-overlay-container .publisher-list-tooltip {
  .ant-tooltip-inner {
    min-height: 28px;
    width: fit-content;
  }
}
