<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Danh sách Publisher
</div>
<div style="height: calc(100vh - 148px)">
  <div
    *ngIf="loading$ | async"
    class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
    <div class="w-full bg-[#828282] opacity-30"></div>
    <div class="absolute top-1/2 left-1/2">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
  <novanet-data-table
    (nextPage)="onNextPage()"
    (sortByField)="searchPublishers($event)"
    *ngIf="settings"
    [columns]="columns"
    [footerTemplate]="footerTemplate"
    [itemTemplate]="itemTemplate"
    [listOfData]="publishers$ | async"
    [settings]="settings"
    [titleTemplate]="titleTemplate"
    [loading]="loading$ | async"
    ngClass="campaign-table-small">
    <ng-template #titleTemplate>
      <div class="p-[8px]">
        <div class="flex flex-row justify-between items-center">
          <div class="flex flex-row items-center w-full">
            <div class="min-w-[140px] mr-3">
              <a
                routerLink="/publisher/add"
                class="btn-create justify-center h-[40px] w-full p-[5px] inline-flex items-center px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
                Tạo publisher
              </a>
            </div>
            <div
              class="flex flex-row items-center self-start mr-[20px] {{
                isFocus ? 'grow' : ''
              }}">
              <novanet-search-input
                class="flex flex-row items-center self-start {{
                  isFocus ? 'grow' : ''
                }}"
                [searchLevelFields]="publisherSearchLevelFields"
                [searchOperatorLabels]="publisherSearchOperatorLabels"
                [searchLevelLabels]="publisherSearchLevelLabels"
                [levelEnum]="publisherSearchLevelEnum"
                [selectedSearchOptionStorage]="selectedSearchOptions"
                [searchWith]="'w-[380px]'"
                [placeHolder]="'Tìm kiếm theo publisher, website'"
                (searchOptionsChange)="onSearchOptions($event)"
                (onfocus)="onFocusSearch()"
                (onblur)="onBlurSearch()">
              </novanet-search-input>
            </div>
          </div>
          <div *ngIf="!isFocus" class="flex items-center">
            <nz-select
              (ngModelChange)="onFilterStatusChange($event)"
              [ngModel]="filterStatus"
              [nzAllowClear]="true"
              ngClass="w-[150px] mr-[16px] rounded-md publisher-filter-select"
              nzPlaceHolder="Trạng thái"
              [nzDropdownClassName]="'status-dropdown'">
              <nz-option
                *ngFor="let status of publisherStatusOptions"
                [nzLabel]="status.label"
                [nzValue]="status.value"></nz-option>
            </nz-select>
            <a
              class="w-[135px] h-[40px] inline-flex items-center px-[24px] py-[11px] border border-main text-sm font-thin rounded-md shadow-sm text-main bg-white hover:bg-main hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main"
              (click)="viewWebsites()">
              Xem website
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="publisherListEnum.CHECKBOX">
          <input
            (change)="onSelectPublisherChanged($event, data.id, data.email)"
            [checked]="isPublisherSelected(data.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            name="comments"
            type="checkbox" />
        </div>
        <div *ngSwitchCase="publisherListEnum.INDEX">
          {{ rowIndex + 1 }}
        </div>
        <div *ngSwitchCase="publisherListEnum.IS_ACTIVE">
          <novanet-switch-no-animation
            (activeChange)="onIsActiveChange($event, data)"
            [active]="data.isActive"
            [loading]="publisherLoadings[data.id]"
            [nzControl]="true"></novanet-switch-no-animation>
        </div>
        <div *ngSwitchCase="publisherListEnum.FULL_NAME">
          <novanet-publisher-editable-field
            [isAnySelected]="isAnySelected"
            [publisher]="data"
            fieldName="fullName">
          </novanet-publisher-editable-field>
        </div>
        <div *ngSwitchCase="publisherListEnum.EMAIL" class="group">
          <div
            *ngIf="data.email.length > 40"
            class="overflow-hidden whitespace-nowrap text-ellipsis"
            nzTooltipColor="#001F4C"
            nzTooltipTitle="{{ data.email }}"
            nzTooltipPlacement="top"
            nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
            nz-tooltip>
            {{ data.email }}
          </div>
          <div *ngIf="data.email.length <= 40">{{ data.email }}</div>
          <div
            (click)="showChangePasswordModal(data.email)"
            class="invisible group-hover:visible text-[#219653] cursor-pointer">
            Đổi mật khẩu
          </div>
        </div>
        <div *ngSwitchCase="publisherListEnum.PHONE_NUMBER">
          <novanet-publisher-editable-field
            [isAnySelected]="isAnySelected"
            [publisher]="data"
            fieldName="phoneNumber">
          </novanet-publisher-editable-field>
        </div>
        <div *ngSwitchCase="publisherListEnum.STATUS">
          <novanet-publisher-status-icon
            [status]="data.status"></novanet-publisher-status-icon>
        </div>
        <div *ngSwitchCase="publisherListEnum.DOMAIN_WEBSITES">
          <novanet-expandable-list
            [collapsedLength]="3"
            [typeExpandableList]="typeExpandable.POPUP"
            [typeTileModal]="'Domain website'"
            [data]="data.domainWebsites | map: 'domain'">
          </novanet-expandable-list>
        </div>
        <div *ngSwitchCase="publisherListEnum.CREATED_AT">
          <div class="flex justify-between items-center group">
            <span>{{ data.createdAt | toDateString: 'DD/MM/YYYY' }}</span>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #footerTemplate>
      <div *ngIf="loading$ | async" class="my-2 flex justify-center">
        <novanet-loading-icon></novanet-loading-icon>
      </div>
      <div class="py-3 px-4">
        Số Publisher:
        <span class="text-main font-medium">
          <ng-container *ngIf="isAnySelected">
            {{ selectedPublishers.length }}/{{ (publishers$ | async).length }}
          </ng-container>
          <ng-container *ngIf="!isAnySelected">
            {{ total$ | async }}
          </ng-container>
        </span>
      </div>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllPublishersChanged($event)"
    [checked]="
      (publishers$ | async).length !== 0 &&
      (publishers$ | async).length === selectedPublishers.length
    "
    [disabled]="(publishers$ | async).length === 0"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    name="comments"
    type="checkbox" />
</ng-template>

<nz-modal
  (nzOnCancel)="handleCancelChangePassword()"
  [(nzVisible)]="isChangePasswordModalVisible"
  [nzCloseIcon]="null"
  [nzContent]="changePasswordModalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="modal-change-password">
  <ng-template #changePasswordModalContent>
    <form [formGroup]="changePasswordFormGroup">
      <div
        class="text-[#001F4C] font-semibold text-[16px] mb-[24px] text-center">
        Đổi mật khẩu
      </div>
      <div class="mb-[20px]">
        <div class="space-y-1">
          <label
            class="block text-sm font-medium text-[#828282]"
            for="newPassword">
            Mật khẩu mới
          </label>
          <div class="mt-1">
            <novanet-text-input
              [formControlName]="changePasswordFormFields['newPassword'].name"
              [errorMessages]="changePasswordFormFieldErrors.newPassword"
              [inputType]="inputTypeEnum.PASSWORD"
              [placeholder]="'Mật khẩu mới'"
              [required]="
                changePasswordFormFields['newPassword'].validationParams
                  .required
              "
              autocomplete="off"
              id="newPassword"></novanet-text-input>
          </div>
        </div>
        <div class="mt-[25px]">
          <label
            class="block text-sm font-medium text-[#828282]"
            for="confirmNewPassword">
            Nhập lại mật khẩu mới
          </label>
          <div class="mt-1">
            <novanet-text-input
              [formControlName]="
                changePasswordFormFields['confirmNewPassword'].name
              "
              [errorMessages]="changePasswordFormFieldErrors.confirmNewPassword"
              [inputType]="inputTypeEnum.PASSWORD"
              [placeholder]="'Nhập lại mật khẩu mới'"
              [required]="
                changePasswordFormFields['confirmNewPassword'].validationParams
                  .required
              "
              autocomplete="off"
              id="confirmNewPassword"></novanet-text-input>
          </div>
        </div>
      </div>
      <div class="text-center mt-[35px]">
        <button
          (click)="handleCancelChangePassword()"
          class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Hủy
        </button>
        <button
          (click)="confirmChangePassword()"
          class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
          Xác nhận
        </button>
      </div>
    </form>
  </ng-template>
</nz-modal>

<nz-modal
  (nzOnCancel)="handleCancelConfirmChangePassword()"
  [(nzVisible)]="isConfirmChangePasswordModalVisible"
  [nzCloseIcon]="null"
  [nzContent]="confirmChangePasswordModalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="modal-confirm-change-password">
  <ng-template #confirmChangePasswordModalContent>
    <div class="text-[#F2994A] font-semibold text-[16px] mb-[8px] text-center">
      Cảnh báo
    </div>
    <div class="mb-[16px]">
      <p class="text-[#4F4F4F] text-[14px] text-center">
        {{ messageConfirm }}
      </p>
    </div>
    <div class="text-center">
      <button
        (click)="handleCancelConfirmChangePassword()"
        class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        Hủy
      </button>
      <button
        (click)="clickConfirmChangePassword()"
        class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
        Áp dụng
      </button>
    </div>
  </ng-template>
</nz-modal>

<nz-modal
  (nzOnCancel)="handleCancelConfirmChangeActive()"
  [(nzVisible)]="isconfirmActiveChangeModalVisible"
  [nzCloseIcon]="null"
  [nzContent]="confirmActiveChangeModalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="modal-confirm-change-password">
  <ng-template #confirmActiveChangeModalContent>
    <div class="text-[#F2994A] font-semibold text-[16px] mb-[8px] text-center">
      Cảnh báo
    </div>
    <div class="mb-[16px]">
      <p class="text-[#4F4F4F] text-[14px] text-center">
        {{ messageConfirm }}
      </p>
    </div>
    <div class="text-center">
      <button
        (click)="handleCancelConfirmChangeActive()"
        class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        Hủy
      </button>
      <button
        (click)="clickConfirmChangeActive()"
        class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
        Áp dụng
      </button>
    </div>
  </ng-template>
</nz-modal>
