::ng-deep .web-edit-error-tooltip {
  padding-top: 5px !important;
  right: 60px !important;
  color: #eb5757 !important;
  .ant-tooltip-arrow {
    display: none !important;
  }
  .ant-tooltip-inner {
    width: 368px !important;
    min-height: 10px !important;
    height: 20px !important;
    color: #eb5757 !important;
  }
}
