<ng-container [ngSwitch]="typeEdit">
  <ng-container *ngSwitchDefault>
    <div *ngIf="!isEditing" class="flex justify-between items-center group">
      <div
        class="after:content-['.'] after:invisible w-[245px] overflow-hidden whitespace-nowrap text-ellipsis">
        {{ website[fieldName] }}
      </div>
      <svg-icon
        (click)="setEditing()"
        className="cursor-pointer hidden group-hover:block"
        name="edit-pencil"
        size="20"></svg-icon>
    </div>
    <div *ngIf="isEditing" class="flex justify-between items-center">
      <nz-space class="w-full" nzDirection="vertical">
        <nz-input-group
          *nzSpaceItem
          [nzPrefix]="prefixTemplateClock"
          class="focus:ring-main focus:border-main block w-full mr-[5px] py-[2px] sm:text-sm rounded-md flex flex-row-reverse">
          <input
            [(ngModel)]="fieldEditing"
            [disabled]="isLoadingEditable[website.id]"
            class="border-gray-300 text-[0.875rem]"
            nz-input
            type="text"/>
        </nz-input-group>
      </nz-space>
      <ng-template #prefixTemplateClock
      ><span
        *ngIf="isLoadingEditable[website.id]"
        nz-icon
        nzTheme="outline"
        nzType="loading"></span
      ></ng-template>
      <a
        (click)="cancelEditing()"
        [disabled]="isLoadingEditable[website.id]"
        class="text-[#828282] font-medium p-0 mr-3 ml-[10px]"
        nz-button
        nzType="text"
      >Hủy</a
      >
      <a
        (click)="saveEditing()"
        [disabled]="isLoadingEditable[website.id]"
        class="text-[#0061c1] font-medium p-0"
        nz-button
        nzType="text"
      >Lưu</a
      >
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="TypeEdit.EDIT_DOMAIN_ALIAS">
    <input
      (focus)="focusInput()"
      [(ngModel)]="valueAfter"
      [autofocus]="false"
      [disabled]="isCallAPI$ | async"
      class="focus:outline-none font-[500] w-[285px]"
      nz-input
      nzBorderless/>
    <ng-container *ngIf="iconEdit[domainAlias.id]">
      <div class="w-[25px]">
        <svg-icon
          *ngIf="isValueError"
          [nzTooltipTitle]="notificationMessagesError"
          className="cursor-pointer mt-[5px]"
          name="error-notification-icon"
          nz-tooltip
          nzTooltipColor="#FFEEEE"
          nzTooltipOverlayClassName="text-[10px] w-auto web-edit-error-tooltip"
          nzTooltipPlacement="bottomRight"
          size="25"></svg-icon>
      </div>
      <a
        (click)="cancelEditingDomainAlias()"
        [disabled]="isCallAPI$ | async"
        class="text-[#828282] font-medium p-0 mr-1"
        nz-button
        nzType="text"
      >Hủy</a
      >
      <a
        (click)="saveEditingDomainAlias()"
        [disabled]="isCallAPI$ | async"
        class="text-[#0061c1] font-medium p-0"
        nz-button
        nzType="text"
      >Lưu</a
      >
    </ng-container>
    <div *ngIf="!iconEdit[domainAlias.id]" class="ml-[60px]">
      <svg-icon
        (click)="deleteDomainAlias()"
        className="cursor-pointer mt-[5px]"
        name="cancel-icon"
        size="25"></svg-icon>
    </div>
  </ng-container>
</ng-container>
