<div
  class="w-full grid grid-cols-1 gap-y-8 gap-x-6 items-start sm:grid-cols-12 lg:gap-x-8">
  <div class="aspect-w-2 overflow-hidden sm:col-span-4 lg:col-span-5 relative">
    <swiper
      [navigation]="true"
      [spaceBetween]="10"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mb-[9px] rounded-[4px] mySwiper2"
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
      <ng-template swiperSlide>
        <img
          [nzFallback]="fallback"
          [nzSrc]="productItem.data['ImageLink']"
          [nzDisablePreview]="true"
          nz-image />
      </ng-template>
      <ng-template
        *ngFor="let additionalImageLink of listAdditionalImageLink"
        swiperSlide>
        <img
          [nzFallback]="fallback"
          [nzSrc]="additionalImageLink"
          [nzDisablePreview]="true"
          nz-image />
      </ng-template>
    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper">
      <ng-template swiperSlide>
        <img
          [nzFallback]="fallback"
          [nzSrc]="productItem.data['ImageLink']"
          [nzDisablePreview]="true"
          nz-image />
      </ng-template>
      <ng-template
        *ngFor="let additionalImageLink of listAdditionalImageLink"
        swiperSlide>
        <img
          [nzFallback]="fallback"
          [nzSrc]="additionalImageLink"
          [nzDisablePreview]="true"
          nz-image />
      </ng-template>
    </swiper>
    <div
      class="cursor-pointer absolute top-[6px] left-[6px] z-50 w-[142px] h-[24px] bg-[#ffffff4d] flex items-center justify-center rounded-[2px]">
      <i class="text-[#219653] fas fa-check-circle mr-[4px]"></i>
      <span class="text-[10px] text-[#ffffff]">Sử dụng ảnh để chạy QC</span>
    </div>
  </div>
  <div class="lg:col-span-7 sm:col-span-8 h-full overflow-auto max-h-[600px]">
    <div class="sticky top-0 bg-white z-50">
      <div class="text-[16px] text-[#001F4C] font-semibold mb-[8px]">
        {{ productItem.data['Title'] }}
      </div>
      <a
        [href]="productItem.data['Link']"
        class="inline-block overflow-hidden text-[14px] text-[#0061C1] underline truncate w-full"
        target="_blank"
        >{{ productItem.data['Link'] }}</a
      >
    </div>

    <section aria-labelledby="information-heading" class="mt-2">
      <div class="mt-6">
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            ID
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ productItem.data['Id'] }}
            </span>
          </div>
        </div>
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            Giá gốc
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ productItem.data['Price'] | number: '1.0-0' }}
            </span>
          </div>
        </div>
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            Giá khuyến mại
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ (productItem.data['SalePrice'] | number: '1.0-0') || '-' }}
            </span>
          </div>
        </div>
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            Tình trạng
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ productItem.data['Condition'] }}
            </span>
          </div>
        </div>
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            Tình trạng hàng
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ productItem.data['Availability'] }}
            </span>
          </div>
        </div>
        <div class="relative flex items-start mb-[16px]">
          <div
            class="flex items-center h-5 w-[125px] text-[14px] text-[#828282]">
            Nguồn dữ liệu
          </div>
          <div class="flex-1 ml-3 text-sm">
            <span class="font-medium text-[14px] text-[#4f4f4f]">
              {{ productItem.productFeedName }}
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
