@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.mySwiper .swiper-slide {
  height: 100%;
  border-radius: 4px;
  border: solid 1px #f2f2f2;
}

.mySwiper .swiper-slide-thumb-active {
  border: solid 3px #0061c1;
  border-radius: 4px;
}
