<div class="novanet-container flex bg-[#f2f2f2]">
  <div class="h-[100vh]">
    <novanet-navbar
      (navbarWidth)="changeContainerNavbarWidth($event)"></novanet-navbar>
  </div>
  <div
    #mainContainer
    class="w-full transition-all duration-200 h-[100vh] overflow-auto">
    <novanet-header></novanet-header>
    <div class="mx-6 mb-[22px] rounded-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
