﻿body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.outside-area {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#catfish-extend-video {
  z-index: 2000000000;
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
}

#catfish-extend-video > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

#catfish-extend-video > iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#novanet_ad-wrapper {
  pointer-events: all;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000000000;
  position: absolute;
  transition: 500ms bottom ease-in-out;
}

#novanet_ad_view_sticky__container__ {
  width: 100%;
}

#novanet_ad_view_sticky__container__ img {
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 120;
  display: block;
}

#novanet_ad_view_sticky__container__ iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 120;
  display: block;
  pointer-events: none;
}

.button-close-catfish {
  position: absolute;
  right: 8px;
  bottom: calc(100% - 32px);
  width: 24px;
  height: 24px;
  z-index: 2000000001;
  background: #00000066;
  border-radius: 50%;
  transition: top 0.5s ease-in-out;
}

.close-catfish {
  width: 27px;
  height: 8px;
  opacity: 1;
}
.close-catfish:hover {
  opacity: 1;
}
.close-catfish:before, .close-catfish:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #FFFFFF;
}
.close-catfish:before {
  transform: rotate(45deg);
}
.close-catfish:after {
  transform: rotate(-45deg);
}

.cta-catfish-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  height: 27px;
  background: #00000066;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
}

.cta-catfish-button span {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.catfish-information {
  position: absolute;
  bottom: 48px;
  color: #FFFFFF;
  padding-left: 12px;
  padding-right: 12px;
  pointer-events: none;
}

.catfish-overview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.catfish-logo {
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.catfish-title {
  font-size: 16px;
  font-weight: 600;
}

.catfish-content {
  font-weight: 400;
  font-size: 12px;
  white-space: pre-wrap;
}
