<div class="relative">
  <novanet-shared-filter
    (allFilterChange)="onAllFilterChange($event)"
    (dateRangeChange)="onFilterDateRangeChange($event)"
    (exportData)="exportData($event)"
    (predicatesChange)="onFilterPredicatesChange($event)"
    (statusChange)="onFilterStatusChange($event)"
    (updateColumns)="updateColumns($event)"
    [actionsElement]="actionsElement"
    [campaignGroupOptionColumn]="campaignGroupOptionColumn"
    [createElement]="createElement"
    [selectedColumnDefault]="selectedColumnDefault"
    [showActions]="isAnySelected"
    [tabIndex]="0"></novanet-shared-filter>
  <div
    *ngIf="loading$ | async"
    class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
    <div class="w-full bg-[#828282] opacity-30"></div>
    <div class="absolute top-1/2 left-1/2">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
  <novanet-data-table
    #campaignListTable
    (nextPage)="onNextPage()"
    (sortByField)="dispatchGetList(1, $event)"
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="campaigns$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    ngClass="{{
      (filterDateRange | dateRangeSelected)
        ? 'campaign-table-small'
        : 'campaign-table-detailed'
    }}"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <!-- checkbox  -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.CHECKBOX"
          class="h-full">
          <input
            (change)="onSelectCampaignChanged($event, data.id)"
            [checked]="isCampaignSelected(data.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            type="checkbox"/>
        </div>
        <!-- index -->
        <div *ngSwitchCase="campaignManagementTableEnum.INDEX" class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <!-- isActive -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.IS_ACTIVE"
          class="h-full">
          <nz-switch
            (click)="onCampaignIsActiveChange(data)"
            [(ngModel)]="data.isActive"
            [ngClass]="data.isActive ? 'switch-active' : 'switch-inactive'"
            [nzCheckedChildren]="checkedTemplate"
            [nzControl]="true"
            [nzLoading]="switchLoadings[data.id]"
            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
          <ng-template #checkedTemplate>
            <svg-icon [height]="7" [width]="9" name="tick-small"></svg-icon>
          </ng-template>
          <ng-template #unCheckedTemplate>
            <svg-icon [size]="8" name="cross-small"></svg-icon>
          </ng-template>
        </div>
        <!-- title -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.TITLE"
          class="group h-full relative">
          <novanet-campaign-editable-title
            [campaign]="data"
            [isAnySelected]="isAnySelected"></novanet-campaign-editable-title>
        </div>
        <!-- status -->
        <div *ngSwitchCase="campaignManagementTableEnum.STATUS" class="h-full">
          <novanet-campaign-status-icon
            [status]="data.status"></novanet-campaign-status-icon>
        </div>
        <!-- campaignType -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.CAMPAIGN_TYPE"
          class="h-full">
          {{ campaignTypeLabels[data.campaignType] }}
        </div>
        <!-- budget -->
        <div *ngSwitchCase="campaignManagementTableEnum.BUDGET" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyBudget | toCurrency }}
          </div>
          <div>{{ data?.data?.totalBudget | toCurrency }}</div>
        </div>
        <!-- cost -->
        <div *ngSwitchCase="campaignManagementTableEnum.COSTS" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyCost | toCurrency }}
          </div>
          <div>{{ data?.data?.totalCost | toCurrency }}</div>
        </div>
        <!-- impressions -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.IMPRESSIONS"
          class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyImpressions | toCurrency }}
          </div>
          <div>{{ data?.data?.totalImpressions | toCurrency }}</div>
        </div>
        <!-- clicks -->
        <div *ngSwitchCase="campaignManagementTableEnum.CLICKS" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyClicks | toCurrency }}
          </div>
          <div>{{ data?.data?.totalClicks | toCurrency }}</div>
        </div>
        <!-- ctr -->
        <div *ngSwitchCase="campaignManagementTableEnum.CTR" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyCtr | toPercentage: '1.0-2' }}
          </div>
          <div>{{ data?.data?.totalCtr | toPercentage: '1.0-2' }}</div>
        </div>
        <!-- cpc -->
        <div *ngSwitchCase="campaignManagementTableEnum.CPC" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyCpc | toCurrency }}
          </div>
          <div>{{ data?.data?.totalCpc | toCurrency }}</div>
        </div>
        <!-- purchase -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.PURCHASE"
          class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyPurchase | toCurrency }}
          </div>
          <div>{{ data?.data?.totalPurchase | toCurrency }}</div>
        </div>
        <!-- purchase conversion -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.PURCHASE_CONVERSION"
          class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyPurchaseConversion | toPercentage: '1.0-2' }}
          </div>
          <div>
            {{ data?.data?.totalPurchaseConversion | toPercentage: '1.0-2' }}
          </div>
        </div>
        <!-- cps -->
        <div *ngSwitchCase="campaignManagementTableEnum.CPS" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyCps | toCurrency }}
          </div>
          <div>{{ data?.data?.totalCps | toCurrency }}</div>
        </div>
        <!-- date -->
        <div
          *ngSwitchCase="campaignManagementTableEnum.DATE"
          class="h-full whitespace-nowrap">
          <div>{{ data.startDate | toDateString: shortDateFormat }}</div>
          <div>{{ data.endDate | toDateString: shortDateFormat }}</div>
        </div>
        <!-- videoView3s -->
        <div *ngSwitchCase="campaignManagementTableEnum.VIDEO_VIEW_3S" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyVideoView3s | toCurrency }}
          </div>
          <div>{{ data?.data?.totalVideoView3s | toCurrency }}</div>
        </div>
        <!-- video25Percent -->
        <div *ngSwitchCase="campaignManagementTableEnum.VIDEO_25_PERCENT" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyVideo25Percent | toCurrency }}
          </div>
          <div>{{ data?.data?.totalVideo25Percent | toCurrency }}</div>
        </div>
        <!-- video50Percent -->
        <div *ngSwitchCase="campaignManagementTableEnum.VIDEO_50_PERCENT" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyVideo50Percent | toCurrency }}
          </div>
          <div>{{ data?.data?.totalVideo50Percent | toCurrency }}</div>
        </div>
        <!-- video75Percent -->
        <div *ngSwitchCase="campaignManagementTableEnum.VIDEO_75_PERCENT" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyVideo75Percent | toCurrency }}
          </div>
          <div>{{ data?.data?.totalVideo75Percent | toCurrency }}</div>
        </div>
        <!-- video100Percent -->
        <div *ngSwitchCase="campaignManagementTableEnum.VIDEO_100_PERCENT" class="h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ data?.data?.dailyVideo100Percent | toCurrency }}
          </div>
          <div>{{ data?.data?.totalVideo100Percent | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="campaignManagementSummaryEnum.COUNT" class="h-full">
          Số chiến dịch:
          <span class="text-main font-medium">
            <ng-container *ngIf="isAnySelected">
              {{ selectedCampaigns.length }}/{{ (campaigns$ | async).length }}
            </ng-container>
            <ng-container *ngIf="!isAnySelected">
              {{
              (campaignSummary$ | async)?.total ?? (campaigns$ | async).length
              }}
            </ng-container>
          </span>
        </div>
        <div *ngSwitchCase="campaignManagementSummaryEnum.STATUS"></div>
        <div *ngSwitchCase="campaignManagementSummaryEnum.CAMPAIGN_TYPE"></div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.BUDGET"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyBudget | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalBudget | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.COSTS"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyCost | toCurrency }}
          </div>
          <div>
            {{ (campaignSummary$ | async)?.totalCost | toCurrency }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.IMPRESSIONS"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyImpressions | toCurrency }}
          </div>
          <div>
            {{ (campaignSummary$ | async)?.totalImpressions | toCurrency }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.CLICKS"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyClicks | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalClicks | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.CTR"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyCtr | toPercentage: '1.0-2' }}
          </div>
          <div>
            {{ (campaignSummary$ | async)?.totalCtr | toPercentage: '1.0-2' }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.CPC"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyCpc | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalCpc | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.PURCHASE"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyPurchase | toCurrency }}
          </div>
          <div>
            {{ (campaignSummary$ | async)?.totalPurchase | toCurrency }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.PURCHASE_CONVERSION"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{
            (campaignSummary$ | async)?.dailyPurchaseConversion
              | toPercentage: '1.0-2'
            }}
          </div>
          <div>
            {{
            (campaignSummary$ | async)?.totalPurchaseConversion
              | toPercentage: '1.0-2'
            }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.CPS"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyCps | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalCps | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.DATE"
          class="font-medium h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{
            (campaignSummary$ | async)?.startDate
              | toDateString: shortDateFormat
            }}
          </div>
          <div>
            {{
            (campaignSummary$ | async)?.endDate
              | toDateString: shortDateFormat
            }}
          </div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.VIDEO_VIEW_3S"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyVideoView3s | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalVideoView3s | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.VIDEO_25_PERCENT"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyVideo25Percent | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalVideo25Percent | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.VIDEO_50_PERCENT"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyVideo50Percent | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalVideo50Percent | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.VIDEO_75_PERCENT"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyVideo75Percent | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalVideo75Percent | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="campaignManagementSummaryEnum.VIDEO_100_PERCENT"
          class="font-bold h-full">
          <div *ngIf="!(filterDateRange | dateRangeSelected)">
            {{ (campaignSummary$ | async)?.dailyVideo100Percent | toCurrency }}
          </div>
          <div>{{ (campaignSummary$ | async)?.totalVideo100Percent | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #createElement>
  <a
    class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
    routerLink="/campaign/add-campaign">
    Tạo chiến dịch
  </a>
</ng-template>

<ng-template #actionsElement>
  <nz-select
    (ngModelChange)="onFilterCampaignTypeChange($event)"
    [ngModel]="filterCampaignType"
    [nzAllowClear]="true"
    [nzDropdownClassName]="'status-dropdown'"
    ngClass="w-[150px] rounded-md campaign-filter-select"
    nzPlaceHolder="Loại QC">
    <nz-option
      *ngFor="let campaignType of campaignTypeLabelList"
      [nzLabel]="campaignType.label"
      [nzValue]="campaignType.value"></nz-option>
  </nz-select>
</ng-template>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllCampaignChanged($event)"
    [checked]="(campaigns$ | async).length === selectedCampaigns.length"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    name="comments"
    type="checkbox"/>
</ng-template>
<ng-template #budgetHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Ngân sách tổng (VNĐ)</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.ecommerceAmountSpent"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Ngân sách (VNĐ)</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.ecommerceDailyBudget"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.ecommerceAmountSpent"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #costHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Tổng chi phí (VNĐ)</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCost"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Tổng chi phí (VNĐ)</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCost"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCost"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #impressionHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Lượt xem</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalImpressions"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Lượt xem</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyImpressions"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalImpressions"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #clickHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Lượt nhấn</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalClicks"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Lượt nhấn</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyClicks"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalClicks"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #ctrHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>CTR (%)</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCtr"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">CTR (%)</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCtr"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCtr"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #cpcHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>CPC (VNĐ)</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCpc"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">CPC (VNĐ)</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCpc"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCpc"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #purchaseHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>SL mua hàng</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalPurchase"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">SL mua hàng</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyPurchase"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalPurchase"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #purchaseConversionHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>% chuyển đổi mua hàng</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalPurchaseConversion"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">% chuyển đổi mua hàng</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyPurchaseConversion"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalPurchaseConversion"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #cpsHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>CPS (VNĐ)</span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">CPS (VNĐ)</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #videoView3sHeader>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Video view 3s </span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Video view 3s</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #videoWatchesAt25%Header>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Video watches at 25% </span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Video watches at 25%</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #videoWatchesAt50%Header>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Video watches at 50% </span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Video watches at 50%</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #videoWatchesAt75%Header>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Video watches at 75% </span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Video watches at 75%</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #videoWatchesAt100%Header>
  <ng-container *ngIf="filterDateRange | dateRangeSelected">
    <div class="whitespace-nowrap flex justify-between items-center">
      <span>Video watches at 100% </span>
      <novanet-campaign-sort-button
        (sortChange)="sortMetric($event)"
        [sortField]="campaignMetricSortField.totalCps"
        [sort]="sort"></novanet-campaign-sort-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!(filterDateRange | dateRangeSelected)">
    <div class="whitespace-nowrap">Video watches at 100%</div>
    <div class="text-[#4F4F4F]">
      <div class="flex justify-between items-center">
        <span>Ngày</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.dailyCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
      <div class="flex justify-between items-center">
        <span>Tổng</span>
        <novanet-campaign-sort-button
          (sortChange)="sortMetric($event)"
          [sortField]="campaignMetricSortField.totalCps"
          [sort]="sort"></novanet-campaign-sort-button>
      </div>
    </div>
  </ng-container>
</ng-template>