:host ::ng-deep {
  .campaign-table-detailed {
    .ant-table-body {
      max-height: calc(100vh - 372px) !important;
    }
  }

  .campaign-table-small {
    .ant-table-body {
      max-height: calc(100vh - 328px) !important;
    }
  }

  .switch-active {
    > button {
      background-color: #0061c1;
    }
  }

  .switch-inactive {
    > button {
      background-color: #bdbdbd;
    }
  }
}

::ng-deep .cdk-overlay-container .publisher-list-tooltip {
  .ant-tooltip-inner {
    min-height: 28px;
    width: fit-content;
  }
}
