<ng-container [ngSwitch]="status">
    <span
      *ngSwitchCase="publisherStatusEnum.Running"
      class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(0,97,193,1)] bg-[rgba(0,97,193,0.1)]"
      nz-tooltip
      nzTooltipColor="#001F4C"
      nzTooltipOverlayClassName="text-[10px]">
    Đang chạy
  </span>
  <span
    *ngSwitchCase="publisherStatusEnum.Disabled"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[#EB5757] bg-[rgba(235,87,87,0.1)]"
    nz-tooltip
    nzTooltipOverlayClassName="text-[10px]">
    Tạm khoá
  </span>
</ng-container>