<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Nguồn cấp dữ liệu chính
</div>
<div
  *ngIf="
    !(productFeeds$ | async)?.length && !(loading$ | async) && shouldShowNoData
  "
  class="flex flex-col items-center">
  <img alt="" class="mt-14" src="/assets/images/no-data-background.svg"/>
  <div class="mt-8 text-center" style="max-width: 425px">
    Bạn chưa có nguồn dữ liệu để triển khai quảng cáo, bạn vui lòng thêm nguồn
    dữ liệu để triển khai quảng cáo ecommerce.
  </div>
  <a
    class="inline-flex items-center mt-4 px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
    routerLink="/product-feed/add">
    Thêm nguồn dữ liệu
  </a>
</div>
<div
  *ngIf="(productFeeds$ | async)?.length || !shouldShowNoData"
  style="height: calc(100vh - 112px)">
  <novanet-data-table
    (sortByField)="searchFeeds($event)"
    *ngIf="settings"
    [columns]="columns"
    [footerTemplate]="footerTemplate"
    [itemTemplate]="itemTemplate"
    [listOfData]="productFeeds$ | async"
    [settings]="settings"
    [titleTemplate]="titleTemplate">
    <ng-template #titleTemplate>
      <div class="p-[8px]">
        <div>
          Bạn sẽ cập nhật dữ liệu sản phẩm của mình trên một tệp Google Trang
          tính và các cập nhật đó sẽ tự động áp dụng cho tài khoản của bạn. Tìm
          hiểu thêm phần mô tả trường dữ liệu sản phẩm
          <a
            class="text-main hover:underline hover:text-main"
            href="https://support.google.com/merchants/answer/7052112?hl=vi&ref_topic=6324338"
            target="_blank"
          >tại đây</a
          >. Trong trường hợp bị hủy cấp quyền, bạn vui lòng cấp quyền truy cập
          vào Google Sheet nguồn dữ liệu cho email sau:
          <div class="flex flex-row items-center">
            <span
              #googleSheetAuthLink
              class="font-medium text-main mr-2 inline-block"
            >{{ GoogleSheetAuthEmail }}</span
            >
            <span (click)="copyGoogleSheetAuth()" class="cursor-pointer">
              <svg-icon name="copy" size="18"></svg-icon>
            </span>
          </div>
        </div>
        <div class="flex flex-row justify-between mt-[16px] items-center">
          <div class="flex flex-row items-center">
            <a
              class="inline-flex items-center px-4 py-[9px] mr-3 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
              routerLink="/product-feed/add">
              Tạo nguồn dữ liệu
            </a>
            <div class="relative rounded-md shadow-sm">
              <input
                (keydown)="onSearchInputKeyDown($event)"
                [(ngModel)]="keyword"
                class="focus:ring-main focus:border-main block w-full pr-10 py-[9px] sm:text-sm border-gray-300 rounded-md"
                placeholder="Tìm kiếm"
                type="text"/>
              <div
                (click)="searchFeeds()"
                class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer">
                <svg-icon
                  className="h-5 w-5 text-gray-400"
                  name="search"
                  size="18"></svg-icon>
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <ng-container *ngIf="isAnySelected">
              <button
                (click)="refreshMany()"
                class="mr-3 inline-flex items-center p-[7px] border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main">
                <svg-icon name="reload" size="24"></svg-icon>
              </button>
              <button
                (click)="showConfirmDelete()"
                class="mr-3 inline-flex items-center p-[7px] border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main">
                <svg-icon name="delete" size="24"></svg-icon>
              </button>
            </ng-container>
            <a
              *ngIf="selectedFeeds.length <= 1"
              [queryParams]="
                isAnySelected && { 'product-feed': selectedFeeds.toString() }
              "
              class="inline-flex items-center px-4 py-[9px] border border-main text-sm font-medium rounded-md shadow-sm text-main bg-white hover:bg-main hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main"
              routerLink="/product-management">
              Xem sản phẩm
            </a>
            <a
              (click)="viewProducts()"
              *ngIf="selectedFeeds.length > 1"
              class="inline-flex items-center px-4 py-[9px] border border-main text-sm font-medium rounded-md shadow-sm text-main bg-white hover:bg-main hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main">
              Xem sản phẩm
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="productFeedListEnum.CHECKBOX">
          <input
            (change)="onSelectFeedChanged($event, data.id)"
            [checked]="isFeedSelected(data.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            name="comments"
            type="checkbox"/>
        </div>
        <div *ngSwitchCase="productFeedListEnum.INDEX">
          {{ rowIndex + 1 }}
        </div>
        <div *ngSwitchCase="productFeedListEnum.PRODUCT_FEED">
          <novanet-feed-editable-name
            [isAnySelected]="isAnySelected"
            [productFeed]="data"></novanet-feed-editable-name>
        </div>
        <div *ngSwitchCase="productFeedListEnum.INPUT_METHOD">
          <novanet-source-type-icon
            [sourcePath]="data?.sourcePath"
            [sourceType]="data.sourceType"></novanet-source-type-icon>
        </div>
        <div *ngSwitchCase="productFeedListEnum.STATUS">
          <novanet-permission-icon
            [permission]="data.permission"></novanet-permission-icon>
        </div>
        <div *ngSwitchCase="productFeedListEnum.MODIFIED_DATE">
          <div class="flex justify-between items-center group">
            <span>{{ dateToString(data.modifiedAt) }}</span>
            <svg-icon
              (click)="refreshFeed(data.id)"
              *ngIf="!isAnySelected"
              className="cursor-pointer opacity-0 group-hover:opacity-100"
              height="22"
              name="reload"
              width="24"></svg-icon>
          </div>
        </div>
        <div *ngSwitchCase="productFeedListEnum.PRODUCT_RUNNING">
          {{ data.activeProduct }}
        </div>
        <div *ngSwitchCase="productFeedListEnum.PRODUCT_ERROR">
          {{ data.inActiveProduct }}
        </div>
      </ng-container>
    </ng-template>
    <ng-template #footerTemplate>
      <div *ngIf="loading$ | async" class="my-2 flex justify-center">
        <novanet-loading-icon></novanet-loading-icon>
      </div>
      <div class="py-3 px-4">
        Số nguồn dữ liệu:
        <span class="text-main font-medium">
          <ng-container *ngIf="isAnySelected">
            {{ selectedFeeds.length }}/{{ (productFeeds$ | async).length }}
          </ng-container>
          <ng-container *ngIf="!isAnySelected">
            {{ (productFeeds$ | async).length }}
          </ng-container>
        </span>
      </div>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllFeedChanged($event)"
    [checked]="(productFeeds$ | async).length !== 0 && (productFeeds$ | async).length === selectedFeeds.length"
    [disabled]="(productFeeds$ | async).length === 0"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    name="comments"
    type="checkbox"/>
</ng-template>

<nz-modal
  (nzOnCancel)="handleCancelDelete()"
  [(nzVisible)]="isConfirmDeleteVisible"
  [nzCloseIcon]="null"
  [nzContent]="modalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="rounded-lg">
  <ng-template #modalContent>
    <div class="text-center">
      <div class="text-red-500 font-medium mb-2">Cảnh báo</div>
      <div class="mb-4 text-xs font-medium">
        Hành động này có thể ảnh hưởng đến hiệu quả quảng cáo của chiến dịch. Do
        đó, bạn nên cân nhắc trước khi làm hành động trên.
      </div>
      <div>
        <button
          (click)="handleCancelDelete()"
          class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Hủy
        </button>
        <button
          (click)="confirmDelete()"
          class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md shadow-sm text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500">
          Xóa nguồn
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
