:host ::ng-deep .campaign-filter-select {
  .ant-select-selector {
    height: 40px;
    border-radius: 0.375rem;

    .ant-select-selection-placeholder {
      line-height: 40px;
    }

    .ant-select-selection-item {
      line-height: 40px;
    }
  }
}

:host ::ng-deep .campaign-tag-select {
  font-size: 14px;
  border-color: rgb(209, 213, 219);

  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: rgb(209, 213, 219);
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      border-color: #0061c1;
      box-shadow: none;
    }
  }

  &.ant-select-multiple {
    .ant-select-selection-item-remove > .anticon {
      vertical-align: 0em;
    }

    .ant-select-selection-item-content {
      white-space: unset;
    }
  }

  .ant-select-selector {
    height: 40px;
    border-radius: 0.375rem;
  }
}
:host ::ng-deep .generatereport {
  button {
    width: 200px !important;
    height: 40px !important;
  }
}

