<div class="px-4 pb-4 flex flex-row justify-between items-center gap-4">
  <div
    class="flex flex-row items-center self-start {{ isFocus ? 'grow' : '' }}">
    <ng-container [ngTemplateOutlet]="createElement"></ng-container>
    <novanet-search-input
      class="flex flex-row items-center self-start {{ isFocus ? 'grow' : '' }}"
      [searchLevelFields]="campaignSearchLevelFields"
      [searchOperatorLabels]="campaignSearchOperatorLabels"
      [searchLevelLabels]="campaignSearchLevelLabels"
      [levelEnum]="campaignSearchLevelEnum"
      [selectedSearchOptionStorage]="selectedSearchOptions"
      [searchWith]="'w-[250px]'"
      [placeHolder]="'Tìm kiếm'"
      (searchOptionsChange)="onSearch($event)"
      (onfocus)="onFocusSearch()"
      (onblur)="onBlurSearch()">
    </novanet-search-input>
  </div>

  <div
    class="flex flex-row items-center flex-wrap gap-4 justify-end {{
      isFocus ? 'hidden' : ''
    }}">
    <novanet-dropdown
      (valueKeyDropdown)="onSelectReport($event)"
      *ngIf="showActions"
      [label]="'label'"
      [nzDisabled]="isReportDownloading$ | async"
      [nzOverlayClassName]="'generate-report'"
      [options]="ListSelectedReportOptions"
      [placeholder]="'Tạo báo cáo'"
      [popoverNotification]="popoverNotification"
      [valueKey]="'valueKey'"
      ngClass="generatereport"
      selectType="dropdown">
    </novanet-dropdown>
    <ng-container
      *ngIf="!!actionsElement"
      [ngTemplateOutlet]="actionsElement"></ng-container>
    <nz-select
      (ngModelChange)="onFilterStatusChange($event)"
      [ngModel]="filterStatus"
      [nzAllowClear]="true"
      [nzDropdownClassName]="'status-dropdown'"
      ngClass="w-[150px] rounded-md campaign-filter-select"
      nzPlaceHolder="Trạng thái">
      <nz-option [nzLabel]="'Tất cả'" [nzValue]="null"></nz-option>
      <nz-option
        *ngFor="let status of campaignStatusOptions"
        [nzLabel]="status.label"
        [nzValue]="status.value"></nz-option>
    </nz-select>
    <novanet-multiple-select-input
      (ngModelChange)="onSelectColumn($event)"
      [(ngModel)]="selectedColumn"
      [placeholder]="'Tùy chỉnh cột'"
      [styleSelect]="multipleSelectStyle.MULTIPLE_SELECT_COLUMN"
      [nzOptionGroup]="campaignGroupOptionColumn"
      [privateValue]="selectedColumnDefault"
      [width]="'w-[150px]'"
      [height]="'h-[40px]'"
      [tileDropdown]="'Chọn bảng giá hiện thị'">
    </novanet-multiple-select-input>
    <ng-container *ngIf="dateTimeForm" [formGroup]="dateTimeForm">
      <novanet-date-picker
        [containerClass]="'h-[40px] w-[400px]'"
        [formControlName]="'date'"
        [format]="shortDateFormat"
        [inputType]="'range'"
        [ngModelOptions]="true"
        [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']"
        class="absolute top-[-70px]">
      </novanet-date-picker>
    </ng-container>
  </div>
</div>

<ng-template #onreportOption>
  Tạo báo cáo<span class="text-main">&nbsp;OnReport</span>
</ng-template>
