﻿@using Microsoft.AspNetCore.Components.Web
@namespace Service.Streaming.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <title>Novanet Streaming</title>
    <link href="/libs/video-js.css" rel="stylesheet">
    <link id="tailwindcss" rel="stylesheet" href="/css/app.min.css"/>
    <script src="/libs/video.min.js"></script>
    <script src="/libs/videojs-http-streaming.min.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
<script>
    window.callParent = (message) => {
        window.parent.postMessage(message, '*');
    };
</script>

</body>
</html>