﻿@page "/progress/{id}"
@using Novanet.Core.RedisCache
@using Novanet.Core.Extensions
@using Service.Streaming.Models
@implements IDisposable
@inject IJSRuntime _js
@inject ILogger<Progress> _logger

<AntDesign.Progress Percent="@Percent" Size="@ProgressSize.Small"></AntDesign.Progress>

@code {

    [Parameter]
    public string Id { get; set; } = default!;

    [Inject]
    public IRedisPubSubService RedisPubSubService { get; set; } = default!;

    private double Percent { get; set; }

    private bool IsDisposed { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isProcessing = await RedisPubSubService.HashExistAsync("VideoProcess", Id);
            _logger.LogInformation("{VideoId}: {Is}", Id, isProcessing);
            if (!isProcessing)
            {             
                await _js.InvokeVoidAsync("callParent", new { Message = "videoFinish", VideoId = Id });
                return;
            }
            await RedisPubSubService.SubscribeAsync<VideoProgressModel>(Id.ToChannel(), async (data) =>
            {
                if (IsDisposed)
                {
                    return;
                }
                try
                {
                    Percent = data.Percent;
                    await InvokeAsync(StateHasChanged);
                    await _js.InvokeVoidAsync("callParent", new { Message = "videoProgress", Percentage = data.Percent, VideoId = Id });
                }
                catch (JSDisconnectedException ex)
                {
                    _logger.LogError(ex.ToString());
                }
               
            });
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        IsDisposed = true;
    }

}