﻿@page "/video/{id}"
@using Novanet.Core.ValueObjects
@inject AppSettings _appSettings

<video-js id="source" class="video-js vjs-fluid vjs-default-skin" preload="auto" autoplay loop>
    <source src="@(_appSettings.RootUrl)/storage/api/v1/video/@(Id)/@(Size)p.m3u8" type="application/x-mpegURL">
</video-js>
<script suppress-error="BL9992">
    setTimeout(() => {
        const player = videojs('source');
        player.on('play', postPlay);
        player.on('timeupdate', postTimeupdate);
        player.autoplay('muted');
        setTimeout(() => {
            player.play();
        }, 2000);
     
        function postPlay() {
            window.parent.postMessage({
                message: 'play',
            }, '*');
        }

        function postTimeupdate() {
            window.parent.postMessage({
                message: 'timeupdate',
                currentTime: player.currentTime(),
                duration: player.duration(),
            }, '*');
        }
    }, 2000);
</script>

@code {

    [Parameter]
    public string Id { get; set; } = default!;

    [Parameter]
    [SupplyParameterFromQuery]
    public int Size { get; set; } = 240;

}