<div class="mobile-banner-card mymobile-banner-card">
  <img
    class="w-full absolute top-0"
    src="/assets/images/mobile-advertising/mobile-content.svg" />
  <a href="https://novanet.vn/" target="_blank" class="absolute top-40px">
    <img
      src="/assets/images/icons/novanet-logo.svg"
      alt="logo"
      class="logo-icon" />
  </a>
  <div class="mobile-banner-card-wrapper absolute top-[135px]">
    <img
      class="absolute w-[375px]"
      [src]="
        template.configurations['useBannerTemplate']
          ? '/assets/images/default-banner/banner-Mobile-Banner-Card.jpg'
          : backgroundImage
      " />
    <ng-container *ngFor="let product of products; let index = index">
      <a
        *ngIf="index < 2"
        target="_blank"
        href="/"
        class="mobile-banner-card-slide wrapbox auto">
        <div class="relative">
          <img alt="" [src]="product.data['ImageLink']" />
          <div
            class="absolute trapezoid-down"
            *ngIf="
              template.configurations['showDiscountedPrice'] &&
              product.data['SalePrice'] &&
              salePercent(product.data) > 0
            ">
            <span class="absolute sale-text"
              >sale {{ salePercent(product.data) | number: '1.0-0' }}%</span
            >
          </div>
          <ng-container *ngIf="template.configurations['showFreeDelivery']">
            <div class="absolute trapezoid-up"></div>
            <span class="absolute free-delivery-text">FREESHIP</span>
          </ng-container>
        </div>
        <div class="description">
          <div *ngIf="template.configurations['productName']" class="title">
            {{ product.data['Title'] }}
          </div>
          <div class="detail-price absolute bottom-[2px]">
            <span
              *ngIf="
                template.configurations['showDiscountedPrice'] &&
                product.data['SalePrice'] &&
                salePercent(product.data) !== 0
              "
              class="price">
              {{ product.data['SalePrice'] | number: '1.0-0' }} đ
            </span>
            <span
              *ngIf="
                !template.configurations['showDiscountedPrice'] ||
                salePercent(product.data) === 0
              "
              class="price">
              {{ product.data['Price'] | number: '1.0-0' }} đ
            </span>
            <span
              *ngIf="
                template.configurations['showDiscountedPrice'] &&
                product.data['SalePrice'] &&
                salePercent(product.data) !== 0
              "
              class="promotion">
              {{ product.data['Price'] | number: '1.0-0' }} đ
            </span>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
  <div class="mobile-banner-card-pagination"></div>
</div>
