<div>
  <div class="text-[16px] font-medium mb-3">
    Danh sách bảng giá
    <ng-container [ngSwitch]="tabIndex">
      <ng-container *ngSwitchCase="0"> website</ng-container>
      <ng-container *ngSwitchCase="1"> vùng quảng cáo</ng-container>
    </ng-container>
  </div>
  <div class="bg-white flex flex-col">
    <nz-tabset
      (nzSelectedIndexChange)="onTabIndexChange($event)"
      [ngClass]="'price-tabset'"
      [nzSelectedIndex]="tabIndex"
      [nzTabBarStyle]="{ 'margin-left': '16px' }">
      <nz-tab
        nzTitle="Website">
        <ng-template nz-tab>
          <novanet-website-price-list></novanet-website-price-list>
        </ng-template>
      </nz-tab>
      <nz-tab
        nzTitle="Vùng quảng cáo">
        <ng-template nz-tab>
          <novanet-zone-price-list></novanet-zone-price-list>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
