<div [formGroup]="form">
  <div class="grid grid-cols-3 gap-6 px-4">
    <div *ngIf="form.get(formFields.campaignType.name).value === campaignType.Ecommerce">
      <div class="grid grid-cols-2 text-gray3 mb-2">
        <span>Nguồn dữ liệu</span>
        <a *ngIf="currentCampaign"
           [routerLink]="['/product-feed', currentCampaign.ecommerceProductFeedId]"
           class="flex justify-end text-main items-center font-medium text-[12px]" target="_blank">Xem nguồn</a>
      </div>
      <novanet-select-input
        (nzScrollToBottom)="loadMoreProductFeeds()"
        [disabled]="formType === 'edit'"
        [errorMessages]="formFieldErrors.ecommerceProductFeedId"
        [formControlName]="formFields.ecommerceProductFeedId.name"
        [nzDropdownRender]="renderTemplate"
        [nzOptions]="productFeedOptions$ | async"
        inputClass="w-full"
        placeholder="Nguồn dữ liệu">
        <ng-template #renderTemplate>
          <ng-container *ngIf="productFeedLoading$ | async">
            <div class="w-full">
              <novanet-loading-icon></novanet-loading-icon>
            </div>
          </ng-container>
        </ng-template>
      </novanet-select-input>
    </div>
    <div>
      <div class="text-gray3 mb-2">Tổng ngân sách</div>
      <div class="relative">
        <novanet-number-input
          [arrow]="false"
          [containerClass]="'h-[40px]'"
          [errorMessages]="formFieldErrors.ecommerceAmountSpent"
          [formControlName]="formFields.ecommerceAmountSpent.name"
          [min]="0"
          placeholder="Tổng ngân sách"
          unit="VNĐ"></novanet-number-input>
      </div>
    </div>
    <div>
      <div class="text-gray3 mb-2">Ngân sách hàng ngày</div>
      <div class="relative">
        <novanet-number-input
          [arrow]="false"
          [containerClass]="'h-[40px]'"
          [errorMessages]="formFieldErrors.ecommerceDailyBudget"
          [formControlName]="formFields.ecommerceDailyBudget.name"
          [min]="0"
          placeholder="Ngân sách hàng ngày"
          unit="VNĐ"></novanet-number-input>
      </div>
    </div>
    <div *ngIf="form.get(formFields.campaignType.name).value !== campaignType.Ecommerce"></div>
    <div>
      <div class="text-gray3 mb-2">Ngày bắt đầu</div>
      <novanet-date-picker
        [disabledDate]="disabledStartDate"
        [disabled]="isStartDateDisabled"
        [errorMessages]="formFieldErrors.ecommerceStartDate"
        [formControlName]="formFields.ecommerceStartDate.name"
        [format]="shortDateFormat"
        [nzShowToday]="false"
        ngClass="w-full"
        placeholderDateTime="Chọn ngày bắt đầu">
      </novanet-date-picker>
    </div>
    <div>
      <div class="text-gray3 mb-2">Ngày kết thúc</div>
      <novanet-date-picker
        #datepickerRef
        [disabledDate]="disabledEndDate"
        [formControlName]="formFields.ecommerceEndDate.name"
        [format]="shortDateFormat"
        [nzRenderExtraFooter]="endDateFooter"
        [nzShowToday]="false"
        [placeholderDateTime]="ecommerceEndDatePlaceholder"
        ngClass="w-full">
      </novanet-date-picker>
      <ng-template #endDateFooter>
        <div
          (click)="clearEndDate()"
          class="flex justify-center m-auto text-main font-medium cursor-pointer text-align w-full">
          Không có ngày kết thúc
        </div>
      </ng-template>
    </div>
  </div>

  <div class="px-4 mt-[24px]">
    <div class="text-gray3 mb-2">Dùng chung lịch biểu</div>
    <div class="flex">
      <nz-switch
        (click)="onUpdateScheduled()"
        [(ngModel)]="ecommerceScheduled"
        [ngClass]="ecommerceScheduled ? 'switch-active' : 'switch-inactive'"
        [ngModelOptions]="{ standalone: true }"
        [nzCheckedChildren]="checkedTemplate"
        [nzControl]="true"
        [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
      <div class="ml-3">
        Các nhóm quảng cáo chung chiến dịch thì dùng chung lịch biểu
      </div>
      <ng-template #checkedTemplate>
        <svg-icon [height]="7" [width]="9" name="tick-small"></svg-icon>
      </ng-template>
      <ng-template #unCheckedTemplate>
        <svg-icon [size]="8" name="cross-small"></svg-icon>
      </ng-template>
    </div>
  </div>

  <div *ngIf="form.get('ecommerceScheduled').value" class="px-4 mt-4">
    <div class="text-gray3 mb-2">Lịch biểu</div>
    <div class="flex items-center mb-1">
      <input
        [formControlName]="formFields.ecommerceScheduledAllTime.name"
        [value]="true"
        class="focus:ring-main h-4 w-4 text-main border-gray-300"
        id="schedulerTypeAll"
        type="radio"/>
      <label class="ml-3 block" for="schedulerTypeAll">
        Chọn toàn thời gian
      </label>
    </div>
    <div class="flex items-center">
      <input
        [formControlName]="formFields.ecommerceScheduledAllTime.name"
        [value]="false"
        class="focus:ring-main h-4 w-4 text-main border-gray-300"
        id="schedulerTypeCustom"
        type="radio"/>
      <label class="ml-3 block" for="schedulerTypeCustom">
        Cài đặt lịch biểu
      </label>
    </div>
  </div>

  <div
    *ngIf="
      !form.get('ecommerceScheduledAllTime').value &&
      form.get('ecommerceScheduled').value
    "
    class="px-4 mt-4">
    <novanet-campaign-scheduler
      (schedulingItemsChange)="onSchedulingItemsChange($event)"
      [schedulingItems]="schedulingItems"></novanet-campaign-scheduler>
  </div>
</div>

<nz-modal
  (nzOnCancel)="handleCancelScheduled()"
  [(nzVisible)]="isConfirmScheduledVisible"
  [nzCloseIcon]="null"
  [nzContent]="modalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="rounded-lg">
  <ng-template #modalContent>
    <div class="text-center">
      <div class="mb-4 text-xs font-medium">
        <ng-container *ngIf="form.get('ecommerceScheduled').value">
          Chỉnh sửa này sẽ ảnh hưởng đến lịch biểu của các nhóm quảng cáo, các
          nhóm quảng cáo đã tạo trong chiến dịch sẽ hiển thị mặc định toàn thời
          gian
        </ng-container>
        <ng-container *ngIf="!form.get('ecommerceScheduled').value">
          Chỉnh sửa này sẽ ảnh hưởng đến lịch biểu của các nhóm quảng cáo, các
          nhóm quảng cáo trong chiến dịch đang có lịch biểu riêng sẽ chuyển về
          dùng chung lịch biểu với chiến dịch
        </ng-container>
      </div>
      <div>
        <button
          (click)="handleCancelScheduled()"
          class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Hủy
        </button>
        <button
          (click)="confirmUpdateScheduled()"
          class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md shadow-sm text-white bg-main hover:bg-main-dark focus:outline-none">
          Xác nhận
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
