.campaign-date-picker {
  &.ant-picker-focused {
    border-color: #0061c1 !important;
    box-shadow: none;
  }
}

:host ::ng-deep .switch-active {
  > button {
    background-color: #0061c1;
  }
}

:host ::ng-deep .switch-inactive {
  > button {
    background-color: #bdbdbd;
  }
}
