<div [ngClass]="containerClass" class="relative">
  <div class="relative {{ hasError ? 'error-input' : '' }}">
    <textarea
      (blur)="onBlur()"
      (focus)="onFocus()"
      [(ngModel)]="value"
      [attr.required]="required"
      [disabled]="disabled"
      [maxlength]="max"
      [minlength]="min"
      [nzAutosize]="{ minRows, maxRows }"
      [placeholder]="placeholder"
      class="font-medium appearance-none block w-full pl-[12px] pr-[24px] pt-[8px] pb-[16px] border rounded-md shadow-sm placeholder-gray-400 sm:text-sm {{
        hasError ? 'border-[#EB5757]' : 'border-gray-300'
      }}"
      nz-input></textarea>
  </div>
  <div *ngIf="showCounter"
       class="absolute right-[16px] bottom-[1px] bg-white px-[2px] text-[12px] text-[rgba(189,189,189,1)] flex flex-row items-center">
    <div
      *ngIf="hasError"
      class="flex items-center mr-[8px]">
      <svg-icon name="error-input-icon"></svg-icon>
    </div>
    <div class="mt-[4px]">
      {{ value.length }}/{{ counterMaxLength }}
    </div>
  </div>
  <div
    *ngIf="hasError"
    class="absolute text-red-600 text-[12px] mt-[5px] error-message">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span
          *ngIf="error.key == errMessage.type"
          class="text-[12px] px-[8px] py-[4px]"
        >{{ errMessage.message }}</span
        >
      </ng-container>
    </ng-container>
  </div>
  <div
    *ngIf="!showCounter && hasError"
    class="absolute top-[8px] flex items-center z-50 right-[12px]">
    <svg-icon name="error-input-icon"></svg-icon>
  </div>
</div>
