::ng-deep {
  .ant-input-group-addon {
    background-color: #ffffff;
  }
  .error-message{
    width: 100%;
    background-color: #FFEEEE;
    border-radius: 4px;
  }
  .error-input{
    textarea:focus{
      --tw-ring-color: #EB5757 !important;
    }
  }
}