<div class="relative">
  <novanet-shared-filter
    (allFilterChange)="onAllFilterChange($event)"
    (dateRangeChange)="onFilterDateRangeChange($event)"
    (exportData)="exportData($event)"
    (predicatesChange)="onFilterPredicatesChange($event)"
    (statusChange)="onFilterStatusChange($event)"
    (updateColumns)="updateColumns($event)"
    [actionsElement]="actionsElement"
    [campaignGroupOptionColumn]="adsetGroupOptionColumn"
    [createElement]="createElement"
    [exceptFilterStatus]="exceptFilterStatus"
    [selectedColumnDefault]="selectedColumnDefault"
    [showActions]="isAnySelected"
    [tabIndex]="1"></novanet-shared-filter>
  <div
    *ngIf="loading$ | async"
    class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
    <div class="w-full bg-[#828282] opacity-30"></div>
    <div class="absolute top-1/2 left-1/2">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
  <novanet-data-table
    #adsetListTable
    (nextPage)="onNextPage()"
    (sortByField)="dispatchGetList(1, $event)"
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="adsets$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    cellClass="h-[1px]"
    ngClass="adset-table"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <!-- checkbox  -->
        <div *ngSwitchCase="adsetListTableEnum.CHECKBOX" class="h-full">
          <input
            (change)="onSelectAdsetChanged($event, data.id)"
            [checked]="isAdsetSelected(data.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            type="checkbox"/>
        </div>
        <!-- index -->
        <div *ngSwitchCase="adsetListTableEnum.INDEX" class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <!-- isActive -->
        <div *ngSwitchCase="adsetListTableEnum.IS_ACTIVE" class="h-full">
          <novanet-switch-no-animation
            (activeChange)="onAdsetIsActiveChange(data)"
            [active]="isActiveValues[data.id]"
            [loading]="switchLoadings[data.id]"
            [nzControl]="true"></novanet-switch-no-animation>
          <div *ngIf="isAdsetExpanded(data.id)" class="pt-6">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              <novanet-switch-no-animation
                (activeChange)="
                  onAdsetProductGroupIsActiveChange(group, data.id)
                "
                [active]="isActiveProductGroupValues[data.id + '_' + group.id]"
                [loading]="switchProductGroupLoadings[data.id + '_' + group.id]"
                [nzControl]="true"
                size="small"></novanet-switch-no-animation>
            </div>
          </div>
        </div>
        <!-- title -->
        <div
          *ngSwitchCase="adsetListTableEnum.NAME"
          class="group h-full relative">
          <novanet-editable-adset-name
            (expandChange)="toggleRowExpand(data.id)"
            [adset]="data"
            [isAnySelected]="isAnySelected"
            [isExpanded]="
              isAdsetExpanded(data.id)
            "></novanet-editable-adset-name>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div
              *ngFor="let group of data.productGroupData"
              class="my-2 flex items-center">
              <svg-icon
                [size]="16"
                fill="transparent"
                name="dot-outline"
                stroke="rgba(79, 79, 79, 1)"></svg-icon>
              {{ group.name }}
            </div>
          </div>
        </div>
        <!-- campaign name -->
        <div *ngSwitchCase="adsetListTableEnum.CAMPAIGN_NAME" class="h-full">
          <div>{{ data.campaignName }}</div>
        </div>
        <!-- status -->
        <div *ngSwitchCase="adsetListTableEnum.STATUS" class="h-full">
          <div class="mb-[35px]">
            <novanet-campaign-status-icon
              [status]="data.status"></novanet-campaign-status-icon>
          </div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              <novanet-campaign-status-icon
                [status]="group.status"></novanet-campaign-status-icon>
            </div>
          </div>
        </div>
        <!--Type-->
        <div *ngSwitchCase="adsetListTableEnum.CAMPAIGN_TYPE" class="h-full">
          {{ campaignTypeLabels[data.campaignType] }}
        </div>
        <!-- cost -->
        <div *ngSwitchCase="adsetListTableEnum.COSTS" class="h-full">
          <div class="mb-[35px]">{{ data.data.totalCost | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.totalCost | toCurrency }}
            </div>
          </div>
        </div>
        <!-- impressions -->
        <div *ngSwitchCase="adsetListTableEnum.IMPRESSIONS" class="h-full">
          <div class="mb-[35px]">{{ data.data.impressions | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.impressions | toCurrency }}
            </div>
          </div>
        </div>
        <!-- clicks -->
        <div *ngSwitchCase="adsetListTableEnum.CLICKS" class="h-full">
          <div class="mb-[35px]">{{ data.data.clicks | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.clicks | toCurrency }}
            </div>
          </div>
        </div>
        <!-- ctr -->
        <div *ngSwitchCase="adsetListTableEnum.CTR" class="h-full">
          <div class="mb-[35px]">
            {{ data?.data?.ctr | toPercentage: '1.0-2' }}
          </div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.ctr | toPercentage: '1.0-2' }}
            </div>
          </div>
        </div>
        <!-- cpc -->
        <div *ngSwitchCase="adsetListTableEnum.CPC" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.cpc | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.cpc | toCurrency }}
            </div>
          </div>
        </div>
        <!-- purchase -->
        <div *ngSwitchCase="adsetListTableEnum.PURCHASE" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.purchase | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.purchase | toCurrency }}
            </div>
          </div>
        </div>
        <!-- purchase conversion -->
        <div
          *ngSwitchCase="adsetListTableEnum.PURCHASE_CONVERSION"
          class="h-full">
          <div class="mb-[35px]">
            {{ data?.data?.purchaseConversion | toPercentage: '1.0-2' }}
          </div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.purchaseConversion | toPercentage: '1.0-2' }}
            </div>
          </div>
        </div>
        <!-- cps -->
        <div *ngSwitchCase="adsetListTableEnum.CPS" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.cps | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.cps | toCurrency }}
            </div>
          </div>
        </div>
        <!-- videoView3s -->
        <div *ngSwitchCase="adsetListTableEnum.VIDEO_VIEW_3S" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.videoView3s | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.videoView3s | toCurrency }}
            </div>
          </div>
        </div>
        <!-- video25Percent -->
        <div *ngSwitchCase="adsetListTableEnum.VIDEO_25_PERCENT" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.video25Percent | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.video25Percent | toCurrency }}
            </div>
          </div>
        </div>
        <!-- video50Percent -->
        <div *ngSwitchCase="adsetListTableEnum.VIDEO_50_PERCENT" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.video50Percent | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.video50Percent | toCurrency }}
            </div>
          </div>
        </div>
        <!-- video75Percent -->
        <div *ngSwitchCase="adsetListTableEnum.VIDEO_75_PERCENT" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.video75Percent | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.video75Percent | toCurrency }}
            </div>
          </div>
        </div>
        <!-- video100Percent -->
        <div *ngSwitchCase="adsetListTableEnum.VIDEO_100_PERCENT" class="h-full">
          <div class="mb-[35px]">{{ data?.data?.video100Percent | toCurrency }}</div>
          <div *ngIf="isAdsetExpanded(data.id)">
            <div *ngFor="let group of data.productGroupData" class="my-2">
              {{ group?.data?.video100Percent | toCurrency }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="adsetListSummaryEnum.COUNT">
          Số nhóm quảng cáo:
          <span class="text-main font-medium">
            <ng-container *ngIf="isAnySelected">
              {{ selectedAdsets.length }}/{{ (adsets$ | async).length }}
            </ng-container>
            <ng-container *ngIf="!isAnySelected">
              {{ (adsetSummary$ | async)?.total ?? (adsets$ | async).length }}
            </ng-container>
          </span>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.CAMPAIGN_NAME"></div>
        <div *ngSwitchCase="adsetListSummaryEnum.STATUS"></div>
        <div *ngSwitchCase="adsetListSummaryEnum.CAMPAIGN_TYPE"></div>
        <div *ngSwitchCase="adsetListSummaryEnum.COSTS" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.totalCost | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.IMPRESSIONS" class="font-bold">
          <div>
            {{ (adsetSummary$ | async)?.impressions | toCurrency }}
          </div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.CLICKS" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.clicks | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.CTR" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.CPC" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.cpc | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.PURCHASE" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.purchase | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.VIDEO_VIEW_3S" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.videoView3s | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.VIDEO_25_PERCENT" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.video25Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.VIDEO_50_PERCENT" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.video50Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.VIDEO_75_PERCENT" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.video75Percent | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.VIDEO_100_PERCENT" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.video100Percent | toCurrency }}</div>
        </div>
        <div
          *ngSwitchCase="adsetListSummaryEnum.PURCHASE_CONVERSION"
          class="font-bold">
          <div>
            {{
            (adsetSummary$ | async)?.purchaseConversion
              | toPercentage: '1.0-2'
            }}
          </div>
        </div>
        <div *ngSwitchCase="adsetListSummaryEnum.CPS" class="font-bold">
          <div>{{ (adsetSummary$ | async)?.cps | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #createElement>
  <button
    [nzDropdownMenu]="createAdsetMenu"
    class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
    nz-dropdown
    nzTrigger="click">
    Tạo nhóm quảng cáo
  </button>
  <nz-dropdown-menu #createAdsetMenu="nzDropdownMenu" class="bg-white">
    <div class="bg-white rounded-md search-dropdown">
      <div class="px-4 py-3">
        <div class="text-[#001F4C] font-medium mb-2">Chọn chiến dịch</div>
        <novanet-text-input
          (ngModelChange)="searchCampaignKeywordChanged.next($event)"
          [ngModel]="searchCampaignKeyword"
          placeholder="Tìm chiến dịch"></novanet-text-input>
      </div>
      <ul
        (scroll)="onCampaignListScroll($event)"
        class="w-[500px] max-h-[300px] overflow-y-auto"
        nz-menu
        nzSelectable>
        <li
          *ngFor="let campaign of campaigns$ | async"
          [queryParams]="{ campaignId: campaign.id }"
          [routerLink]="['/campaign/add-adset']"
          nz-menu-item>
          {{ campaign.name }}
        </li>
      </ul>
    </div>
  </nz-dropdown-menu>
</ng-template>

<ng-template #actionsElement>
  <nz-select
    (ngModelChange)="onFilterCampaignTypeChange($event)"
    [ngModel]="filterCampaignType"
    [nzAllowClear]="true"
    [nzDropdownClassName]="'status-dropdown'"
    ngClass="w-[150px] rounded-md campaign-filter-select"
    nzPlaceHolder="Loại QC">
    <nz-option
      *ngFor="let campaignType of campaignTypeLabelList"
      [nzLabel]="campaignType.label"
      [nzValue]="campaignType.value"></nz-option>
  </nz-select>
</ng-template>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllAdsetChanged($event)"
    [checked]="(adsets$ | async).length === selectedAdsets.length"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox"/>
</ng-template>
