<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Danh sách sản phẩm
</div>
<ng-container>
  <section class="bg-[#f2f2f2] pb-[16px]">
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 xl:grid-cols-6 2xl:grid-cols-8">
      <ng-container *ngFor="let card of productCardsInformation">
        <novanet-information-product-card
          [cardInformation]="card"></novanet-information-product-card>
      </ng-container>
    </div>
  </section>
  <div class="bg-[#fff] pt-[16px] rounded-tl-[8px] rounded-tr-[8px]">
    <div>
      <div class="max-w-[50%] ml-[16px] mr-[16px] mb-[16px] leading-[20px]">
        <span class="text-[14px] text-[#565252e6]">
          Danh sách các trường thông tin hiển thị trên “Danh sách sản phẩm” bao
          gồm các thông tin sản phẩm bạn đã nhập trên “Nguồn dữ liệu” dựa theo
          các trường dữ liệu được quy định
          <a
            class="text-[#0061c1] font-medium underline"
            href="https://support.google.com/merchants/answer/7052112?hl=vi&ref_topic=6324338"
            target="_blank"
            >tại đây</a
          >
        </span>
      </div>
      <div
        class="relative flex items-center border-b border-b-solid border-b-[#F2F2F2] border-b-[1px] pb-[16px]">
        <button
          (click)="onRedirectPage()"
          [routerLink]="['/product-feed/list']"
          class="transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark text-[14px] h-[40px] w-[184px] rounded-[4px] mx-[16px] min-w-[184px]">
          <span class="text-[#ffffff]">Thêm sản phẩm</span>
        </button>
        <div
          class="flex flex-row items-center self-start mr-[20px] {{
            isFocus ? 'grow' : ''
          }}">
          <novanet-search-input
            class="flex flex-row items-center self-start {{
              isFocus ? 'grow' : ''
            }}"
            [searchLevelFields]="productSearchLevelFields"
            [searchOperatorLabels]="productSearchOperatorLabels"
            [searchLevelLabels]="productSearchLevelLabels"
            [levelEnum]="productSearchLevelEnum"
            [selectedSearchOptionStorage]="selectedSearchOptions"
            [searchWith]="'w-[380px]'"
            [placeHolder]="'Tìm kiếm sản phẩm, id sản phẩm...'"
            (searchOptionsChange)="onSearchOptions($event)"
            (onfocus)="onFocusSearch()"
            (onblur)="onBlurSearch()">
          </novanet-search-input>
        </div>
        <div
          *ngIf="searchForm"
          [formGroup]="searchForm"
          class="absolute top-0 right-0 flex items-center {{isFocus? 'hidden':''}}">
          <div *ngIf="isSelected" class="mr-3">
            <novanet-dropdown
              (valueKeyDropdown)="onExportData($event)"
              [label]="'label'"
              [nzDisabled]="isReportDownloading$ | async"
              [nzOverlayClassName]="'generate-report'"
              [options]="ListSelectedReportOptions"
              [placeholder]="'Tạo báo cáo'"
              [popoverNotification]="popoverNotification"
              [valueKey]="'valueKey'"
              ngClass="generatereport"
              selectType="dropdown">
            </novanet-dropdown>
          </div>
          <!--          <button-->
          <!--            (click)="onReload()"-->
          <!--            class="mr-3 inline-flex items-center p-[7px] border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main">-->
          <!--            <svg-icon name="reload" size="24"></svg-icon>-->
          <!--          </button>-->
          <button
            (click)="onToggleAdvancedFilter()"
            class="p-[11px] mr-3 inline-flex items-center p-[7px] border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main">
            <i class="text-[18px] text-[#0061C1] far fa-filter"></i>
          </button>
          <novanet-date-picker
            [containerClass]="'h-[40px] w-[400px]'"
            [formControlName]="'date'"
            [format]="'dd/MM/yyyy'"
            [inputType]="'range'"
            [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']"
            ngClass="mr-[16px]">
          </novanet-date-picker>
        </div>
      </div>
    </div>
    <div
      *ngIf="showAdvancedFilter"
      class="grid grid-cols-4 border-b-1 border-sky-500 border-b border-b-solid border-b-[#F2F2F2] border-b-[1px] pb-[16px]">
      <div
        *ngIf="searchForm"
        [formGroup]="searchForm"
        class="inline-block relative w-full pl-[16px] py-[12px] pr-[11px]">
        <label
          class="block text-sm text-[12] text-[#828282] mb-2"
          for="record-status">
          Tình trạng
        </label>
        <novanet-dropdown
          [allowClear]="true"
          [containerClass]="'h-[40px] w-full'"
          [formControlName]="'availability'"
          [options]="productStatesOption"
          id="record-status"
          label="label"
          size="default"
          valueKey="label">
        </novanet-dropdown>
      </div>
      <div
        *ngIf="searchForm"
        [formGroup]="searchForm"
        class="inline-block relative w-full py-[12px] px-[11px]">
        <label class="block text-sm text-[12] text-[#828282] mb-2" for="status">
          Trạng thái
        </label>
        <novanet-dropdown
          [allowClear]="true"
          [containerClass]="'h-[40px] w-full'"
          [formControlName]="'status'"
          [options]="statusOption"
          id="status"
          label="label"
          size="default"
          valueKey="id">
        </novanet-dropdown>
      </div>
      <div
        *ngIf="searchForm"
        [formGroup]="searchForm"
        class="inline-block relative w-full py-[12px] px-[11px]">
        <label
          class="block text-sm text-[12] text-[#828282] mb-2"
          for="product-feed">
          Chiến dịch QC
        </label>
        <novanet-dropdown
          (getNextBatch)="getNextCampaignsBatch($event)"
          [allowClear]="true"
          [containerClass]="'h-[40px] w-full'"
          [formControlName]="'campaign'"
          [isLoading]="$loadingProductFeedsStatus | async"
          [options]="campaigns$ | async"
          id="campaign"
          label="name"
          size="default"
          valueKey="id">
        </novanet-dropdown>
      </div>
      <div
        *ngIf="searchForm"
        [formGroup]="searchForm"
        class="inline-block relative w-full pl-[11px] py-[12px] pr-[16px]">
        <label
          class="block text-sm text-[12] text-[#828282] mb-2"
          for="product-feed">
          Nguồn dữ liệu
        </label>
        <novanet-dropdown
          (getNextBatch)="getNextProductFeedsBatch($event)"
          [allowClear]="true"
          [containerClass]="'h-[40px] w-full'"
          [formControlName]="'productFeedId'"
          [isLoading]="$loadingProductFeedsStatus | async"
          [options]="productFeedsResponse"
          id="product-feed"
          label="name"
          size="default"
          valueKey="id">
        </novanet-dropdown>
      </div>
    </div>
  </div>
</ng-container>
<div
  *ngIf="!products?.length && !($loadingStatus | async)"
  class="flex flex-col items-center">
  <img alt="" class="mt-14" src="/assets/images/no-data-background.svg" />
  <div class="mt-8 text-center" style="max-width: 425px">
    Bạn chưa có nguồn dữ liệu để triển khai quảng cáo, bạn vui lòng thêm nguồn
    dữ liệu để triển khai quảng cáo ecommerce.
  </div>
  <button
    (click)="onRedirectPage()"
    [routerLink]="['/product-feed/list']"
    class="inline-flex items-center mt-4 px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
    Thêm nguồn dữ liệu
  </button>
</div>
<novanet-data-table
  #productManagementTable
  (checkAllItem)="checkAll($event)"
  (nextPage)="nextBatch($event)"
  (sortByField)="sortProducts($event)"
  (statusItem)="refreshStatus($event)"
  *ngIf="settings && products?.length"
  [columns]="columns"
  [itemTemplate]="itemTemplate"
  [listOfData]="products"
  [loading]="$loadingStatus | async"
  [settings]="settings"
  [summaryColumns]="summaryColumns"
  [summaryTemplate]="summaryTemplate"
  [virtualItemSize]="50">
  <ng-template
    #itemTemplate
    let-colId="colId"
    let-product="row"
    let-rowIndex="rowIndex">
    <ng-container [ngSwitch]="colId">
      <!-- checkbox  -->
      <div *ngSwitchCase="productManagementEnum.CHECKBOX" class="h-full">
        <input
          (change)="onSelectProductChanged($event, product.productId)"
          [checked]="isProductSelected(product.productId)"
          class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
          type="checkbox" />
      </div>
      <!-- index -->
      <div *ngSwitchCase="productManagementEnum.INDEX">
        {{ rowIndex + 1 }}
      </div>

      <div
        (click)="openProductDetail(tplContent, product)"
        *ngSwitchCase="productManagementEnum.IMAGE"
        class="flex justify-center cursor-pointer">
        <img
          [nzDisablePreview]="true"
          [nzFallback]="fallback"
          [nzSrc]="product.data.ImageLink"
          class="w-[100px] h-[100px] rounded-[8px]"
          nz-image />
      </div>

      <div *ngSwitchCase="productManagementEnum.TOGGLE">
        <novanet-switch-no-animation
          (activeChange)="updateProductIsActive($event, product)"
          [active]="product.isActive"
          [loading]="product.isLoading"
          [nzControl]="true">
        </novanet-switch-no-animation>
      </div>

      <div *ngSwitchCase="productManagementEnum.TITLE">
        {{ product.data.Title }}

        <div
          (click)="openProductDetail(tplContent, product)"
          class="cursor-pointer mt-[8px] text-[12px] text-[#0061c1] font-medium">
          Chi tiết
        </div>
      </div>

      <div *ngSwitchCase="productManagementEnum.AD_RUNNING">
        <novanet-product-running-campaign
          [runningCampaigns]="
            product.runningCampaigns
          "></novanet-product-running-campaign>
      </div>

      <div *ngSwitchCase="productManagementEnum.PRODUCT_STATE">
        {{ product.data.Condition ? product.data.Condition : '-' }}
      </div>

      <ng-container *ngSwitchCase="productManagementEnum.PRODUCT_STATUS">
        <novanet-product-status-icon [status]="product.status">
        </novanet-product-status-icon>
      </ng-container>

      <div *ngSwitchCase="productManagementEnum.COST">
        {{
          product.data.totalCost
            ? (product.data.totalCost | number: '1.0-0')
            : '-'
        }}
      </div>

      <ng-container
        *ngSwitchCase="productManagementEnum.VIEWS"
        [ngTemplateOutletContext]="{ data: product.data.impressions }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.CLICKS"
        [ngTemplateOutletContext]="{ data: product.data.clicks }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.CTR"
        [ngTemplateOutletContext]="{
          data: product.data.ctr | toPercentage: '1.0-2'
        }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.CPC"
        [ngTemplateOutletContext]="{ data: product.data.cpc }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.PURCHASE_QUANTITY"
        [ngTemplateOutletContext]="{ data: product.data.purchase }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.CONVERSION"
        [ngTemplateOutletContext]="{
          data: product.data.purchaseConversion | toPercentage: '1.0-2'
        }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.CPS"
        [ngTemplateOutletContext]="{ data: product.data.cps }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.PRODUCT_TYPE"
        [ngTemplateOutletContext]="{ data: product.data.ProductType }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>

      <ng-container *ngSwitchCase="productManagementEnum.MODIFIED">
        <div>
          {{ product.modifiedAt | date: 'dd/MM/yyyy' }}
        </div>
      </ng-container>

      <ng-container
        *ngSwitchCase="productManagementEnum.PRODUCT_FEED"
        [ngTemplateOutletContext]="{ data: product.productFeedName }"
        [ngTemplateOutlet]="dataTemplate"></ng-container>
    </ng-container>

    <ng-template #dataTemplate let-data="data">
      <div>
        {{ data ? data : '-' }}
      </div>
    </ng-template>
  </ng-template>

  <ng-template #summaryTemplate let-colId="colId">
    <ng-container [ngSwitch]="colId">
      <div *ngSwitchCase="productManagementSummaryEnum.COUNT">
        Số sản phẩm:
        <span class="text-main font-medium">
          <ng-container *ngIf="isAnySelected">
            {{ countSelected }}/{{ products.length }}
          </ng-container>
          <ng-container *ngIf="!isAnySelected">
            {{ (productSummary$ | async)?.total ?? products.length }}
          </ng-container>
        </span>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.AD_RUNNING"></div>
      <div *ngSwitchCase="productManagementSummaryEnum.PRODUCT_STATUS"></div>
      <div *ngSwitchCase="productManagementSummaryEnum.PRODUCT_STATE"></div>
      <div *ngSwitchCase="productManagementSummaryEnum.COST" class="font-bold">
        <div>{{ (productSummary$ | async)?.totalCost | number: '1.0-0' }}</div>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.VIEWS" class="font-bold">
        <div>
          {{ (productSummary$ | async)?.impressions | toCurrency }}
        </div>
      </div>
      <div
        *ngSwitchCase="productManagementSummaryEnum.CLICKS"
        class="font-bold">
        <div>{{ (productSummary$ | async)?.clicks | toCurrency }}</div>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.CTR" class="font-bold">
        <div>{{ (productSummary$ | async)?.ctr | toPercentage: '1.0-2' }}</div>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.CPC" class="font-bold">
        <div>{{ (productSummary$ | async)?.cpc | toCurrency }}</div>
      </div>
      <div
        *ngSwitchCase="productManagementSummaryEnum.PURCHASE_QUANTITY"
        class="font-bold">
        <div>
          {{ (productSummary$ | async)?.purchase | toCurrency }}
        </div>
      </div>
      <div
        *ngSwitchCase="productManagementSummaryEnum.CONVERSION"
        class="font-bold">
        <div>
          {{
            (productSummary$ | async)?.purchaseConversion
              | toPercentage: '1.0-2'
          }}
        </div>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.CPS" class="font-bold">
        <div>{{ (productSummary$ | async)?.cps | toCurrency }}</div>
      </div>
      <div *ngSwitchCase="productManagementSummaryEnum.PRODUCT_TYPE"></div>
      <div *ngSwitchCase="productManagementSummaryEnum.MODIFIED"></div>
      <div *ngSwitchCase="productManagementSummaryEnum.PRODUCT_FEED"></div>
    </ng-container>
  </ng-template>
</novanet-data-table>

<ng-template #tplContent let-params>
  <novanet-product-detail
    [productItem]="productDetail"></novanet-product-detail>
</ng-template>

<ng-template #checkboxHeader>
  <input
    (change)="onSelectAllProductChanged($event)"
    [checked]="isProductSelectedAll"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox" />
</ng-template>
