:host ::ng-deep {
  .ant-switch {
    background-color: #bfbfbf;
  }

  .ant-switch-checked {
    background-color: #0061c1;
  }

  .ant-table-title {
    padding: 0 !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0061c1;
    border-color: #0061c1;
    border-radius: 2px;
  }
}

::ng-deep {
  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-close {
    display: none;
  }
}


:host ::ng-deep .campaign-filter-select {
  .ant-select-selector {
    height: 40px;
    border-radius: 0.375rem;

    .ant-select-selection-placeholder {
      line-height: 40px;
    }

    .ant-select-selection-item {
      line-height: 40px;
    }
  }
}

:host ::ng-deep .product-tag-select {
  font-size: 14px;
  border-color: rgb(209, 213, 219);

  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: rgb(209, 213, 219);
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      border-color: #0061c1;
      box-shadow: none;
    }
  }

  &.ant-select-multiple {
    .ant-select-selection-item-remove > .anticon {
      vertical-align: 0em;
    }

    .ant-select-selection-item-content {
      white-space: unset;
    }
  }

  .ant-select-selector {
    border-radius: 0.375rem;
  }
}
