body,
html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-width: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mobile-banner-card {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.wrapbox {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    text-decoration: unset;
}

.auto {
    line-break: auto;
}

.mobile-banner-card-slide {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    padding: 4px;
    max-width: 118px;
    height: 160px;
    border-radius: 4px;
    margin: 5px;
}

.mobile-banner-card-wrapper {
    width: 100%;
    display: flex;
    margin: auto;
    text-decoration: unset;
    justify-content: flex-end;
}

.mobile-banner-card-slide img {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 118px;
}

.trapezoid-up {
    border-bottom: 16px solid #fff;
    border-left: 15px solid transparent;
    transform: rotate(180deg);
    height: 21px;
    width: 50px;
    top: 0;
}

.trapezoid-down {
    border-bottom: 16px solid #ff2828;
    border-left: 15px solid transparent;
    height: 21px;
    width: 50px;
    bottom: 0;
    right: 0;
}

.free-delivery-text {
    top: 3px;
    left: 5px;
    font-weight: 800;
    font-style: italic;
    font-size: 8px;
    text-transform: uppercase;
    color: #ff2828;
}

.sale-text {
    bottom: -13px;
    left: 1px;
    font-weight: 800;
    font-style: italic;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
}

.description {
    padding: 4px;
}

.detail-price {
    line-height: 10px;
}

.price {
    font-weight: 700;
    font-size: 10px;
    color: red;
    padding-right: 4px;
}

.promotion {
    font-size: 8px;
    text-decoration-line: line-through;
    color: #828282;
}

.title {
    line-height: 11px;
    font-weight: 600;
    font-size: 8px;
    padding-bottom: 2px;
    max-width: 171px;
    color: #4f4f4f;
}
