<div
    #card
    class="w-[189px] h-[100px] rounded-[8px] text-[#4F4F4F] pb-[13px] pl-[16px] pt-[12px]">
  <div class="text-[14px] font-medium">
    <span>{{ cardInformation.title || 'N/A' }}</span>
  </div>
  <div #cardValue class="text-[30px] leading-[40px] font-bold">
    <span>{{ cardInformation.records !== null ? cardInformation.records : 'N/A' }}</span>
  </div>
  <div *ngIf="cardInformation.percent" class="text-[11px] font-medium">
    <span>{{ cardInformation.percent | number: '1.0-0' || 'N/A' }}%</span>
  </div>
</div>
