@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.BannerCardViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/inread-ecommerce/styles/inread-ecommerce.css"/>
    <style>
         body {
             background-size: 100vw auto !important;
         }
         .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
         }
         .inread-ecommerce {
            bottom: 12px;
            z-index: 2;
         }
         .inread-ecommerce-wrapper {
            max-width: unset;
            text-align: center;
            display: flex;
            padding: 0 6px;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: flex-end;
         }
        .inread-ecommerce-slide {
            box-sizing: border-box;
            width: calc(50% - 12px);
            height: 216px;
            text-align: initial;
            position: relative;
            max-width: unset;
            margin: 6px;
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            font-size: 12px;
        }
        .description {
            padding: 4px 0;
        }
        .detail-price {
            position: absolute;
            bottom: 0;
        }
        .sale-text {
            bottom: -18px;
        }
        .inread-ecommerce-slide img {
            object-fit: contain;
        }
        .logo-icon {
            cursor: pointer;
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 8px;
        }
        .banner-text {
            display: none;
        }

       @@media only screen and (max-width : 320px) {
         .title {
             font-size: 10px;
         }
      }
      @@media only screen and (max-width : 280px) {
           .title {
               font-size: 8px;
           }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body style="background: url('@(Model.BackgroundImageUrl)') 0 0 / auto 100vh no-repeat">
<div id="container">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
        }
    </a>
    <div class="inread-ecommerce myinread-ecommerce">
        <div class="banner-text"></div>
        <div class="inread-ecommerce-wrapper">
            @foreach (var product in Model.Products)
            {
                <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="inread-ecommerce-slide wrapbox auto">
                    <div class="relative">
                        <img alt="" src="@product.ImageLink"/>
                        @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                        {
                            <div class="absolute trapezoid-down">
                                <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                            </div>
                        }
                        @if (Model.ShowFreeDelivery)
                        {
                            <div class="absolute trapezoid-up"></div>
                            <span class="absolute free-delivery-text">FREESHIP</span>
                        }
                    </div>
                    <div class="description">
                        @if (Model.ProductName)
                        {
                            <div class="title">
                                @product.Name
                            </div>
                        }
                        <div class="detail-price">
                            @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                            {
                                <span class="price">@(product.DiscountedPrice)đ</span>
                                <span class="promotion">@(product.Price)đ</span>
                            }
                            else
                            {
                                <span class="price">@(product.Price)đ</span>
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<script>
    const containerHeight = document.getElementById('container').offsetHeight;
    const bannerTitleHeight = document.getElementById('container').offsetHeight / 5;
    const containerWidth = document.getElementById('container').offsetWidth;
    const productsHeight = containerHeight * 405 / 576;
    
    document.getElementsByClassName('inread-ecommerce-wrapper')[0].style.height = productsHeight + "px";
    document.getElementsByClassName('banner-text')[0].style.height = bannerTitleHeight + "px";
    for (let i = 0; i < 4; i++) {
        const productElement = document.getElementsByClassName('inread-ecommerce-slide')[i];
        const productHeight = productsHeight * 38 / 81;
        productElement.style.height = productHeight + 'px';
        if (containerWidth < 392) {
            productElement.getElementsByTagName('img')[0].style.height = (productHeight * 13 / 19) + 'px';        
        } else {
            productElement.getElementsByTagName('img')[0].style.height = '160px';
        }
    }
    
    Array.from(document.getElementsByTagName('img')).forEach((element) => {
        element.addEventListener('error', () => {
            window.parent.postMessage({
                message: 'novanet-init-backup',
                zoneId: @Model.ZoneId,
                code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
            }, '*');
        });
    });
</script>
</body>
</html>