:host ::ng-deep {
  .notification-banner-delay-input {
    .ant-input-number {
      height: 36px;
      width: 60px !important;
    }

    .error-message {
      width: unset;
      white-space: nowrap;
    }
  }
}
