<ng-container *ngIf="notificationBannerForm" [formGroup]="notificationBannerForm">
  <div class="mb-[16px]">
    <div *ngIf="templateConfiguration.isActive && !currentAvatar.length && !templateConfiguration.configurations.logo"
         class="text-[#EB5757] text-[12px] mb-[8px] error-message bg-transparent">
      Vui lòng tải ảnh lên trước khi sửa tin quảng cáo khác
    </div>
    <span class="mr-[12px] text-[#828282]">Logo <small>(tối đa 1MB)</small></span>
    <div class="relative text-[#0061C1] inline-block pb-[12px]">
      <ng-container *ngIf="!currentAvatar.length && !templateConfiguration.configurations.logo">
        <button
          class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
          <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
          <span class="text-[14px]">Tải lên</span>
        </button>
        <input
          (change)="handleAvatarInput('brandAvatar', $event.target['files'])"
          accept="image/*"
          class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
          name="myImage"
          type="file"/>
      </ng-container>
      <ng-container *ngIf="currentAvatar.length || templateConfiguration.configurations.logo">
        <div class="border-b-2 border-solid border-[#F2F2F2] flex items-center">
          <i class="fal fa-image text-[20px] mr-1"></i>
          <span class="mr-1">{{
            currentAvatar[0]?.name ||
            templateConfiguration?.configurations?.logo
            }}</span>
          <i (click)="clearAvatar('bannerImage')" class="fal fa-times text-[20px] cursor-pointer"></i>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <label
      class="text-[#828282] block text-[14px] font-normal"
      for="title">
      Tiêu đề
    </label>
    <div class="mt-1 rounded-md shadow-sm flex">
      <novanet-text-input
        [counterMaxLength]="createFormFields['title'].validationParams.maxLength"
        [errorMessages]="createFormFieldErrors.title"
        [formControlName]="createFormFields['title'].name"
        [showCounter]="true"
        class="w-full"
        id="title"
        placeholder="Nhập tiêu đề thông báo...">
      </novanet-text-input>
    </div>
  </div>
  <div class="mt-[20px] mb-[16px] text-[rgba(51,51,51,1)] flex flex-row items-center">
    <span class="pr-[6px]">Nội dung thông báo</span>
    <svg-icon
      [height]="12"
      [width]="12"
      name="question-circle"
      nz-tooltip
      nzTooltipColor="#001F4C"
      nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
      nzTooltipPlacement="right"
      nzTooltipTitle="Khi chỉ sử dụng TB mở rộng thì nội dung thông báo ban đầu sẽ bị cắt đi để thay thế cho phần nội dung TB rút gọn"
    ></svg-icon>
  </div>
  <div class="mb-[20px]">
    <label
      class="text-[#828282] block text-[14px] font-normal"
      for="shortcut-notification">
      Thông báo rút gọn <small>(Không bắt buộc)</small>
    </label>
    <div class="mt-1 rounded-md shadow-sm flex">
      <novanet-text-input
        [counterMaxLength]="createFormFields['shortcutNotification'].validationParams.maxLength"
        [errorMessages]="createFormFieldErrors.shortcutNotification"
        [formControlName]="createFormFields['shortcutNotification'].name"
        [showCounter]="true"
        class="w-full"
        id="shortcut-notification"
        placeholder="Nhập tiêu đề thông báo..."></novanet-text-input>
    </div>
  </div>
  <div class="mb-[24px]">
    <label
      class="text-[#828282] block text-[14px] font-normal"
      for="extend-notification">
      Thông báo mở rộng
    </label>
    <div class="mt-1 rounded-md shadow-sm flex">
      <novanet-textarea-input
        [counterMaxLength]="createFormFields['extendNotification'].validationParams.maxLength"
        [errorMessages]="createFormFieldErrors.extendNotification"
        [formControlName]="createFormFields['extendNotification'].name"
        [showCounter]="true"
        class="w-full"
        id="extend-notification"
        placeholder="Nhập nội dung..."></novanet-textarea-input>
    </div>
  </div>
  <div class="mb-[16px] flex items-center">
    <novanet-switch-input
      [checkedTemplate]="checkedTemplate"
      [formControlName]="createFormFields['isCta'].name"
      [unCheckedTemplate]="unCheckedTemplate">
    </novanet-switch-input>
    <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
    <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
    <span class="pl-[8px] text-[#4F4F4F]">Nút CTA</span>
  </div>
  <ng-container *ngIf="notificationBannerForm.get('isCta').value">
    <div class="mb-[20px]">
      <label
        class="text-[#828282] block text-[14px] font-normal"
        for="cta">
        Nội dung CTA
      </label>
      <div class="mt-1 rounded-md shadow-sm flex">
        <novanet-text-input
          [counterMaxLength]="createFormFields['cta'].validationParams.maxLength"
          [errorMessages]="createFormFieldErrors.cta"
          [formControlName]="createFormFields['cta'].name"
          [showCounter]="true"
          class="w-full"
          id="cta"
          placeholder="Nhập nội dung..."></novanet-text-input>
      </div>
    </div>
    <div class="mb-[20px]">
      <label
        class="text-[#828282] block text-[14px] font-normal"
        for="cta-url">
        URL CTA <small>(Không bắt buộc)</small>
      </label>
      <div class="mt-1 rounded-md shadow-sm flex">
        <novanet-text-input
          [errorMessages]="createFormFieldErrors.ctaUrl"
          [formControlName]="createFormFields['ctaUrl'].name"
          class="w-full"
          id="cta-url"
          placeholder="Nhập nội dung..."></novanet-text-input>
      </div>
    </div>
  </ng-container>
  <div class="mb-[16px] flex items-center">
    <novanet-switch-input
      [checkedTemplate]="checkedTemplate"
      [formControlName]="createFormFields['isCustomImage'].name"
      [unCheckedTemplate]="unCheckedTemplate">
    </novanet-switch-input>
    <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
    <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
    <span class="pl-[8px] text-[#4F4F4F]">Hình ảnh trong banner mở rộng</span>
  </div>
  <ng-container *ngIf="notificationBannerForm.get('isCustomImage').value">
    <div *ngIf="templateConfiguration.isActive && !currentImage.length &&
          !templateConfiguration?.configurations?.images?.length"
         class="text-[#EB5757] text-[12px] mb-[8px] error-message bg-transparent">
      Vui lòng tải lên ít nhất 1 ảnh trước khi sửa tin quảng cáo khác
    </div>
    <div class="inline-grid grid-cols-3 gap-3 mb-[16px]">
      <ng-container *ngFor="let image of templateConfiguration.configurations.images || currentImage; let i = index">
        <div class="relative group h-[120px]">
          <img [src]="image.src || getStorageUrl(image)" alt="" class="h-[120px]">
          <div
            class="group-hover:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[calc(100%-24px)] bg-[rgba(55,55,55,1)] rounded">
            <div
              (click)="replaceImage(i)"
              class="border-b border-b-[#4F4F4F] py-[6px] text-center font-medium text-white cursor-pointer">
              Sửa
            </div>
            <div
              (click)="removeImage(i)"
              class="text-center font-medium py-[6px] cursor-pointer text-[rgba(255,64,64,1)]">
              Xóa
            </div>
          </div>
        </div>
      </ng-container>
      <input
        #replaceFileInput
        (change)="handleReplaceBannerInput('brandAvatar', $event)"
        accept="image/*"
        class="hidden"
        name="myImage"
        type="file"/>
      <div *ngIf=" templateConfiguration.configurations.images?.length < 3 && currentImage.length < 3"
           class="relative text-[#0061C1] inline-block pb-[12px]">
        <ng-container>
          <div
            class="border border-dashed border-[rgba(224,224,224,1)] cursor-pointer bg-[#F9FBFC] rounded h-[120px] w-[120px] flex flex-col items-center justify-center">
            <img alt="" src="assets/images/add-image.svg"/>
            <div class="font-medium text-[10px] text-[#0061C1]">Tải ảnh lên</div>
            <div class="font-medium text-[10px] text-[#828282]">(Tải lên tối đa 3 ảnh)</div>
          </div>
          <input
            (change)="handleBannerInput('brandAvatar', $event)"
            accept="image/*"
            class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
            multiple
            name="myImage"
            type="file"/>
        </ng-container>
      </div>
    </div>
    <div>
      <span class="text-[14px] text-[#828282]">Các kích thước cho phép</span>
    </div>
    <div class="w-full mb-[16px]">
      <novanet-data-table
        *ngIf="settingTable"
        [columns]="settingColumn"
        [height]="100"
        [itemTemplate]="itemTemplate"
        [listOfData]="dataTable"
        [settings]="settingTable">
        <ng-template
          #itemTemplate
          let-colId="colId"
          let-item="row"
          let-rowIndex="rowIndex">
          <ng-container [ngSwitch]="colId">
            <!-- index -->
            <div *ngSwitchCase="allowSizeColumn.TYPE">
              {{ item.type }}
            </div>

            <div *ngSwitchCase="allowSizeColumn.CONTENT_FORMAT">
              {{ item.fileType }}
            </div>

            <div *ngSwitchCase="allowSizeColumn.BANNER_SIZE">
              {{ item.containerSize }}
            </div>

            <div *ngSwitchCase="allowSizeColumn.FILE_SIZE">
              {{ item.fileSize }}
            </div>
          </ng-container>
        </ng-template>
      </novanet-data-table>
    </div>
  </ng-container>
  <div class="mb-[16px] flex items-center">
    <novanet-switch-input
      [checkedTemplate]="checkedTemplate"
      [formControlName]="createFormFields['isDelay'].name"
      [unCheckedTemplate]="unCheckedTemplate">
    </novanet-switch-input>
    <ng-template #checkedTemplate><i class="fal fa-check"></i></ng-template>
    <ng-template #unCheckedTemplate><i class="fal fa-times"></i></ng-template>
    <span class="pl-[8px] text-[#4F4F4F] mr-[8px] whitespace-nowrap">Độ trễ</span>
    <ng-container *ngIf="notificationBannerForm.get('isDelay').value">
      <novanet-number-input
        [arrow]="false"
        [errorMessages]="createFormFieldErrors.delay"
        [formControlName]="createFormFields['delay'].name"
        ngClass="notification-banner-delay-input"
        unit="s"></novanet-number-input>
    </ng-container>
  </div>
</ng-container>