<div
  *ngIf="form"
  [formGroup]="form"
  class="bg-white rounded-lg w-full mt-4 object-target">
  <div
    class="font-medium text-[#001F4C] border-b border-solid border-[#E0E0E0] p-4 text-[16px]">
    Nhắm chọn đối tượng
  </div>
  <div class="p-4 w-[600px]">
    <div>
      <div class="flex items-center mb-1">
        <input
          (click)="onClickHasObject()"
          [formControlName]="formFields.hasObject.name"
          [value]="false"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="hasObjectFalse"
          type="radio" />
        <label class="ml-3 block" for="hasObjectFalse">
          Bỏ nhắm chọn theo đối tượng
        </label>
      </div>
      <div class="flex items-center">
        <input
          (click)="onClickHasObject()"
          [formControlName]="formFields.hasObject.name"
          [value]="true"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="hasObjectTrue"
          type="radio" />
        <label class="ml-3 block" for="hasObjectTrue">
          Sử dụng nhóm đối tượng có sẵn
        </label>
      </div>
    </div>
    <div *ngIf="form.get(formFields.hasObject.name).value" class="mt-4">
      <ng-container *ngIf="form.get(formFields.objectIds.name).value.length">
        <div class="mb-2">
          <novanet-data-table
            *ngIf="selectedObjectSetting"
            [columns]="selectedObjectColumns"
            [footerTemplate]="footerTemplate"
            [height]="150"
            [itemTemplate]="itemTemplate"
            [listOfData]="selectedObjects"
            [settings]="selectedObjectSetting">
            <ng-template
              #itemTemplate
              let-colId="colId"
              let-data="row"
              let-rowIndex="rowIndex">
              <ng-container [ngSwitch]="colId">
                <div *ngSwitchCase="adsetAddSelectedObjectEnum.INDEX">
                  {{ rowIndex + 1 }}
                </div>
                <div *ngSwitchCase="adsetAddSelectedObjectEnum.NAME">
                  {{ data?.name }}
                </div>
                <!-- <div-->
                <!-- *ngSwitchCase="-->
                <!-- adsetAddSelectedObjectEnum.ESTIMATED_SCALE-->
                <!-- "></div>-->
                <div *ngSwitchCase="adsetAddSelectedObjectEnum.ACTION">
                  <div>
                    <i
                      (click)="removeObject(data?.id)"
                      class="px-3.5 far fa-minus-circle cursor-pointer text-[#EB5757]"></i>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #footerTemplate>
              <div class="py-3 px-4 flex flex-row justify-between">
                <div>
                  Tổng:
                  <span class="text-main font-medium">{{
                    form.get(formFields.objectIds.name).value.length
                  }}</span>
                  nhóm
                </div>
                <div>
                  <i
                    (click)="removeAllObjects()"
                    class="far fa-minus-circle cursor-pointer text-[#EB5757]"
                    nz-tooltip
                    nzTooltipPlacement="right"
                    nzTooltipTitle="Gỡ tất cả"></i>
                </div>
              </div>
            </ng-template>
          </novanet-data-table>
        </div>
      </ng-container>
      <div class="flex flex-row items-center justify-between gap-4">
        <span class="text-gray3 font-medium">Thêm nhóm đối tượng</span>
        <div class="grow">
          <novanet-select-input
            (nzScrollToBottom)="loadMoreObjects()"
            (searchChange)="searchObjectChanged.next($event)"
            [formControlName]="formFields?.objectIds?.name"
            [maxTagPlaceholder]="true"
            [maxTag]="0"
            [nzOptions]="objectOptions | async"
            [serverSearch]="true"
            inputClass="w-full"
            maxTagText="nhóm đối tượng đã được chọn"
            nzMode="multiple"
            nzNotFoundContent="Không có dữ liệu"
            placeholder="Chọn phân khúc đối tượng"></novanet-select-input>
        </div>
      </div>
      <div class="mt-2 font-medium text-[#4F4F4F]">
        Để tạo nhóm đối tượng vui lòng chuyển qua trang
        <a
          [routerLink]="['/object/object-group-detail/create']"
          class="text-main underline cursor-pointer"
          rel="noopener noreferrer"
          target="_blank">
          quản lý nhóm đối tượng</a
        >
        để tạo đối tượng mới
      </div>
    </div>
  </div>
</div>
