<div>
  <div><span class="font-bold">Tên QC:</span> {{ advertising.name }}</div>
  <div><span class="font-bold">Chiến dịch:</span> {{ advertising.campaignName }}</div>
  <div><span class="font-bold">Tên nhóm QC</span>: {{ advertising.advertisingSetName }}</div>

  <a
    [queryParams]="{ adId: advertising.id }"
    [routerLink]="['/campaign/add-advertising']"
    class="mt-[12px] block font-medium text-main text-[12px] pt-1 opacity-0 group-hover:opacity-100"
  >Chỉnh sửa</a
  >
</div>
