body,
html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-width: 0;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.swiper-outside-wrapper {
  position: relative;
  border-top: 2px solid white;
}
.swiper {
  position: absolute;
  bottom: 0;
  padding: 4px;
  height: 95px;
  width: 367px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #fff;
  margin-right: 4px;
  padding: 4px;
  box-sizing: border-box;
  max-width: 170px;
  border-radius: 4px;
  text-decoration: unset;
  display: flex;
  flex-direction: row;
}
.swiper-slide img {
  display: block;
  object-fit: contain;
  width: 87px;
  border-radius: 4px;
  height: 87px;
}
.trapezoid-up {
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  transform: rotate(180deg);
  height: 12px;
  width: 40px;
  top: 0;
}
.trapezoid-down {
  border-bottom: 12px solid #ff2828;
  border-left: 12px solid transparent;
  height: 12px;
  width: 40px;
  bottom: 0;
  right: 0;
}
.free-delivery-text {
  top: 2px;
  left: 4px;
  font-weight: 800;
  font-style: italic;
  font-size: 7px;
  text-transform: uppercase;
  color: #ff2828;
}
.sale-text {
  bottom: -10px;
  right: 4px;
  font-weight: 800;
  font-style: italic;
  font-size: 7px;
  text-transform: uppercase;
  color: #fff;
}
.description {
  height: 100%;
  padding: 4px;
  flex: 1;
  width: 0;
}
.detail-price {
  line-height: 10px;
  margin-top: 4px;
}
.price {
  font-weight: 700;
  font-size: 10px;
  color: red;
  padding-right: 4px;
}
.promotion {
  font-size: 8px;
  text-decoration-line: line-through;
  color: #828282;
}
.title {
  line-height: 12px;
  font-weight: 600;
  font-size: 9px;
  padding-bottom: 2px;
  max-width: 171px;
  color: #4f4f4f;
}
.expanded-content {
  width: 375px;
  height: 680px;
  position: fixed;
  top: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.swipeup-text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background-color: white;
  padding: 4px 0;
  color: rgb(130, 130, 130);
  z-index: 2;
}
.swipeup-text img {
  padding-left: 2px;
}