<div *ngIf="form" [formGroup]="form" class="bg-white rounded-lg w-full">
  <div
    class="font-medium text-[#001F4C] border-b border-solid border-[#E0E0E0] p-4 text-[16px]">
    Đặt tên nhóm quảng cáo
  </div>
  <div class="p-4">
    <div class="text-gray3 mb-2">Tên nhóm quảng cáo</div>
    <novanet-text-input
      [errorMessages]="formFieldErrors.name"
      [formControlName]="formFields.name.name"
      placeholder="Tên nhóm quảng cáo"></novanet-text-input>
    <div>
      <div class="mt-[20px] mb-2">
        <span class="inline-block text-gray3 text-[14px]">
          Dùng cấu hình từ nhóm có sẵn
          <span class="text-[10px]">(Không bắt buộc)</span>
        </span>
      </div>
      <div class="w-[600px] relative group">
        <div
          [(nzPopoverVisible)]="templateAdsetVisible"
          [nzPopoverArrowPointAtCenter]="false"
          [nzPopoverContent]="contentTemplate"
          class="border border-solid border-gray-3 px-3 py-2 cursor-pointer rounded-md flex justify-between items-center relative"
          nz-popover
          nzPopoverPlacement="bottomLeft"
          nzPopoverTrigger="click">
          <div *ngIf="!!templateAdsetId">
            {{ getAdsetTemplateName$(templateAdsetId) | async }}
          </div>
          <div *ngIf="!templateAdsetId" class="text-gray3">Chọn nhóm có sẵn</div>
          <div>
            <svg-icon *ngIf="!templateAdsetId" [height]="6" [width]="8" name="chevron-down"></svg-icon>
          </div>
        </div>
        <i (click)="removeDropdown();"
           *ngIf="!!templateAdsetId"
           class="fas fa-times-circle absolute right-[1.5%] top-[32%] cursor-pointer text-white hover group-hover:text-black"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <ng-container *ngIf="!!(adsets$ | async).length">
    <div class="pl-[5px] max-h-[300px] w-[500px] overflow-auto">
      <div
        *ngFor="let adset of adsets$ | async"
        class="flex items-center cursor-pointer pb-4 hover:bg-main-light pt-[5px]">
        <input
          [(ngModel)]="templateAdsetId"
          [value]="adset.id"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="templateAdset{{ adset.id }}"
          type="radio"/>
        <label class="ml-3 block" for="templateAdset{{ adset.id }}">
          {{ adset.name }}
        </label>
      </div>
    </div>
    <div
      (click)="applyTemplateAdset()"
      class="w-full text-center text-main cursor-pointer font-medium">
      Áp dụng
    </div>
  </ng-container>
  <ng-container *ngIf="!(adsets$ | async).length">
    <div class="text-gray3">Không có dữ liệu</div>
  </ng-container>
</ng-template>
