<div
  #navbarContainer
  class="relative navbar {{
    isExpanded ? 'expanded' : ''
  }} h-screen shadow-lg bg-white">
  <div class="logo pt-[30px]">
    <div [@fade]="!isExpanded ? 'open' : 'closed'" class="absolute ml-4">
      <svg-icon name="mini-logo" size="29"></svg-icon>
    </div>
    <div
      [@fade]="isExpanded ? 'open' : 'closed'"
      class="absolute ml-4 {{ isExpanded ? '' : 'pointer-events-none' }}">
      <svg-icon height="29" name="logo-with-text" width="97"></svg-icon>
    </div>
    <button
      (click)="toggleExpand()"
      class="rounded-full shadow-lg bg-white w-6 h-6 top-[30px] -right-3 pl-2 absolute flex items-center justify-center">
      <svg-icon
        [name]="isExpanded ? 'chevron-left' : 'chevron-right'"
        size="10">
      </svg-icon>
    </button>
    <div class="p-4 mt-6">
      <ng-container *ngFor="let navItem of navbarItems">
        <novanet-navbar-item
          (itemSelected)="onNavItemClick($event)"
          *ngIf="navItem.policy | checkPolicy: policies"
          [isExpanded]="isExpanded"
          [navItem]="navItem"
          [selectedItem]="selectedItem">
        </novanet-navbar-item>
      </ng-container>
    </div>
  </div>
</div>
