<ng-container [ngSwitch]="status">
    <span
      *ngSwitchCase="websiteStatusEnum.Running"
      class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(0,97,193,1)] bg-[rgba(0,97,193,0.1)]"
      nz-tooltip
      nzTooltipColor="#001F4C"
      nzTooltipOverlayClassName="text-[10px]">
    Đang chạy
  </span>
  <span
    *ngSwitchCase="websiteStatusEnum.Disabled"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[#4F4F4F] bg-[#E0E0E0]"
    nz-tooltip
    nzTooltipOverlayClassName="text-[10px]">
    Tạm dừng
  </span>
</ng-container>