<div class="pb-[12px] text-[#001F4C] text-[16px] font-medium">
  Thêm mới Domain Website
</div>
<div class="mb-[16px] bg-white overflow-hidden rounded-lg">
  <div class="p-[16px] text-[16px] font-medium text-[#001F4C]">
    Thông tin Domain website
  </div>
  <div class="pl-[16px] pr-[16px] pb-[16px]">
    <div [formGroup]="createForm">
      <div class="mb-[20px]">
        <label class="block text-[14px] text-[#828282]">
          Email Publisher
        </label>
        <div class="mt-[8px] text-[#BDBDBD]">
          <novanet-dropdown
            (getNextBatch)="loadMorePublishers()"
            (search)="onSearchPublisher($event)"
            [allowClear]="true"
            [errorMessages]="addWebsiteFormFieldsErrors.publisherId"
            [formControlName]="addWebsiteFormFields.publisherId.name"
            [options]="publishers$ | async"
            [serverSearch]="true"
            [showSearch]="true"
            containerClass="w-6/12 h-[40px]"
            label="email"
            placeholder="Chọn Publisher"
            valueKey="id"></novanet-dropdown>
        </div>
      </div>
      <div class="mb-[20px] w-6/12 pt-2.5">
        <label class="block text-[14px] text-[#828282]"> Domain Website </label>
        <div class="mt-[8px] text-[#BDBDBD">
          <novanet-text-input
            (changeInput)="onChange($event)"
            [placeholder]="'Nhập Domain website'"
            [errorMessages]="addWebsiteFormFieldsErrors.domain"
            [formControlName]="addWebsiteFormFields.domain.name">
          </novanet-text-input>
        </div>
      </div>
      <div class="mb-[20px] w-6/12 pt-2.5">
        <label class="block text-[14px] text-[#828282]">
          <span
            >URL<span class="text-[12px]"
              >(Sau khi lưu thì không được sửa)</span
            ></span
          >
        </label>
        <div class="mt-[8px] text-[#BDBDBD w-full">
          <novanet-text-input
            [placeholder]="'Nhập Url'"
            [errorMessages]="addWebsiteFormFieldsErrors.url"
            [formControlName]="addWebsiteFormFields.url.name">
          </novanet-text-input>
        </div>
      </div>
      <div class="mb-[20px] pt-2.5">
        <label class="block text-[14px] text-[#828282]">
          Sản phẩm/ dịch vụ cấm
        </label>
        <div class="mt-[8px] text-[#BDBDBD]">
          <novanet-multiple-select-input
            [width]="'w-[50%]'"
            [widthOverLoad]="'w-[886px]'"
            [errorMessages]="addWebsiteFormFieldsErrors.prohibitedCategoryIds"
            [formControlName]="addWebsiteFormFields.prohibitedCategoryIds.name"
            [nzOptions]="
              prohibitedCategories$ | prohibitedCategoryOptions | async
            "
            maxTagPlaceholder="sản phẩm cấm/dịch vụ cấm"
            containerClass="h-[40px]"
            placeholder="Sản phẩm cấm">
          </novanet-multiple-select-input>
        </div>
      </div>
      <div class="mb-[16px]">
        <label class="block text-[14px] text-[#828282]"> Domain Alias </label>
        <div
          class="w-6/12"
          *ngFor="let domainAlias of domainAliasesForm.controls; let i = index"
          [formGroup]="domainAliasFormGroup(i)">
          <div class="mt-[26px]">
            <novanet-text-input
              [indexInput]="i"
              (deleteInput)="deleteInput(i)"
              inputType="cancel"
              formControlName="name"
              [errorMessages]="
                addDomainAliasFormFieldsErrors.name
              "></novanet-text-input>
          </div>
        </div>
        <div
          class="mt-[25px] flex text-[#0061C1] text-[14px] w-[150px]"
          (click)="addNewDomainAlias()">
          <svg-icon
            [height]="23"
            [width]="23"
            name="add-domain-icon"></svg-icon>
          <a>Thêm Domain Alias</a>
        </div>
      </div>
      <div class="mt-[24px]">
        <button
          (click)="onsubmit(false)"
          nz-button
          class="rounded w-[210px] h-[40px] text-[#0061C1] text-[14px] border-solid border-[1px] border-[#0061C1]">
          Lưu
        </button>
        <button
          (click)="onsubmit(true)"
          nz-button
          class="mx-4 rounded w-[210px] h-[40px] bg-[#0061C1] text-[#FFFFFF] text-[14px]">
          Lưu và tạo vùng quảng cáo
        </button>
      </div>
    </div>
  </div>
</div>
