﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Search Directories</h1>
<form method="post">
    <div style="width:100%">
        <input type="text" id="nationality" placeholder="nationality" value="@Model.nationality" asp-for="nationality"/>
        <input type="text" id="gender" placeholder="gender" value="@Model.gender" asp-for="gender"/>
        <button type="submit">Search</button>
    </div>
</form>
<table border="1">
  <thead>
      <tr>
        <th>id</th>
        <th>fullName</th>
        <th>gender</th>
        <th>dob</th>
        <th>nationality</th>
        <th>description</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
        @if (Model.listDirector != null)
        {
             @foreach (var item in Model.listDirector)
            {
                <tr>
                <td>@item.id</td>
                <td>@item.fullName</td>
                <td>@item.gender</td>
                <td>@item.dobString</td>
                <td>@item.nationality</td>
                <td>@item.description</td>
                <td><a href="#">Detail</a></td>
                </tr>
            }
        }
        
  </tbody>
</table>