<nav class="breadcrumb">
  <ol class="flex items-center space-x-4" role="list">
    <li *ngFor="let item of currentBreadcrumb?.breadcrumbs; let i = index">
      <div class="flex items-center">
        <a [routerLink]="item?.path" class="text-sm text-[#828282] flex items-center">
          <div class="mr-[4px]" *ngIf="item?.useIcon">
            <svg-icon [name]="item?.iconName" size="18"></svg-icon>
          </div>
          <span>{{ item?.title }}</span>
        </a>
        <svg
          *ngIf="i < currentBreadcrumb?.breadcrumbs?.length - 1"
          aria-hidden="true"
          class="flex-shrink-0 h-5 w-5 text-gray-300"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path *ngIf="item?.useIcon" d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" fill="#001F4C" />
          <path *ngIf="!item?.useIcon" d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" fill="#828282" />
        </svg>
      </div>
    </li>
  </ol>
</nav>
