<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Danh sách Domain Website
</div>
<div *ngIf="shouldShowNoData$ | async" class="flex flex-col items-center">
  <img alt="" class="mt-14" src="/assets/images/no-data-background.svg" />
  <div class="mt-8 text-center" style="max-width: 425px">Chưa có website.</div>
</div>
<div
  *ngIf="!(shouldShowNoData$ | async)"
  class="relative"
  style="height: calc(100vh - 148px)">
  <div
    *ngIf="loading$ | async"
    class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
    <div class="w-full bg-[#828282] opacity-30"></div>
    <div class="absolute top-1/2 left-1/2">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
  <novanet-data-table
    (nextPage)="onNextPage()"
    (sortByField)="searchWebsites($event)"
    *ngIf="settings"
    [columns]="columns"
    [footerTemplate]="footerTemplate"
    [itemTemplate]="itemTemplate"
    [listOfData]="websites"
    [loading]="loading$ | async"
    [settings]="settings"
    [titleTemplate]="titleTemplate"
    ngClass="campaign-table-small">
    <ng-template #titleTemplate>
      <div class="p-[8px]">
        <div class="flex flex-row justify-between items-center">
          <div class="flex flex-row items-center w-full">
            <div
              *ngIf="'Website:Create' | checkPolicy: userPolicies"
              class="min-w-[140px] mr-3">
              <a
                class="btn-create justify-center h-[40px] w-full p-[5px] inline-flex items-center px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
                routerLink="/website/add">
                Thêm website
              </a>
            </div>
            <div
              class="flex flex-row items-center self-start mr-[20px] {{
                isFocus ? 'grow' : ''
              }}">
              <novanet-search-input
                class="flex flex-row items-center self-start {{
                  isFocus ? 'grow' : ''
                }}"
                [searchLevelFields]="websiteSearchLevelFields"
                [searchOperatorLabels]="websiteSearchOperatorLabels"
                [searchLevelLabels]="websiteSearchLevelLabels"
                [levelEnum]="websiteSearchLevelEnum"
                [selectedSearchOptionStorage]="selectedSearchOptions"
                [searchWith]="'w-[380px]'"
                [placeHolder]="'Tìm kiếm theo Email publisher, Domain website'"
                (searchOptionsChange)="onSearchOptions($event)"
                (onfocus)="onFocusSearch()"
                (onblur)="onBlurSearch()">
              </novanet-search-input>
            </div>
          </div>
          <div *ngIf="!isFocus" class="flex items-center">
            <nz-select
              (ngModelChange)="onFilterStatusChange($event)"
              [ngModel]="filterStatus"
              [nzAllowClear]="true"
              [nzDropdownClassName]="'status-dropdown'"
              ngClass="w-[150px] rounded-md website-filter-select"
              nzPlaceHolder="Trạng thái">
              <nz-option
                *ngFor="let status of websiteStatusOptions"
                [nzLabel]="status.label"
                [nzValue]="status.value"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="websiteListEnum.INDEX">
          {{ rowIndex + 1 }}
        </div>
        <div *ngSwitchCase="websiteListEnum.IS_ACTIVE">
          <novanet-switch-no-animation
            (activeChange)="onIsActiveChange($event, data)"
            [active]="data.active"
            [loading]="websiteLoadings[data.id]"
            [nzControl]="true"></novanet-switch-no-animation>
        </div>
        <div *ngSwitchCase="websiteListEnum.DOMAIN_WEBSITES">
          <novanet-website-editable-field
            (domainChange)="onDomainChange($event)"
            [website]="data"
            fieldName="domain">
          </novanet-website-editable-field>
          <a
            [href]="data.url"
            class="underline text-[#0061C1]"
            target="_blank"
            >{{ data.url }}</a
          >
        </div>
        <div *ngSwitchCase="websiteListEnum.PUBLISHER">
          <p>{{ data.publisherName }}</p>
          <div
            *ngIf="data.publisherEmail.length > 40"
            class="overflow-hidden whitespace-nowrap text-ellipsis"
            nz-tooltip
            nzTooltipColor="#001F4C"
            nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
            nzTooltipPlacement="top"
            nzTooltipTitle="{{ data.email }}">
            {{ data.publisherEmail }}
          </div>
          <div *ngIf="data.publisherEmail.length <= 40">
            {{ data.publisherEmail }}
          </div>
          <p>{{ data.publisherPhoneNumber }}</p>
        </div>
        <div *ngSwitchCase="websiteListEnum.STATUS">
          <novanet-website-status-icon
            [status]="data.status"></novanet-website-status-icon>
        </div>
        <div
          *ngSwitchCase="websiteListEnum.SUMMARY_ZONE_REPORT"
          class="group flex">
          <span>{{ data.summaryZoneReport }}</span>
          <svg-icon
            (click)="showZoneList(data.id)"
            className="cursor-pointer hidden group-hover:block pt-[5px] ml-[7px]"
            name="extend-icon"
            size="23"></svg-icon>
        </div>
        <div
          *ngSwitchCase="websiteListEnum.SUMMARY_CAMPAIGN_RUNNING"
          class="group flex">
          <span>{{ data.summaryCampaignRunning }}</span>
          <svg-icon
            className="cursor-pointer hidden group-hover:block pt-[5px] ml-[7px]"
            name="extend-icon"
            size="23"></svg-icon>
        </div>
        <div
          *ngSwitchCase="websiteListEnum.DOMAIN_ALIASES"
          class="group flex justify-between min-h-[20px] min-w-[20px]">
          <div class="w-[351px]">
            <ng-container
              *ngIf="
                data.domainAliases.length && data.domainAliases.length <= 3
              ">
              <div class="flex flex-wrap">
                <ul class="list-disc pl-[18px] {{ withDomainAlias }}">
                  <li *ngFor="let domain of data.domainAliases">
                    <p
                      class="overflow-hidden whitespace-nowrap text-ellipsis"></p>
                    <p
                      *ngIf="domain.name.length > lengthDomainAlias"
                      class="overflow-hidden whitespace-nowrap text-ellipsis"
                      nz-tooltip
                      nzTooltipColor="#001F4C"
                      nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
                      nzTooltipPlacement="top"
                      nzTooltipTitle="{{ domain.name }}">
                      {{ domain.name }}
                    </p>
                    <p *ngIf="domain.name.length <= lengthDomainAlias">
                      {{ domain.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                data.domainAliases.length && data.domainAliases.length > 3
              ">
              <div class="flex-wrap">
                <ul class="list-disc pl-[18px] w-[350px]">
                  <li *ngFor="let domain of data.domainAliases.slice(0, 3)">
                    <p
                      *ngIf="domain.name.length > 36"
                      class="overflow-hidden whitespace-nowrap text-ellipsis"
                      nz-tooltip
                      nzTooltipColor="#001F4C"
                      nzTooltipOverlayClassName="text-[10px] w-auto publisher-list-tooltip"
                      nzTooltipPlacement="top"
                      nzTooltipTitle="{{ domain.name }}">
                      {{ domain.name }}
                    </p>
                    <p *ngIf="domain.name.length <= 36">{{ domain.name }}</p>
                  </li>
                </ul>
                <div
                  (click)="expand(data.id)"
                  class="cursor-pointer font-medium text-[#0061C1]">
                  Xem thêm
                </div>
              </div>
            </ng-container>
          </div>
          <svg-icon
            (click)="onListEditDomainAlias(data.id,data.publisherId)"
            className="cursor-pointer hidden group-hover:block"
            name="edit-pencil"
            size="20"></svg-icon>
        </div>
        <div
          *ngSwitchCase="websiteListEnum.PROHIBITED_CATEGORY"
          class="group flex justify-between min-h-[20px] min-w-[20px]">
          <div>
            <div class="w-[350px] prohibited-category-col">
              <span *ngFor="let category of data.prohibitedCategory">
                {{
                  data.prohibitedCategory[0] !== category
                    ? ', ' + category.name
                    : category.name
                }}
              </span>
            </div>
            <div
              (click)="showCategory(data.prohibitedCategory)"
              *ngIf="countValueCategory(data.prohibitedCategory)"
              class="cursor-pointer font-medium text-[#0061C1]">
              Xem thêm
            </div>
          </div>
          <novanet-popup
            (onUpdate)="setEditCategory($event)"
            [label]="'name'"
            [listValueKey]="data.prohibitedCategory | map: 'id'"
            [nzOptions]="listProhibitedCategories"
            [optionsId]="data.id"
            [valueKey]="'id'"
            class="hidden group-hover:block">
          </novanet-popup>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="py-3 px-4">
        Số Domain website:
        <span class="text-main font-medium">
          <ng-container>
            {{ total$ | async }}
          </ng-container>
        </span>
      </div>
    </ng-template>
  </novanet-data-table>
</div>

<nz-modal
  (nzOnCancel)="handleCancelConfirmChangeActive()"
  [(nzVisible)]="isConfirmActiveChangeModalVisible"
  [nzCloseIcon]="null"
  [nzContent]="confirmActiveChangeModalContent"
  [nzFooter]="null"
  [nzTitle]="null"
  nzClassName="modal-confirm-change-password">
  <ng-template #confirmActiveChangeModalContent>
    <div class="text-[#F2994A] font-semibold text-[16px] mb-[8px] text-center">
      Cảnh báo
    </div>
    <div class="mb-[16px]">
      <p class="text-[#4F4F4F] text-[14px] text-center">
        {{ messageConfirm }}
      </p>
    </div>
    <div class="text-center">
      <button
        (click)="handleCancelConfirmChangeActive()"
        class="inline-flex items-center mr-4 px-8 py-[9px] border border-transparent text-xs font-semibold rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        Hủy
      </button>
      <button
        (click)="clickConfirmChangeActive()"
        class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
        Áp dụng
      </button>
    </div>
  </ng-template>
</nz-modal>

<nz-modal
  (nzOnCancel)="cancelModalDomainAlias()"
  [(nzVisible)]="isShowModalDomainAlias"
  [nzAutofocus]="null"
  [nzCancelDisabled]="true"
  [nzClosable]="true"
  [nzCloseIcon]="null"
  [nzContent]="modalPopup"
  [nzFooter]="null"
  [nzTitle]="null"
  [nzWidth]="400"
  nzClassName="modal-popup-update">
  <ng-template #modalPopup>
    <div
      class="h-[35px] border-b-[1px] border-[#F2F2F2] text-[#001F4C] pl-[18px] pt-[3px] font-[500]">
      {{ typeTileModal }}
    </div>
    <div
      *ngIf="typeEdit === typeEditDomain.EDIT_DOMAIN_ALIAS"
      class="h-[133px] overflow-auto">
      <div
        *ngFor="let domain of listDomainAlias$ | async"
        class="h-[34px] flex items-center justify-between border-b-[1px] border-[#F2F2F2] ml-[16px] mr-[16px] w-auto">
        <novanet-website-editable-field
          [domainAlias]="domain"
          [typeEdit]="typeEditDomain.EDIT_DOMAIN_ALIAS"
          [websiteId]="websiteIdEdit"
          [publisherId]="publisherIdEdit"
          class="flex">
        </novanet-website-editable-field>
      </div>
    </div>
    <div
      *ngIf="typeEdit === typeEditDomain.SHOW_DOMAIN_ALIAS"
      class="h-[210px] overflow-auto">
      <div
        *ngFor="let domain of listDomainAlias$ | async"
        class="h-[34px] font-[500] text-[#4F4F4F] flex items-center justify-between border-b-[1px] border-[#F2F2F2] ml-[16px] mr-[16px] w-full"
        style="min-width: fit-content">
        <p class="w-full">{{ domain.name }}</p>
      </div>
    </div>
    <div
      *ngIf="typeEdit === typeEditDomain.SHOW_CATEGORY"
      class="h-[210px] overflow-auto">
      <div
        *ngFor="let category of valueCategory"
        class="h-[34px] font-[500] text-[#4F4F4F] flex items-center justify-between border-b-[1px] border-[#F2F2F2] ml-[16px] mr-[16px] w-auto">
        {{ category.name }}
      </div>
    </div>
    <div
      *ngIf="typeEdit === typeEditDomain.EDIT_DOMAIN_ALIAS"
      class="h-[45px] w-full flex items-center pt-[8px] border-t-[1px] border-[#F2F2F2] pr-[8px] pl-[16px]">
      <a
        (click)="changeIsAddDomainAlias()"
        *ngIf="!isAddDomainAlias"
        class="flex">
        <svg-icon name="add-domain-icon" size="20"></svg-icon>
        <span class="text-[#0061C1]">Thêm Domain Alias</span>
      </a>
      <div
        *ngIf="isAddDomainAlias"
        class="h-[34px] flex items-center justify-between border-b-[1px] border-[#F2F2F2] mr-[16px] w-auto">
        <input
          [(ngModel)]="valueDomainAlias"
          [disabled]="isCallAPI$ | async"
          class="focus:outline-none font-[500] w-[285px] input-popup"
          nz-input
          nzBorderless
          placeholder="Nhập domain Alias" />
        <div class="w-[25px]">
          <svg-icon
            *ngIf="isValueError"
            [nzTooltipTitle]="notificationMessagesError"
            className="cursor-pointer mt-[5px]"
            name="error-notification-icon"
            nz-tooltip
            nzTooltipColor="#FFEEEE"
            nzTooltipOverlayClassName="text-[10px] w-auto web-edit-error-tooltip"
            nzTooltipPlacement="bottomRight"
            size="25"></svg-icon>
        </div>
        <a
          (click)="cancelAddDomainAlias()"
          [disabled]="isCallAPI$ | async"
          class="text-[#828282] font-medium p-0 mr-1"
          nz-button
          nzType="text"
          >Hủy</a
        >
        <a
          (click)="saveAddDomainAlias()"
          [disabled]="isCallAPI$ | async"
          class="text-[#0061c1] font-medium p-0"
          nz-button
          nzType="text"
          >Lưu</a
        >
      </div>
    </div>
  </ng-template>
</nz-modal>
