:host ::ng-deep {
  .website-price-input {
    .ant-input-number {
      border: none;
      box-shadow: none !important;
      border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
      border-radius: 0 !important;

      .ant-input-number-input {
        padding-left: 0;

        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }

  .website-price-type-dropdown {
    .ant-select {
      border: none;
      box-shadow: none !important;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none !important;
      box-shadow: none !important;
    }
  }
}

