<form *ngIf="!!createForm" [formGroup]="createForm">
  <div class="text-[16px] font-medium mb-3">
    {{ formType === 'add' ? 'Tạo bảng giá website mới' : 'Sửa bảng giá' }}
  </div>
  <div
    class="bg-white flex flex-col overflow-y-auto"
    style="height: calc(100vh - 148px)">
    <div class="text-[rgba(0,31,76,1)] font-medium pt-4 px-4">Website</div>
    <div class="pt-4 px-4 flex gap-x-[16px]">
      <div class="flex-1">
        <div class="text-gray3 mb-2">Website domain - Publisher</div>
        <novanet-dropdown
          (getNextBatch)="loadMoreWebsites()"
          (search)="onSearchWebsite($event)"
          [allowClear]="true"
          [disabled]="formType === 'edit'"
          [errorMessages]="createFormFieldErrors.websiteId"
          [formControlName]="createFormFields.websiteId.name"
          [options]="(formType === 'edit' ? detailedWebsiteOptions$ : websites$) | websiteOptions: 'Admin' | async"
          [serverSearch]="true"
          [showSearch]="true"
          containerClass="h-[40px] w-full"
          label="label"
          placeholder="Website - Publisher"
          valueKey="value"
        ></novanet-dropdown>
      </div>
      <div class="flex-1"></div>
    </div>

    <div class="pt-[24px] px-4">
      <div class="text-gray3 mb-2">Loại bảng giá</div>
      <div class="flex items-center mb-1">
        <input
          [attr.disabled]="formType === 'edit' ? true : null"
          [formControlName]="createFormFields.publisherPriceType.name"
          [value]="publisherPriceType.Website"
          class="focus:ring-main h-4 w-4 text-main border-gray-300"
          id="publisherPriceTypeWebsite"
          type="radio"/>
        <label
          class="ml-2 block {{ formType === 'edit' && createForm.get(this.createFormFields.publisherPriceType.name).value !== publisherPriceType.Website ? 'text-[rgba(189,189,189,1)]' : '' }}"
          for="publisherPriceTypeWebsite">
          Tạo giá chung cho toàn bộ vùng quảng cáo trên website
        </label>
      </div>
      <div class="flex items-center">
        <input
          (click)="onClickZonePriceType($event)"
          [attr.disabled]="formType === 'edit' ? true : null"
          [formControlName]="createFormFields.publisherPriceType.name"
          [value]="publisherPriceType.Zone"
          class="{{ !!createForm.get(this.createFormFields.websiteId.name).value ? 'focus:ring-main' : 'focus:ring-0 focus:ring-transparent' }} h-4 w-4 text-main border-gray-300"
          id="publisherPriceTypeZone"
          type="radio"/>
        <label
          class="ml-2 block {{ formType === 'edit' && createForm.get(this.createFormFields.publisherPriceType.name).value !== publisherPriceType.Zone ? 'text-[rgba(189,189,189,1)]' : '' }}"
          for="publisherPriceTypeZone">
          Tạo giá riêng cho từng vùng quảng cáo
        </label>
      </div>
    </div>

    <div class="pt-[24px] px-4 flex gap-x-[16px]">
      <div *ngIf="createForm.get(createFormFields.publisherPriceType.name).value === publisherPriceType.Zone"
           class="flex-1">
        <div class="text-gray3 mb-2">Chọn vùng quảng cáo</div>
        <novanet-dropdown
          (getNextBatch)="loadMoreZones()"
          (search)="onSearchZone($event)"
          [allowClear]="true"
          [disabled]="formType === 'edit'"
          [errorMessages]="createFormFieldErrors.zoneId"
          [formControlName]="createFormFields.zoneId.name"
          [options]="((formType === 'edit' ? detailedZoneOptions$ : zones$) | async).data"
          [serverSearch]="true"
          [showSearch]="true"
          containerClass="h-[40px] w-full"
          label="name"
          placeholder="Vùng quảng cáo"
          valueKey="id"
        ></novanet-dropdown>
      </div>
      <div class="flex-1">
        <div class="text-gray3 mb-2">Thời gian áp dụng</div>
        <novanet-date-time-picker
          [disabledDate]="disabledStartDate"
          [errorMessages]="createFormFieldErrors.startDate"
          [formControlName]="createFormFields.startDate.name"
          ngClass="w-full"
          placeholder="Thời gian áp dụng"
        ></novanet-date-time-picker>

      </div>
      <div *ngIf="createForm.get(createFormFields.publisherPriceType.name).value !== publisherPriceType.Zone"
           class="flex-1"></div>
    </div>

    <div class="pt-[24px] px-4">
      <div class="text-[rgba(0,31,76,1)] font-medium mb-2">Bảng giá</div>

      <table class="w-full border-separate rounded" style="border-spacing: 0;">
        <thead class="bg-[rgba(0,97,193,0.1)] text-main">
        <tr>
          <th class="py-[10px] px-[16px] border border-[rgba(224,224,224,1)] text-left rounded-tl">
            Loại quảng cáo
          </th>
          <th
            class="py-[10px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-y border-y-[rgba(224,224,224,1)] text-left">
            Loại định dạng
          </th>
          <th
            class="py-[10px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-y border-y-[rgba(224,224,224,1)] text-left">
            Giá mua (VNĐ)
          </th>
          <th
            class="py-[10px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-y border-y-[rgba(224,224,224,1)] text-left rounded-tr">
            Giá bán (VNĐ)
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let priceForm of pricesFormArray.controls; let i = index"
            [formGroup]="priceFormGroup(i)">
          <td
            *ngIf="getCampaignTypeRowspan(i) > 0"
            [attr.rowspan]="getCampaignTypeRowspan(i)"
            class="py-[6px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-b border-b-[rgba(224,224,224,1)] first:border-l first:border-l-[rgba(224,224,224,1)] {{ i === pricesFormArray.controls.length - 1 ? 'rounded-bl' : '' }} text-semibold">
            {{ campaignTypeLabels[priceForm.get(detailFormFields.campaignType.name).value] }}
          </td>
          <td
            class="py-[6px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-b border-b-[rgba(224,224,224,1) text-semibold">
            {{ priceForm.get(detailFormFields.templateType.name).value | getTemplateName }}
          </td>
          <td
            class="py-[6px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-b border-b-[rgba(224,224,224,1) first:border-l first:border-l-[rgba(224,224,224,1)]]">
            <div class="flex flex-row items-center relative">
              <novanet-dropdown
                [formControlName]="detailFormFields.buyPriceType.name"
                [options]="priceTypeDropdowns"
                containerClass="w-[80px] h-[32px]"
                label="label"
                ngClass="website-price-type-dropdown"
                valueKey="id"
              ></novanet-dropdown>
              <novanet-number-input
                #priceInput
                (inputKeyDown)="onKeyDownPriceInput($event, i * 2)"
                [allowZero]="true"
                [arrow]="false"
                [formControlName]="detailFormFields.buyPrice.name"
                [min]="0"
                ngClass="website-price-input flex-grow"
                placeholder="Nhập giá mua"
              ></novanet-number-input>
              <ng-container *ngIf="priceForm.get(detailFormFields.buyPrice.name).touched">
                <div class="absolute right-0 top-0 flex">
                  <ng-container *ngIf="priceForm.get(detailFormFields.buyPrice.name).getError('buyPriceGreaterThan')">
                    <span
                      class="text-[10px] text-[rgba(242,153,74,1)] bg-[#FFF0E3] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Giá mua phải nhỏ hơn giá bán</span>
                    <svg-icon name="warning" size="24"></svg-icon>
                  </ng-container>
                  <ng-container *ngIf="priceForm.get(detailFormFields.buyPrice.name).getError('required')">
                    <span
                      class="text-[10px] text-[#EB5757] bg-[#FFEEEE] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Chưa nhập giá</span>
                    <svg-icon name="error" size="24"></svg-icon>
                  </ng-container>
                  <ng-container *ngIf="priceForm.get(detailFormFields.buyPrice.name).getError('maxlength')">
                    <span
                      class="text-[10px] text-[#EB5757] bg-[#FFEEEE] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Tối đa 10 chữ số</span>
                    <svg-icon name="error" size="24"></svg-icon>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </td>
          <td
            class="py-[6px] px-[16px] border-r border-r-[rgba(224,224,224,1)] border-b border-b-[rgba(224,224,224,1)] first:border-l first:border-l-[rgba(224,224,224,1)] {{ i === pricesFormArray.controls.length - 1 ? 'rounded-br' : '' }}">
            <div class="flex flex-row items-center relative">
              <novanet-dropdown
                [formControlName]="detailFormFields.sellPriceType.name"
                [options]="priceTypeDropdowns"
                containerClass="w-[80px] h-[32px]"
                label="label"
                ngClass="website-price-type-dropdown"
                valueKey="id"
              ></novanet-dropdown>
              <novanet-number-input
                #priceInput
                (inputKeyDown)="onKeyDownPriceInput($event, i * 2 + 1)"
                [allowZero]="true"
                [arrow]="false"
                [formControlName]="detailFormFields.sellPrice.name"
                [min]="0"
                ngClass="website-price-input flex-grow"
                placeholder="Nhập giá bán">
              </novanet-number-input>
              <ng-container *ngIf="priceForm.get(detailFormFields.sellPrice.name).touched">
                <div class="absolute right-0 top-0 flex">
                  <ng-container *ngIf="priceForm.get(detailFormFields.sellPrice.name).getError('sellPriceLessThan')">
                    <span
                      class="text-[10px] text-[rgba(242,153,74,1)] bg-[#FFF0E3] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Giá bán phải lớn hơn giá mua</span>
                    <svg-icon name="warning" size="24"></svg-icon>
                  </ng-container>
                  <ng-container *ngIf="priceForm.get(detailFormFields.sellPrice.name).getError('required')">
                    <span
                      class="text-[10px] text-[#EB5757] bg-[#FFEEEE] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Chưa nhập giá</span>
                    <svg-icon name="error" size="24"></svg-icon>
                  </ng-container>
                  <ng-container *ngIf="priceForm.get(detailFormFields.sellPrice.name).getError('maxlength')">
                    <span
                      class="text-[10px] text-[#EB5757] bg-[#FFEEEE] rounded-[4px] px-[8px] py-[4px] inline-block mr-[4px]">Tối đa 10 chữ số</span>
                    <svg-icon name="error" size="24"></svg-icon>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="px-4 my-4">
      <button
        (click)="submitForm()"
        class="w-[200px] text-center whitespace-nowrap items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
        type="button">
        {{ formType === 'add' ? 'Tạo bảng giá' : 'Cập nhật' }}
      </button>
    </div>
  </div>
</form>
