<div *ngIf="!isEditing" class="flex justify-between items-center group">
  <a
    [routerLink]="['/product-feed', productFeed.id]"
    class="font-medium text-main underline"
    >{{ productFeed.name }}</a
  >
  <svg-icon
    (click)="setEditing()"
    *ngIf="!isAnySelected"
    className="cursor-pointer hidden group-hover:block"
    name="edit-pencil"
    size="20"></svg-icon>
</div>
<div *ngIf="isEditing" class="flex justify-between items-center">
  <input
    [(ngModel)]="nameEditing"
    class="focus:ring-main focus:border-main block w-full px-2 py-1.5 mr-3 sm:text-sm border-gray-300 rounded-md"
    type="text" />
  <span
    (click)="cancelEditing()"
    class="text-[#828282] inline-block mr-3 font-medium cursor-pointer"
    >Hủy</span
  >
  <span
    (click)="saveEditing()"
    class="text-main inline-block font-medium cursor-pointer"
    >Lưu</span
  >
</div>
