@import '~swiper/css';
@import '~swiper/css/free-mode';
@import '~swiper/css/navigation';
@import '~swiper/css/thumbs';
@import '~swiper/css/autoplay';

.alert-banner {
  position: absolute;
  width: 359px;
  left: 8px;
  top: 52px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5.5px);
  border-radius: 8px;
  display: flex;
  padding: 12px 0px 12px 8px;
}

.logo-banner {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 8px;
}

.text {
  color: white;
  margin-right: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 270px;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 10px;
  white-space: pre-wrap;
  font-weight: 500;
}

.content-full {
  display: -webkit-box;
  font-size: 10px;
  white-space: pre-line;
}

#button-close {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 57px;
  width: 24px;
  height: 24px;
  z-index: 1000000001;
  background: #00000066;
  border-radius: 50%;
}

#close {
  width: 27px;
  height: 8px;
  opacity: 1;
}
#close:hover {
  opacity: 1;
}
#close:before,
#close:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #ffffff;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

.button-view-more {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 123px;
  z-index: 10000;
  left: 96px;
}

.cta-notification-button {
  align-items: center;
  justify-content: center;
  right: 12px;
  height: 27px;
  background: #00000066;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-decoration: none;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 160px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-right: 8px;
  display: -webkit-box;
  padding-top: 4px;
  white-space: nowrap;
}

.btn-cta {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

#swiperOutsideWrapper {
  height: 100%;
  position: absolute;
  z-index: 111111;

  .swiper-outside-wrapper {
    position: relative;
    border-top: 2px solid white;
  }

  .mySwiper {
    position: absolute;
    bottom: 0;
    padding: 4px;
    height: 98px;
    width: 375px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.swiper-slide {
  width: 310px;
}
