<div>
  <img
    src="/assets/images/mobile-advertising/mobile-content.svg"
    class="w-[376px] z-[1] pointer-events-none" />

  <!--  shortened banner-->
  <div class="alert-banner h-[70px]" *ngIf="!statusBanner">
    <img class="logo-banner" [src]="logoImage" alt="" />
    <div class="text">
      <div class="title">
        {{ titleBanner }}
      </div>
      <div class="content">
        {{ shortNotice }}
      </div>
    </div>
  </div>

  <!--  banner full-->
  <div class="alert-banner h-[auto] flex flex-wrap" *ngIf="statusBanner">
    <div class="flex h-[50px]">
      <img class="logo-banner" [src]="logoImage" alt="" />
      <div class="text flex justify-center text-[12px] not-italic font-bold">
        <div class="title">
          {{ titleBanner }}
        </div>
      </div>
    </div>
    <div class="content-full h-[auto] w-[342px] text-[white]">
      {{ extendNotification }}
    </div>

    <div class="h-[200px] w-full mt-[10px]" *ngIf="isCustomImageBanner">
      <swiper
        *ngIf="listBannerNotification.length !== 1"
        (swiper)="thumbsSwiper = $event"
        [autoplay]="{
          delay: 4000
        }"
        [freeMode]="true"
        [loop]="true"
        [slidesPerView]="'auto'"
        [spaceBetween]="3"
        [watchSlidesProgress]="true"
        class="mySwiper">
        <ng-template
          *ngFor="let image of listBannerNotification; let index = index"
          swiperSlide>
          <div class="relative">
            <img
              class="h-[200px] w-[300px]"
              [src]="sanitizerUrl(image)"
              alt="" />
          </div>
        </ng-template>
      </swiper>
      <img
        *ngIf="listBannerNotification.length === 1"
        class="h-[200px] w-[300px] ml-[20px]"
        [src]="sanitizerUrl(listBannerNotification[0])"
        alt="" />
    </div>

    <div class="btn-cta mt-[10px]" *ngIf="isCTA">
      <div class="cta-notification-button">
        <span> {{ descriptionCTA }} </span>
      </div>
    </div>
  </div>

  <div class="button-view-more" *ngIf="!statusBanner">
    <img
      src="/assets/banner/img/view-more-banner.png"
      alt=""
      (click)="onChangeStatusBanner()" />
  </div>

  <div id="button-close" (click)="onClose()">
    <div id="close"></div>
  </div>
</div>
