<ng-container [ngSwitch]="styleSelect">
  <ng-container *ngSwitchDefault>
    <div #multipleSelectInput class="flex items-center">
      <nz-select
        #multipleSelect
        (nzOnSearch)="onSearch($event)"
        (nzOpenChange)="onVisibleChange($event)"
        [(ngModel)]="value"
        [ngModelOptions]="{ standalone: true }"
        [nzAutoClearSearchValue]="false"
        [nzMaxTagCount]="useMaxTag ? maxTag : undefined"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        [nzOpen]="visible"
        [nzOptions]="nzOptions"
        [nzPlaceHolder]="placeholder"
        [nzServerSearch]="serverSearch"
        ngClass="min-w-[400px] rounded-md multiple-select {{ width }}"
        nzDropdownClassName="hidden"
        nzMode="multiple"
        nzNotFoundContent="Không có dữ liệu"
        nzSize="large">
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList
        >{{ selectedList.length }} {{ maxTagPlaceholder }}</ng-template
      >
      <nz-select
        [ngStyle]="sizeInputHidden"
        #multiplePrivateSelect
        (nzOpenChange)="onPrivateVisibleChange($event)"
        (nzScrollToBottom)="loadMoreOptions()"
        [(ngModel)]="privateValue"
        [ngModelOptions]="{ standalone: true }"
        [nzAutoClearSearchValue]="false"
        [nzDropdownRender]="filterDropdownTemplate"
        [nzOpen]="privateVisible"
        [nzOptionHeightPx]="40"
        [nzPlaceHolder]="placeholder"
        [nzServerSearch]="serverSearch"
        [nzMaxTagCount]="maxTag"
        [nzDropdownClassName]="'topDropdown'"
        ngClass="min-w-[400px] rounded-md multiple-select absolute invisible pointer-events-none  {{
          widthOverLoad
        }}"
        nzDropdownClassName="private-template-select"
        nzMode="multiple"
        nzNotFoundContent="Không có dữ liệu"
        nzSize="large">
        <nz-option
          *ngFor="let option of nzOptions"
          [nzLabel]="option.label | cast: string"
          [nzValue]="option.value"
          ngClass="pl-[8px]"
          nzCustomContent>
          <div class="flex items-center py-[4px]">
            <input
              [checked]="isOptionChecked(option.value)"
              class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded ml-[4px]"
              type="checkbox" />
            <label class="ml-2 inline-block">
              {{ option.label }}
            </label>
          </div>
        </nz-option>
      </nz-select>
      <ng-template #filterDropdownTemplate>
        <div
          class="text-center border-b-0 border-t-[1px] pb-[8px] pt-[12px] text-main">
          <button (click)="onApply()">Áp dụng</button>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="multipleSelectStyle.MULTIPLE_SELECT_COLUMN">
    <div class="w-auto h-auto">
      <nz-select
        (nzOpenChange)="onVisibleChange($event)"
        [nzOpen]="privateVisible"
        [nzPlaceHolder]="placeholder"
        [nzDropdownClassName]="'dropdownSelect'"
        ngClass="rounded-md multiple-select select-Columns absolute {{
          width
        }} {{ height }}"
        nzSize="large">
      </nz-select>
      <nz-select
        (ngModelChange)="onChangeValue($event)"
        [nzOpen]="privateVisible"
        [nzPlaceHolder]="placeholder"
        [nzDropdownRender]="bottomDropdownTemplate"
        [nzDropdownClassName]="'dropdownSelectColumn'"
        [nzMaxTagCount]="0"
        [nzDropdownMatchSelectWidth]="false"
        [(ngModel)]="privateValue"
        ngClass="rounded-md multiple-select select-Columns invisible pointer-events-none {{
          width
        }} {{ height }}"
        nzNotFoundContent="Không có dữ liệu"
        nzMode="multiple"
        nzSize="large">
        <nz-option-group
          *ngFor="let optionGroup of nzOptionGroup"
          [nzLabel]="optionGroup.labelGroup">
          <nz-option
            *ngFor="let option of optionGroup.nzOptions"
            [nzLabel]="option.label | cast: string"
            [nzValue]="option.value"
            ngClass="pl-[8px]"
            nzCustomContent>
            <div class="flex items-center pl-[4px] h-[25px] mt-[2px]">
              <input
                [checked]="isOptionChecked(option.value)"
                class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
                type="checkbox" />
              <label class="ml-2 inline-block">
                {{ option.label }}
              </label>
            </div>
          </nz-option>
        </nz-option-group>
      </nz-select>
      <ng-template #bottomDropdownTemplate>
        <div class="border-b-0 border-t-[1px] pr-[9px] pl-[16px] text-main">
          <button
            (click)="onReset()"
            nz-button
            nzType="link"
            [disabled]="onPrivateValueDefault"
            class="p-[0px] {{
              !onPrivateValueDefault ? 'text-[#0061C1]' : ''
            }}">
            Đặt lại
          </button>
          <button
            (click)="onApply()"
            *ngIf="!onPrivateValueDefault"
            class="bg-[#0061C1] text-[#FFFFFF] w-[81px] h-[25px] mt-[5px] rounded-[4px] float-right">
            Hoàn tất
          </button>
        </div>
        <div
          class="absolute w-[98%] text-center text-[#001F4C] bg-[#FFFFFF] top-[-1px] h-[37px] pt-[8px] border-b-[1px] border-b-[#F2F2F2]">
          {{ tileDropdown }}
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
