:host ::ng-deep {
  .campaign-filter-select {
    .ant-select-selector {
      height: 40px;
      border-radius: 0.375rem;

      .ant-select-selection-placeholder {
        line-height: 40px;
      }

      .ant-select-selection-item {
        line-height: 40px;
      }
    }
  }

  .multiple-select {
    font-size: 14px;
    border-color: rgb(209, 213, 219);

    &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: rgb(209, 213, 219);
    }

    &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
      .ant-select-selector {
        border-color: #0061c1;
        box-shadow: none;
      }
    }

    &.ant-select-multiple {
      .ant-select-selection-item-remove > .anticon {
        vertical-align: 0em;
      }

      .ant-select-selection-item-content {
        white-space: unset;
      }
    }

    .ant-select-selector {
      height: 40px;
      border-radius: 0.375rem;
    }
  }
}

::ng-deep .topDropdown {
  .ant-select-item-option-state {
    i {
      display: none !important;
    }
  }
}

:host::ng-deep {
  nz-select-top-control {
    height: auto !important;
  }
}

::ng-deep .dropdownSelectColumn {
  nz-option-container {
    width: 300px;
  }

  .ant-select-item-group:first-child {
    color: #001f4c;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
  }

  .ant-select-item-group {
    color: #4f4f4f;
    font-weight: 700;
    font-size: 12px;
  }

  nz-option-item {
    padding-left: 12px;
    height: 34px !important;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  cdk-virtual-scroll-viewport {
    max-height: calc(50vh - 60px) !important;
  }

  .ant-select-item-option-state {
    i {
      display: none !important;
    }
  }
}

::ng-deep .dropdownSelect {
  display: none !important;
}

:host::ng-deep .select-Columns {
  nz-select-top-control {
    height: inherit !important;
  }
}
