.on-page{
    color: #C02B7E !important;
    border-color: #A8305B !important;
}
.btn-border{
    background: linear-gradient(124.09deg, #A8305B 10%, #2462BB 90%);
    padding: 2px;
    border-radius: 40px;
}
.btn-background{
    background: #080D14;
    border-radius: 40px;
}
.btn-get-pro{
    background: linear-gradient(124.09deg, #A8305B 10%, #2462BB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-radius: 40px;
}
.statistics-header h1{
    background: linear-gradient(180deg, #FF008E 0%, #9A0360 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.banner-small{
    aspect-ratio: 1.5;
}
.banner-small:hover{
    background: linear-gradient(124.09deg, #A8305B 10%, #2462BB 90%);
    padding: 3px;
}
.banner-small:hover p{
    color: #DFDFE5;
}

.banner-large{
    aspect-ratio: 0.75;
}
.banner-large:hover{
    background: linear-gradient(124.09deg, #A8305B 10%, #2462BB 90%);
    padding: 3px;
}
.banner-large:hover p{
    color: #DFDFE5;
}

.filter-banner{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

/* width */
.scrollbar-popup::-webkit-scrollbar {
    width: 1px;
}

/* Track */
.scrollbar-popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.scrollbar-popup::-webkit-scrollbar-thumb {
    background: #2462BB;
    border-radius: 10px;
}

