:host ::ng-deep .campaign-tabset {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0061c1;
  }

  .ant-tabs-ink-bar {
    background: #0061c1;
  }
}

.activated {
  border-color: #0061c1 !important;
  color: #0061c1 !important;
}
