<div *ngIf="form" [formGroup]="form" class="bg-white rounded-lg w-full mt-4 more-marketing">
  <section>
    <section class="border-b border-gray-200 pl-[16px]">
      <nav aria-label="Tabs" class="-mb-px flex space-x-8">
        <a
            (click)="onChangeMarketingOption(marketingOption.MORE_MARKETING)"
            [ngClass]="
            currentMarketingOption === marketingOption.MORE_MARKETING
              ? 'activated'
              : ''
          "
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Chạy thêm Remarketing
        </a>

        <a
            (click)="onChangeMarketingOption(marketingOption.NO_MORE_MARKETING)"
            [ngClass]="
            currentMarketingOption === marketingOption.NO_MORE_MARKETING
              ? 'activated'
              : ''
          "
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Không chạy Remarketing
        </a>

        <a
            (click)="onChangeMarketingOption(marketingOption.ONLY_MARKETING)"
            [ngClass]="
            currentMarketingOption === marketingOption.ONLY_MARKETING
              ? 'activated'
              : ''
          "
            aria-current="page"
            class="border-transparent text-gray-500 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
          Chỉ chạy Remarketing
        </a>
      </nav>
    </section>
    <section class="p-[16px]">
      <novanet-more-remarketing
          [currentAdset]="currentAdset"
          [formType]="formType"
          [marketingOption]="currentMarketingOption"></novanet-more-remarketing>
    </section>
  </section>
</div>
