﻿@page "/fbcaptcha/{KeyLink}"
@using AntDesign;

<Layout Class="layout h-full">
    <Header class="bg-[#3a5795] shadow-[-1px_-12px_12px_11px_rgb(0_0_0_/_10%)] z-[2]">
        <div class="logo flex h-full items-center">
            <svg class="x1lliihq x5skwsv fill-[#ffffff]" height="22" viewBox="100 100 900 160" xmlns="http://www.w3.org/2000/svg">
                <title>Facebook</title><path d="M881.583 257.897h29.48v-47.696l41.137 47.696h36.072l-47.89-54.969 40.909-47.663h-32.825l-37.403 43.93v-96.982l-29.48 3.864v151.82Zm-67.988-105.261c-32.728 0-55.455 22.013-55.455 53.929s22.727 53.929 55.455 53.929c32.727 0 55.455-22.013 55.455-53.929s-22.728-53.929-55.455-53.929Zm0 82.728c-15.163 0-25.552-11.721-25.552-28.799s10.389-28.799 25.552-28.799c15.162 0 25.552 11.721 25.552 28.799s-10.39 28.799-25.552 28.799Zm-119.807-82.728c-32.727 0-55.455 22.013-55.455 53.929s22.728 53.929 55.455 53.929c32.728 0 55.455-22.013 55.455-53.929s-22.727-53.929-55.455-53.929Zm0 82.728c-15.162 0-25.552-11.721-25.552-28.799s10.39-28.799 25.552-28.799c15.163 0 25.552 11.721 25.552 28.799s-10.389 28.799-25.552 28.799Zm-112.826-82.728c-13.636 0-24.935 5.357-32.013 15.162v-65.585l-29.513 3.831v151.82h26.169l.519-15.844c6.981 11.818 19.481 18.474 34.838 18.474 27.988 0 48.475-22.728 48.475-53.929 0-31.202-20.39-53.929-48.475-53.929Zm-6.98 82.728c-15.163 0-25.552-11.721-25.552-28.799s10.389-28.799 25.552-28.799c15.162 0 25.552 11.721 25.552 28.799s-10.39 28.799-25.552 28.799Zm-113.638 1.331c-15.649 0-26.883-7.273-30.714-19.805h72.63c.715-3.831 1.202-8.377 1.202-11.429 0-33.02-18.475-52.825-49.514-52.825-31.331 0-53.02 22.013-53.02 53.929 0 32.338 22.728 53.929 56.462 53.929 17.467 0 34.448-5.844 45.065-15.552l-10.617-18.701c-10.292 7.11-20.39 10.454-31.494 10.454Zm-6.591-61.137c13.637 0 22.338 8.279 22.338 21.104v.098h-47.078c2.825-13.604 11.623-21.202 24.74-21.202Zm-98.994 84.968c15.26 0 30.195-5.844 40.714-15.974l-11.526-19.383c-8.182 6.364-17.467 9.805-26.266 9.805-16.364 0-27.273-11.429-27.273-28.377s10.909-28.377 27.273-28.377c8.084 0 16.883 2.922 24.026 8.085l11.721-19.806c-9.481-8.571-24.156-13.831-38.702-13.831-32.013 0-54.643 22.338-54.643 53.929.032 31.494 22.662 53.929 54.676 53.929Zm-93.735-105.261-.519 15.975c-6.981-11.916-19.481-18.572-34.838-18.572-28.085 0-48.475 22.728-48.475 53.929 0 31.202 20.52 53.929 48.475 53.929 15.357 0 27.889-6.656 34.838-18.474l.519 15.844h26.169V155.265h-26.169Zm-28.377 80.099c-15.162 0-25.552-11.721-25.552-28.799s10.39-28.799 25.552-28.799c15.163 0 25.552 11.721 25.552 28.799s-10.422 28.799-25.552 28.799Zm-57.663-79.906h-26.526v-8.767c0-13.117 5.13-18.149 18.442-18.149 4.123 0 7.467.097 9.383.292v-22.5c-3.637-1.007-12.5-2.013-17.63-2.013-27.111 0-39.611 12.792-39.611 40.422v10.682h-16.753v24.806h16.753v77.631h29.448v-77.599h21.949l4.545-24.805Z"></path>
            </svg>
        </div>
    </Header>
    <Content Style="padding: 0 50px;" class="bg-[#ffffff] flex justify-center flex-col items-center p-[0px!important]">
        <div class="site-layout-content w-[95%] 2xl:w-[40%] xl:w-[60%] h-auto border-2 border-solid border-[#f1f1f1]">
            <div class="security-check">
                <h1 class="text-[1.3rem] font-bold">Security Check</h1>
                <p class="font-[620] ">Please enter the text below</p>
            </div>
            <div class="body-captcha">
                <Image Height="5.8rem" Class="w-72" Src="@CaptchaUser?.Href" Preview="false"/>
                <p class="font-normal text-[#858585]">Can't read the text above?</p>
                <p class="text-[#4c68a3] font-normal ">Try another <span class="text-[#858585]">or</span> an audio CAPTCHA</p>
            </div>
            <div class="form-submit grid">
                <label class="font-semibold text-[1.1rem]">
                    Text in the box:
                </label>
                <Input class="w-[50px]" @bind-Value="@CaptchaValue"/>

                <Button Style="border: none" OnClick="@CheckCaptcha" class="w-[4.8rem] text-white rounded mt-4 bg-[#576ea1] hover:bg-[#576ea1] hover:text-white hover:border-[none!important]">Submit</Button>
            </div>

        </div>
    </Content>
    <Footer Style="text-align: center; " class="lg:block hidden">
        <div class="t1 ">
            <div class="grid 2xl:grid-cols-8 xl:grid-cols-6 gap-4">
                <div class="2xl:col-start-3 xl:col-start-2 col-span-4 flex justify-start  border-b-[#dddfe2] border-b border-solid pb-[10px]">
                    <p class="text-[#737373] whitespace-nowrap">
                        English (UK)
                        &#160;&#160;中文(台灣)
                        &#160;&#160;한국어
                        &#160;&#160;日本語
                        &#160;&#160;Français (France)
                        &#160;&#160;ภาษาไทย
                        &#160;&#160;Español
                        &#160;&#160;Português (Brasil)
                        &#160;&#160;Deutsch
                        &#160;&#160;Italiano
                    </p>
                    <Button Style="border: none" class="ml-[0.5rem] bg-[#ebedf0] hover:text-[#8a8d91] hover:bg-[#d0d1d3] text-[#8a8d91] p-[3px!important] flex justify-center h-[1.3rem!important] w-[2rem!important]"
                            Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" Size="@ButtonSize.Large">
                    </Button>
                </div>
            </div>
            <div class="t3 grid 2xl:grid-cols-8 xl:grid-cols-6 grid-flow-col gap-4 pt-[7px]">
                <div class="2xl:col-start-3 xl:col-start-2 col-span-4">
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Messenger &#160; &#160; Facebook Lite &#160; &#160; Video &#160; &#160; Shop on Meta &#160; &#160; Game &#160; &#160;
                        Marketplace &#160; &#160; Meta Pay &#160; &#160; Shop on Meta &#160; &#160; Meta Quest
                    </div>
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Imagine with Meta AI &#160; &#160; Instagram &#160; &#160; Threads &#160; &#160; Fundraising campaign &#160; &#160;
                        Service &#160; &#160; Voting information center &#160; &#160; Privacy policy &#160; &#160; Privacy Center
                    </div>
                    <div class="row-span-1 flex text-[#737373] whitespace-nowrap">
                        Group &#160; &#160; Introduce &#160; &#160; Create ads &#160; &#160; Create Page &#160; &#160; Developers &#160; &#160;
                        Recruitment &#160; &#160; Cookie &#160; &#160; Ad selection &#160; &#160; Rules &#160; &#160; Support
                    </div>

                    <div class="row-span-1 flex text-[#737373]">Meta © 2024</div>
                </div>
            </div>
        </div>
    </Footer>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>