<ng-container *ngIf="runningCampaigns">
  <ng-container *ngIf="runningCampaigns.length > 2">
    <ng-container *ngIf="isShowMore">
      <div *ngFor="let campaignName of runningCampaigns">{{ campaignName.name }}</div>
      <div (click)="setShowMore(false)" class="text-[12px] text-[#0061C1] cursor-pointer">Thu gọn</div>
    </ng-container>
    <ng-container *ngIf="!isShowMore">
      <div>{{ runningCampaigns[0].name }}</div>
      <div>{{ runningCampaigns[1].name }}</div>
      <div (click)="setShowMore(true)" class="text-[12px] text-[#0061C1] cursor-pointer">Xem thêm</div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="runningCampaigns.length <= 2">
    <div *ngFor="let campaignName of runningCampaigns">{{ campaignName.name }}</div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!runningCampaigns">
  -
</ng-container>