<div *ngIf="!statusBanner" class="">
  <img
    class="absolute w-full z-[1] pointer-events-none"
    src="/assets/images/mobile-advertising/mobile-content.svg"/>
  <div class="w-[375px] h-[125px] pt-[699px]">
    <!-- collapseBanner -->
    <img
      (click)="onChangeStatusBanner()"
      *ngIf="collapseBannerFileType === 'zip'"
      [src]="collapseBannerDefault"
      alt=""
      class="z-[3] cursor-pointer max-w-[375px] max-h-[210px] absolute"/>
    <img
      (click)="onChangeStatusBanner()"
      *ngIf="collapseBannerFileType === 'image'"
      [src]="collapseBannerImage"
      alt=""
      class="z-[3] cursor-pointer max-w-[375px] max-h-[210px] absolute"/>
    <div
      (click)="onChangeStatusBanner()"
      *ngIf="collapseBannerFileType === 'html'"
      class="z-[3] cursor-pointer w-[375px] h-[120px] absolute">
      <iframe
        [src]="collapseBannerImage"
        class="z-[3] cursor-pointer w-full h-full absolute pointer-events-none"
      ></iframe>
    </div>
  </div>

  <a *ngIf="isCTA" class="z-[3] cta-catfish-button bottom-[-110px]">
    <span>{{ descriptionCTA }}</span>
  </a>

  <div class="button-close-catfish">
    <div class="close-catfish"></div>
  </div>
</div>

<div *ngIf="statusBanner" class="mt-[9px] w-[375px] h-[810px]">
  <img
    alt=""
    class="mt-[-12px] absolute"
    src="/assets/images/mobile-advertising/header-phone.svg"/>
  <div>
    <!-- Extend Banner -->
    <img
      *ngIf="extendBannerFileType === 'zip'"
      [src]="extendBannerDefault"
      alt=""
      class="max-w-[375px] max-h-[810px]"/>
    <img
      *ngIf="extendBannerFileType === 'image'"
      [src]="extendBannerImage"
      alt=""
      class="max-w-[375px] max-h-[810px]"/>
    <iframe
      *ngIf="extendBannerFileType === 'html'"
      [src]="extendBannerImage"
      class="w-[375px] h-[810px] pointer-events-none"></iframe>
  </div>

  <div class="popup-branding-information">
    <div class="popup-branding-overview">
      <img [src]="logoImage" alt="logo" class="popup-branding-logo"/>
      <div class="popup-branding-title">{{ logoName }}</div>
    </div>
    <div class="popup-branding-content">{{ description }}</div>
  </div>
  <a *ngIf="isCTA" class="cta-catfish-button">
    <span>{{ descriptionCTA }}</span>
  </a>

  <div
    (click)="onChangeStatusBanner()"
    class="button-close-catfish-extend-branding">
    <div class="close-catfish"></div>
  </div>
</div>
