.outside-area {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#catfish-extend-branding {
  z-index: 2000000000;
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
}

#catfish-extend-branding > img {
  width: 100%;
  height: 100%;
}

#novanet_ad-wrapper {
  pointer-events: all;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000000000;
  position: absolute;
  transition: 500ms bottom ease-in-out;
}

#novanet_ad_view_sticky__container__ img {
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 120;
}

.button-close-catfish-extend-branding {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 5px;
  top: 50px;
  width: 24px;
  height: 24px;
  z-index: 2000000001;
  background: #00000066;
  border-radius: 50%;
  transition: top 0.5s ease-in-out;
}

.button-close-catfish {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 5px;
  top: 704px;
  width: 24px;
  height: 24px;
  z-index: 2000000001;
  background: #00000066;
  border-radius: 50%;
  transition: top 0.5s ease-in-out;
}

.close-catfish {
  width: 27px;
  height: 8px;
  opacity: 1;
}
.close-catfish:hover {
  opacity: 1;
}
.close-catfish:before,
.close-catfish:after {
  position: absolute;
  left: 12px;
  content: ' ';
  top: 6px;
  height: 12px;
  width: 1px;
  background-color: #ffffff;
}
.close-catfish:before {
  transform: rotate(45deg);
}
.close-catfish:after {
  transform: rotate(-45deg);
}

.cta-catfish-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 10px;
  width: auto;
  height: 27px;
  background: #00000066;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.cta-catfish-button span {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.catfish-information {
  position: absolute;
  bottom: 48px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
}

.catfish-overview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.catfish-logo {
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
  border-radius: 50%;
}

.catfish-title {
  font-size: 16px;
  font-weight: 600;
}

.catfish-content {
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popup-branding-information {
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.popup-branding-overview {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popup-branding-logo {
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
  border-radius: 50%;
  min-width: 32px;
}

.popup-branding-title {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.popup-branding-content {
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

.cta-catfish-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 12px;
  height: 27px;
  background: #00000066;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-decoration: none;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 140px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-top: 4px;
}
