﻿@using System.Web
@model NovanetCore.Business.BusinessAdvertisingViewModel.CatfishEcomViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="ad.size"
        content="width=@Model.Width,height=@Model.Height"/>
    <title>@Model.ClientId</title>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/catfish-ecom/styles/swiper.css"/>
    <link rel="stylesheet" href="@Model.WebsiteRootUrl/assets/templates/catfish-ecom/styles/catfish-ecom.css"/>
    <style>
        .outside-area {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .close-icon {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 6px;
            width: 10px;
        }
        .logo-icon {
            cursor: pointer;
            position: absolute;
            width: 12px;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 4px;
        }
        .close-icon-expanded {
            padding: 8px;
            width: @(Model.CloseSize)px;
        }
        .logo-icon-expanded {
            padding: 8px;
            width: 20px;
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .expanded-content {
            width: 100vw;
        }
         @@media only screen and (max-width : 280px) {
           .title {
               font-size: 8px;
           }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticsProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@Model.GoogleAnalyticsProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticsProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
<div id="container">
    @if (Model.UseRedirectLink)
    {
        <a class="outside-area" href="@Model.DisplayRootUrl/display/Click?q=@Model.HashedQueryParams" target="_blank"></a>
    }
    <a href="https://novanet.vn/" target="_blank">
        @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
        {
            <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" style="display: none;background: #00000078;border-radius: 50%;margin: 5px;" alt="logo" class="logo-icon logo-icon-expanded"/>
        }
    </a>
    @if (!Model.UseBannerTemplate)
    {
        <img src="@Model.WebsiteRootUrl/assets/images/icons/close.svg" style="display: none;" alt="close" class="close-icon close-icon-expanded" onclick="nvnCloseExpanded()"/>
        @if (Model.ExpandedContentUrl?.EndsWith("html") == true)
        {
            <iframe class="expanded-content" src="@Model.ExpandedContentUrl" style="display: none; transform: translateY(50px); opacity: 0;"></iframe>
        }
        else
        {
            <img class="expanded-content" src="@Model.ExpandedContentUrl" style="display: none; transform: translateY(50px); opacity: 0;" alt=""/>
        }
        <div class="swipeup-text" onclick="nvnSwipeUp()">
            Vuốt lên để xem chi tiết
            <img alt="" src="@Model.WebsiteRootUrl/assets/images/icons/swipeup.svg"/>
        </div>
    }
    <div class="swiper-outside-wrapper" id="swiperOutsideWrapper" style="background: url('@(Model.BackgroundImageUrl)') 0% 100% / 100vw auto no-repeat">
        <img src="@Model.WebsiteRootUrl/assets/images/icons/close.svg" alt="close" class="close-icon" onclick="nvnClose()"/>
        <a href="https://novanet.vn/" target="_blank">
            @if (Model.LogoStatus is not null && Model.LogoStatus.Equals("Block"))
            {
                <img src="@Model.WebsiteRootUrl/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
            }
        </a>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model.Products)
                {
                    <a target="_blank" href="@Model.DisplayRootUrl/display/Click?q=@product.HashedQueryParams" class="swiper-slide">
                        <div class="relative">
                            <img alt="" src="@product.ImageLink"/>
                            @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                            {
                                <div class="absolute trapezoid-down">
                                    <span class="absolute sale-text">sale @(product.DiscountPercentage)%</span>
                                </div>
                            }
                            @if (Model.ShowFreeDelivery)
                            {
                                <div class="absolute trapezoid-up"></div>
                                <span class="absolute free-delivery-text">FREESHIP</span>
                            }
                        </div>
                        <div class="description">
                            @if (Model.ProductName)
                            {
                                <div class="title">
                                    @product.Name
                                </div>
                            }
                            <div class="detail-price">
                                @if (Model.ShowDiscountedPrice && product.ShowDiscount)
                                {
                                    <span class="price">@(product.DiscountedPrice)đ</span>
                                    <span class="promotion">@(product.Price)đ</span>
                                }
                                else
                                {
                                    <span class="price">@(product.Price)đ</span>
                                }
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<script src="@Model.WebsiteRootUrl/assets/templates/catfish-ecom/js/swiper.js?v=1"></script>
<script>
    let isExpanded = false;
    document.addEventListener('DOMContentLoaded', function() {
        const bodyWidth = window.innerWidth;
        document.getElementById('swiperOutsideWrapper').style.height = (bodyWidth * 120 / 375) + 'px';
        @if (!Model.UseBannerTemplate)
        {
            <text>
                const expandedContent = document.getElementsByClassName('expanded-content')[0];
                expandedContent.style.width = bodyWidth + 'px';
                expandedContent.style.height = (bodyWidth * 810 / 375) + 'px';
            </text>
        }
        
        const swiperContainer = document.getElementsByClassName('mySwiper')[0];
        swiperContainer.style.width = (bodyWidth - 8) + 'px';
        swiperContainer.style.height = (bodyWidth * 95 / 375) + 'px';
        Array.from(document.getElementsByClassName('swiper-slide')).forEach(elm => {
            elm.style.maxWidth = (bodyWidth * 170 / 375) + 'px';
            const imgElm = elm.getElementsByTagName('img')[0];
            imgElm.style.width = (bodyWidth * 87 / 375) + 'px';
            imgElm.style.height = (bodyWidth * 87 / 375) + 'px';
        });
        new Swiper(".mySwiper", {
            loopedSlides: 6,
            loop: true,
            slidesPerView: 'auto',
            freeMode: {
                enabled: true,
                sticky: true,
            },
            mousewheel: {
                releaseOnEdges: true,
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            watchSlidesProgress: true,
        });
        window.parent.postMessage({
            message: 'novanet-init-catfish-ecom',
            zoneId: @Model.ZoneId,
            useTemplate: @(Model.UseBannerTemplate ? "true" : "false")
        }, '*');
        
        Array.from(document.getElementsByTagName('img')).forEach((element) => {
            element.addEventListener('error', () => {
                window.parent.postMessage({
                    message: 'novanet-init-backup',
                    zoneId: @Model.ZoneId,
                    code: `@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.BackUpCode))`,
                }, '*');
            });
        });
        
        @if (!Model.UseBannerTemplate)
        {
            <text>
                document.body.addEventListener("touchstart", startTouch, { passive: false });
                document.body.addEventListener("touchmove", moveTouch, { passive: false });
                
                // Swipe Up / Down
                let initialX = null;
                let initialY = null;
                
                function startTouch(e) {
                    initialX = e.touches[0].clientX;
                    initialY = e.touches[0].clientY;
                }
                
                function moveTouch(e) {
                    if (initialX === null) {
                      return;
                    }
                    if (initialY === null) {
                      return;
                    }
                
                    const currentX = e.touches[0].clientX;
                    const currentY = e.touches[0].clientY;
                
                    const diffX = initialX - currentX;
                    const diffY = initialY - currentY;
                
                    if (Math.abs(diffX) < Math.abs(diffY)) {
                        // sliding vertically
                        if (diffY > 0) {
                            // swiped up
                            document.getElementsByClassName('swipeup-text')[0].style.display = 'none';
                            isExpanded = true;
                            window.parent.postMessage({
                                message: 'novanet-catfish-ecom-swipe-up',
                                zoneId: @Model.ZoneId,
                            }, '*');
                            expandedContent.style.display = 'block';
                            document.getElementsByClassName('close-icon-expanded')[0].style.display = 'block';
                            const logoIconExpanded = document.getElementsByClassName('logo-icon-expanded')[0];
                            if (logoIconExpanded) {
                                logoIconExpanded.style.display = 'block';
                            }
                            setTimeout(() => {
                                expandedContent.style.transform = 'translateY(0px)';
                                expandedContent.style.opacity = '1';
                            }, 10);
                        }
                    }
                    initialX = null;
                    initialY = null;
                    e.preventDefault();
                }
            </text>
        }
    });
    
     @if (!Model.UseBannerTemplate)
     {
         <text>
            function nvnSwipeUp() {
                document.getElementsByClassName('swipeup-text')[0].style.display = 'none';
                const expandedContent = document.getElementsByClassName('expanded-content')[0];
                isExpanded = true;
                window.parent.postMessage({
                    message: 'novanet-catfish-ecom-swipe-up',
                    zoneId: @Model.ZoneId,
                }, '*');
                expandedContent.style.display = 'block';
                document.getElementsByClassName('close-icon-expanded')[0].style.display = 'block';
                const logoIconExpanded = document.getElementsByClassName('logo-icon-expanded')[0];
                if (logoIconExpanded) {
                    logoIconExpanded.style.display = 'block';
                }
                setTimeout(() => {
                    expandedContent.style.transform = 'translateY(0px)';
                    expandedContent.style.opacity = '1';
                }, 10);
            }
            function nvnCloseExpanded() {
                if (isExpanded) {
                    const expandedContent = document.getElementsByClassName('expanded-content')[0];
                    isExpanded = false;
                    expandedContent.style.transform = 'translateY(50px)';
                    expandedContent.style.opacity = '0';
                    document.getElementsByClassName('close-icon-expanded')[0].style.display = 'none';
                    const logoIconExpanded = document.getElementsByClassName('logo-icon-expanded')[0];
                    if (logoIconExpanded) {
                        logoIconExpanded.style.display = 'none';
                    }
                    setTimeout(() => {
                        expandedContent.style.display = 'none';
                        window.parent.postMessage({
                            message: 'novanet-catfish-ecom-swipe-down',
                            zoneId: @Model.ZoneId,
                        }, '*');
                        document.getElementsByClassName('swipeup-text')[0].style.display = 'block';
                    }, 300);
                }
            }
        </text>
     }

    function nvnClose() {
        window.parent.postMessage({
            message: 'novanet-close',
            zoneId: @Model.ZoneId,
            templateType: 'catfish-ecom-banner',
        }, '*');
    }
</script>
</body>
</html>