<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Báo cáo Website
</div>
<div
  class="relative flex items-center justify-between bg-white rounded-t-[8px] p-[16px]">
  <div class="flex items-center">
    <novanet-multiple-select-input
      (ngModelChange)="onSelect($event)"
      (nzScrollToBottom)="loadMoreWebsites()"
      (search)="onSearch($event)"
      [(ngModel)]="selectedWebsites"
      [nzOptions]="websites$ | websiteOptions: user.roles | async"
      [serverSearch]="true"
      [topInput]="false"
      maxTagPlaceholder="website"
      placeholder="Tìm kiếm Website{{
        isAdmin ? ', Publisher' : ''
      }}"></novanet-multiple-select-input>
  </div>
  <div>
    <novanet-date-picker
      (ngModelChange)="onChangeDateRange($event)"
      [containerClass]="'h-[40px] w-[400px]'"
      [format]="shortDateFormat"
      [inputType]="'range'"
      [ngModel]="dateRange"
      [placeholderDateTime]="['Ngày bắt đầu', 'Ngày kết thúc']">
    </novanet-date-picker>
  </div>
</div>
<div
  [class.bg-transparent]="!(websiteReports$ | async)?.length"
  [class.bg-white]="(websiteReports$ | async)?.length"
  class="mb-[16px] overflow-hidden rounded-lg">
  <novanet-data-table
    #websiteReportTable
    *ngIf="settings"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    [listOfData]="websiteReports$ | async"
    [loading]="loading$ | async"
    [settings]="settings"
    [summaryColumns]="summaryColumns"
    [summaryTemplate]="summaryTemplate"
    ngClass="website-table"
    nzNoResult="Không có dữ liệu">
    <ng-template
      #itemTemplate
      let-colId="colId"
      let-data="row"
      let-rowIndex="rowIndex">
      <ng-container [ngSwitch]="colId">
        <div
          *ngSwitchCase="websiteReportTableEnum.CHECKBOX"
          class="group h-full relative">
          <input
            (change)="selectWebsiteReport(data?.id)"
            [checked]="isReportSelected(data?.id)"
            class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
            type="checkbox" />
        </div>
        <!-- index -->
        <div *ngSwitchCase="websiteReportTableEnum.INDEX" class="h-full">
          {{ rowIndex + 1 }}
        </div>
        <div
          *ngSwitchCase="websiteReportTableEnum.DOMAIN_NAME"
          class="group h-full relative">
          <a
            [href]="data?.url"
            class="text-main font-medium underline"
            target="_blank"
            >{{ data?.domainName }}</a
          >
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.PUBLISHER" class="h-full">
          <div>{{ data?.publisherEmail }}</div>
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.VIEWS" class="h-full">
          <div>{{ data?.views | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.CLICKS" class="h-full">
          <div>{{ data?.clicks | toCurrency }}</div>
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.CTR" class="h-full">
          <div>{{ data.ctr | toPercentage: '1.0-2' }}</div>
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.EARNED" class="h-full">
          <div>{{ data.earned | toCurrency }}</div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #summaryTemplate let-colId="colId">
      <ng-container [ngSwitch]="colId">
        <div *ngSwitchCase="websiteReportTableEnum.INDEX" class="font-medium">
          Số website:
          <span class="text-main font-medium">
            <ng-container *ngIf="isAnySelected">
              {{ selectedWebsiteReports.length }}/{{
                (websiteReports$ | async).length
              }}
            </ng-container>
            <ng-container *ngIf="!isAnySelected">
              {{ (websiteReports$ | async).length }}
            </ng-container>
          </span>
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.VIEWS" class="font-medium">
          {{ (reportSummary$ | async)?.views | toCurrency }}
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.CLICKS" class="font-medium">
          {{ (reportSummary$ | async)?.clicks | toCurrency }}
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.CTR" class="font-medium">
          {{ (reportSummary$ | async)?.ctr | toPercentage: '1.0-2' }}
        </div>
        <div *ngSwitchCase="websiteReportTableEnum.EARNED" class="font-medium">
          {{ (reportSummary$ | async)?.earned | toCurrency }}
        </div>
      </ng-container>
    </ng-template>
  </novanet-data-table>
</div>

<ng-template #checkboxHeader>
  <input
    (change)="selectAllWebsiteReports($event)"
    [checked]="
      (websiteReports$ | async).length !== 0 &&
      (websiteReports$ | async).length === selectedWebsiteReports.length
    "
    [disabled]="(websiteReports$ | async).length === 0"
    class="focus:ring-main h-4 w-4 text-main border-gray-300 rounded"
    type="checkbox" />
</ng-template>
