body,
html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-width: 0;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-size: cover !important;
}
#container {
  display: block;
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.swiper {
  max-width: 340px;
  position: absolute;
  bottom: 15%;
  right: 0;
  left: 0;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #fff;
  padding: 4px;
  max-width: 250px;
  height: 311px;
  border-radius: 4px;
  text-decoration: unset;
}
.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 4px;
  height: 250px;
}
.trapezoid-up {
  border-bottom: 21px solid #fff;
  border-left: 15px solid transparent;
  transform: rotate(180deg);
  height: 21px;
  width: 55px;
  top: 0;
}
.trapezoid-down {
  border-bottom: 22px solid #ff2828;
  border-left: 15px solid transparent;
  height: 21px;
  width: 60px;
  bottom: 0;
  right: 0;
}
.free-delivery-text {
  top: 4px;
  left: 6px;
  font-weight: 800;
  font-style: italic;
  font-size: 10px;
  text-transform: uppercase;
  color: #ff2828;
}
.sale-text {
  bottom: -16px;
  left: 1px;
  font-weight: 800;
  font-style: italic;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}
.description {
  padding: 8px;
  height: 100%;
}
.detail-price {
  line-height: 21px;
}
.price {
  font-weight: 700;
  font-size: 14px;
  color: red;
  padding-right: 4px;
}
.promotion {
  font-size: 10px;
  text-decoration-line: line-through;
  color: #828282;
}
.title {
  line-height: 14px;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 2px;
  max-width: 171px;
  color: #4f4f4f;
}
