:host::ng-deep {
  nz-select-top-control {
    height: auto !important;
    max-height: 76px;
    overflow: auto;
    border-radius: 0.375rem !important;
    font-size: 14px;
  }

  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: rgb(209, 213, 219);
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      border-color: #0061c1;
      box-shadow: none;
    }
  }

  nz-select-search {
    width: 90% !important;
  }
  .ant-select-selection-item-content {
    max-width: 374px !important;
  }
}

:host::ng-deep .group {
  ::-webkit-scrollbar {
    width: 4px !important;
  }
}

::ng-deep .searchDropdown {
  .ant-select-item-option-state {
    i {
      display: none !important;
    }
  }
}

::ng-deep {
  .searchDropdownDisplayNone {
    display: none !important;
  }
  .searchDropdownDisplayBlock {
    display: block;
  }
  .searchDropdown {
    .ant-select-item-option-selected {
      pointer-events: none;
    }
  }
}
