<ng-container [ngSwitch]="searchType">
  <ng-container *ngSwitchDefault>
    <div
      #divSearchInput
      class="relative rounded-md shadow-sm group {{ isFocus ? 'grow' : '' }} {{
        filterPredicates.length && !isFocus ? 'hidden' : ''
      }}">
      <nz-select
        #searchInput
        (ngModelChange)="onSearchOptionSelect($event)"
        (nzOnSearch)="onSearchInput($event)"
        (nzOpenChange)="onSearchOpenChange($event)"
        (nzFocus)="onFocusSearch()"
        [compareWith]="filterPredicateComparator"
        [ngModel]="selectedSearchOptions"
        [nzCustomTemplate]="searchTagTemplate"
        [nzOpen]="searchDropdownOpen"
        [nzDropdownClassName]="'searchDropdown'"
        ngClass="{{
          isFocus ? 'w-full' : searchWith
        }} rounded-md campaign-tag-select"
        nzMode="tags"
        nzNotFoundContent="Không có dữ liệu"
        [nzPlaceHolder]="placeHolder"
        nzSize="large">
        <nz-option
          *ngFor="let option of searchOptions"
          [nzLabel]="option.value"
          [nzValue]="option"
          nzCustomContent>
          {{ searchLevelLabels[option.level] }}
          <span class="text-[#BDBDBD]">
            {{ searchOperatorLabels[option.operator] }}
          </span>
          {{ option.value }}
        </nz-option>
      </nz-select>
      <button
        class="absolute right-2 top-0 bottom-0 flex items-center {{
          filterPredicates.length ? 'group-hover:hidden pr-[9px]' : ''
        }} flex-col pt-[7px]">
        <span class="text-[18px] text-[#bdbdbd]"
          ><i class="far fa-search"></i
        ></span>
      </button>
      <button
        class="absolute right-2 top-0 bottom-0 flex items-center hidden {{
          filterPredicates.length ? 'group-hover:block pr-[9px]' : ''
        }} flex-col pt-[10px]">
        <svg-icon
          (click)="onClose()"
          className="text-[28px] text-[#828282]"
          name="cancel-large-icon"
          size="18"></svg-icon>
      </button>
      <ng-template #searchTagTemplate let-selected>
        <div class="ant-select-selection-item-content">
          {{ searchLevelLabels[selected?.nzValue?.level] }}
          <span class="text-[#BDBDBD]">
            {{ searchOperatorLabels[selected?.nzValue?.operator] }}
          </span>
          {{ selected?.nzValue?.value }}
        </div>
      </ng-template>
    </div>
    <div
      #previewSelected
      (click)="openSearch()"
      class="relative rounded-md shadow-sm w-[250px] h-[40px] {{
        (!filterPredicates.length && !isFocus) || isFocus ? 'hidden' : ''
      }}">
      <nz-tag
        class="w-full h-full items-center pl-[12px] text-[14px] rounded-[4px] flex"
        >Đã search&#160;<span class="text-[#001F4C]">
          {{ filterPredicates.length }} </span
        >&#160;từ khóa</nz-tag
      >
      <button class="absolute right-2 top-0 bottom-0 flex items-center">
        <svg-icon
          (click)="onClose()"
          className="text-[28px] text-[#828282]"
          name="cancel-large-icon"
          size="18"></svg-icon>
      </button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="EnumSearchInput.SIMPLE"> </ng-container>
</ng-container>
