<form [formGroup]="createForm" method="POST">
  <div class="font-medium font-sm mb-3">Tạo nguồn dữ liệu</div>
  <div class="bg-white rounded-lg p-4">
    <div>
      <label class="block text-sm font-medium text-gray-700" for="name"
        >Tên nguồn cấp dữ liệu</label
      >
      <div class="mt-2 w-[436px]">
        <novanet-text-input
          [errorMessages]="createFormFieldErrors.name"
          [formControlName]="createFormFields.name.name"
          [required]="createFormFields.name.validationParams.required"
          id="name"
          placeholder="Nhập tên nguồn cấp dữ liệu"></novanet-text-input>
      </div>
    </div>
    <div class="mt-8">
      <div class="block text-sm font-medium text-gray-700">
        Chọn cách thiết lập nguồn cấp dữ liệu và kết nối dữ liệu của bạn với
        Novanet
      </div>
      <div class="block mb-6">
        <div class="border-b border-gray-200">
          <nav aria-label="Tabs" class="-mb-px flex space-x-8 justify-center">
            <a
              (click)="onSourceTypeChanged(type.type)"
              *ngFor="let type of sourceTypes"
              [nzTooltipTitle]="type.toolTipMessage"
              class="{{
                type.type === SourceTypeEnum.GoogleSheet
                  ? ''
                  : 'pointer-events-none cursor-not-allowed'
              }} whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm {{
                selectedSourceType === type.type
                  ? 'border-main text-main'
                  : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
              }}"
              nz-tooltip>
              {{ type.name }}
            </a>
          </nav>
        </div>
      </div>
      <div *ngIf="selectedSourceType === SourceTypeEnum.GoogleSheet">
        <div class="text-center mx-auto w-3/6 mb-6">
          Bạn sẽ cập nhật dữ liệu sản phẩm của mình trên một tệp Google Trang
          tính và các cập nhật đó sẽ tự động áp dụng cho tài khoản của bạn. Tìm
          hiểu thêm phần mô tả trường dữ liệu sản phẩm
          <a
            class="text-main hover:underline hover:text-main"
            href="https://support.google.com/merchants/answer/7052112?hl=vi&ref_topic=6324338"
            target="_blank"
            >tại đây</a
          >
        </div>
        <nav aria-label="Progress">
          <ol class="overflow-hidden" role="list">
            <li class="relative pb-10">
              <div
                aria-hidden="true"
                class="-ml-2 absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300"></div>
              <div aria-current="step" class="relative flex items-start group">
                <span aria-hidden="true" class="mt-1 flex items-center">
                  <span
                    class="relative z-10 w-[18px] h-[18px] flex items-center justify-center border-2 bg-main-clear rounded-full">
                    <span class="h-[10px] w-[10px] bg-main rounded-full"></span>
                  </span>
                </span>
                <span class="ml-4 min-w-0 flex flex-col">
                  <div class="mb-2">
                    Bạn vui lòng cấp quyền truy cập vào Google Sheet nguồn dữ
                    liệu cho email sau
                  </div>
                  <div class="mb-4 flex flex-row items-center">
                    <span
                      #googleSheetAuthLink
                      class="font-medium text-main mr-2 inline-block"
                      >{{ GoogleSheetAuthEmail }}</span
                    >
                    <span
                      (click)="copyGoogleSheetAuth()"
                      class="cursor-pointer">
                      <svg-icon name="copy" size="18"></svg-icon>
                    </span>
                  </div>
                  <span class="text-xs text-gray3">
                    Nếu chưa có nguồn dữ liệu sản phẩm, tham khảo
                    <a
                      class="text-main hover:underline hover:text-main"
                      href="https://support.google.com/merchants/answer/7052112?hl=vi&ref_topic=6324338"
                      target="_blank"
                      >tại đây</a
                    >
                  </span>
                </span>
              </div>
            </li>
            <li class="relative pb-10">
              <div aria-current="step" class="relative flex items-start group">
                <span aria-hidden="true" class="mt-1 flex items-center">
                  <span
                    class="relative z-10 w-[18px] h-[18px] flex items-center justify-center border-2 bg-main-clear rounded-full">
                    <span class="h-[10px] w-[10px] bg-main rounded-full"></span>
                  </span>
                </span>
                <span class="ml-4 min-w-0 flex flex-col items-start">
                  <div class="mb-2">Nhập link Google Sheet</div>
                  <div class="w-[450px]">
                    <novanet-text-input
                      [errorMessages]="createFormFieldErrors.sourcePath"
                      [formControlName]="createFormFields.sourcePath.name"
                      [id]="createFormFields.sourcePath.name"
                      [required]="
                        createFormFields.sourcePath.validationParams.required
                      "
                      placeholder="URL link"></novanet-text-input>
                  </div>
                  <button
                    (click)="onSubmitForm($event)"
                    class="inline-flex items-center mt-6 px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
                    type="submit">
                    Tạo nguồn mới
                  </button>
                </span>
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</form>
