<div class="pb-[15px] max-w-[99%]">
  <ng-container [ngSwitch]="templateType">
    <div *ngSwitchCase="templateTypes.NotificationBanner" class="w-full">
      <novanet-notification-banner
        (templateConfigurationChange)="handleBannerInput($event)"
        [dataTable]="dataTable"
        [height]="height"
        [templateConfiguration]="templateConfiguration"
        [templateType]="templateType"
        [width]="width"></novanet-notification-banner>
    </div>
    <div *ngSwitchCase="templateTypes.CatFishCollabBranding" class="w-full">
      <novanet-catfish-collapse-branding
        (templateConfigurationChange)="handleBannerInput($event)"
        [dataTable]="dataTable"
        [height]="height"
        [templateConfiguration]="templateConfiguration"
        [templateType]="templateType"
        [width]="width"></novanet-catfish-collapse-branding>
    </div>
    <div *ngSwitchCase="templateTypes.PopupBannerBranding" class="w-full">
      <novanet-popup-banner-branding
        (templateConfigurationChange)="handleBannerInput($event)"
        [dataTable]="dataTable"
        [height]="height"
        [templateConfiguration]="templateConfiguration"
        [templateType]="templateType"
        [width]="width"></novanet-popup-banner-branding>
    </div>
  </ng-container>
</div>
