﻿@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var iconTitle = "/img/icon/m1.png";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <title>Facebook</title>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet"/>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/icon/m1.png">
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
</body>
</html>