﻿@page "/CreateWrapLink"
@using AntDesign
@using EmailMarketing.DTO.Tables
@using EmailMarketing.Models
@using EmailMarketing.Pages.component

<PageTitle>CreateWrapLink</PageTitle>

<div class="isolate bg-white px-2 py-24 sm:py-10 lg:px-2">
<div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
</div>
<div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Create Wrap Link</h2>
</div>
<div class="grid grid-cols-6 gap-4 mt-[50px]">
    <div class="col-start-2 col-span-4">
        <Form Model="@Model" OnFinish="OnFinish" class="mx-auto mt-5 max-w-xl sm:mt-5">
            <DataAnnotationsValidator/>
            <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-2">
                <div class="sm:col-span-2">
                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Original Link</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <Input @bind-Value="@Model.OriginalLink" name="name" id="name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Original Domain</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <Select TItem="OptionModel"
                                    TItemValue="Guid"
                                    DataSource="@ListOriginalDomain"
                                    @bind-Value="@Model.OriginalDomainId"
                                    ValueName="@nameof(OptionModel.Key3)"
                                    LabelName="@nameof(OptionModel.Value)">
                            </Select>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Type</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <RadioGroup TValue="int" @bind-Value="@Model.TypeWrapLink">
                                @foreach (var option in _listOptionSend)
                                {
                                    <Radio Value="option.Key">@option.Value</Radio>
                                }
                            </RadioGroup>
                        </FormItem>
                    </div>
                </div>
            </div>
            <div>
                <Button Type="@ButtonType.Primary" HtmlType="submit" class="mt-1 block w-full rounded-md bg-indigo-600 px-3.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    SAVE
                </Button>
            </div>
        </Form>
        <Table class="mt-[50px]" TItem="WrapLinkTable" DataSource="@DataWrapLink">
            <ActionColumn Title="Action">
                <Button OnClick="() => CopyToClipboard(context.Link)" Type="@ButtonType.Default" Shape="@ButtonShape.Round" Icon="@IconType.Outline.Copy" Disabled></Button>
            </ActionColumn >
            <PropertyColumn Property="c => c.Link"/>
            <PropertyColumn Class="min-w-[410px]" Property="c => c.OriginalLink" Title="OriginalLink">
                <InputEditTable TxtValue="@context.OriginalLink" WrapLink="@context.Link" OriginalLinkChange="OriginalLinkChange"></InputEditTable>
            </PropertyColumn>
            <PropertyColumn Property="c => c.CreatedAt"/>
        </Table>
    </div>
    </div>
</div>