﻿@page "/setup"
@using EmailMarketing.Models
@using AntDesign
@inject INotificationService Notice

<PageTitle>Home</PageTitle>

<Spin Spinning="Loading" Tip="Loading...">
    <div class="isolate bg-white px-2 py-24 sm:py-10 lg:px-2">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
            <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Setup</h2>
        </div>
        <Form Model="@Model" OnFinish="OnFinish" class="mx-auto mt-5 max-w-xl sm:mt-5">
            <DataAnnotationsValidator/>
            <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-2">
                <div class="sm:col-span-2">
                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <Input @bind-Value="@Model.Name" name="name" id="name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="subject" class="block text-sm font-semibold leading-6 text-gray-900">Subject</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <Input @bind-Value="@Model.Subject" name="subject" id="subject" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="from" class="block text-sm font-semibold leading-6 text-gray-900">From</label>
                    <div class="mt-2.5">
                        <div class="flex justify-between">
                            <div class="w-[90%]">
                                <FormItem>
                                    <Select TItem="OptionModel"
                                            TItemValue="string"
                                            DataSource="@ListEmail"
                                            @bind-Value="@Model.From"
                                            ValueName="@nameof(OptionModel.Key2)"
                                            LabelName="@nameof(OptionModel.Value)"
                                            Loading="LoadingSelect">
                                    </Select>
                                </FormItem>
                            </div>
                            <div>
                                <Button OnClick="@LoadData" Type="@ButtonType.Default" Shape="@ButtonShape.CircleOutline" Icon="@IconType.Outline.Reload"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="subject" class="block text-sm font-semibold leading-6 text-gray-900">Wrap Link</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <Input @bind-Value="@Model.WrapLink" name="subject" id="WrapLink" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2 flex justify-between">
                    <div class="left w-[47%]">
                        <label for="contacts" class="block text-sm font-semibold leading-6 text-gray-900">Contacts</label>
                        <div class="mt-2.5">
                            <FormItem>
                                <TextArea @bind-Value="@Model.Contacts" name="contacts" id="contacts" Rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></TextArea>
                            </FormItem>
                        </div>
                    </div>
                    <div class="right w-[47%]">
                        <label for="pages-name" class="block text-sm font-semibold leading-6 text-gray-900">Pages Name</label>
                        <div class="mt-2.5">
                            <FormItem>
                                <TextArea @bind-Value="@Model.PagesName" name="pages-name" id="pages-name" Rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></TextArea>
                            </FormItem>
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label class="block text-sm font-semibold leading-6 text-gray-900">Service send Email</label>
                    <div class="mt-2.5">
                        <FormItem>
                            <RadioGroup TValue="int" OnChange="@OnChangeTypeEmail" @bind-Value="@Model.TypeEmail">
                                @foreach (var option in _listOptionSend)
                                {
                                    <Radio Value="option.Key" Disabled="true">@option.Value</Radio>
                                }
                            </RadioGroup>
                        </FormItem>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="mt-2.5 flex justify-between">
                        <div class="left w-[47%]">
                            <FormItem>
                                <label class="block text-sm font-semibold leading-6 text-gray-900">Template</label>
                                <InputFile id="fileInput" OnChange="@UploadFiles" hidden/>
                                <Upload Name="files" FileList="FileList">
                                    <label class="ant-btn" for="fileInput">
                                        <Icon Type="upload"/>
                                        Upload
                                    </label>
                                </Upload>
                            </FormItem>
                        </div>
                        <div class="right w-[47%]">
                            <FormItem>
                                <label class="block text-sm font-semibold leading-6 text-gray-900">Key Page Name</label>
                                <Input @bind-Value="@Model.KeyPageName" name="KeyPageName" id="key-page-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            </FormItem>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <Button Type="@ButtonType.Primary" HtmlType="submit" class="mt-1 block w-full rounded-md bg-indigo-600 px-3.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Send
                </Button>
            </div>

            <div class="sm:col-span-2 mt-1">
                <label class="block text-sm font-semibold leading-6 text-gray-900">Success: @CountSuccess | Error: @CountError </label>
                <div class="mt-2.5">
                    <TextArea @bind-Value="@Model.Status" name="status" id="status" Rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></TextArea>
                </div>
            </div>
            <ValidationSummary/>
        </Form>
    </div>
</Spin>