﻿@page "/{KeyLink}"
@using AntDesign;

<style>
     @@keyframes dotSpin {
       0% {
         background-color: #515151;
       }
       20% {
         background-color: #515151;
       }
       40% {
         background-color: #515151;
       }
       60% {
         background-color: #515151;
       }
       80% {
         background-color: #2188FF;
       }
       100% {
         background-color: #515151;
       }
     }
     
     /* Class "dot" để áp dụng animation */
     .loader {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         background: #262626;
     }
     .icon-fb{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 17rem);
        position: absolute;
            width: 100%;
     }
 
     .dot {
       width: 12px;
       height: 12px;
       border-radius: 50%;
       margin: 0 6px;
       background-color: #4267B2;
       animation: dotSpin 1.5s ease-in-out infinite;
     }
     
     /* Áp dụng delay cho từng dot để tạo hiệu ứng lần lượt */
     .dot:nth-child(1) {
       animation-delay: 0s;
     }
     .dot:nth-child(2) {
       animation-delay: 0.2s;
     }
     .dot:nth-child(3) {
       animation-delay: 0.4s;
     }
     .dot:nth-child(4) {
       animation-delay: 0.6s;
     }
     .dot:nth-child(5) {
       animation-delay: 0.8s;
     }
     .layout{
        font-weight: 400;
     }
</style>

<div class="body-icon">
    <div class="icon-fb">
        <img class="w-[5rem]" src="img/iconF.png" alt=""/>
    </div>
    <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <div class="absolute bottom-14 w-full">
        <div class="flex w-full justify-center">
            <span class="text-[#797B83]">from</span>
        </div>
        <div class="flex w-full justify-center">
            <svg class="h-[2.3rem]" xmlns="http://www.w3.org/2000/svg" height="26" width="40" viewBox="0 0 640 512">
                <path fill="#8f8f8f" d="M640 317.9C640 409.2 600.6 466.4 529.7 466.4C467.1 466.4 433.9 431.8 372.8 329.8L341.4 277.2C333.1 264.7 326.9 253 320.2 242.2C300.1 276 273.1 325.2 273.1 325.2C206.1 441.8 168.5 466.4 116.2 466.4C43.4 466.4 0 409.1 0 320.5C0 177.5 79.8 42.4 183.9 42.4C234.1 42.4 277.7 67.1 328.7 131.9C365.8 81.8 406.8 42.4 459.3 42.4C558.4 42.4 640 168.1 640 317.9H640zM287.4 192.2C244.5 130.1 216.5 111.7 183 111.7C121.1 111.7 69.2 217.8 69.2 321.7C69.2 370.2 87.7 397.4 118.8 397.4C149 397.4 167.8 378.4 222 293.6C222 293.6 246.7 254.5 287.4 192.2V192.2zM531.2 397.4C563.4 397.4 578.1 369.9 578.1 322.5C578.1 198.3 523.8 97.1 454.9 97.1C421.7 97.1 393.8 123 360 175.1C369.4 188.9 379.1 204.1 389.3 220.5L426.8 282.9C485.5 377 500.3 397.4 531.2 397.4L531.2 397.4z"/>
            </svg>
            <span class="text-2xl text-[#8F8F8F] ml-[0.5rem]">Meta</span>
        </div>
    </div>
</div>