<ng-container [ngSwitch]="typeEdit">
  <ng-container *ngSwitchDefault>
    <div *ngIf="!isEditing" class="flex justify-between items-center group">
      <div
        class="after:content-['.'] after:invisible w-[390px] overflow-hidden whitespace-nowrap text-ellipsis">
        {{ zone[fieldName] }}
      </div>
      <svg-icon
        (click)="setEditing()"
        className="cursor-pointer hidden group-hover:block"
        name="edit-pencil"
        size="20"></svg-icon>
    </div>
    <div *ngIf="isEditing" class="flex justify-between items-center">
      <nz-space class="w-full" nzDirection="vertical">
        <nz-input-group
          *nzSpaceItem
          [nzPrefix]="prefixTemplateClock"
          class="focus:ring-main focus:border-main block w-full mr-[5px] py-[2px] sm:text-sm rounded-md flex flex-row-reverse">
          <input
            [(ngModel)]="fieldEditing"
            [disabled]="isLoadingEditable[zone.id]"
            class="border-gray-300 text-[0.875rem]"
            nz-input
            type="text"/>
        </nz-input-group>
      </nz-space>
      <ng-template #prefixTemplateClock
      ><span
        *ngIf="isLoadingEditable[zone.id]"
        nz-icon
        nzTheme="outline"
        nzType="loading"></span
      ></ng-template>
      <a
        (click)="cancelEditing()"
        [disabled]="isLoadingEditable[zone.id]"
        class="text-[#828282] font-medium p-0 mr-3 ml-[10px]"
        nz-button
        nzType="text"
      >Hủy</a
      >
      <a
        (click)="saveEditing()"
        [disabled]="isLoadingEditable[zone.id]"
        class="text-[#0061c1] font-medium p-0"
        nz-button
        nzType="text"
      >Lưu</a
      >
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="TypeEdit.EDIT_ZONE_BACKUP">
    <svg-icon
      (click)="setEditingZone()"
      *ngIf="zone.backupType !== undefined"
      className="cursor-pointer hidden group-hover:block"
      name="edit-pencil"
      size="20"></svg-icon>
    <a
      (click)="setEditingZone()"
      *ngIf="zone.backupType === undefined"
      class="flex">
      <svg-icon name="add-domain-icon" size="20"></svg-icon>
      <span class="text-[#0061C1]">Thêm QC dự phòng</span>
    </a>
    <nz-modal
      (nzOnCancel)="cancelModalZoneBackUp()"
      [(nzVisible)]="isShowModalZoneBackUp"
      [nzCancelDisabled]="true"
      [nzClosable]="true"
      [nzCloseIcon]="null"
      [nzContent]="modalPopup"
      [nzFooter]="null"
      [nzTitle]="null"
      [nzWidth]="400"
      nzClassName="modal-zone-backup">
      <ng-template #modalPopup [formGroup]="changeZoneBackUpFormGroup">
        <div class="h-[35px] text-[#001F4C] font-[500]">Quảng cáo dự phòng</div>
        <div class="mb-[20px]">
          <p class="text-[#828282]">Loại quảng cáo</p>
          <novanet-dropdown
            (getChange)="emitChange($event)"
            [containerClass]="'h-[40px] w-[368px]'"
            [disabled]="isCallAPI"
            [formControlName]="'categoryBackUp'"
            [options]="listBackUpType"
            label="label"
            valueKey="id">
          </novanet-dropdown>
          <div
            *ngIf="
              changeZoneBackUpFormGroup.get('categoryBackUp').value ===
              backUpType.BACKUP_CODE
            "
            class="mt-[10px]">
            <p class="text-[#828282]">Mã quảng cáo dự phòng</p>
            <novanet-textarea-input
              [disabled]="isCallAPI"
              [errorMessages]="changeZoneCodeFieldErrors.zoneCodeBackUp"
              [formControlName]="changeZoneFormFields['zoneCodeBackUp'].name"
              [maxRows]="3"
              [minRows]="3"
              [required]="
                changeZoneFormFields['zoneCodeBackUp'].validationParams.required
              "
              autocomplete="off"
              id="zoneCodeBackUp"></novanet-textarea-input>
          </div>
          <div
            *ngIf="
              changeZoneBackUpFormGroup.get('categoryBackUp').value ===
              backUpType.BACKUP_FILE
            "
            class="mt-[10px]">
            <p class="text-[#828282]">Url đích</p>
            <novanet-text-input
              [disabled]="isCallAPI"
              [errorMessages]="changeZoneCodeFieldErrors.url"
              [formControlName]="changeZoneFormFields['url'].name"
              autocomplete="off"
              id="url"></novanet-text-input>

            <p class="text-[#828282] mt-[20px]">Upload file</p>
            <div
              class="relative text-[#0061C1] inline-block pb-[12px] flex mt-[5px]">
              <ng-container *ngIf="!backUpFileToUpload && !backUpNameFile">
                <button
                  [disabled]="isCallAPI"
                  class="border-solid border-[1px] w-[100px] h-[36px] rounded-[4px]">
                  <i class="fal fa-arrow-from-bottom mr-[8px]"></i>
                  <span class="text-[14px]">Tải lên</span>
                </button>
                <input
                  (change)="handleZoneBackUpInput($event.target['files'])"
                  [disabled]="isCallAPI"
                  accept="image/*"
                  class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer w-[100px] h-[40px]"
                  name="myImage"
                  type="file"/>
              </ng-container>
              <div
                *ngIf="backUpFileToUpload && backUpNameFile"
                class="border-b-2 border-solid border-[#F2F2F2] flex items-center max-w-[170px]">
                <svg-icon name="file-icon"></svg-icon>
                <span
                  class="mr-1 whitespace-nowrap text-ellipsis overflow-hidden"
                >{{ backUpNameFile }}</span
                >
                <i
                  (click)="clearZoneBackUpFile('zoneBackUpFile')"
                  class="fal fa-times text-[20px] cursor-pointer"></i>
              </div>
              <div
                *ngIf="messageError !== TypeErrorFile.NONE"
                class="flex items-center ml-[20px]">
                <div class="flex">
                  <svg-icon name="error-notification-icon"></svg-icon>
                  <p class="text-[#EB5757] ml-[5px]">{{ messageError }}</p>
                </div>
              </div>
              <div
                *ngIf="
                  !backUpNameFile&&messageError !== TypeErrorFile.SIZE_FILE&&
                    messageError !== TypeErrorFile.CAPACITY_FILE&& messageError !== TypeErrorFile.FORMAT_FILE
                "
                class="flex items-center ml-[20px] {{
                  isFileNull === true ? 'text-[#EB5757]' : 'text-[#4F4F4F]'
                }}  ">
                {{ isFileNull === true ? 'Chưa tải' : 'Chưa chọn file' }}
              </div>
            </div>
            <p class="text-[#BDBDBD]">
              Định dạng: .jpeg .png .html5, dung lượng tối đa 500KB
            </p>
          </div>
        </div>

        <div class="h-[50px] w-full flex justify-end pt-[16px] pr-[8px]">
          <button
            (click)="cancelModalZoneBackUp()"
            [disabled]="isCallAPI"
            class="text-[#828282] mr-[32px]">
            Hủy
          </button>
          <button
            (click)="clickChangeZoneBackUp()"
            [disabled]="isCallAPI"
            class="inline-flex items-center px-8 py-[9px] border border-transparent text-xs font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
            Áp dụng
          </button>
        </div>
      </ng-template>
    </nz-modal>
  </ng-container>
</ng-container>
