<div id="container-inread-ecomm">
  <img
      class="w-full"
      src="/assets/images/mobile-advertising/inread-ecommerce-content.svg"/>
  <div class="cursor-pointer absolute top-[150px] h-[600px] overflow-hidden w-full">
    <img
        [src]="template.configurations['useBannerTemplate'] ? '/assets/images/default-banner/default-banner-inread-ecommerce.svg' : backgroundImage"/>
    <a href="https://novanet.vn/" target="_blank">
      <img src="/assets/images/icons/novanet-logo.svg" alt="logo" class="logo-icon"/>
    </a>
    <div class="inread-ecommerce myinread-ecommerce">
      <div class="banner-text"></div>
      <div class="inread-ecommerce-wrapper absolute bottom-0">
        <ng-container *ngFor="let product of products; let index = index">
          <a target="_blank" href="/"
             *ngIf="index < 4"
             class="inread-ecommerce-slide wrapbox auto">
            <div class="relative">
              <img alt="" [src]="product.data['ImageLink']"/>
              <div class="absolute trapezoid-down"
                   *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) > 0">
                <span class="absolute sale-text">sale {{salePercent(product.data) | number: '1.0-0'}}%</span>
              </div>
              <ng-container *ngIf="template.configurations['showFreeDelivery']">
                <div class="absolute trapezoid-up"></div>
                <span class="absolute free-delivery-text">FREESHIP</span>
              </ng-container>
            </div>
            <div class="description">
              <div *ngIf="template.configurations['productName']" class="title">
                {{product.data['Title']}}
              </div>
              <div class="detail-price absolute bottom-0">
                <span
                    *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                    class="price">
                  {{product.data['SalePrice'] | number: '1.0-0'}} đ
                </span>
                <span *ngIf="!template.configurations['showDiscountedPrice'] || salePercent(product.data) === 0"
                      class="price">
                  {{product.data['Price'] | number: '1.0-0'}} đ
                </span>
                <span
                    *ngIf="template.configurations['showDiscountedPrice'] && product.data['SalePrice'] && salePercent(product.data) !== 0"
                    class="promotion">
                  {{product.data['Price'] | number: '1.0-0'}} đ
                </span>
              </div>
            </div>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>