<div class="pb-[12px] text-[16px] font-medium">
  <span *ngIf="!advertisingId">Tạo tin quảng cáo</span>
  <span *ngIf="advertisingId">Sửa tin quảng cáo</span>
</div>
<form *ngIf="createForm" [formGroup]="createForm" class="min-h-[900px]">
  <div class="bg-white rounded-lg overflow-hidden">
    <div class="lg:grid lg:grid-cols-12 min-h-[1000px]">
      <div class="lg:col-span-6">
        <!-- Profile section -->
        <div class="py-6 px-4 sm:p-6 lg:pb-8">
          <div>
            <h2 class="leading-6 font-medium text-[14px] text-[#001F4C]">
              Đặt tên tin quảng cáo
            </h2>
          </div>

          <div class="mt-[12px] flex flex-col lg:flex-row">
            <div class="flex-grow space-y-6">
              <div>
                <label
                  class="text-[#828282] block text-[14px] font-normal"
                  for="advertising-name">
                  Tên tin quảng cáo
                </label>
                <div class="mt-1 rounded-md shadow-sm flex">
                  <novanet-text-input
                    [errorMessages]="createAdvertisingFormFieldErrors.name"
                    [formControlName]="createAdvertisingFormFields.name.name"
                    class="w-full"
                    id="advertising-name"></novanet-text-input>
                </div>
              </div>
              <div *ngIf="advertisingSetCampaignType === campaignType.Display">
                <label
                  class="text-[#828282] block text-[14px] font-normal mb-[8px]"
                  for="redirect-link">
                  Link đích
                  <span class="text-[11px]">(Bắt buộc)</span>
                </label>
                <div class="mt-1 rounded-md shadow-sm flex">
                  <novanet-text-input
                    [errorMessages]="
                      createAdvertisingFormFieldErrors.redirectLink
                    "
                    [formControlName]="
                      createAdvertisingFormFields.redirectLink.name
                    "
                    autocomplete="redirect-link"
                    class="w-full"
                    id="redirect-link"
                    placeholder="Nhập URL"></novanet-text-input>
                </div>
              </div>
              <div>
                <label
                  class="block font-medium text-[14px] text-[#001F4C]"
                  for="advertising-settings"
                  >Định dạng quảng cáo
                </label>
                <div class="mt-1" id="advertising-settings">
                  <nz-collapse [nzBordered]="false" nzAccordion>
                    <nz-collapse-panel
                      #p
                      (nzActiveChange)="onActiveStatus($event, panel)"
                      *ngFor="let panel of panels"
                      [ngStyle]="panel.customStyle"
                      [nzActive]="panel.active"
                      [nzDisabled]="
                        disabledCollapse ||
                        panel.products > products ||
                        disabledCheckBox[panel.id.toString()]
                      "
                      [nzExpandedIcon]="checkbox"
                      [nzExtra]="extraIcon"
                      [nzHeader]="header">
                      <div class="ml-[8px]">
                        <ng-container>
                          <ng-container [ngSwitch]="advertisingSetCampaignType">
                            <ng-container *ngSwitchCase="0">
                              <novanet-setting-format-advertising
                                (templateConfigurationChange)="
                                  onTemplateConfigurationChange(
                                    panel.id,
                                    $event
                                  )
                                "
                                [dataTable]="panel.dataTable"
                                [height]="panel.height"
                                [templateConfiguration]="
                                  getTemplateConfiguration(panel.id)
                                "
                                [templateType]="panel.id"
                                [width]="panel.width">
                              </novanet-setting-format-advertising>
                            </ng-container>
                            <ng-container *ngSwitchCase="1">
                              <novanet-setting-display-advertising
                                (templateConfigurationChange)="
                                  onTemplateDisplayConfigurationChange(
                                    panel.id,
                                    $event
                                  )
                                "
                                [dataTable]="panel.dataTable"
                                [height]="panel.height"
                                [templateConfiguration]="
                                  getTemplateConfiguration(panel.id)
                                "
                                [templateType]="panel.id"
                                [width]="panel.width">
                              </novanet-setting-display-advertising>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </div>
                      <ng-template #checkbox>
                        <label
                          (ngModelChange)="activeStatusChange($event, panel)"
                          [disabled]="
                            disabledCollapse ||
                            panel.products > products ||
                            disabledCheckBox[panel.id.toString()]
                          "
                          [ngModelOptions]="{ standalone: true }"
                          [ngModel]="panel.activeAdvertising"
                          class="mr-[8px]"
                          nz-checkbox></label>
                      </ng-template>
                      <ng-template #extraIcon>
                        <ng-container [ngSwitch]="panel.active">
                          <i
                            *ngSwitchCase="false"
                            class="far fa-chevron-down text-[#BDBDBD]"></i>
                          <i
                            *ngSwitchCase="true"
                            class="far fa-chevron-up text-[#BDBDBD]"></i>
                        </ng-container>
                      </ng-template>
                      <ng-template #header>
                        <div>
                          <div
                            *ngIf="
                              advertisingSetCampaignType ===
                              campaignType.Display
                            "
                            class="flex flex-row items-center">
                            <div>{{ panel.name }}</div>
                            <div
                              *ngIf="shouldShowDisplayAdHeaderWarning(panel)"
                              class="text-[12px] ml-[16px]">
                              Bổ sung trường bắt buộc hoặc bỏ chọn định dạng
                            </div>
                          </div>
                          <ng-container
                            *ngIf="
                              advertisingSetCampaignType ===
                              campaignType.Ecommerce
                            ">
                            <div>{{ panel.name }}</div>
                            <div
                              *ngIf="panel.products > products"
                              class="text-red-600 text-[12px]">
                              *Lỗi: Định dạng cần tối thiểu
                              {{ panel.products }} sản phẩm
                            </div>
                          </ng-container>
                        </div>
                      </ng-template>
                    </nz-collapse-panel>
                  </nz-collapse>
                </div>
              </div>

              <div
                *ngIf="advertisingSetCampaignType === campaignType.Ecommerce">
                <div
                  class="block font-medium text-[14px] text-[#001F4C] mb-[12px]">
                  Vùng ngoài sản phẩm
                </div>
                <div>
                  <label
                    class="text-[#828282] block text-[14px] font-normal mb-[8px]"
                    for="redirect-link2">
                    URL đến trang khuyến mại
                    <span class="text-[11px]">(Không bắt buộc)</span>
                  </label>
                  <div class="mt-1 rounded-md shadow-sm flex">
                    <novanet-text-input
                      [errorMessages]="
                        createAdvertisingFormFieldErrors.redirectLink
                      "
                      [formControlName]="
                        createAdvertisingFormFields.redirectLink.name
                      "
                      autocomplete="redirect-link"
                      class="w-full"
                      id="redirect-link2"></novanet-text-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 py-4 px-4 flex justify-start sm:px-6">
          <button
            (click)="onSubmit($event)"
            [disabled]="!isAnyTemplateUsed"
            [nzLoading]="uploading || createOrUpdate"
            class="w-[200px] {{
              isAnyTemplateUsed
                ? 'transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark cursor-pointer'
                : 'bg-[#E0E0E0] cursor-not-allowed'
            }} border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white"
            nz-button
            nzSize="large"
            type="submit">
            <ng-container *ngIf="!uploading && !createOrUpdate">
              Hoàn tất
            </ng-container>
            <ng-container *ngIf="uploading"> Đang tải ảnh lên</ng-container>
            <ng-container *ngIf="createOrUpdate">
              Đang tạo tin quảng cáo
            </ng-container>
          </button>
        </div>
      </div>

      <div
        class="lg:col-span-6 flex justify-center items-center relative bg-no-repeat">
        <div class="relative w-[500px] h-[895px]">
          <div class="absolute top-[30px] left-[62px]">
            <novanet-catfish
              *ngIf="currentTemplate === templateEnum.CatfishEcom"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-catfish>

            <novanet-interactive-banner
              *ngIf="currentTemplate === templateEnum.InteractiveBanner"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-interactive-banner>

            <novanet-post-in-read
              *ngIf="currentTemplate === templateEnum.PostInRead"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-post-in-read>

            <novanet-inread-ecommerce
              *ngIf="currentTemplate === templateEnum.InReadEcommerce"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-inread-ecommerce>

            <novanet-flying-carpet
              *ngIf="currentTemplate === templateEnum.FlyingCarpet"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-flying-carpet>

            <novanet-mobile-banner
              *ngIf="currentTemplate === templateEnum.MobileBannerCard"
              [products]="productDetails"
              [templateConfigurations]="
                templateConfigurations
              "></novanet-mobile-banner>

            <novanet-popup-banner
              *ngIf="currentTemplate === templateEnum.PopupBannerBranding"
              [products]="productDetails"
              [templateConfigurations]="templateConfigurations"
              [featuresType]="featuresTypeAdvertising"></novanet-popup-banner>

            <novanet-catfish-collab
              *ngIf="currentTemplate === templateEnum.CatFishCollabBranding"
              [products]="productDetails"
              [templateConfigurations]="templateConfigurations"
              [featuresType]="featuresTypeAdvertising"></novanet-catfish-collab>

            <novanet-notification-banner-display
              *ngIf="currentTemplate === templateEnum.NotificationBanner"
              [products]="productDetails"
              [templateConfigurations]="templateConfigurations"
              [featuresType]="
                featuresTypeAdvertising
              "></novanet-notification-banner-display>
          </div>
          <img
            alt=""
            class="absolute h-full w-full z-[1000] pointer-events-none"
            src="/assets/images/mobile-advertising/mobile-layer.svg" />
        </div>
      </div>
    </div>
  </div>
</form>

<img #canvas />
