$checkbox-color: #0061c1;

::ng-deep {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 0;
  }

  .ant-checkbox .ant-checkbox-disabled .ant-checkbox-checked {
    background-color: $checkbox-color;
    border-color: $checkbox-color;
  }

  .ant-switch {
    background-color: #bfbfbf;
  }

  .ant-switch-checked {
    background-color: #0061c1;
  }

  .ant-table-title {
    padding: 0 !important;
  }
}
