﻿@model Service.Display.Controllers.InjectionViewModel


<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@Model.ClientId</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GoogleAnalyticProperty"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '@Model.GoogleAnalyticProperty');
      gtag('set', 'allow_ad_personalization_signals', false);
      gtag('config', '@Model.GoogleAnalyticProperty', {
        'user_id': '@Model.ClientId',
      });
    </script>
</head>
<body>
</body>
</html>