<section class="h-full pb-[32px]">
  <div class="p-[16px] text-[16px] font-medium text-[#001F4C] sm:px-6">
    Trang đã truy cập
  </div>
  <div class="flow-root">
    <ul class="-mb-8" role="list">
      <ng-container
        *ngFor="
          let visitedWebsites of visitedWebsiteFormArray.controls;
          let i = index
        ">
        <li>
          <div class="relative pb-[4px]">
            <span
              *ngIf="visitedWebsiteFormArray.length !== i + 1"
              aria-hidden="true"
              class="absolute top-4 left-8 -ml-px h-full w-0.5 bg-gray-200"></span>
            <div
              class="m-[16px] rounded-[4px] border-solid border-[1px] border-[#e0e0e0]">
              <div
                *ngFor="
                  let visitedWebsite of urls(i).controls;
                  let index = index
                ">
                <ng-container [formGroup]="urlFormGroup(i, index)">
                  <novanet-text-input
                    [errorMessages]="visitedWebsiteFormFieldErrors['url']"
                    [hideErrorIcon]="true"
                    [placeholder]="'Nhập đường dẫn'"
                    [templateAddOnAfter]="templateAddOnAfter"
                    [templateAddOnBefore]="templateAddOnBefore"
                    formControlName="value">
                    <ng-template #templateAddOnAfter>
                      <div class="flex">
                        <div *ngIf="hasDuplicateWebsites(i, index)" class="mr-[8px]">
                          <span
                            class="inline-block mr-[4px] py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(242,153,74,1)] bg-[rgba(242,153,74,0.1)]">
                            Link trang web không được trùng nhau
                          </span>
                          <i class="fas fa-exclamation-triangle text-[rgba(242,153,74,1)]"></i>
                        </div>
                        <button
                          (click)="removeUrlFromUrlArray(i, index)"
                          *ngIf="i || index"
                          class="cursor-pointer font-medium text-[#828282]">
                          <i class="mr-[16px] fal fa-times"></i>
                        </button>
                        <button
                          (click)="pushUrlToUrlArray(i)"
                          [class.text-[#0061C1]]="
                          urls(i).controls.length === index + 1
                        "
                          [class.text-[#828282]]="
                          urls(i).controls.length !== index + 1
                        "
                          [disabled]="urls(i).controls.length !== index + 1"
                          class="cursor-pointer font-medium">
                          <span>Và</span>
                        </button>
                      </div>
                    </ng-template>
                    <ng-template #templateAddOnBefore>
                      <span class="mr-[16px] text-[14px] text-[#828282]"
                      >URL trang</span
                      >
                      <div class="w-[94px] inline-block ml-[16px] h-full">
                        <novanet-dropdown
                          (ngModelChange)="onUrlConditionChange($event, i, index)"
                          [label]="'label'"
                          [options]="urlConditionDropdown"
                          [valueKey]="'id'"
                          formControlName="conditionType"></novanet-dropdown>
                      </div>
                    </ng-template>
                  </novanet-text-input>
                </ng-container>
              </div>
            </div>
          </div>
        </li>
        <li *ngIf="visitedWebsiteFormArray.length !== i + 1">
          <div class="relative pb-[4px]">
            <span
              aria-hidden="true"
              class="absolute top-4 left-8 -ml-px h-full w-0.5 bg-gray-200"></span>
            <div class="pl-[16px] relative flex space-x-3">
              <div>
                <span
                  class="text-[#828282] h-8 w-8 rounded-full bg-white flex items-center justify-center ring-2 ring-white">
                  Hoặc
                </span>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
<button
  (click)="pushItemToArray()"
  class="m-[16px] border border-[#0061C1] border-solid rounded-[4px] h-[40px] w-[83px]">
  <span class="text-[#0061C1]">Hoặc</span>
</button>
