:host {
  ::ng-deep {
    .ant-input-group-addon .ant-select {
      border: none;
      box-shadow: none !important;
    }

    .ant-input-group {
      border: none;
    }

    .ant-input-group-addon:first-child {
      border: none;
    }

    .ant-input-group-addon:last-child {
      border: none;
    }

    .ant-input-group .ant-input {
      border: none;
      box-shadow: none !important;
    }

    .ant-input:placeholder-shown {
      font-weight: 400 !important;
      color: #bdbdbd !important;
    }
  }
}
