<div>
  <div class="text-[16px] font-medium mb-3">Danh sách vùng quảng cáo</div>
  <div class="bg-white flex flex-col">
    <div class="p-4 flex flex-row justify-between items-center gap-4">
      <div class="flex flex-row">
        <a
          [queryParams]="{ websiteId: selectedWebsiteId }"
          class="whitespace-nowrap inline-flex items-center px-4 py-[9px] mr-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark"
          routerLink="/zone/add">
          Tạo vùng quảng cáo
        </a>
        <div class="relative rounded-md shadow-sm w-[400px]">
          <novanet-dropdown
            (getNextBatch)="loadMoreWebsites()"
            (ngModelChange)="onSelectWebsite($event)"
            (search)="onSearch($event)"
            [(ngModel)]="selectedWebsiteId"
            [allowClear]="true"
            [containerClass]="'h-[40px] w-full'"
            [options]="websites$ | websiteOptions: user.roles | async"
            [placeholder]="
              isAdmin ? 'Chọn website - Publisher' : 'Chọn Website domain'
            "
            [serverSearch]="true"
            [showSearch]="true"
            label="label"
            valueKey="value"></novanet-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div
        *ngIf="loading$ | async"
        class="w-full h-full absolute top-0 bottom-0 z-[10000] bg-[#ffffff77]">
        <div class="w-full bg-[#828282] opacity-30"></div>
        <div class="absolute top-1/2 left-1/2">
          <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
        </div>
      </div>
      <novanet-data-table
        (nextPage)="onNextPage()"
        (sortByField)="sortZones($event)"
        *ngIf="settings"
        [columns]="columns"
        [footerTemplate]="footerTemplate"
        [itemTemplate]="itemTemplate"
        [listOfData]="zones$ | async"
        [nzNoResult]="notificationChooseWebsite"
        [settings]="settings"
        ngClass="zone-price-table zone-list-table">
        <ng-template
          #itemTemplate
          let-colId="colId"
          let-data="row"
          let-rowIndex="rowIndex">
          <ng-container [ngSwitch]="colId">
            <div *ngSwitchCase="zoneListEnum.INDEX">
              {{ rowIndex + 1 }}
            </div>
            <div *ngSwitchCase="zoneListEnum.NAME_ZONE">
              <novanet-zone-editable-field [fieldName]="'name'" [zone]="data">
              </novanet-zone-editable-field>
              {{ data.width }} x {{ data.height }}
            </div>
            <div *ngSwitchCase="zoneListEnum.CAMPAIGN_TYPE">
              <ng-container
                *ngFor="let campaignType of data.campaignTypes | sortList: 'asc'; let i = index"
              >{{
                i === 0
                  ? campaignTypeLabels[campaignType]
                  : ', ' + campaignTypeLabels[campaignType]
                }}</ng-container
              >
            </div>
            <div *ngSwitchCase="zoneListEnum.ADVERTISING_NAME">
              <span
                *ngFor="
                  let advertising of data.advertisingTemplateName;
                  let i = index
                ">
                {{ i === 0 ? advertising : ' - ' + advertising }}
              </span>
            </div>
            <div
              *ngSwitchCase="zoneListEnum.ZONE_BACKUP"
              class="group flex justify-between">
              <div *ngIf="data.backupType !== undefined">
                <novanet-switch-no-animation
                  (activeChange)="onIsActiveChange($event, data)"
                  [active]="data.usingBackup"
                  [loading]="zoneLoadings[data.id]"
                  [nzControl]="true"></novanet-switch-no-animation>
                {{
                data.backupType === backupType.BACKUP_CODE
                  ? 'Mã quảng cáo dự phòng'
                  : 'Upload File'
                }}
              </div>
              <novanet-zone-editable-field
                [typeEdit]="TypeEdit.EDIT_ZONE_BACKUP"
                [zone]="data">
              </novanet-zone-editable-field>
            </div>
            <div *ngSwitchCase="zoneListEnum.CODE_ZONE">
              <a
                (click)="copyRemarketingCode()"
                [nzTooltipTitle]="zoneCodeBackUpTooltip"
                nz-tooltip
                nzTooltipColor="#001F4C"
                nzTooltipOverlayClassName="text-[10px] w-auto zone-code-tooltip"
                nzTooltipPlacement="left">
                <img alt="feather" src="/assets/images/icons/feather.svg"/>
              </a>
              <ng-template #zoneCodeBackUpTooltip>
                <div class="text-[10px]">
                  <div class="mb-[10px]">
                    Click button để copy mã vùng quảng cáo sau
                  </div>
                  <div #zoneCodeBackUp class="whitespace-pre-wrap">
                    {{ zoneScript(data.code) }}
                  </div>
                  <div class="mt-[10px]">Và dán vào phần body trên website</div>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ng-template>
        <ng-template #footerTemplate>
          <div *ngIf="loading$ | async" class="my-2 flex justify-center">
            <novanet-loading-icon></novanet-loading-icon>
          </div>
          <div class="py-3 px-4">
            Số vùng quảng cáo:
            <span class="text-main font-medium">
              <ng-container>
                {{ totalZone$ | async }}
              </ng-container>
            </span>
          </div>
        </ng-template>
      </novanet-data-table>
    </div>
    <ng-template #notificationChooseWebsite>
      <div *ngIf="!selectedWebsiteId" class="flex flex-col items-center">
        <img alt="" class="mt-14" src="/assets/images/no-data-background.svg"/>
        <div class="my-8 text-center max-w-[245px]">
          Bạn cần chọn 1 Website để hiển thị Thông tin vùng quảng cáo
        </div>
      </div>
      <div *ngIf="selectedWebsiteId">
        <div class="flex flex-col items-center justify-center min-h-[180px]">
          Chưa có vùng quảng cáo nào vui lòng thêm mới!
        </div>
      </div>
    </ng-template>
  </div>
</div>
