<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Tạo mới Publisher
</div>
<div class="mb-[16px] bg-white overflow-hidden rounded-lg">
  <div class="p-[16px] text-[16px] font-medium text-[#001F4C]">
    Thông tin Publisher
  </div>
  <div class="pl-[16px] pr-[16px] pb-[16px]">
    <form [formGroup]="createForm">
      <div>
        <div class="flex w-full">
          <div class="mb-[20px] w-6/12">
            <label class="block text-[14px] text-[#828282]">
              Tên Publisher
            </label>
            <div class="mt-[8px] pr-2">
              <novanet-text-input
                [placeholder]="'Nhập tên Publisher'"
                [errorMessages]="addPublisherFormFieldErrors.fullName"
                [formControlName]="addPublisherFormFields.fullName.name">
              </novanet-text-input>
            </div>
          </div>
          <div class="mb-[16px] w-6/12">
            <label class="block text-[14px] text-[#828282] ml-[28px]">
              Email
            </label>
            <div class="mt-[8px] ml-[26px]">
              <novanet-text-input
                [placeholder]="'Nhập email'"
                [errorMessages]="addPublisherFormFieldErrors.email"
                [formControlName]="addPublisherFormFields.email.name">
              </novanet-text-input>
            </div>
          </div>
        </div>
        <div class="flex w-full py-4">
          <div class="mb-[16px] w-6/12">
            <label class="block text-[14px] text-[#828282]">
              Số điện thoại
            </label>
            <div class="mt-[8px] pr-2">
              <novanet-text-input
                [placeholder]="'Nhập số điện thoại'"
                [errorMessages]="addPublisherFormFieldErrors.PhoneNumber"
                [formControlName]="addPublisherFormFields.PhoneNumber.name"
                autocomplete="new-password"
                id="PhoneNumber">
              </novanet-text-input>
            </div>
          </div>

          <div class="mb-[16px] w-6/12">
            <div class="block text-[14px] text-[#828282] ml-[28px]">
              Trạng thái
            </div>
            <div class="mt-[16px] h-[40px]">
              <novanet-radio-input
                [formControlName]="addPublisherFormFields.IsActive.name"
                [radioValue]="true"
                radioLabel="Hoạt động"></novanet-radio-input>
              <novanet-radio-input
                [formControlName]="addPublisherFormFields.IsActive.name"
                [radioValue]="false"
                radioLabel="Tạm khóa"></novanet-radio-input>
            </div>
          </div>
        </div>
        <div class="">
          <div class="text-[16px] font-medium text-[#001F4C]">Mật khẩu</div>
          <div class="pr-[16px] pb-[16px] mt-[16px]">
            <div class="mb-[16px]">
              <label class="block text-[14px] text-[#828282]"> Mật khẩu </label>
              <div class="mt-[8px] w-6/12">
                <novanet-text-input
                  [inputType]="inputTypeEnum.PASSWORD"
                  [placeholder]="'Nhập mật khẩu'"
                  [errorMessages]="addPublisherFormFieldErrors.password"
                  [formControlName]="addPublisherFormFields.password.name"
                  autocomplete="new-password"></novanet-text-input>
              </div>
            </div>
            <div class="mb-[16px] w-6/12 py-4">
              <label class="block text-[14px] text-[#828282] ]">
                Nhập lại mật khẩu
              </label>
              <div class="mt-[8px]">
                <novanet-text-input
                  [inputType]="inputTypeEnum.PASSWORD"
                  [placeholder]="'Nhập mật khẩu'"
                  [errorMessages]="addPublisherFormFieldErrors.confirmPassword"
                  [formControlName]="
                    addPublisherFormFields.confirmPassword.name
                  ">
                </novanet-text-input>
              </div>
            </div>
            <div class="mt-[24px]">
              <button
                (click)="onSubmit(false)"
                nz-button
                class="rounded w-[200px] h-[40px] text-[#0061C1] text-[14px] border-solid border-[1px] border-[#0061C1]">
                Lưu
              </button>
              <button
                (click)="onSubmit(true)"
                nz-button
                class="mx-4 rounded w-[200px] h-[40px] bg-[#0061C1] text-[#FFFFFF] text-[14px]">
                Lưu và tạo website
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
