body,
html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-width: 0
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-size: cover !important
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.post-in-read {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 15px;
}

.wrapbox {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    text-decoration: unset
}

.auto {
    line-break: auto
}

.post-in-read-slide {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    padding: 4px;
    max-width: 160px;
    height: 207px;
    border-radius: 4px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.post-in-read-wrapper {
    display: block;
    margin: auto;
    max-width: 368px
}

.post-in-read-slide img {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 160px
}

.trapezoid-up {
    border-bottom: 21px solid #fff;
    border-left: 15px solid transparent;
    transform: rotate(180deg);
    height: 21px;
    width: 55px;
    top: 0
}

.trapezoid-down {
    border-bottom: 22px solid #ff2828;
    border-left: 15px solid transparent;
    height: 21px;
    width: 60px;
    bottom: 0;
    right: 0
}

.free-delivery-text {
    top: 4px;
    left: 6px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #ff2828
}

.sale-text {
    bottom: -16px;
    left: 1px;
    font-weight: 800;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff
}

.description {
    padding: 6px
}

.detail-price {
    line-height: 21px
}

.price {
    font-weight: 700;
    font-size: 10px;
    color: red;
    padding-right: 4px
}

.promotion {
    font-size: 8px;
    text-decoration-line: line-through;
    color: #828282
}

.title {
    line-height: 12px;
    font-weight: 600;
    font-size: 11px;
    max-width: 171px;
    color: #4f4f4f
}

.brand-detail {
    margin: auto;
    max-width: 350px;
    margin-bottom: 16px
}

#brand-description {
    font-size: 12px;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 4px
}

#see-more {
    color: #0061c1;
    text-decoration: unset;
    font-size: 12px
}

.avatar {
    margin-bottom: 12px;
    display: flex;
    align-items: center
}

#brand-avatar {
    height: 36px;
    width: 36px;
    margin-right: 9px;
    border-radius: 50%
}

#brand-name {
    font-weight: 600;
    font-size: 12px
}