<div [ngClass]="containerClass">
  <div class="relative">
    <label
      (blur)="onBlur()"
      [(ngModel)]="value"
      [nzDisabled]="disabled"
      nz-checkbox>
      {{ label }}
    </label>
  </div>
  <div *ngIf="hasError" class="text-red-600">
    <ng-container *ngIf="(control.errors | keyvalue)[0] as error">
      <ng-container *ngFor="let errMessage of errorMessages">
        <span *ngIf="error.key == errMessage.type" class="text-[12px]">{{
          errMessage.message
          }}</span>
      </ng-container>
    </ng-container>
  </div>
</div>
