<div class="pb-[12px] text-[#333333] text-[16px] font-medium">
  Nhóm sản phẩm
</div>
<novanet-data-table
  #productManagementTable
  (checkAllItem)="checkAll($event)"
  (nextPage)="nextBatch($event)"
  (sortByField)="onSearch($event)"
  (statusItem)="refreshStatus($event)"
  *ngIf="settings && listOfProductGroup.length"
  [columns]="columns"
  [height]="250"
  [itemTemplate]="itemTemplate"
  [listOfData]="listOfProductGroup"
  [settings]="settings"
  [titleTemplate]="titleTemplate">
  <ng-template #titleTemplate>
    <div class="flex items-center">
      <button
        [routerLink]="['/product-group-management/create-product-group']"
        class="px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark m-[16px]">
        <span class="text-[#ffffff]">Tạo nhóm sản phẩm</span>
      </button>
      <div
        *ngIf="searchForm"
        [formGroup]="searchForm"
        class="inline-block relative w-[400px]">
        <novanet-text-input
          (keydown.enter)="onSearch()"
          [containerClass]="'h-[40px] w-[400px]'"
          [formControlName]="'search'"
          [placeholder]="'Tìm kiếm'"
          id="email"></novanet-text-input>
        <button
          (click)="onSearch()"
          class="absolute right-2 top-0 bottom-0 flex items-center">
          <span class="text-[18px] text-[#bdbdbd]"
          ><i class="far fa-search"></i
          ></span>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template
    #itemTemplate
    let-colId="colId"
    let-data="row"
    let-rowIndex="rowIndex">
    <ng-container [ngSwitch]="colId">
      <div *ngSwitchCase="productGroupManagementEnum.INDEX">
        {{ rowIndex + 1 }}
      </div>

      <!-- PRODUCT_GROUP -->
      <div *ngSwitchCase="productGroupManagementEnum.PRODUCT_GROUP" class="h-[35px]">
        <div *ngIf="data.enableChangeValue">
          <div
            [formGroup]="changeProductGroupForm"
            class="grid grid-flow-col-dense grid-cols-8 h-[35px]">
            <div class="col-span-7">
              <novanet-text-input
                [containerClass]="'h-[35px] w-[300px] w-100'"
                [formControlName]="'name'"
                [required]="true">
              </novanet-text-input>
            </div>
            <div class="flex justify-end text-[14px] inline-block">
              <button (click)="onToggleEdit(data)" class="flex items-center">
                <span class="text-[#bdbdbd] font-medium">Hủy</span>
              </button>
              <button
                (click)="onSubmitChangeProductGroup()"
                [disabled]="changeProductGroupForm.invalid"
                class="flex items-center ml-2">
                <span class="text-[#0061C1] font-medium">Lưu</span>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!data.enableChangeValue" class="relative group">
          <span>{{ data.name }}</span>
          <span
            (click)="onToggleEdit(data)"
            class="absolute top-0 right-2 cursor-pointer hidden group-hover:block">
            <i class="fal fa-pen"></i>
          </span>
        </div>
      </div>

      <!-- AMOUNT -->
      <div *ngSwitchCase="productGroupManagementEnum.AMOUNT">
        {{ data.amount | number: '1.0-0' }}
      </div>

      <!-- MODIFIED_DATE -->
      <div *ngSwitchCase="productGroupManagementEnum.MODIFIED_DATE">
        {{ data.modified | date: 'dd/MM/yyyy HH:mm' }}
      </div>

      <!-- PRODUCT_GROUP -->
      <div *ngSwitchCase="productGroupManagementEnum.SOURCE_DATA">
        {{ data.productFeed.name }}
      </div>

      <!-- SOURCE_DATA -->
      <ng-container
        *ngSwitchCase="productGroupManagementEnum.RUNNING_AD_GROUP"
        [ngTemplateOutletContext]="{ data: data.advertisingSetRunning }"
        [ngTemplateOutlet]="runningAdGroupTemplate"></ng-container>
    </ng-container>

    <ng-template #runningAdGroupTemplate let-runningAdGroupData="data">
      <ng-container
        *ngFor="let runningAdGroup of runningAdGroupData; let index = index">
        <div *ngIf="index <= 2" class="pb-[8px]">
          {{ runningAdGroup.name }}
        </div>
        <div
          *ngIf="index > 2 && data.loadMoreProductAttributeValue"
          class="pb-[8px]">
          {{ runningAdGroup.name }}
        </div>
      </ng-container>
      <ng-container *ngIf="runningAdGroupData.length > 3">
        <ng-container [ngSwitch]="data.loadMoreProductAttributeValue">
          <div
            (click)="onLoadMoreProductAttributeValue(data)"
            *ngSwitchCase="false"
            class="text-[12px] text-[#0061C1] cursor-pointer">
            Xem thêm
          </div>
          <div
            (click)="onLoadMoreProductAttributeValue(data)"
            *ngSwitchCase="true"
            class="text-[12px] text-[#0061C1] cursor-pointer">
            Thu gọn
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-template>
</novanet-data-table>
<div *ngIf="!listOfProductGroup?.length" class="flex flex-col items-center">
  <img alt="" class="mt-14" src="/assets/images/no-data-background.svg"/>
  <div class="mt-8 text-center" style="max-width: 425px">
    Bạn chưa có nhóm sản phẩm.
  </div>
  <button
    [routerLink]="['/product-group-management/create-product-group']"
    class="inline-flex items-center mt-4 px-4 py-[9px] border border-transparent text-sm font-medium rounded-md shadow-sm text-white transition-all bg-main hover:drop-shadow-[2px_2px_10px_rgba(0,97,193,0.5)] focus:bg-main-dark">
    Tạo nhóm sản phẩm
  </button>
</div>
