<ng-container [ngSwitch]="status">
  <span
    *ngSwitchCase="campaignStatusEnum.Running"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(0,97,193,1)] bg-[rgba(0,97,193,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Đang chạy quảng cáo">
    Đang chạy
  </span>
  <span
    *ngSwitchCase="campaignStatusEnum.NotStarted"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(79,79,79,1)] bg-[rgba(79,79,79,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Quảng cáo chưa đến thời gian chạy">
    Chưa chạy
  </span>
  <span
    *ngSwitchCase="campaignStatusEnum.Paused"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(79,79,79,1)] bg-[rgba(79,79,79,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Quảng cáo bị ngừng">
    Tạm dừng
  </span>
  <span
    *ngSwitchCase="campaignStatusEnum.Error"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(235,87,87,1)] bg-[rgba(235,87,87,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Quảng cáo bị lỗi (Do nhóm quảng cáo/tin quảng cáo/ nhóm sản phẩm bị tắt)">
    Lỗi
  </span>
  <span
    *ngSwitchCase="campaignStatusEnum.Finished"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(33,150,83,1)] bg-[rgba(33,150,83,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Quảng cáo đã chạy xong thời gian cài đặt">
    Hoàn thành
  </span>
  <span
    *ngSwitchCase="campaignStatusEnum.Unfinished"
    class="py-1 px-2 rounded-md text-xs font-medium whitespace-nowrap text-[rgba(242,153,74,1)] bg-[rgba(242,153,74,0.1)]"
    nz-tooltip
    nzTooltipColor="#001F4C"
    nzTooltipOverlayClassName="text-[10px] campaign-list-tooltip"
    nzTooltipTitle="Chưa cài đặt xong thời gian quảng cáo">
    Chưa hoàn thành
  </span>
</ng-container>
